<md-content class="analytics-chart md-whiteframe-2dp" ng-switch="$ctrl.chart.hasOwnProperty('metrics')" layout="column">
    <div flex="none" class="analytics-chart__header" layout="row" layout-align="start space-between">
        <h1 class="md-body-2 md-dark title" flex="auto" translate="analytics.{{$ctrl.chart.title}}"></h1>
        <div flex="none" layout="row">
            <analytics-chart-filter flex="none"
                                    filter="$ctrl.chart.filter"
                                    on-change="$ctrl.update(param, option)">
            </analytics-chart-filter>
            <md-button flex="none" class="md-icon-button" ng-click="">
                <md-icon class="md-secondary material-icon md-dark md-inactive">fullscreen</md-icon>
            </md-button>
        </div>
    </div>
    <p flex="none" class="md-caption md-dark analytics-chart__description" translate="analytics.{{$ctrl.chart.description}}"></p>

    <div ng-switch-when="false" flex="auto" layout="column" layout-align="center center" class="analytics-chart__loading">
        <img flex="none" src="/assets/icon/loading-bars.gif" width="40"/>
        <p flex="none" class="md-caption md-dark center" translate="activity.loading"></p>
    </div>
    <universal-chart ng-switch-when="true"  class="analytics-chart__data"
                     flex="auto"
                     data="$ctrl.chart"
                     update="$ctrl.updateCount">
    </universal-chart>
</md-content>