<md-list class="md-dense">
    <md-list-item class="mobile-select">
        <span translate="user.settings.display.language"></span>
        <span class="md-secondary">{{ $ctrl.displayService.locales[$ctrl.locale] }}</span>
        <md-menu class="md-secondary">
            <md-button class="md-icon-button">
                <md-icon class="material-icons">arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="(locale, localeName) in $ctrl.displayService.locales">
                    <md-button ng-click="$ctrl.locale = locale">
                        {{ localeName }}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>

    <md-list-item class="mobile-select">
        <span translate="user.settings.display.timezone"></span>
        <span class="md-secondary">{{$ctrl.getTimezoneTitle()}}</span>
        <md-menu class="md-secondary">
            <md-button class="md-icon-button">
                <md-icon class="material-icons">arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="zone in $ctrl.timeZones">
                    <md-button ng-click="$ctrl.timezone = zone.name">{{::zone.title}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>

    <md-list-item class="mobile-select">
        <span translate="user.settings.display.units"></span>
        <span class="md-secondary" translate="user.settings.display.{{$ctrl.units}}.short"></span>
        <md-menu class="md-secondary">
            <md-button class="md-icon-button">
                <md-icon class="material-icons">arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="units in $ctrl.unitsOptions">
                    <md-button ng-click="$ctrl.units = units" translate="user.settings.display.{{units}}.full"></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>

    <md-list-item class="mobile-select">
        <span translate="user.settings.display.firstDayOfWeek"></span>
        <span class="md-secondary" style="text-transform: capitalize">
            {{$ctrl.weekdays($ctrl.firstDayOfWeek)}}
        </span>
        <md-menu class="md-secondary">
            <md-button class="md-icon-button">
                <md-icon class="material-icons">arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="number in [0, 1]">
                    <md-button ng-click="$ctrl.firstDayOfWeek = number" style="text-transform: capitalize">
                        {{$ctrl.weekdays(number)}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>
</md-list>