@import "../../../sass/base";
@import "../../../sass/color";

$maxMobileWidth: 960px;

categories {
	overflow-y: auto;
	width: 100%;

	@media (max-width: $maxMobileWidth) {
		width: auto; 
		margin: 0;
		box-shadow: none;
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		border-top: solid 0.5px rgba(black, 0.14);
		background-color: $grey-050;
	}
}


.categories {
	&__content {
		// restyle with /methodology
		width: auto;
		padding-bottom: 80px; // margin for fab button
		min-height: calc(100vh - 130px);
		//max-height: none;
		//margin: auto;
		//width: 600px;
		//min-height: 500px;
		//border-radius: 3px;
		//background-color: $grey-050;
		//@extend .md-whiteframe-2dp;

		@media (max-width: $maxMobileWidth) {
			width: 100%;
			margin: 0;
			border-radius: 0;
			box-shadow: none;
		}
	}
	
	&__list {
		padding: 0;

		.dndPlaceholder {
			display: block;
			float: none;
			height: 75px;
			background-color: $grey-200 !important;
			vertical-align: top;
		}
	}

	&__section {
		padding: 8px 0;
		
		&:not(:last-child) {
			border-bottom: solid 0.5px rgba(black, 0.14);
		}
		
		@media (max-width: $maxMobileWidth) {
			padding: 0;
			border-bottom: none !important;
		}
	}

	&__subheader {
		padding: 8px 16px !important;
		line-height: 1.71;
		color: rgba(black, 0.54);
		
		@media (max-width: $maxMobileWidth) {
			border-bottom: solid 0.5px rgba(black, 0.14);
		}
	}

	&__create {
		position: fixed;
		bottom: 16px;
		right: 16px;
		//top: 65px;
		//right: calc(25% - 250px);
		text-align: center;
		z-index: 40;

		@media (max-width: $maxMobileWidth) {
			position: fixed;
			right: 16px;
			bottom: 16px;
			top: auto;
			z-index: 100;
		}
	}
}