<md-card class="periodization-scheme-list" layout="column">
    <md-card-header flex="none">
        <span>{{$ctrl.scheme | schemeCode}}</span>
    </md-card-header>
    <ng-quill-editor ng-if="!$ctrl.scheme.isSystem"
                     flex="none"
                     ng-model="$ctrl.scheme.description"
                     placeholder="{{'record.descriptionPlaceholder' | translate}}"
                     modules="$ctrl.quillConfig.toolbar"
                     class="hide-toolbar md-body-1"
                     read-only="true"
                     st-quill-post-image>
    </ng-quill-editor>
    <div ng-if="$ctrl.scheme.isSystem" class="md-body-1 md-padding">{{$ctrl.scheme | schemeDescription}}</div>
    <section ng-if="!$ctrl.scheme.mesocycles || $ctrl.scheme.mesocycles.length === 0"
             flex="auto" layout="column" layout-align="center-center">
        <span translate="methodology.periodization.emptySchemeList"></span>
    </section>
    <md-list ng-if="$ctrl.scheme.mesocycles.length > 0" flex="auto" class="md-dense">
        <md-list-item class="md-2-line"
                      ng-click="$ctrl.open($event, mesocycle)"
                      ng-repeat="mesocycle in $ctrl.scheme.mesocycles track by mesocycle.id">
            <div class="md-avatar" ng-style="{'background-color': mesocycle.color}"></div>
            <div class="md-list-item-text">
                <h3>{{mesocycle | mesocycleCode:$ctrl.scheme }}</h3>
                <p>{{mesocycle | mesocycleDescription:$ctrl.scheme | htmlToPlainText }}</p>
            </div>
            <md-menu class="md-secondary" ng-if="!$ctrl.scheme.isSystem">
                <md-button class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
                    <md-icon class="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.delete(mesocycle)">
                            <span translate="methodology.periodization.delete"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.edit($event, mesocycle)">
                            <span translate="methodology.periodization.edit"></span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-list-item>
    </md-list>
</md-card>

<div class="periodization-scheme-list__post" ng-if="!$ctrl.scheme.isSystem">
    <md-button id="periodization-scheme-list__fab"
               ng-click="$ctrl.post($event)"
               class="md-fab md-accent md-hue-2 animated bounce zoomIn">
        <md-icon class="material-icons">add</md-icon>
    </md-button>
</div>