.user-settings-header {
	&__background {
		position: relative;
		height: 150px;
		background-size: cover;
		background-position: 50% 50%;
		background-color: grey;
	}

	&__avatar {
		position: absolute;
		top: 16px;
		left: 16px;
	}

	&__edit-avatar {
	    font-size: 12px;
	    padding: 0;
	    margin: 0;
	    width: auto;
	    min-width: auto;
	    margin-top: 10px;
	}

	&__edit-background {
		position: absolute;
		top: 16px;
		right: 16px;
	}

	&__username {
		position: absolute;
		bottom: 16px;
		left: 16px;
		color: white;
	}
}