<div class="user-settings-header__background" style="background-image: url({{$ctrl.owner.public.background | userBackground}})">
    <userpic class="user-settings-header__avatar size-60 border-light" ng-mouseover="show=true" ng-mouseleave="show=false" profile="$ctrl.owner" is-premium="$ctrl.owner.isPremium" unlink="true">
        <button ng-click="$ctrl.uploadAvatar()" ng-show='show' type="button" name="button" class="user-settings-header__edit-avatar">Edit</button>
    </userpic>
    <div>
        <md-button ng-click="$ctrl.uploadBackground()" class="user-settings-header__edit-background flat">Изменить</md-button>
    </div>
    <div class="user-settings-header__username">{{ $ctrl.owner | userName }}</div>
</div>