<section layout="column" layout-align="space-between start" class="avatar" layout-fill>
    <md-menu flex="none" class="menu">
        <md-button class="md-icon-button" aria-label="More Event"
                   ng-click="$mdOpenMenu($event)">
            <md-tooltip md-direction="right">{{$ctrl.profile | username}}</md-tooltip>
            <userpic flex="none" profile="$ctrl.profile"></userpic>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="$ctrl.$state.go('calendar',{userId: $ctrl.profile.userId})"
                           translate="dashboard.calendar"></md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="$ctrl.$state.go('settings/user',{uri: $ctrl.profile.public.uri})"
                           translate="dashboard.settings"></md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <section flex="none" class="second-column" layout="column" layout-align="space-between end" ng-if="false">
        <div flex="none"></div>
        <div flex="none" class="md-caption" style="text-align: right">{{$ctrl.profile | username}}</div>
    </section>

    <div flex></div>
    <section flex="none" class="panel">
        <md-checkbox flex="none" ng-model="$ctrl.selected" class="md-primary"
                     ng-change="$ctrl.dashboard.onSelectAthlete($ctrl.selected, $ctrl.profile.userId)"></md-checkbox>
    </section>
</section>