@import "../../../sass/color";

dashboard-athlete {

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: inline-block;
  width: 60px;
  vertical-align: top;

  section.avatar {
    height: 50px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 60px;
      height: 50px;
      z-index: 0;
      background-color: $grey-300;
      border-right: 1px solid $grey-300;
    }
    md-menu {
      z-index: 1;
    }
    button {
      margin: 0px;
      padding: 0px;
    }
  }

  section.panel {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      left: 0px;
      width: 60px;
      height: calc(100% - 50px);
      z-index: 0;
      background-color: $grey-300;
      border-right: 1px solid $grey-300;
    }
    md-checkbox {
      z-index: 1;
      margin-left: 10px;
      margin-bottom: 0px;
    }
  }



  padding: 8px;
  transition: all 0s ease-in-out 0s;

  md-icon.sport {
    margin: 0px !important;
  }

  md-menu.menu button{
    //visibility: hidden;
    //padding: 0px !important;
   //margin: 0px !important;
    //width: 18px !important;
    //height: 18px !important;
    //min-width: 18px !important;
    //min-height: 18px !important;

    &:hover {

    }
  }
}