@import "../../../sass/color";
$details_width: 380px;
$dialog_width: 95vw;
$dialog_height: 95vh;

activity-header {

  min-width: 100%;
  background: $grey-100;

  @media (min-width: 960px) {
    //max-width: $details_width;
    //min-width: $details_width;

    md-toolbar {
      min-height: 16px;
    }
  }

  &.single {
    @media (min-width: 960px) {
      md-toolbar {
        min-height: 16px;
      }
    }
    @media (max-width: 960px) {  height: 100vh; }
  }

  .md-toolbar-tools md-menu:first-child {
    margin-left: -8px;
    .md-button {
      margin-right: 16px;
    }
  }

  md-toolbar {
    &.complete {
      // Задание выполнено без отклонений
      color: white;
      @extend .bg-teal-800;
      .bg-circle-32 {
        @extend .bg-teal-900;
      }
      // Задание выполнено с отклонениями
      &-warn {
        color: white;
        @extend .bg-orange-800;
        .bg-circle-32 {
          @extend .bg-orange-900;
        }
      }
      // Задание выполнено с существенными отклонениями
      &-error {
        color: white;
        @extend .bg-red-800;
        .bg-circle-32 {
          @extend .bg-red-800;
        }
      }
    }
    // задание пропущено
    &.dismiss {
      @extend .bg-red-800;
      color: white;
      .bg-circle-32 {
        @extend .bg-red-900;
      }
    }
    // без плана
    /*&.not-specified {
      @extend .bg-blue-grey-800;
      color: white;
      .bg-circle-32 {
        @extend .bg-blue-grey-900;
      }
    }*/
    // плановое задание
    &.coming, &.template, &.not-specified {
      @extend .bg-grey-500;
      color: white;
      .bg-circle-32 {
        @extend .bg-grey-600;
      }
    }

  }
  md-tabs.md-primary.not-specified > md-tabs-wrapper,
  md-tabs.md-primary.coming > md-tabs-wrapper {
    @extend .bg-grey-500;
  }
  /**md-tabs.md-primary.not-specified > md-tabs-wrapper {
    @extend .bg-blue-grey-800;
  }**/
  md-tabs.md-primary.complete > md-tabs-wrapper {
    @extend .bg-teal-800;
  }
  md-tabs.md-primary.complete-warn > md-tabs-wrapper {
    @extend .bg-orange-800;
  }
  md-tabs.md-primary.complete-error > md-tabs-wrapper,
  md-tabs.md-primary.dismiss > md-tabs-wrapper {
    @extend .bg-red-800;
  }

  md-tabs > md-tabs-wrapper > md-next-button, md-prev-button {
    md-icon {
      color: rgba(255,255,255, 0.54);
    }
  }
  md-tabs div[md-tabs-template] { //https://github.com/angular/material/issues/7621
    height: 100%;
  }

  form md-list:first-child {
    //background-color: $grey-200;
    //padding-bottom: 30px;
  }

  md-fab-speed-dial.view {
    position: absolute;
    right: 16px;
    bottom: initial;
    top: 90px;
  }

  md-fab-speed-dial {
    position: absolute;
    right: 16px;
    bottom: initial;
    top: 120px;
  }

}