<md-toolbar flex="none" class="{{$ctrl.item.activity.status}}">
    <div class="md-toolbar-tools">
        <md-menu md-position-mode="target-right target" md-offset="0 60" md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"
                       aria-label="User">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.item.onDelete()"
                               ng-disabled="$ctrl.item.mode === 'post' || $ctrl.item.isCreator">
                        <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                        <span translate="measurement.toolbar.delete"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="" ng-disabled="true">
                        <md-icon class="material-icons" md-menu-align-target>settings</md-icon>
                        <span translate="measurement.toolbar.settings"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="">
                        <md-icon class="material-icons" md-menu-align-target>swap_vertical_circle</md-icon>
                        <span translate="Ввод в %ПАНО"></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <h2 translate="Тренировка"></h2>
        <span flex></span>
        <userpic class="border-light" profile="$ctrl.item.user" is-premium="$ctrl.item.user.isPremium"></userpic>
        <md-button class="md-icon-button" ng-click="$ctrl.item.onCancel()" ng-if="!$ctrl.item.activity.hasImportedData">
            <md-tooltip md-direction="left">{{'measurement.toolbar.close' | translate}}</md-tooltip>
            <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content flex="auto" class="md-hue-2" layout="column">
    <md-tabs flex="auto" layout-fill class="md-primary md-hue-2" md-selected="$ctrl.item.selectedTab"
             ng-class="{'coming': $ctrl.item.activity.status === 'coming',
                                'not-specified': $ctrl.item.activity.status === 'not-specified',
                                'complete': $ctrl.item.activity.status === 'complete',
                                'complete-warn': $ctrl.item.activity.status === 'complete-warn',
                                'complete-error': $ctrl.item.activity.status === 'complete-error' || $ctrl.item.activity.status === 'dismiss'}">
        <md-tab id="overview" flex="auto" layout="column" label="Обзор">
            <md-tab-content flex="auto" layout="column" layout-fill>
                <activity-header-overview flex="auto" layout="column" layout-fill>
                </activity-header-overview>
            </md-tab-content>
        </md-tab>
        <md-tab id="segments" flex="auto" layout="column" label="Сегменты" ng-if="$ctrl.item.structuredMode || $ctrl.item.activity.structured">
            <md-tab-content flex="auto" layout="column" layout-fill>
                <activity-segments flex="auto" layout="column" layout-fill></activity-segments>
            </md-tab-content>
        </md-tab>
        <md-tab id="details" label="Детали" layout-fill layout-wrap ng-disabled="!$ctrl.item.isPro"
                ng-if="$ctrl.item.activity.hasImportedData">
            <md-tab-content layout-fill layout-column>
                <activity-header-details flex="auto" layout="column" layout-fill
                                         selection-index="$ctrl.item.selectionIndex"
                                         change="$ctrl.item.detailsSelectChangeCount + $ctrl.item.splitsSelectChangeCount"
                                         on-selected="$ctrl.item.selectIntervalIndex(initiator,selection)">
                </activity-header-details>
            </md-tab-content>
        </md-tab>
        <md-tab id="zones" flex layout="column" label="Зоны">
            <md-tab-content layout-fill layout-column>
                <activity-header-zones flex="auto" layout="column" layout-fill
                                       zones="$ctrl.item.user.trainingZones"
                                       sport="$ctrl.item.activity.sportBasic"
                                       has-details="$ctrl.item.activity.hasImportedData">
                </activity-header-zones>
            </md-tab-content>
        </md-tab>
        <md-tab id="chat" flex layout="column" ng-if="$ctrl.item.mode !== 'post'">
            <md-tab-label><span>Чат</span><span class="badge superscript inactive" ng-if="$ctrl.item.activity.activityHeader.social.coachComments > 0">{{$ctrl.item.activity.activityHeader.social.coachComments}}</span></md-tab-label>
            <md-tab-body layout-fill layout-column>
                <activity-header-chat flex="auto" layout="column" layout-fill
                                      activity-id="$ctrl.item.activity.id"
                                      social="$ctrl.item.activity.header.social"
                                      user="$ctrl.item.user"
                                      coach="$ctrl.item.isMyCoach">
                </activity-header-chat>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
