@import "../../../sass/color";

.activity-peaks {
  .md-subheader {
    font-size: 12px;
  }
  md-list-item.peaks {
    button {
      line-height: normal;
      font-size: 13px;
      margin: 2px 4px;
      min-height: 28px;
      text-align: left;
      min-width: unset;
      background: $grey-200;
      text-transform: none;
      font-weight: normal;
    }

    button span:last-child {
      text-transform: none;
      color: rgba(0,0,0,0.34);
    }
  }
}