<div layout="row" layout-align="start center"
     class="md-dense interval-data" ng-class="{'selected': $ctrl.interval.isSelected, 'key': $ctrl.interval.keyInterval}">
    <div class="segment-number md-body-1 bg-grey-200 md-dark"
         ng-click="$ctrl.interval.isSelected = !$ctrl.interval.isSelected">
        <span>{{$ctrl.interval.pos}}</span></div>
    <md-icon flex="none" md-svg-src="/assets/icon/{{$ctrl.interval.durationMeasure}}.svg" class="md-dark duration"></md-icon>
    <md-menu flex="none">
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon class="material-icons">arrow_drop_down</md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="measure in $ctrl.durationMeasure track by $index">
                <md-button ng-click="$ctrl.interval.durationMeasure = measure">
                    <md-icon class="md-dark" md-svg-src="/assets/icon/{{measure}}.svg"></md-icon>
                    <span class="md-caption" translate="{{measure}}"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-input-container flex="noshrink" class="duration" ng-switch="$ctrl.interval.durationMeasure">
        <input measure-input ng-switch-when="movingDuration"
               name="plan_movingDuration"
               ng-model="$ctrl.interval.movingDuration.durationValue"
               measure="$ctrl.interval.durationMeasure"
               ng-attr-sport={{$ctrl.sport}} interval="false"
               ftp-mode="false" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
               ng-change="$ctrl.changeValue($ctrl.interval.durationMeasure)"
               ng-disabled="$ctrl.item.mode === 'view'">
        <input measure-input ng-switch-when="distance"
               name="plan_distance"
               ng-model="$ctrl.interval.distance.durationValue"
               measure="$ctrl.interval.durationMeasure"
               ng-attr-sport={{$ctrl.sport}} interval="false"
               ftp-mode="false" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
               ng-change="$ctrl.changeValue($ctrl.interval.durationMeasure)"
               ng-disabled="$ctrl.item.mode === 'view'">
    </md-input-container>
    <span flex="auto"></span>
    <md-icon flex="none" md-svg-src="/assets/icon/{{$ctrl.interval.intensityMeasure}}.svg" class="md-dark intensity"></md-icon>
    <md-menu flex="none">
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon class="material-icons">arrow_drop_down</md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="measure in $ctrl.intensityMeasure[$ctrl.sport] track by $index">
                <md-button ng-click="$ctrl.interval.intensityMeasure = measure">
                    <md-icon class="md-dark" md-svg-src="/assets/icon/{{measure}}.svg"></md-icon>
                    <span class="md-caption" translate="{{measure}}"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-input-container flex="noshrink" class="intensity" ng-switch="$ctrl.interval.intensityMeasure">
        <input measure-input ng-switch-when="heartRate"
               ng-model="$ctrl.interval.heartRate"
               name="plan_heartRate"
               measure="$ctrl.interval.intensityMeasure"
               ng-attr-sport={{$ctrl.sport}} interval="true"
               ftp-mode="false" ftp="$ctrl.getFTP()"
               ng-change="$ctrl.changeValue($ctrl.interval.intensityMeasure)"
               ng-disabled="$ctrl.item.mode === 'view'">
        <input measure-input ng-switch-when="speed"
               ng-model="$ctrl.interval.speed"
               name="plan_speed"
               measure="$ctrl.interval.intensityMeasure"
               ng-attr-sport={{$ctrl.sport}} interval="true"
               ftp-mode="false" ftp="$ctrl.getFTP()"
               ng-change="$ctrl.changeValue($ctrl.interval.intensityMeasure)"
               ng-disabled="false">
        <input measure-input ng-switch-when="power"
               ng-model="$ctrl.interval.power"
               name="plan_power"
               measure="$ctrl.interval.intensityMeasure"
               ng-attr-sport={{$ctrl.sport}} interval="true"
               ftp-mode="false" ftp="$ctrl.getFTP()"
               ng-change="$ctrl.changeValue($ctrl.interval.intensityMeasure)"
               ng-disabled="$ctrl.item.mode === 'view'">
    </md-input-container><!--
    <md-button class="md-icon-button" ng-click="$ctrl.splice()">
        <md-icon class="material-icons md-dark md-inactive">close</md-icon>
    </md-button>-->
</div><!--
<div class="interval-comment md-dense" ng-if="showComment">
    <md-input-container flex class="md-block no-message">
        <textarea ng-model="$ctrl.interval.trainersPrescription"
                  ng-change="$ctrl.changeParam()"
                  ng-disabled="false"
                  class="icon" name="trainersPrescription"
                  rows="1"></textarea>
    </md-input-container>
</div>--><!--
<div class="interval-comment md-dense md-caption md-dark md-inactive" ng-if="!showComment">{{$ctrl.interval.trainersPrescription}}</div>-->
<div class="input-count md-dense" style="height: 44px; margin-right: 16px; margin-left: 104px"
     ng-if="$ctrl.isInputMode()" layout="row">
    <md-input-container flex="none" style="min-width: 61px; width: 61px">
        <input name="count" ng-init="repeat = $ctrl.loop.repeat"
               ng-model="repeat">
    </md-input-container>
    <md-button flex="none" style="min-width: 40px"
               ng-click="$ctrl.onSetRepeat({loop: $ctrl.loop, repeat: repeat})"><span>Ok</span></md-button>
</div>
<md-divider></md-divider>