<section layout="column" layout-align="center center" layout-fill
         ng-if="!$ctrl.dataExist">
    <md-progress-circular flex="none" class="md-accent" md-diameter="20"></md-progress-circular>
    <p flex="none" class="md-body-1 md-dark" translate="trainingPlans.loading"></p>
</section>
<!-- Форма просмотра имеющихся присвоений тренировочного плана -->
<st-training-plan-assignment-list layout="column" layout-fill
                                  ng-if="$ctrl.dataExist && $ctrl.isListState"
                                  class="training-plan-assignment-list"
                                  plan="$ctrl.plan"
                                  on-form="$ctrl.setFormData(assign)"
                                  on-cancel="$ctrl.onCancel()">

</st-training-plan-assignment-list>

<!-- Форма редактировани / создания присвоения-->
<st-training-plan-assignment-form layout="column" layout-fill
                                  ng-if="$ctrl.dataExist && $ctrl.isFormState"
                                  class="training-plan-assignment-form"
                                  plan="$ctrl.plan"
                                  assign="$ctrl.assign"
                                  athletes="$ctrl.athletes"
                                  on-back="$ctrl.isListState = true"
                                  on-cancel="$ctrl.onCancel()">
</st-training-plan-assignment-form>