@import "../../../sass/color";

application-menu {
  md-toolbar {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-coach, .menu-user, .menu-club {

    background: $grey-100;
    transition: all 0.3s ease-in-out;

    &.ng-enter {
      max-height: 0px;
      opacity: 0;
    }
    &.ng-enter.ng-enter-active {
      max-height: 900px;
      opacity: 1;
    }
    &.ng-leave {
      max-height: 900px;
      opacity: 1;
    }
    &.ng-leave.ng-leave-active {
      max-height: 0px;
      opacity: 0;
    }
  }

}
