<application-frame class="management">

    <md-card ng-if="!$ctrl.isScreenSmall">
        <div layout="row" layout-align="center center" style="padding: 16px 26px;">
            <span flex class="md-title">{{ $ctrl.filter.label }} ({{ $ctrl.rows.length }})</span>
            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon class="material-icons">filter_list</md-icon> 
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.none}">
                        <md-button ng-click="$ctrl.clearFilter()"> Все </md-button>
                    </md-menu-item>
                    <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                        Роль
                    </md-menu-item>
                    <md-menu-item ng-class="{'filter-item-active': $ctrl.filterParams.clubRole === 'ClubCoaches'}">
                        <md-button ng-click="$ctrl.filterRole('ClubCoaches')"> Тренеры </md-button>
                    </md-menu-item>
                    <md-menu-item ng-class="{'filter-item-active': $ctrl.filterParams.clubRole === 'ClubAthletes'}">
                        <md-button ng-click="$ctrl.filterRole('ClubAthletes')"> Спортсмены </md-button>
                    </md-menu-item>
                    <md-menu-item ng-class="{'filter-item-active': $ctrl.filterParams.clubRole === 'ClubManagement'}">
                        <md-button ng-click="$ctrl.filterRole('ClubManagement')"> Управление </md-button>
                    </md-menu-item>
                    <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                        Тренер
                    </md-menu-item>
                    <md-menu-item ng-class="{'filter-item-active': $ctrl.filterParams.noCoach}">
                        <md-button ng-click="$ctrl.filterNoCoach()"> Без тренера </md-button>
                    </md-menu-item>
                    <md-menu-item ng-repeat="coach in $ctrl.coaches"  ng-class="{'filter-item-active': $ctrl.filterParams.coachUserId === coach.userProfile.userId}">
                        <md-button ng-click="$ctrl.filterCoach(coach.userProfile.userId)">{{ coach.userProfile | username }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button" ng-click="$ctrl.invite($event)" style="vertical-align: top;">
                <md-icon class="material-icons">group_add</md-icon>
            </md-button>
            <md-input-container style="width: {{$ctrl.showSearch? '300px' : '0'}}; padding:0; margin: 0;" class="animated"> 
                <input ng-model="$ctrl.search" ng-if="$ctrl.showSearch" auto-focus ng-blur="!$ctrl.search && ($ctrl.showSearch = false)"/> 
            </md-input-container>
            <md-button class="md-icon-button" ng-click="$ctrl.showSearch = !$ctrl.showSearch"> 
                <md-icon class="material-icons">search</md-icon> 
            </md-button>
        </div>
        <md-toolbar class="md-table-toolbar md-default md-subhead" ng-if="$ctrl.checked.length" layout="row" layout-align="center center" style="background-color: #cfd8dc; color: #607d8b; padding: 16px 26px;">
            <span flex>{{ $ctrl.checked.length }} items selected</span>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.coachesAvailable" ng-click="$ctrl.editCoaches()"> 
                <md-tooltip md-direction="bottom">Тренеры</md-tooltip>
                <md-icon class="material-icons">supervisor_account</md-icon> 
            </md-button>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.athletesAvailable" ng-click="$ctrl.editAthletes()"> 
                <md-tooltip md-direction="bottom">Атлеты</md-tooltip>
                <md-icon class="material-icons">person_add</md-icon> 
            </md-button>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.tariffsAvailable" ng-click="$ctrl.editTariffs()"> 
                <md-tooltip md-direction="bottom">Тарифы</md-tooltip>
                <md-icon class="material-icons">account_balance_wallet</md-icon>
            </md-button>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.rolesAvailable" ng-click="$ctrl.editRoles()"> 
                <md-tooltip md-direction="bottom">Роли</md-tooltip>
                <md-icon class="material-icons">select_all</md-icon> 
            </md-button>
            <md-button class="md-primary md-icon-button" ng-click="$ctrl.remove()"> 
                <md-tooltip md-direction="bottom">Отключить</md-tooltip>
                <md-icon class="material-icons">delete</md-icon> 
            </md-button>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="$ctrl.checked">
                <thead md-head md-order="$ctrl.orderBy">
                    <tr md-row>
                        <th md-column md-order-by="username"><span>Член клуба</span></th>
                        <th md-column md-order-by="roles"><span>Роль</span></th>
                        <th md-column md-order-by="coaches"><span>Тренер</span></th>
                        <th md-column md-order-by="tariff"><span>Тариф</span></th>
                        <th md-column md-order-by="athletes"><span>Спортсмены</span></th>
                        <th md-column md-order-by="city"><span>Город</span></th>
                        <th md-column md-order-by="ageGroup"><span>Возрастная группа</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="member" md-auto-select ng-repeat="member in $ctrl.rows">
                        <td md-cell>
                            <md-button style="text-transform: none; font-size: 13px; margin: 0;" ui-sref="user({uri: member.userProfile.public.uri})">
                                <userpic profile="member.userProfile" is-premium="member.userProfile | isPremium"></userpic>
                                {{ member.userProfile | username }}
                            </md-button>
                        </td>
                        <td md-cell>{{ member.roleMembership | clubRoleMembership }}</td>
                        <td md-cell>
                            <span ng-if="member.coaches && member.coaches.length">
                                {{ $ctrl.getMember(member.coaches[0]).userProfile | username }}
                                <span ng-if="member.coaches.length > 1">, +{{ member.coaches.length - 1 }}</span>
                            </span>
                            <span ng-if="!member.coaches || !member.coaches.length">-</span>
                        </td>
                        <td md-cell>
                            <span ng-repeat="tariff in member.userProfile.billing" style="white-space: nowrap;">
                                {{ 'users.' + tariff.tariffCode | translate}}
                                <span ng-if="tariff.clubProfile.groupId === $ctrl.club.groupId" class="badge">{{'users.byClub' | translate}}</span>
                            </span>
                            <span ng-if="!member.userProfile.billing || !member.userProfile.billing.length">-</span>
                        </td>
                        <td md-cell>{{ $ctrl.athletes(member).length || '-' }}</td>
                        <td md-cell>{{ member.userProfile.city }}</td>
                        <td md-cell>{{ member.userProfile | ageGroup }}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
    
    
    <div ng-if="$ctrl.isScreenSmall">
        <md-list>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons">search</md-icon>
                <md-input-container flex> 
                    <input ng-model="$ctrl.search"/> 
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons" style="margin-left:0">tune</md-icon>
                <md-menu flex>
                    <md-button ng-click="$mdOpenMenu($event)">
                        {{ $ctrl.filter.label }} ({{ $ctrl.rows.length }})
                    </md-button>
                    <md-menu-content>
                        <md-menu-content>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.none}">
                                <md-button ng-click="$ctrl.clearFilter()"> Все </md-button>
                            </md-menu-item>
                            <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                                Роль
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role === 'ClubCoaches'}">
                                <md-button ng-click="$ctrl.filterRole('ClubCoaches')"> Тренеры </md-button>
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role === 'ClubAthletes'}">
                                <md-button ng-click="$ctrl.filterRole('ClubAthletes')"> Спортсмены </md-button>
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role === 'ClubManagement'}">
                                <md-button ng-click="$ctrl.filterRole('ClubManagement')"> Управление </md-button>
                            </md-menu-item>
                            <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                                Тренер
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.noCoach}">
                                <md-button ng-click="$ctrl.filterNoCoach()"> Без тренера </md-button>
                            </md-menu-item>
                            <md-menu-item ng-repeat="coach in $ctrl.coaches"  ng-class="{'filter-item-active': $ctrl.filter.coach === coach}">
                                <md-button ng-click="$ctrl.filterCoach(coach)">{{ coach.userProfile | username }}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
            <md-list-item ng-repeat="member in $ctrl.rows = $ctrl.members" layout="row" layout-align="center center">
                <userpic profile="member.userProfile" is-premium="member.userProfile | isPremium"></userpic>
                <span flex ui-sref="user({uri: member.userProfile.public.uri})">{{ member.userProfile | username }}</span>
                <md-icon class="material-icons md-secondary" ng-click="$ctrl.showActions(member)">more_vert</md-icon>
            </md-list-item>
        </md-list>
    </div>
        
</application-frame>

