.management {
    top: 65px;
    width: 1000px;
    left: calc(50% - 500px);
    position: absolute;
    z-index: 10;
    
    @media (max-width: 959px) {
        left: 0 !important;
        width: 100% !important;
        background: white;
    }

    .md-errors-spacer {
        display: none;
    }

    table.md-table {
        th.md-column:not(:first-child), td.md-cell:not(:first-child) {
            padding: 0 !important;
        }
        .md-checkbox-cell, .md-checkbox-column  {
            md-checkbox {
                 margin-left: -10px;
            }
        }
    }
}       
        
.filter-item-active {
    font-weight: bold;
    background-color: rgba(150,150,150,0.5);
}