.management {
    top: 65px;
    width: 1200px;
    left: calc(50% - 600px);
    position: absolute;
    z-index: 10;
    height: calc(100vh - 75px);
    
    @media (max-width: 959px) {
        left: 0 !important;
        width: 100% !important;
        background: white;
    }

    md-card {
        margin: 0px;
        height: 100%;
    }

    .md-errors-spacer {
        display: none;
    }

    table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
        padding: 0 28px 0 0 !important;
    }

    &-filters {
        padding: 16px 26px;
    }

    &-toolbar {
        background-color: #cfd8dc !important; 
        color: #607d8b; 
        padding: 16px 26px;
    }

    &-filters-subtitile {
        color: #455a64; 
        padding-left: 15px; 
        line-height: 48px;
    }

    &-filter-active {
        font-weight: bold;
        background-color: rgba(150,150,150,0.5);
    }

    &-username {
        text-transform: none; 
        font-size: 13px; 
        margin: 0;
    }
}    