<application-frame class="management">

    <md-card ng-if="!$ctrl.isScreenSmall">
        <div layout="row" layout-align="center center" class="management-filters">
            <span flex class="md-title">
                {{(
                    $ctrl.isFilterEmpty() && ('users.filters.all' | translate)
                ) || (
                    $ctrl.filterParams.clubRole && (('users.filters.role' | translate) + ': ' + ('users.clubRoles.' + $ctrl.filterParams.clubRole | translate))
                ) || (
                    $ctrl.filterParams.noCoach && ('users.filters.noCoach' | translate)
                ) || (
                    $ctrl.filterParams.coachUserId && ('users.filters.coach' | translate) + ': ' + ($ctrl.getMember($ctrl.filterParams.coachUserId) | username)
                )}} ({{ $ctrl.getRows().length }})
            </span>
            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon class="material-icons">filter_list</md-icon> 
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.none}">
                        <md-button ng-click="$ctrl.clearFilter()">{{'users.filters.all' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item class="management-filters-subtitile">
                        {{'users.role' | translate}}
                    </md-menu-item>
                    <md-menu-item ng-repeat="role in ['ClubCoaches', 'ClubAthletes', 'ClubManagement']" ng-class="{'management-filter-active': $ctrl.filterParams.clubRole === role}">
                        <md-button ng-click="$ctrl.filterRole(role)">{{ 'users.clubRoles.' + role | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item class="management-filters-subtitile">
                        {{'users.filters.coach' | translate}}
                    </md-menu-item>
                    <md-menu-item ng-class="{'management-filter-active': $ctrl.filterParams.noCoach}">
                        <md-button ng-click="$ctrl.filterNoCoach()">{{ 'users.filters.noCoach' | translate }}</md-button>
                    </md-menu-item>
                    <md-menu-item ng-repeat="coach in $ctrl.getCoaches()" ng-class="{'management-filter-active': $ctrl.filterParams.coachUserId === coach.userProfile.userId}">
                        <md-button ng-click="$ctrl.filterCoach(coach.userProfile.userId)">{{ coach.userProfile | username }}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button class="md-icon-button" ng-click="$ctrl.invite($event)" class="management-invite-button">
                <md-icon class="material-icons">group_add</md-icon>
            </md-button>
            <md-input-container style="width: {{$ctrl.showSearch? '300px' : '0'}}; padding:0; margin: 0;" class="animated"> 
                <input ng-model="$ctrl.search" ng-if="$ctrl.showSearch" auto-focus ng-blur="!$ctrl.filterParams.search && ($ctrl.showSearch = false)"/> 
            </md-input-container>
            <md-button class="md-icon-button" ng-click="$ctrl.showSearch = !$ctrl.showSearch"> 
                <md-icon class="material-icons">search</md-icon> 
            </md-button>
        </div>
        <md-toolbar class="management-toolbar md-table-toolbar md-default md-subhead" ng-if="$ctrl.checked.length" layout="row" layout-align="center center">
            <span flex>{{ $ctrl.checked.length }} items selected</span>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.isEditCoachesAvailable()" ng-click="$ctrl.editCoaches()"> 
                <md-tooltip md-direction="bottom">{{ 'users.toolbar.coaches' | translate }}</md-tooltip>
                <md-icon class="material-icons">supervisor_account</md-icon> 
            </md-button>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.isEditAthletesAvailable()" ng-click="$ctrl.editAthletes()"> 
                <md-tooltip md-direction="bottom">{{ 'users.toolbar.athletes' | translate }}</md-tooltip>
                <md-icon class="material-icons">person_add</md-icon> 
            </md-button>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.isEditTariffsAvailable()" ng-click="$ctrl.editTariffs()"> 
                <md-tooltip md-direction="bottom">{{ 'users.toolbar.tariffs' | translate }}</md-tooltip>
                <md-icon class="material-icons">account_balance_wallet</md-icon>
            </md-button>
            <md-button class="md-primary md-icon-button" ng-if="$ctrl.isEditRolesAvailable()" ng-click="$ctrl.editRoles()"> 
                <md-tooltip md-direction="bottom">{{ 'users.toolbar.roles' | translate }}</md-tooltip>
                <md-icon class="material-icons">select_all</md-icon> 
            </md-button>
            <md-button class="md-primary md-icon-button" ng-click="$ctrl.remove()"> 
                <md-tooltip md-direction="bottom">{{ 'users.toolbar.remove' | translate }}</md-tooltip>
                <md-icon class="material-icons">delete</md-icon> 
            </md-button>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select multiple ng-model="$ctrl.checked">
                <thead md-head md-order="$ctrl.orderBy">
                    <tr md-row>
                        <th md-column md-order-by="username"><span>{{ 'users.cols.username' | translate }}</span></th>
                        <th md-column md-order-by="roles"><span>{{ 'users.cols.roles' | translate }}</span></th>
                        <th md-column md-order-by="coaches"><span>{{ 'users.cols.coaches' | translate }}</span></th>
                        <th md-column md-order-by="tariff"><span>{{ 'users.cols.tariff' | translate }}</span></th>
                        <th md-column md-order-by="athletes"><span>{{ 'users.cols.athletes' | translate }}</span></th>
                        <th md-column md-order-by="city"><span>{{ 'users.cols.city' | translate }}</span></th>
                        <th md-column md-order-by="ageGroup"><span>{{ 'users.cols.ageGroup' | translate }}</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="member" md-auto-select ng-repeat="member in $ctrl.getRows()">
                        <td md-cell>
                            <md-button class="management-username" ui-sref="user({uri: member.userProfile.public.uri})">
                                <userpic profile="member.userProfile" is-premium="member.userProfile | isPremium"></userpic>
                                {{ member.userProfile | username }}
                            </md-button>
                        </td>
                        <td md-cell>{{ member.roleMembership | clubRoleMembership }}</td>
                        <td md-cell>
                            <span ng-if="member.coaches && member.coaches.length">
                                {{ $ctrl.getMember(member.coaches[0]).userProfile | username }}
                                <span ng-if="member.coaches.length > 1">, +{{ member.coaches.length - 1 }}</span>
                            </span>
                            <span ng-if="!member.coaches || !member.coaches.length">-</span>
                        </td>
                        <td md-cell>
                            <span ng-repeat="tariff in member.userProfile.billing" class="management-row-tariffs">
                                {{ 'users.' + tariff.tariffCode | translate}}
                                <span ng-if="tariff.clubProfile.groupId === $ctrl.club.groupId" class="badge">{{'users.byClub' | translate}}</span>
                            </span>
                            <span ng-if="!member.userProfile.billing || !member.userProfile.billing.length">-</span>
                        </td>
                        <td md-cell>{{ $ctrl.getAthletesByCoachId(member.userProfile.userId).length || '-' }}</td>
                        <td md-cell>{{ member.userProfile.city }}</td>
                        <td md-cell>{{ member.userProfile | ageGroup }}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>    
    
    <div ng-if="$ctrl.isScreenSmall">
        <md-list>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons">search</md-icon>
                <md-input-container flex> 
                    <input ng-model="$ctrl.search"/> 
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons management-tune-icon">tune</md-icon>
                <md-menu flex>
                    <md-button ng-click="$mdOpenMenu($event)">
                        {{(
                            $ctrl.isFilterEmpty() && ('users.filters.all' | translate)
                        ) || (
                            $ctrl.filterParams.clubRole && (('users.filters.role' | translate) + ': ' + ('users.clubRoles.' + $ctrl.filterParams.clubRole | translate))
                        ) || (
                            $ctrl.filterParams.noCoach && ('users.filters.noCoach' | translate)
                        ) || (
                            $ctrl.filterParams.coachUserId && ('users.filters.coach' | translate) + ': ' + ($ctrl.getMember($ctrl.filterParams.coachUserId) | username)
                        )}} ({{ $ctrl.getRows().length }})
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.none}">
                            <md-button ng-click="$ctrl.clearFilter()">{{'users.filters.all' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item class="management-filters-subtitile">
                            {{'users.role' | translate}}
                        </md-menu-item>
                        <md-menu-item ng-repeat="role in ['ClubCoaches', 'ClubAthletes', 'ClubManagement']" ng-class="{'management-filter-active': $ctrl.filterParams.clubRole === role}">
                            <md-button ng-click="$ctrl.filterRole(role)">{{ 'users.clubRoles.' + role | translate }}</md-button>
                        </md-menu-item>
                        <md-menu-item class="management-filters-subtitile">
                            {{'users.filters.coach' | translate}}
                        </md-menu-item>
                        <md-menu-item ng-class="{'management-filter-active': $ctrl.filterParams.noCoach}">
                            <md-button ng-click="$ctrl.filterNoCoach()">{{ 'users.filters.noCoach' | translate }}</md-button>
                        </md-menu-item>
                        <md-menu-item ng-repeat="coach in $ctrl.getCoaches()" ng-class="{'management-filter-active': $ctrl.filterParams.coachUserId === coach.userProfile.userId}">
                            <md-button ng-click="$ctrl.filterCoach(coach.userProfile.userId)">{{ coach.userProfile | username }}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
            <md-list-item ng-repeat="member in $ctrl.getRows()" layout="row" layout-align="center center">
                <userpic profile="member.userProfile" is-premium="member.userProfile | isPremium"></userpic>
                <span flex ui-sref="user({uri: member.userProfile.public.uri})">{{ member.userProfile | username }}</span>
                <md-icon class="material-icons md-secondary" ng-click="$ctrl.showActions(member)">more_vert</md-icon>
            </md-list-item>
        </md-list>
    </div>
        
</application-frame>

