<application-frame>
    <div ng-if="!$ctrl.isScreenSmall" class="management">
        <div class="filters">
            <div class="title">
                {{$ctrl.filter && $ctrl.filter.label || 'Все'}} ({{$ctrl.rows.length}})
                <div class="controls">
                    <md-menu class="filters">
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" style="vertical-align: top;">
                            <md-icon class="material-icons">filter_list</md-icon> 
                        </md-button>
                        <md-menu-content>
                            <md-menu-item ng-class="{'filter-item-active': !$ctrl.filter}">
                                <md-button ng-click="$ctrl.clearFilter()"> Все </md-button>
                            </md-menu-item>
                            <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                                Роль
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role == 'ClubCoaches'}">
                                <md-button ng-click="$ctrl.filterRole('ClubCoaches')"> Тренеры </md-button>
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role == 'ClubAthletes'}">
                                <md-button ng-click="$ctrl.filterRole('ClubAthletes')"> Спортсмены </md-button>
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role == 'ClubManagement'}">
                                <md-button ng-click="$ctrl.filterRole('ClubManagement')"> Управление </md-button>
                            </md-menu-item>
                            <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                                Тренер
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.type == 'no coach'}">
                                <md-button ng-click="$ctrl.filterNoCoach()"> Без тренера </md-button>
                            </md-menu-item>
                            <md-menu-item ng-repeat="coach in $ctrl.coaches"  ng-class="{'filter-item-active': $ctrl.filter.coach == coach}">
                                <md-button ng-click="$ctrl.filterCoach(coach)">{{coach.userProfile | username}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-input-container style="width: {{$ctrl.showSearch? '300px' : '0'}};" class="animated"> 
                        <input ng-model="$ctrl.search" ng-if="$ctrl.showSearch" auto-focus ng-blur="!$ctrl.search && ($ctrl.showSearch = false)"/> 
                    </md-input-container>
                    <md-button class="md-icon-button" ng-click="$ctrl.showSearch = !$ctrl.showSearch" style="vertical-align: top;"> 
                        <md-icon class="material-icons">search</md-icon> 
                    </md-button>
                </div>
            </div>
        </div>
        
        <div class="selected-items" ng-if="$ctrl.checked.length">
            {{$ctrl.checked.length}} items selected
            <div class="controls">
                <md-button class="md-primary md-icon-button" ng-if="$ctrl.coachesAvailable" ng-click="$ctrl.editCoaches()"> 
                    <md-tooltip md-direction="bottom">Coaches</md-tooltip>
                    <md-icon class="material-icons">supervisor_account</md-icon> 
                </md-button>
                <md-button class="md-primary md-icon-button" ng-if="$ctrl.tariffsAvailable" ng-click="$ctrl.editTariffs()"> 
                    <md-tooltip md-direction="bottom">Tariffs</md-tooltip>
                    <md-icon class="material-icons">share</md-icon> 
                </md-button>
                <md-button class="md-primary md-icon-button" ng-if="$ctrl.rolesAvailable" ng-click="$ctrl.editRoles()"> 
                    <md-tooltip md-direction="bottom">Roles</md-tooltip>
                    <md-icon class="material-icons">select_all</md-icon> 
                </md-button>
                <md-button class="md-primary md-icon-button" ng-click="$ctrl.remove()"> 
                    <md-tooltip md-direction="bottom">Remove</md-tooltip>
                    <md-icon class="material-icons">delete</md-icon> 
                </md-button>
            </div>
        </div>

        <md-table-container flex>
            <table md-table md-row-select="$ctrl.options.rowSelection" multiple ng-model="$ctrl.selected">
                <thead md-head md-order="$ctrl.orderBy">
                    <tr md-row>
                        <th md-column> <md-checkbox ng-model="$ctrl.allChecked"></md-checkbox> </th>
                        <th md-column md-order-by="sort.username"><span>Член клуба</span></th>
                        <th md-column md-order-by="sort.roles"><span>Роль</span></th>
                        <th md-column md-order-by="sort.coaches"><span>Тренер</span></th>
                        <th md-column md-order-by="sort.tariff"><span>Тариф</span></th>
                        <th md-column md-order-by="sort.athletes"><span>Спортсмены</span></th>
                        <th md-column md-order-by="sort.city"><span>Город</span></th>
                        <th md-column md-order-by="sort.ageGroup"><span>Возрастная группа</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        md-select="split"
                        ng-repeat="member in $ctrl.rows = ($ctrl.management.members | filter:$ctrl.search | filter:$ctrl.isVisible() | orderBy:$ctrl.orderBy)">
                        <td md-cell> <md-checkbox ng-model="member.checked"></md-checkbox> </td>
                        <td md-cell>
                            <userpic profile="member.userProfile" is-premium="$ctrl.isPremium(member)"></userpic>
                            {{member.userProfile | username}}
                        </td>
                        <td md-cell>{{$ctrl.roleMembership(member.roleMembership)}}</td>
                        <td md-cell>
                            <span ng-repeat="coach in member.coaches">{{$ctrl.member(coach).userProfile | username}} </span>
                            <span ng-if="!member.coaches || !member.coaches.length">-</span>
                        </td>
                        <td md-cell>
                            <span ng-repeat="tariff in member.userProfile.billing">
                                {{tariff.tariffCode}} 
                                <span ng-if="tariff.clubProfile.groupId==$ctrl.club.groupId" class="badge">byClub </span>
                            </span>
                            <span ng-if="!member.userProfile.billing || !member.userProfile.billing.length">-</span>
                        </td>
                        <td md-cell>{{$ctrl.athletes(member).length || '-'}}</td>
                        <td md-cell>{{member.userProfile.city}}</td>
                        <td md-cell>{{member.userProfile | ageGroup}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
    
    
    <div ng-if="$ctrl.isScreenSmall" class="users" style="height:100%">
        <md-list>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons">search</md-icon>
                <md-input-container flex> 
                    <input ng-model="$ctrl.search"/> 
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons" style="margin-left:0">tune</md-icon>
                <md-menu flex>
                    <md-button ng-click="$mdOpenMenu($event)">
                        {{$ctrl.filter && $ctrl.filter.label || 'Все'}} ({{$ctrl.rows.length}})
                    </md-button>
                    <md-menu-content>
                        <md-menu-content>
                            <md-menu-item ng-class="{'filter-item-active': !$ctrl.filter}">
                                <md-button ng-click="$ctrl.clearFilter()"> Все </md-button>
                            </md-menu-item>
                            <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                                Роль
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role == 'ClubCoaches'}">
                                <md-button ng-click="$ctrl.filterRole('ClubCoaches')"> Тренеры </md-button>
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role == 'ClubAthletes'}">
                                <md-button ng-click="$ctrl.filterRole('ClubAthletes')"> Спортсмены </md-button>
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.role == 'ClubManagement'}">
                                <md-button ng-click="$ctrl.filterRole('ClubManagement')"> Управление </md-button>
                            </md-menu-item>
                            <md-menu-item style="color: #455a64; padding-left: 15px; line-height: 48px;">
                                Тренер
                            </md-menu-item>
                            <md-menu-item ng-class="{'filter-item-active': $ctrl.filter.type == 'no coach'}">
                                <md-button ng-click="$ctrl.filterNoCoach()"> Без тренера </md-button>
                            </md-menu-item>
                            <md-menu-item ng-repeat="coach in $ctrl.coaches"  ng-class="{'filter-item-active': $ctrl.filter.coach == coach}">
                                <md-button ng-click="$ctrl.filterCoach(coach)">{{coach.userProfile | username}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
            <md-list-item ng-repeat="member in $ctrl.rows = ($ctrl.management.members | filter:$ctrl.search | filter:$ctrl.isVisible())" ng-click="$ctrl.showActions(member)" layout="row" layout-align="center center">
                <userpic profile="member.userProfile" is-premium="$ctrl.isPremium(member)"></userpic>
                <span flex ui-sref="user({uri: member.userProfile.public.uri})">{{ member.userProfile | username }}</span>
                <md-icon class="material-icons md-secondary" ng-click="$ctrl.showActions(member)">more_vert</md-icon>
            </md-list-item>
        </md-list>
    </div>
        
</application-frame>

