<md-bottom-sheet class="md-list">
  <md-list ng-cloak>

    <md-list-item>
      <md-button ng-click="$ctrl.editCoaches()" class="md-list-item-content">
        <md-icon class="material-icons">supervisor_account</md-icon>
        <span class="md-inline-list-icon-label">Coaches</span>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="$ctrl.editCoaches()" class="md-list-item-content">
        <md-icon class="material-icons">supervisor_account</md-icon>
        <span class="md-inline-list-icon-label">Athletes</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.editTariffs()" class="md-list-item-content">
        <md-icon class="material-icons">share</md-icon>
        <span class="md-inline-list-icon-label">Tariffs</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.editRoles()" class="md-list-item-content">
        <md-icon class="material-icons">select_all</md-icon>
        <span class="md-inline-list-icon-label">Roles</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.remove()" class="md-list-item-content">
        <md-icon class="material-icons">delete</md-icon>
        <span class="md-inline-list-icon-label">Remove</span>
      </md-button>
    </md-list-item>
    
  </md-list>
</md-bottom-sheet>