<md-bottom-sheet class="md-list">
  <md-list ng-cloak>

    <md-list-item>
      <md-button ng-click="$ctrl.editCoaches()" class="md-list-item-content">
        <md-icon class="material-icons">supervisor_account</md-icon>
        <span class="md-inline-list-icon-label" translate>users.bottomSheet.coaches</span>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="$ctrl.editAthletes()" class="md-list-item-content">
        <md-icon class="material-icons">person_add</md-icon>
        <span class="md-inline-list-icon-label" translate>users.bottomSheet.athletes</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.editTariffs()" class="md-list-item-content">
        <md-icon class="material-icons">share</md-icon>
        <span class="md-inline-list-icon-label" translate>users.bottomSheet.tariffs</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.editRoles()" class="md-list-item-content">
        <md-icon class="material-icons">select_all</md-icon>
        <span class="md-inline-list-icon-label" translate>users.bottomSheet.roles</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.remove()" class="md-list-item-content">
        <md-icon class="material-icons">delete</md-icon>
        <span class="md-inline-list-icon-label" translate>users.bottomSheet.remove</span>
      </md-button>
    </md-list-item>
    
  </md-list>
</md-bottom-sheet>