
#appmenu {

}

.usermenu{
  background: $grey-100;
}

.usermenu.ng-enter {
  transition: 0.3s ease-in all;
  opacity: 0;
  height: 0px;
}
.usermenu.ng-enter.ng-enter-active {
  opacity: 1;
  height: 320px;
}
.usermenu.ng-leave {
  transition: 0.3s ease-out all;
  height: 320px;
}
.usermenu.ng-leave.ng-leave-active {
  height: 0px;
}
