.cathegory {
	margin: 0;
	padding: 8px 0;
	white-space: normal !important;
	text-align: left !important;
	text-transform: none !important;

	@media (max-width: 959px) {
		padding: 15px 0;
		border-bottom: solid 0.5px rgba(0, 0, 0, 0.14);
	}

	&-disabled {
		opacity: 0.54;

		@media (max-width: 959px) {
			border-bottom: solid 0.5px rgba(0, 0, 0, 0.28);
		}
	}

	&__label-code {
		font-size: 16px;
		font-weight: 500;
		margin: 0;
		line-height: 1.5;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__label-author {
		margin-bottom: 4px;
		line-height: 1.33;
		font-size: 12px;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.54);
	}

	&__label-description {
		line-height: 1.16;
		font-size: 12px;
		font-weight: 500;
		color: rgba(0, 0, 0, 0.54);
	}

	&__icon-circled {
		width: 32px !important;
		height: 32px !important;
		border-radius: 16px;
		background-color: #455a64;
		margin: 0 20px;

		svg {
			fill: white;
			height: 22px;
			padding-top: 5px;
		}
	}

	&__switch {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
}

.cathegories {
	width: 600px; 
	overflow-y: auto;

	@media (max-width: 959px) {
		width: auto; 
		margin: 0;
		box-shadow: none;
		background: #fafafa;
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		border-top: solid 0.5px rgba(0, 0, 0, 0.14);
	}

	&__list {
		padding-bottom: 8px;

		@media (max-width: 959px) {
			padding: 0;
		}
	}

	&__section {
		padding-top: 8px;

		@media (max-width: 959px) {
			padding: 0;
		}
	}

	&__subheader {
		padding: 8px 16px !important;
		line-height: 1.71;
		color: rgba(0, 0, 0, 0.54);
	}

	&__create {
		width: 200px; 
		margin-top: 61px; 
		text-align: center;

		@media (max-width: 959px) {
			position: fixed;
			right: 16px;
			bottom: 16px;
			width: auto;
		}
	}
}

cathegories {
	@media (max-width: 959px) {
		background-color: #fafafa;
	}
}