<div flex class="calendar-item-record md-whiteframe-8dp" layout="column"
     ng-class="{'full-screen': $ctrl.fullScreenMode}">
    <md-toolbar flex="none" class="md-primary">
        <div class="md-toolbar-tools">
            <md-menu md-position-mode="target-right target" md-offset="0 60" md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"
                           aria-label="User">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="!$ctrl.record.view.isTrainingPlan ?
                        $ctrl.onDelete() :
                        $ctrl.deleteTrainingPlanRecord()"
                                   ng-disabled="$ctrl.record.view.isPost">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                            <span translate="activity.toolbar.delete"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="!$ctrl.record.view.isTrainingPlan ?
                        $ctrl.onDelete({rmPastItems: false, rmFutureItems: true}) :
                        $ctrl.deleteTrainingPlanRecord({rmPastItems: false, rmFutureItems: true})"
                                   ng-disabled="$ctrl.record.view.isPost">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                            <span translate="record.toolbar.deleteFuture"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="$ctrl.record.isRepeated">
                        <md-button ng-click="!$ctrl.record.view.isTrainingPlan ?
                        $ctrl.onDelete({rmPastItems: true, rmFutureItems: true}) :
                        $ctrl.deleteTrainingPlanRecord({rmPastItems: true, rmFutureItems: true})"
                                   ng-disabled="$ctrl.record.view.isPost">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                            <span translate="record.toolbar.deleteAll"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="$ctrl.record.isRepeated">
                        <md-button ng-click="" ng-disabled="true">
                            <md-icon class="material-icons" md-menu-align-target>settings</md-icon>
                            <span translate="activity.toolbar.settings"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="::$ctrl.currentUser.connections.hasOwnProperty('allAthletes')">
                        <md-button ng-click="$ctrl.showSelectAthletes = true">
                            <md-icon class="material-icons" md-menu-align-target>person_add</md-icon>
                            <span translate="activity.toolbar.multiAthletes"></span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <h2 translate="record.toolbar.title"></h2>
            <span flex></span>
            <md-button class="md-icon-button"
                       ng-if="!$ctrl.record.view.isView"
                       ng-click="$ctrl.fullScreenMode = !$ctrl.fullScreenMode">
                <md-icon class="material-icons">{{$ctrl.fullScreenMode ? 'fullscreen_exit':'fullscreen'}}</md-icon>
            </md-button>
            <!--<userpic class="border-light"
                     profile="$ctrl.owner"
                     is-premium="$ctrl.owner.isPremium"
                     unlink="true">
            </userpic>-->
            <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
                <md-tooltip md-direction="left">{{'activity.toolbar.close' | translate}}</md-tooltip>
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex="auto" layout="column">
        <!-- Режим просмотра -->
        <md-list ng-if="$ctrl.record.view.isView">
            <md-list-item>
                <md-icon flex="none" md-svg-src="/assets/icon/{{$ctrl.record.recordHeader.type}}.svg"></md-icon>
                <p flex class="md-caption" ng-if="$ctrl.record.view.isView">{{::'record.' + $ctrl.record.recordHeader.type | translate}}</p>
            </md-list-item>
            <md-list-item>
                <md-icon flex="none" class="material-icons" style="left: 0px">today</md-icon>
                <p flex class="md-caption">{{::$ctrl.record.dateStart | date:'shortDate'}}</p>
            </md-list-item>
        </md-list>
        <!-- Режим редактирования -->
        <form flex="none" ng-if="!$ctrl.record.view.isView" layout="column" name="$ctrl.recordForm">
            <md-list flex="none" class="md-dense slim-input bg-grey-050">
                <md-list-item>
                    <md-input-container class="md-block no-message" md-no-float layout="row">
                        <md-icon flex="none" md-svg-src="/assets/icon/{{$ctrl.record.recordHeader.type}}.svg"></md-icon>
                        <md-select flex ng-model="$ctrl.record.recordHeader.type" class="icon">
                            <md-option ng-repeat="type in $ctrl.config.types track by $index"
                                       value="{{type}}">{{'record.' + type | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>
                <md-list-item layout="row" layout-align="start center"
                              ng-if="!($ctrl.options.templateMode || ($ctrl.record.view.isTrainingPlan && $ctrl.options.trainingPlanOptions.dynamicDates))">
                    <md-input-container flex="auto" class="no-message" md-no-float>
                        <md-icon flex="none" class="material-icons" style="left: 0px">today</md-icon>
                        <md-datepicker flex="auto" ng-model="$ctrl.record.recordHeader.dateStart"
                                       ng-change="$ctrl.changeParam()"
                                       name="dateStart" md-hide-icons="calendar"
                                       ng-disabled="($ctrl.item.activity.auth.isCreator || $ctrl.item.activity.auth.isMyCoach)">

                        </md-datepicker>
                        <div ng-messages="$ctrl.form.dateStart.$error" role="alert">
                            <div ng-message="needPermissionForFeature"
                                 translate="calendar.needPermissionForFeature">
                            </div>
                        </div>
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-if="$ctrl.record.view.isTrainingPlan && $ctrl.options.trainingPlanOptions.dynamicDates">
                    <md-icon class="material-icons md-dark" style="margin-right: 20px">today</md-icon>
                    <p class="md-caption"
                       translate="activity.dynamicDate"
                       translate-values="{week: $ctrl.options.trainingPlanOptions.weekNumber + 1, day: $ctrl.options.trainingPlanOptions.dayNumber + 1}"></p>
                </md-list-item>
                <md-list-item ng-if="!$ctrl.record.view.isView">
                    <md-icon class="material-icons md-dark" style="margin-right: 20px">repeat</md-icon>
                    <p translate="record.isRepeated"></p>
                    <md-switch class="md-secondary md-primary"
                               ng-model="$ctrl.record.isRepeated"
                               ng-change="$ctrl.changeRepeatMode()"
                               md-invert>
                </md-list-item>
                <md-list-item ng-if="$ctrl.record.isRepeated" class="margin-top-8">
                    <md-input-container class="md-block no-message" layout="row">
                        <label translate="record.period.label"></label>
                        <md-icon flex="none" class="md-dark" md-svg-src=""></md-icon>
                        <md-select flex name="sport" class="icon"
                                   ng-model="$ctrl.record.recordHeader.repeat.period">
                            <md-option ng-repeat="period in $ctrl.config.periods"
                                       value="{{period}}">
                                {{'record.period.'+ period | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-if="$ctrl.record.isRepeated" class="margin-top-8">
                    <md-input-container class="md-block no-message" layout="row">
                        <label>
                            <span translate="record.every.label"></span>
                            <span>({{'record.every.' + $ctrl.record.recordHeader.repeat.period | translate}})</span>
                        </label>
                        <md-icon flex="none" class="md-dark" md-svg-src=""></md-icon>
                        <input type="number" step="1" min="1" name="every" class="icon"
                               ng-model="$ctrl.record.recordHeader.repeat.every"
                               ng-change="">
                        </input>
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-if="$ctrl.record.isRepeated && $ctrl.record.recordHeader.repeat.period === 'W'"
                              class="margin-top-8 days md-2-line">
                    <div class="md-list-item-text">
                        <p class="md-caption label" translate="record.days.label"></p>
                        <div layout="row" layout-wrap="true">
                            <div flex="none" ng-repeat="item in [0,1,2,3,4]">
                                <span translate>{{'record.days.' + item}}</span>
                                <md-checkbox ng-checked="$ctrl.exists(item, $ctrl.record.recordHeader.repeat.days)"
                                             ng-click="$ctrl.toggle(item, $ctrl.record.recordHeader.repeat.days)"
                                             class="md-primary">
                                </md-checkbox>
                            </div>
                        </div>
                        <div layout="row" layout-wrap="true">
                            <div flex="none" ng-repeat="item in [5,6]">
                                <span translate>{{'record.days.' + item}}</span>
                                <md-checkbox ng-checked="$ctrl.exists(item, $ctrl.record.recordHeader.repeat.days)"
                                             ng-click="$ctrl.toggle(item, $ctrl.record.recordHeader.repeat.days)"
                                             class="md-primary">
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item ng-if="$ctrl.record.isRepeated" class="margin-top-8">
                    <md-input-container class="md-block no-message" layout="row">
                        <label translate="record.endType.label"></label>
                        <md-icon flex="none" class="md-dark" md-svg-src=""></md-icon>
                        <md-select flex name="endType" class="icon"
                                   ng-disabled="$ctrl.record.view.isTrainingPlan && $ctrl.options.trainingPlanOptions.dynamicDates"
                                   ng-model="$ctrl.record.recordHeader.repeat.endType"
                                   ng-change="">
                            <md-option ng-repeat="type in $ctrl.config.endTypes"
                                       value="{{type}}">
                                {{'record.endType.'+ type | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-if="$ctrl.record.isRepeated && $ctrl.record.recordHeader.repeat.endType === 'D'"
                              class="margin-top-8">
                    <md-input-container class="no-message">
                        <label translate="record.endOnDate.label" style="margin-left: 40px"></label>
                        <md-icon flex="none" class="material-icons" style="left: 0px"></md-icon>
                        <md-datepicker flex="auto" ng-model="$ctrl.record.recordHeader.repeat.endOnDate"
                                       ng-change="$ctrl.changeParam()"
                                       name="dateStart" md-hide-icons="calendar">
                        </md-datepicker>
                        <div ng-messages="$ctrl.form.dateStart.$error" role="alert">
                            <div ng-message="needPermissionForFeature"
                                 translate="calendar.needPermissionForFeature">
                            </div>
                        </div>
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-if="$ctrl.record.isRepeated && $ctrl.record.recordHeader.repeat.endType === 'C'"
                              class="margin-top-8">
                    <md-input-container class="md-block no-message" layout="row">
                        <label translate="record.endOnCount.label"></label>
                        <md-icon flex="none" class="md-dark" md-svg-src=""></md-icon>
                        <input type="number" step="1" min="1" name="endOnCount" class="icon"
                               ng-model="$ctrl.record.recordHeader.repeat.endOnCount"
                               ng-change="">
                        </input>
                    </md-input-container>
                </md-list-item>
            </md-list>
        </form>
        <md-subheader><span translate="record.description"></span></md-subheader>
        <div flex="auto" class="description">
            <ng-quill-editor 
                ng-if="$ctrl.fullScreenMode"
                ng-model="$ctrl.record.recordHeader.description"
                placeholder="{{'record.descriptionPlaceholder' | translate}}"
                modules="$ctrl.quillConf.toolbarFull"
                on-content-changed="$ctrl.changeForm()"
                ng-class="{'hide-toolbar': $ctrl.record.view.isView}"
                read-only="$ctrl.record.view.isView"
                st-quill-post-image
            ></ng-quill-editor>
            <ng-quill-editor 
                ng-if="!$ctrl.fullScreenMode"
                ng-model="$ctrl.record.recordHeader.description"
                placeholder="{{'record.descriptionPlaceholder' | translate}}"
                modules="$ctrl.quillConf.toolbar"
                on-content-changed="$ctrl.changeForm()"
                ng-class="{'hide-toolbar': $ctrl.record.view.isView}"
                read-only="$ctrl.record.view.isView"
                st-quill-post-image
            ></ng-quill-editor>
        </div>
    </md-content>
    <!-- Календарь -->
    <md-dialog-actions ng-if="!$ctrl.record.view.isTrainingPlan"
                       flex="none" layout="row" style="background: white">
        <span flex></span>
        <md-button ng-if="$ctrl.record.view.isView" type="submit"
                   ng-click="$ctrl.record.view.isPut = true">
            <span translate="activity.edit"></span>
        </md-button>
        <md-button ng-if="!$ctrl.record.view.isView" type="submit"
                   ng-class="{'md-warn': !$ctrl.recordForm.$valid}"
                   ng-disabled="$ctrl.record.view.isPut && !$ctrl.recordForm.$dirty"
                   ng-click="($ctrl.recordForm.$valid) ? $ctrl.onSave() : null">
            <span translate="activity.save"></span>
        </md-button>
    </md-dialog-actions>
    <!-- Тренировочный план -->
    <md-dialog-actions ng-if="$ctrl.record.view.isTrainingPlan"
                       flex="none" layout="row" style="background: white">
        <span flex></span>
        <md-button ng-if="!$ctrl.record.view.isView"
                   type="submit"
                   ng-disabled="!$ctrl.recordForm.$dirty || !$ctrl.recordForm.$valid"
                   translate="activity.save"
                   ng-click="$ctrl.saveTrainingPlanRecord()">
        </md-button>
    </md-dialog-actions>
</div>

<calendar-item-athlete-selector ng-if="$ctrl.record.view.isPost && $ctrl.showSelectAthletes" ng-cloak
                                coach="$ctrl.currentUser"
                                athletes="$ctrl.forAthletes"
                                on-select="$ctrl.selectAthletes(result)">
</calendar-item-athlete-selector>