.cover-01 {
  background-image: linear-gradient(to top, rgba(#6E8B9B, 1), rgba(0, 0, 0, 0.40) 30%, rgba(0, 0, 0, 0.60) 73%, rgba(0, 0, 0, 0.76)),
  					url(/assets/picture/lp-bg-03-1440.jpg);
  background-position: 25% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-02 {
  background-image: linear-gradient(to top, rgba(#4B506D, 1), rgba(#000000, 0.5) 15%, rgba(#000000, 0.5) 75%, rgba(#6E8B9B, 1)),
  					url(/assets/picture/lp-bg-09-1440.jpg);
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-03 {
  background-image: linear-gradient(to top, rgba(#403A4E, 1), rgba(#000000, 0.6) 25%, rgba(#000000, 0.5) 40%, rgba(#000000, 0.4) 75%, rgba(#4B506D, 1)),
  					url(/assets/picture/lp-bg-10-1440.jpg);
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-04 {
  background-image: linear-gradient(to top, rgba(#37474F, 1), rgba(#37474F, 1) 10%, rgba(#000000, 0.5) 75%, rgba(#403A4E, 1)),
  url(/assets/picture/lp-bg-11-1440.jpg);
  background-position: 45% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-05 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.40), rgba(black, 0.40) 73%, rgba(black, 0.40)),
  url(/assets/picture/lp-bg-05.jpg);
  background-position: 35% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.welcome-block {

  width: 100vw;
  height: 100vh;
  color: white;
  @extend .cover-01;

  @media (max-width: 599px), (orientation: landscape) {
	padding: 24px 8px 24px 8px;
  }

  @media (min-width: 600px) and (min-height: 700px){
	padding: 48px 16px 48px 16px;
  }

  .md-display-3 {

	@extend .font-black, .center, .light, .secondary;
	text-transform: uppercase;
	opacity: 0.8;

	@media (max-width: 599px){
	  line-height: 7.2vw;
	  font-size: 7vw;
	}

	@media (min-width: 600px), (orientation: landscape) {
	  line-height: 4.3vw;
	  font-size: 4.1vw;
	}

	//$width: @width;
	//$height: @width;

	@media (orientation: landscape) and (max-width: 1280px) and (max-height: 500px) {display: none;}

  }

  .logo-box{

	min-height: 150px;

	@media (max-width: 599px), (orientation: landscape) {
	  width: 240px;
	  //height: 80px;
	  margin-top: 7vh;
	  margin-bottom: 10px;
	}

	@media (min-width: 600px) and (min-height: 700px){
	  width: 400px;
	  //height: 150px;
	  margin-top: 8vh;
	}

	@media (max-height: 480px) {margin-top: 0; min-height: 70px;}

	.soon, .promo {

	  @extend .md-display-2, .font-black, .light, .disable;
	  background: rgba($deep-orange-500, 0.8);
	  color: currentColor;
	  text-transform: uppercase;
	  text-align: right;

	  @media (max-width: 599px), (orientation: landscape) {
		width: 120px;
		height: 40px;
		font-size: 14px;
		line-height: 40px;
		padding-right: 20px;
	  }

	  @media (min-width: 600px) and (min-height: 700px){
		width: 215px;
		height: 75px;
		font-size: 24px;
		line-height: 75px;
		padding-right: 40px;
	  }
	}

	.logo {

	  @media (max-width: 599px), (orientation: landscape) {
		width: auto;
		margin-left: -50px;
		margin-top: 0px;
		z-index: 2;
	  }

	  @media (min-width: 600px) and (min-height: 700px){
		margin-left: -100px;
	  }

	  .icon {
		@media (max-width: 599px), (orientation: landscape) {
		  height: 40px;
		}

		@media (min-width: 600px) and (min-height: 700px){
		  height: 75px;
		}
	  }

	  .typo {
		@media (max-width: 599px), (orientation: landscape) {
		  width: 100px;
		}

		@media (min-width: 600px) and (min-height: 700px){
		  width: 200px;
		}
	  }
	}

  }

  .more.md-button {
	margin-top: 2vh;
	@media (max-height: 320px) {display: none;}
  }
}

// Форма подписки
form.subscribe {

  width: 300px;
  margin-top: 16px;

  md-input-container {
	margin: 0px;
  }

  md-input-container.md-dark-theme.md-input-invalid .md-input-message-animation{
	color: white !important;

  }

  md-input-container .md-input {
	text-align: center;
  }

  input.email {

	@media (max-width: 599px), (orientation: landscape) {
	  height: 30px;
	  min-height: 30px;
	  font-size: 14px;
	}

	@media (min-width: 600px) and (min-height: 700px){
	  height: 50px;
	  min-height: 50px;
	  font-size: 20px;
	}

	background: none;
	border: none;
	border-bottom: solid 2px rgba(white,0.3);
	padding: 0px;
	margin: 0px;
	//font-weight: 900;
	color: white;
	text-align: center;

	&::-webkit-input-placeholder {

	  border-bottom: solid 2px rgba(white,0.7);

	  @media (max-width: 599px), (orientation: landscape) {
		font-size: 14px;
	  }

	  @media (min-width: 600px) and (min-height: 700px){
		font-size: 20px;
	  }

	  font-weight: 400;
	  color: rgba(white, 1.0);
	  opacity: 1;
	  transition: opacity 0.3s ease;
	}

	&:focus::-webkit-input-placeholder {
	  opacity: 0;
	  transition: opacity 0.3s ease;
	  border-bottom: solid 2px rgba(white,0.3);
	}

	&:focus {
	  border: red;
	  outline: none;
	}
  }

  .md-button.md-raised:not([disabled]) {

	background-color: $deep-orange-500 !important;
	border: none !important;
  }

  button {

	margin: 0px 0px;
	background: none !important;
	border: 1px solid white;
	font-weight: 900;
	color: white !important;
	text-transform: uppercase;

	@media (max-width: 599px), (orientation: landscape) {
	  height: 40px;
	  min-height: 40px;
	  font-size: 14px;
	}

	@media (min-width: 600px) and (min-height: 700px){
	  height: 70px;
	  min-height: 70px;
	  font-size: 20px;
	}
  }

}

.note {

  @extend .center;
  margin-top: 8px;
  padding: 0px 16px;

  @media (max-width: 599px), (orientation: landscape) {
	font-size: 12px;
  }

  @media (min-width: 600px) and (min-height: 700px){
	font-size: 18px;
  }

  @media (max-height: 320px) {display: none;}

  a {
	color: white;
	text-decoration: none;
	&:hover {
	  font-weight: 500;
	}
  }

}

.main-features-block {
  width: 100vw;
  padding: 128px 8px;
  color: white;

  @media (min-width: 1920px) {
	padding: 256px 8px;
  }

  .md-display-2 {
	@extend .font-black, .center;
  }

  .md-headline {
	@extend .center;
	max-width: 400px;
	margin-bottom: 32px;
  }

  md-icon {
	width: 120px;
	height: 120px;
	fill: white
  }

  .md-title {
	margin-bottom: 8px;
	min-height: 62px;
  }

  .md-body {
	@extend .secondary, .light;
  }
  
  .info {
	max-width: 400px;
  }


}

.feedback-block {

  width: 100vw;
  padding: 128px 8px;
  color: black;
  @extend .bg-grey-300;

  @media (min-width: 1920px) {
	//padding: 256px 8px;
  }

  .md-display-2 {
	@extend .font-black;
	@extend .secondary, .dark;
  }

  .md-subhead {
	@extend .disable, .dark, .center;
	margin-bottom: 32px;
  }

  .md-body {
	@extend .secondary, .dark;
  }

  img {
	border-radius: 60px;
	width: 120px;
	height: 120px;
  }

  .md-body-2 {
	@extend .secondary, .dark;
	margin-top: 16px;
	padding: 0px;
  }

  .md-caption {
	@extend .disable, .dark;
	padding: 0px;
  }

  .info {
	max-width: 400px;
  }

}

.footer-block {
  color: rgba(white,0.7);
  padding: 32px 8px 64px 8px;

}
.social-buttons{
  margin: 16px 0px;
}

.block-100 {
  width: 100%;
}



