.cover-01 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.60) 73%, rgba(0, 0, 0, 0.76)),
  					url(/assets/picture/lp-bg-03.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-02 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.60) 73%, rgba(0, 0, 0, 0.76)),
  					url(/assets/picture/lp-bg-01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-03 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.60) 73%, rgba(0, 0, 0, 0.76)),
  url(/assets/picture/lp-bg-02.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.soon {
  color: #EF6C00
}

.welcome-block {
  	width: 100vw;
  	height: 100vh;
  	color: white;
	padding: 24px 8px 0px 8px;

	@media (min-width: 600px) {
		padding: 48px 16px 0px 16px;
	}


  @extend .cover-01;

	.md-display-3 {

		line-height: 7.2vw;
		font-size: 7vw;

		@media (min-width: 600px) {
			line-height: 4.3vw;
			font-size: 4.1vw;
		}

		@extend .font-black, .center, .light, .secondary;
		text-transform: uppercase;
		opacity: 0.8;
	}

	.logo-box{
		width: 240px;
		height: 100px;
		padding-top: 25px;

		@media (min-width: 600px) {
			width: 400px;
			height: 200px;
			padding-top: 50px;
		}


		.soon {

			width: 120px;
			height: 40px;
			font-size: 14px;
			line-height: 40px;
			padding-right: 20px;

			@media (min-width: 600px) {
				width: 215px;
				height: 75px;
				font-size: 24px;
				line-height: 75px;
				padding-right: 40px;
			}

			@extend .md-display-2, .font-black, .light, .disable;
			background: orangered;
			color: currentColor;
			text-transform: uppercase;
			text-align: right;
		}

		.logo {
			width: auto;
			margin-left: -50px;
			margin-top: 0px;
			z-index: 2;

			@media (min-width: 600px) {
				margin-left: -100px;
			}

			.icon {
				height: 40px;
				@media (min-width: 600px) {
					height: 75px;
				}
			}

			.typo {
				width: 100px;
				@media (min-width: 600px) {
					width: 200px;
				}
			}
		}

	}

	.subscribe {

		width: 290px;


		.note {

			font-size: 14px;

			@media (min-width: 600px) {
				font-size: 18px;
			}

			@extend .md-body, .center;
			margin-top: 8px;
			padding: 0px 16px;

		}

		input {

			height: 30px;
			min-height: 30px;
			font-size: 14px;

			@media (min-width: 600px) {
				height: 50px;
				min-height: 50px;
				font-size: 20px;
			}

			background: none;
			border: none;
			padding: 0px;
			margin: 0px;
			font-weight: 900;
			color: white;
			text-align: center;

			&:focus {
				border: red;
				outline: none;
			}
		}

		button {

			height: 50px;
			min-height: 50px;
			font-size: 14px;

			@media (min-width: 600px) {
				height: 70px;
				min-height: 70px;
				font-size: 20px;
			}

			background: none !important;
			border: 1px solid white;
			font-weight: 900;
			color: white !important;
			text-transform: uppercase;
		}

	}

	md-button {
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

::-webkit-input-placeholder {

	font-size: 14px;

	@media (min-width: 600px) {
		font-size: 20px;
	}

	font-weight: 400;
	color: rgba(white, 1.0);
	opacity: 1;
	transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.main-features-block {
  width: 100vw;
  padding: 128px 8px;
  color: white;

  @media (min-width: 1920px) {
	padding: 256px 8px;
  }

  .md-display-2 {
	@extend .font-black, .center;
  }

  .md-subhead {
	@extend .secondary, .light, .center;
	margin-bottom: 32px;
  }

  md-icon {
	width: 120px;
	height: 120px;
	fill: white
  }

  .md-title {
	margin-bottom: 8px
  }

  .md-body {
	@extend .secondary, .light;
  }
  
  .info {
	max-width: 400px;
  }


}

.feedback-block {

  width: 100vw;
  padding: 128px 8px;
  color: black;
  @extend .bg-grey-300;

  @media (min-width: 1920px) {
	//padding: 256px 8px;
  }

  .md-display-2 {
	@extend .font-black;
	@extend .secondary, .dark;
  }

  .md-subhead {
	@extend .disable, .dark, .center;
	margin-bottom: 32px;
  }

  .md-body {
	@extend .secondary, .dark;
  }

  img {
	border-radius: 60px;
	width: 120px;
	height: 120px;
  }

  .md-body-2 {
	@extend .secondary, .dark;
	margin-top: 16px;
	padding: 0px;
  }

  .md-caption {
	@extend .disable, .dark;
	padding: 0px;
  }

  .info {
	max-width: 400px;
  }

}

.block-100 {
  width: 100%;
}




landing-page {
	overflow: hidden;

  	.logo {
	  width: 20vh;
	  &.big {
		@media (max-height: 600px) and (min-width: 900px){
		  display: none;
		}
	  }
	}
	h1 {
		color: rgba(white,0.84);
		text-transform: uppercase;
		font-size: 7vw;
		font-weight: 700;
		margin: 8px 0px;
		text-align: center;
	}
	h2 {
		color: rgba(white,0.84);
		text-transform: uppercase;
		font-size: 3vw;
		font-weight: 400;
		margin: 8px 0px;
		text-align: center;
	}

	button.big {
		font-size: 18px !important;
		color: white !important;
		padding: 8px 24px;
		max-width: 400px;
		margin-top: 16px;
		&.focus {
			--webkit-animation: focus 5s infinite; /* Chrome, Safari, Opera */
			-animation: focus 5s infinite;
		}
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes focus {
		0% {
			margin-top: 16px;
			animation-timing-function: ease-in;
		}
		5% {
			margin-top: 18px;
			animation-timing-function: ease-in;
		}
		10% {
			margin-top: 16px;
			animation-timing-function: ease-in;
		}
	}

	@keyframes focus {
		0% {
			margin-top: 16px;
			animation-timing-function: ease-in;
		}
		5% {
			margin-top: 24px;
			animation-timing-function: ease-in;
		}
		10% {
			margin-top: 16px;
			animation-timing-function: ease-in;
		}
	}

}
