<section flex="none"
         ng-repeat-start="item in $ctrl.data track by $index"
         ng-switch="item.calendarItemType">
    <div class="date md-body-1">
        <span translate="activity.dynamicDate" translate-values="$ctrl.getDate(item)"></span>
    </div>
    <st-activity-compact ng-switch-when="activity" class="item"
                         layout="column"
                         view="'list'"
                         data="::item"
                         disable-actions="true"
                         options="$ctrl.itemOptions">
    </st-activity-compact>
    <st-record-compact ng-switch-when="record" class="item"
                       layout="column"
                       view="'dashboard'"
                       item="::item"
                       disable-actions="true"
                       options="$ctrl.itemOptions">
    </st-record-compact>
</section>
<section ng-repeat-end class="description">
    <p class="md-caption md-dark quill quill-data" ng-bind-html="$ctrl.getDescription(item)"></p>
    <md-divider></md-divider>
</section>