.training-season-builder {

  &__left-bar {
    .date {
      margin: 0 4px 8px 4px;
    }
    .competition-list {
      padding: 16px;
    }
  }

  .state {
    position: relative;
  }
  .state.ng-animate {
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  }
  .state.ng-enter {
    left: 100%;
  }
  .state.ng-enter.ng-enter-active {
    left: 0;
  }
  .state.ng-leave {
    left: 0;
  }
  .state.ng-leave.ng-leave-active {
    left: -100%;
  }
}