<md-list class="md-dense section user-settings-agent">
    <form name="$ctrl.form">
        <md-list-item layout="row" layout-wrap class="user-settings-agent__no-before">
            <md-input-container class="no-message">
                <md-autocomplete flex="45" flex-xs="100" flex md-input-name="country" md-input-minlength="2" md-input-maxlength="18" md-no-cache="$ctrl.noCache" md-selected-item="$ctrl.datamodel.residentCountry" md-search-text="$ctrl.countrySearchText" md-items="id in $ctrl.countrySearch($ctrl.countrySearchText)" md-item-text="$ctrl.getCountryName(id)" md-floating-label="{{ 'user.settings.personalInfo.main.country' | translate }}" required class="no-message user-settings-agent__country">
                    <md-item-template>
                        <span md-highlight-text="$ctrl.countrySearchText">{{$ctrl.countriesList['ru'][id]}}</span>
                    </md-item-template>
                </md-autocomplete>
                <div ng-messages="$ctrl.form.country.$error" role="alert">
                    <div ng-message-exp="['required']" translate="form.required"></div>
                </div>
            </md-input-container>
        </md-list-item>
        <md-list-item layout="row" layout-wrap layout-align="start center">
            <md-input-container class="no-message">
                <div flex="none" class="md-caption" translate="user.settings.agent.isIndividual"></div>
                <div flex="auto" style="margin-left: 20px">
                    <md-radio-group name="isIndividual" class="md-primary" ng-model="$ctrl.datamodel.isIndividual" layout="row" layout-align="end center" required>
                        <md-radio-button ng-value="true"><span translate="user.settings.agent.individual"></span></md-radio-button>
                        <md-radio-button ng-value="false"><span translate="user.settings.agent.notIndividual"></span></md-radio-button>
                    </md-radio-group>
                </div>
                <div ng-messages="$ctrl.form.isIndividual.$error" role="alert">
                    <div ng-message-exp="['required']" translate="form.required"></div>
                </div>
            </md-input-container>
        </md-list-item>

        <div ng-if="$ctrl.datamodel.residentCountry && $ctrl.datamodel.residentCountry !== 'RU'">
            <md-list-item layout="row">
                <p translate="user.settings.agent.noResidentRUS" style="color:red; padding: 20px 0;"></p> 
            </md-list-item>
        </div>

        <div ng-if="$ctrl.datamodel.residentCountry === 'RU' && !$ctrl.datamodel.isIndividual">
            <md-list-item layout="row" layout-wrap class="user-settings-agent__no-before">
                <md-input-container class="no-message">
                    <label translate="user.settings.agent.companyName"></label>
                    <input type="text" name="companyName" ng-model="$ctrl.datamodel.companyDetails.companyName" autocomplete="off" required minlength="2" maxlength="100">
                    <div ng-messages="$ctrl.form.companyName.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                        <div ng-message-exp="['minlength', 'maxlength']" translate="form.rangeStr" translate-values="{min:2, max:100}"></div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-wrap>
                <md-input-container flex="45" flex-xs="100" class="no-message">
                    <label translate="user.settings.agent.inn"></label>
                    <input type="text" name="inn" ng-model="$ctrl.datamodel.companyDetails.companyINN" autocomplete="off" required ng-pattern="/^(([0-9]{10})|([0-9]{12}))$/">
                    <div ng-messages="$ctrl.form.inn.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                        <div ng-message-exp="['pattern']" translate="user.settings.agent.innMessage"></div>
                    </div>
                </md-input-container>
                <div flex="10" show hide-xs></div>
                <md-input-container flex="45" flex-xs="100" class="no-message">
                    <label translate="user.settings.agent.kpp"></label>
                    <input type="text" name="kpp" ng-model="$ctrl.datamodel.companyDetails.companyKPP" autocomplete="off" required ng-pattern="/^[0-9]{9}$/">
                    <div ng-messages="$ctrl.form.kpp.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                        <div ng-message-exp="['pattern']" translate="user.settings.agent.kppMessage"></div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row">
                <p translate="user.settings.agent.noIndividualRUS" style="color:red; padding: 20px 0;"></p> 
            </md-list-item>
        </div>

        <div ng-if="$ctrl.datamodel.residentCountry === 'RU' && $ctrl.datamodel.isIndividual">
            <md-list-item layout="row" layout-wrap>
                <md-input-container flex="45" flex-xs="100" class="no-message">
                    <label translate="user.settings.personalInfo.main.firstName"></label>
                    <input type="text" name="firstName" ng-model="$ctrl.ownerDatamodel.firstName" required autocomplete="off" autofocus ng-disabled="false" minlength="2" maxlength="100">
                    <div ng-messages="$ctrl.form.firstName.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                        <div ng-message-exp="['minlength', 'maxlength']" translate="form.rangeStr" translate-values="{min:2, max:100}"></div>
                    </div>
                </md-input-container>
                <div flex="10" show hide-xs></div>
                <md-input-container flex="45" flex-xs="100" class="no-message">
                    <label translate="user.settings.personalInfo.main.lastName"></label>
                    <input type="text" name="lastName" ng-model="$ctrl.ownerDatamodel.lastName" autocomplete="off" ng-disabled="false" required minlength="2" maxlength="100">
                    <div ng-messages="$ctrl.form.lastName.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                        <div ng-message-exp="['minlength', 'maxlength']" translate="form.rangeStr" translate-values="{min:2, max:100}"></div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-wrap>
                <md-input-container flex="45" flex-xs="100" class="no-message">
                    <label translate="user.settings.agent.email"></label>
                    <input type="text" name="email" ng-model="$ctrl.ownerDatamodel.email" autocomplete="off" disabled="true">
                </md-input-container>
                <div flex="10" show hide-xs></div>
                <md-input-container flex="45" flex-xs="100" class="no-message">
                    <label translate="user.settings.personalInfo.contacts.phone"></label>
                    <input type="text" name="phone" ng-model="$ctrl.ownerDatamodel.phone" autocomplete="off" required>
                    <div ng-messages="$ctrl.form.phone.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row">
                <md-input-container flex="45" flex-xs="100" class="no-message">
                    <label translate="user.settings.agent.agree" class="user-settings-agent__agree-label"></label>
                    <md-checkbox class="md-body-1 md-primary" name="agree" ng-model="$ctrl.datamodel.agrApproved" required></md-checkbox>
                    <div ng-messages="$ctrl.form.agree.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                    </div>
                </md-input-container>
            </md-list-item>
        </div>
    </form>
</md-list>
<div class="user-settings__fab">
    <md-button class="md-fab md-accent md-hue-2"
               ng-disabled="!$ctrl.canSubmit()" ng-class="{'md-warn': !$ctrl.form.$valid}" ng-click="$ctrl.submit()">
        <md-icon class="material-icons">save</md-icon>
    </md-button>
</div>