.user-settings-agent {
  &__no-before::before {
    min-height: 0 !important;
  }

  &__agree-label {
    margin-left: 30px;
    white-space: normal;
  }

  &__country input {
  	color: rgba(0, 0, 0, 0.87) !important;
  }
}