<!-- Панель для Тренировки -->
<md-dialog-actions ng-if="!($ctrl.item.activity.view.isTrainingPlan || $ctrl.item.activity.view.isTemplate)"
                   flex="none" layout="row" style="background: white">
    <span flex></span>
    <md-button ng-if="$ctrl.item.activity.view.isView && $ctrl.item.activity.isSpecified && !$ctrl.item.isIonic"
               ng-click="$ctrl.item.toTemplate($event)"
               translate="activity.action.toTemplate">
    </md-button>
    <md-button ng-if="$ctrl.item.activity.view.isView"
               ng-click="$ctrl.item.activity.view.isPut = true; $ctrl.item.onUpdate({activity: $ctrl.item.activity})"
               translate="activity.action.edit">
    </md-button>
    <md-button ng-if="!$ctrl.item.activity.view.isView && !$ctrl.item.isIonic"
               ng-click="$ctrl.item.onReset()"
               translate="activity.action.reset">
    </md-button>
    <md-button ng-if="!$ctrl.item.activity.view.isView"
               type="submit"
               ng-disabled="!$ctrl.isFormValid || $ctrl.item.inAction"
               ng-class="{'md-warn': !$ctrl.isFormValid}"
               ng-click="$ctrl.onSave()" translate="activity.action.save">
    </md-button>
</md-dialog-actions>
<!-- Панель для Шаблона тренировки -->
<md-dialog-actions ng-if="$ctrl.item.activity.view.isTemplate"
                   flex="none" layout="row" style="background: white">
    <span flex></span>
    <md-button ng-if="$ctrl.item.activity.view.isView"
               translate="activity.action.close"
               ng-click="$ctrl.item.onCancel()">
    </md-button>
    <md-button ng-if="!$ctrl.item.activity.view.isView"
               type="submit"
               ng-disabled="!$ctrl.item.assignmentForm.$valid"
               translate="activity.action.save"
               ng-click="$ctrl.item.onSaveTemplate()">
    </md-button>
</md-dialog-actions>
<!-- Панель для Тренировки в Долгосрочном плане -->
<md-dialog-actions ng-if="$ctrl.item.activity.view.isTrainingPlan"
                   flex="none" layout="row" style="background: white">
    <span flex></span>
    <md-button ng-if="!$ctrl.item.activity.view.isView"
               type="submit"
               ng-disabled="!$ctrl.item.assignmentForm.$dirty || !$ctrl.item.assignmentForm.$valid"
               translate="activity.action.save"
               ng-click="$ctrl.item.onSaveTrainingPlanActivity()">
    </md-button>
</md-dialog-actions>