// TODO Убрать и назвать как в Material Design (primary, secondary, disable)
/* % для насыщенности цвета ручных шрифтов и иконок*/
$contrast-white-low:     0.54;
$contrast-white-medium:  0.87;
$contrast-white-high:    1.00;

$contrast-black-low:     0.34;
$contrast-black-medium:  0.70;
$contrast-black-high:    1.00;

// Палитра Blue-Grey Google Material
$blue-grey-050: #ECEFF1;
$blue-grey-100: #CFD8DC;
$blue-grey-200: #B0BEC5;
$blue-grey-300: #90A4AE;
$blue-grey-400: #78909C;
$blue-grey-500: #607D8B;
$blue-grey-600: #546E7A;
$blue-grey-700: #455A64;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;

// Палитра Grey Google Material
$grey-050: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// Палитра Teal Google Material
$teal-500: #009688;
$teal-600: #00796B;
$teal-700: #00796B;
$teal-800: #00695C;
$teal-900: #004D40;

// Палитра Orange Google Material
$orange-300: #FFB74D;
$orange-500: #FF9800;
$orange-600: #F57C00;
$orange-700: #F57C00;
$orange-800: #EF6C00;
$orange-900: #E65100;

// Палитра Deep-Orange Google Material
$deep-orange-300: #FF8A65;
$deep-orange-500: #FF5722;
$deep-orange-600: #E64A19;
$deep-orange-700: #E64A19;
$deep-orange-800: #D84315;
$deep-orange-900: #BF360C;

// Палитра Red Google Material
$red-500: #F44336;
$red-600: #F44336;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;

// Indigo
$indigo-300: #7986CB;
$indigo-500: #3F51B5;
$indigo-600: #3949AB;
$indigo-700: #303F9F;
$indigo-800: #283593;
$indigo-900: #1A237E;

//TODO В дальнейшем убрать данный блок и использовать только абсолютные названия палитры
/* Цвета палитры material design */
$primary-default: 		$blue-grey-500;
$primary-hue-1: 		$blue-grey-050;
$primary-hue-2: 		$blue-grey-600;
$primary-hue-3: 		$blue-grey-800;

$primary-100:           $blue-grey-100;
$primary-300:           $blue-grey-300;
$primary-900:			$blue-grey-900;

$accent-300:            $orange-300;
$accent-900:            $orange-900;

$error-color:			$red-500;
$error-color-hover:		$red-800;
$warning-color:			$orange-500;
$warning-color-hover:	$orange-900;
$success-color:			$teal-700;
$success-color-hover:	$teal-900;

// Виды спорта
$activity-color-run: #3F51B5;
$activity-color-bike: #673AB7;
$activity-color-swim: #03A9F4;
$activity-color-rowing: #E91E63;
$activity-color-strength: #795548;
$activity-color-triathlon: #00796B;
$activity-color-ski: #455A64;
$activity-color-other: #757575;
$activity-color-brick: #F4511E;
$competition-color: #E91E63;

// Градиенты для фона CalendarItems
$bg-teal-gradient-800-500: linear-gradient(to bottom, $teal-800, rgba($teal-500, 1));
$bg-teal-gradient-900-800: linear-gradient(to bottom, $teal-900, rgba($teal-800, 1));
$bg-orange-gradient-800-500: linear-gradient(to bottom, $orange-800, rgba($orange-500, 1));
$bg-orange-gradient-900-800: linear-gradient(to bottom, $orange-900, rgba($orange-800, 1));
$bg-red-gradient-800-500: linear-gradient(to bottom, $red-800, rgba($red-500, 1));
$bg-red-gradient-900-800: linear-gradient(to bottom, $red-900, rgba($red-800, 1));
$bg-grey-gradient-400-300: linear-gradient(to bottom, $grey-400, rgba($grey-300, 1));
$bg-grey-gradient-500-400: linear-gradient(to bottom, $grey-500, rgba($grey-400, 1));
$bg-blue-grey-gradient-600-400: linear-gradient(to bottom, $blue-grey-600, rgba($blue-grey-400, 1));
$bg-blue-grey-gradient-800-500: linear-gradient(to bottom, $blue-grey-800, rgba($blue-grey-500, 1));

.bg-orange {
	&-600 {
		background-color: $orange-600;
	}
}

// Темно-оранжевый, акцент
.bg-deep-orange {
  &-500 {
	background-color: $deep-orange-500;
  }
	&-600 {
		background-color: $deep-orange-600;
	}
	&-700 {
		background-color: $deep-orange-700;
	}
}

// Серо-голубой, основной цвет
.bg-blue-grey {
	&-050 {
		background-color: $grey-050;
	}
  	&-100 {
		background-color: $blue-grey-100;
  	}
	&-200 {
		background-color: $blue-grey-200;
	}
  	&-300 {
		background-color: $blue-grey-300;
  	}
	&-400 {
		background-color: $blue-grey-400;
	}
	&-500 {
		background-color: $blue-grey-500;
	}
	&-600 {
		background-color: $blue-grey-600;
	}
	&-700 {
		background-color: $blue-grey-700;
	}
	&-800 {
		background-color: $blue-grey-800;
	}
	&-900 {
		background-color: $blue-grey-900;
	}
  	&-A700 {
	  	background-color: $blue-grey-800;
	  	color: white;
  	}
	&-gradient-600-400 {
		background-image: linear-gradient(to bottom, $blue-grey-600, rgba($blue-grey-400, 1));
	}
	&-gradient-800-500 {
		background-image: linear-gradient(to bottom, $blue-grey-800, rgba($blue-grey-500, 1));
	}
	&-gradient-900-800 {
		background-image: linear-gradient(to bottom, $blue-grey-900, rgba($blue-grey-800, 1));
	}
}

// Серый, цвето фона
.bg-grey {
	&-050 {
		background-color: $grey-050 !important;
	}
	&-100 {
		background-color: $grey-100 !important;
	}
	&-200 {
		background-color: $grey-200 !important;
	}
	&-300 {
		background-color: $grey-300 !important;
	}
	&-400 {
		background-color: $grey-400 !important;
	}
	&-500 {
		background-color: $grey-500 !important;
	}
	&-600 {
		background-color: $grey-600 !important;
	}
	&-700 {
		background-color: $grey-700 !important;
	}
	&-800 {
		background-color: $grey-800 !important;
	}
	&-gradient-500-300 {
		background-image: linear-gradient(to bottom, $grey-500, rgba($grey-300, 0.5));
	}
	&-gradient-700-500 {
		background-image: linear-gradient(to bottom, $grey-700, rgba($grey-500, 0.5));
	}
}
// Зеленый
.bg-teal{
	&-500 {
		background-color: $teal-500;
	}
	&-600 {
		background-color: $teal-600;
	}
	&-700 {
		background-color: $teal-700;
	}
	&-800 {
		background-color: $teal-800;
	}
	&-900 {
		background-color: $teal-900;
	}
	&-gradient-800-500 {
		background-image: linear-gradient(to bottom, $teal-800, rgba($teal-500, 1));
	}
	&-gradient-900-800 {
		background-image: linear-gradient(to bottom, $teal-900, rgba($teal-800, 1));
	}
}

// Оранжевый
.bg-orange{
	&-500 {
		background-color: $orange-500;
	}
	&-600 {
		background-color: $orange-600;
	}
	&-700 {
		background-color: $orange-700;
	}
	&-800 {
		background-color: $orange-800;
	}
	&-900 {
		background-color: $orange-900;
	}
	&-gradient-800-500 {
		background-image: linear-gradient(to bottom, $orange-800, rgba($orange-500, 1));
	}
	&-gradient-900-800 {
		background-image: linear-gradient(to bottom, $orange-900, rgba($orange-800, 1));
	}
}


// Красный, используется как цвет для WARN
.bg-red {
	&-500 {
		background-color: $red-500;
	}
	&-600 {
		background-color: $red-600;
	}
	&-700 {
		background-color: $red-700;
	}
	&-800 {
		background-color: $red-800;
	}
	&-900 {
		background-color: $red-900;
	}
	&-gradient-800-500 {
		background-image: linear-gradient(to bottom, $red-800, rgba($red-500, 1));
	}
	&-gradient-900-800 {
		background-image: linear-gradient(to bottom, $red-900, rgba($red-800, 1));
	}
}