/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/assets/fonts/ty9dfvLAziwdqQ2dHoyjphTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/assets/fonts/frNV30OaYdlFRtH2VnZZdhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/assets/fonts/e7MeVAyvogMqFwwl61PKhBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/assets/fonts/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/assets/fonts/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/assets/fonts/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/assets/fonts/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/assets/fonts/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/assets/fonts/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/assets/fonts/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/assets/fonts/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/assets/fonts/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(/assets/fonts/s7gftie1JANC-QmDJvMWZhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(/assets/fonts/3Y_xCyt7TNunMGg0Et2pnhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(/assets/fonts/9_7S_tWeGDh5Pq3u05RVkhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(/assets/fonts/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Общий набор стилей шритфа для сервиса.
 * Шрифт сервиса - Roboto, подключен на странице index.html
 * href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,900&subset=latin,cyrillic'
 *
 * Набор собственных стилей шрифта должен быть основан на библиотеке Angular Material,
 * которая включает следующие стили header:
 * class:			weight:		size:		line:
 * .md-display-4	light		112px
 * .md-display-3	regular		56px
 * .md-display-2	regular		45px
 * .md-display-1	regular		34px
 * .md-headline		regular		24px		32px
 * .md-title		medium		20px		28px
 * .md-subhead		regular		16px		24px
 *
 * и body стили:
 * .md-body-1		regular		14px		20px
 * .md-body-2		medium		14px		24px
 * .md-button		medium		14px		16px
 * .md-caption		regular		12px		16px
 *
 * Цветовая схема шрифта,
 * для темного фона:
 * Primary			#FFFFFF		100%
 * Secondary		#FFFFFF		70%
 * Disable			#FFFFFF		50%
 *
 * для светлого фона:
 * Primary			#FFFFFF		87%
 * Secondary		#FFFFFF		54%
 * Disable			#FFFFFF		38%
 *
 * Добавление новых стилей, должно быть основано на концепции https://material.google.com/style/typography.html
 * */

// текст по центру
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

.dark {
	color: black;
	&-primary {

	}
	&-secondary {

	}
	&-disable {

	}
}

// Прозрачность по Material Design
.secondary {
	&.light {
		color: rgba(white, 0.70);
	}
	&.dark {
		color: rgba(black, 0.54);
	}
}
.disable {
	&.light {
		color: rgba(white, 0.50);
	}
	&.dark {
		color: rgba(black, 0.38);
	}
}

.md-dark {  color: rgba(0, 0, 0, 0.54) !important;  }
.md-dark.md-inactive {  color: rgba(0, 0, 0, 0.26) !important;  }
.md-light {  color: rgba(255, 255, 255, 1) !important;  }
.md-light.md-inactive { color: rgba(255, 255, 255, 0.3) !important;}


// Узкий текст
.tight-02 {
	letter-spacing: -0.2px;
}

.tight-07 {
	letter-spacing: -0.7px;
}

// Сильно узкий текст
.tight-10 {
	letter-spacing: -1.0px;
}

// Узкий параграф
.line-12 {
	line-height: 12px;
}
.line-14 {
	line-height: 14px;
}
.line-18 {
	line-height: 18px;
}

// Font styles

.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: bold;
}

.font-black {
	font-weight: 900;
}

.font-italic {
	font-style: italic;
}

.font-12 {
	font-size: 12px;
}

.font-13 {
	font-size: 13px;
}

.text-crossed-out {
	text-decoration: line-through;
}

.text-accent {
	color: rgb(221,44,0);
}

// Уменьшенная версия .md-title для вложенных элементов экрана
.md-title {
	&-small {
		font-size: 16px;
		line-height: 20px;
	}
}

// Стили текста для скрытых больших текстов
.read-more-dots {
	color: darkgrey;
}

.read-more-links {
	color: darkgrey;
}

// Текст подсказок
.hint {
	/* Copy styles from ng-messages */
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	margin: 8px 0px;
	transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	/* Set our own color */
	a {
		text-decoration: none;
		font-weight: 500;

		&:hover {
			color: rgba($accent-900,0.8);
		}
	}
}

.md-subheader .md-subheader-inner {
	color: $blue-grey-700;
}