// размеры иконок
md-icon.s16 {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
}
md-icon.s18 {
	width: 18px;
	height: 18px;
	min-width: 18px;
	min-height: 18px;
}
md-icon.s20 {
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
}
md-icon.s36 {
	width: 36px;
	height: 36px;
	min-width: 36px;
	min-height: 36px;
}

// цветовая схема иконок
md-icon {
	&.light-active svg {
		fill: rgba(white, 1.00);
	}
	&.light-inactive svg {
		fill: rgba(white, 0.30);
	}
	&.dark-active svg {
		fill: rgba(black, 0.54);
	}
	&.dark-inactive svg {
		fill: rgba(black, 0.26);
	}
}

// TODO Старые стили для иконок, нужно обновить везде по тексту на новые
md-icon {
	&.white {
		svg {
			fill: rgba(white,1);
		}
	}
	&.black {
		svg {
			fill: rgba(black,0.54);
		}
	}
	&.accent {
		svg {
			fill: rgba(#FF6F00,1);
		}
	}
}

// TODO старые стили для иконок
md-icon {
	&.fill-black-medium {
		svg {
			fill: rgba(black, $contrast-black-medium);
		}
	}
	&.fill-white-medium {
		svg {
			fill: rgba(white, $contrast-white-medium);
		}
	}
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54) !important; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26) !important; }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1) !important; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3) !important; }
