/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


// размеры иконок
md-icon.s14, img.s14 {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
}

md-icon.s16, img.s16 {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	font-size: 18px;
}
md-icon.s18, md-icon.md-18, img.s18 {
	width: 18px;
	height: 18px;
	min-width: 18px;
	min-height: 18px;
	font-size: 18px;
}
md-icon.s20, img.s20 {
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
}
md-icon.s24, img.s24 {
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
}
md-icon.s32, img.s32 {
	width: 32px;
	height: 32px;
	min-width: 32px;
	min-height: 32px;
}
md-icon.s36, img.s36 {
	width: 36px;
	height: 36px;
	min-width: 36px;
	min-height: 36px;
}
md-icon.s40, img.s40 {
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
}
md-icon.s64, img.s64 {
	width: 64px;
	height: 64px;
	min-width: 64px;
	min-height: 64px;
}
md-icon.s96, img.s96 {
  width: 96px;
  height: 96px;
  min-width: 96px;
  min-height: 96px;
}

// цветовая схема иконок
md-icon {
	&.light-active svg {
		fill: rgba(white, 1.00);
	}
	&.light-inactive svg {
		fill: rgba(white, 0.30);
	}
	&.dark-active svg {
		fill: rgba(black, 0.54);
	}
	&.dark-inactive svg {
		fill: rgba(black, 0.26);
	}
}

// TODO Старые стили для иконок, нужно обновить везде по тексту на новые
md-icon {
	&.white {
		svg {
			fill: rgba(white,1);
		}
	}
	&.black {
		svg {
			fill: rgba(black,0.54);
		}
	}
	&.accent {
		svg {
			fill: rgba(#FF6F00,1);
		}
	}
}

// TODO старые стили для иконок
md-icon {
	&.fill-black-medium {
		svg {
			fill: rgba(black, $contrast-black-medium);
		}
	}
	&.fill-white-medium {
		svg {
			fill: rgba(white, $contrast-white-medium);
		}
	}
}

md-icon {
	&.fill-measure.heartRate {
		svg {
			fill: #E91E63 !important;
		}
	}
	&.fill-measure.power {
		svg {
			fill: #9C27B0 !important;
		}
	}
	&.fill-measure.speed {
		svg {
			fill: #2196F3 !important;
		}
	}
	&.fill-measure.cadence, &.fill-measure.strokes {
		svg {
			fill: #FFB74D !important;
		}
	}
	&.fill-measure.distance, &.fill-measure.duration, &.fill-measure.movingDuration {
		svg {
			fill: rgba(0, 0, 0, 0.90) !important;
		}
	}
	&.md-dark {
		svg {
			fill: rgba(0, 0, 0, 0.54);
		}
	}
	&.md-dark.md-unfocused {
		svg {
			fill: rgba(0, 0, 0, 0.54);
		}
	}
	&.md-dark.md-inactive {
		svg {
			fill: rgba(0, 0, 0, 0.38);
		}
	}
	&.md-light {
		svg {
			fill: rgba(255, 255, 255, 1);
		}
	}
	&.md-light.md-unfocused {
		svg {
			fill: rgba(255, 255, 255, 0.70);
		}
	}
	&.md-light.md-inactive {
		svg {
			fill: rgba(255, 255, 255, 0.50);
		}
	}
}

/**@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/MaterialIcons-Regular.eot');
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
	url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
	url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}**/

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}



/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; height: 32px; width: 32px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.70); }
.material-icons.md-dark.md-active { color: rgba(0, 0, 0, 1); }
.material-icons.md-dark.md-unfocused { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.38); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1) !important; }
.material-icons.md-light.md-unfocused { color: rgba(255, 255, 255, 0.70) !important; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.50) !important; }
