.hover-bg-grey-200:hover {
	background: $grey-200;
}

.hover-bg-blue-grey-200:hover {
	background: $blue-grey-200;
}

.hover-bg-grey-100:hover {
	background: $grey-100;
}

.hover-bg-blue-grey-100:hover {
	background: $blue-grey-100;
}

.cursor-pointer {
	cursor: pointer;
}
