@import "color";

// https://github.com/angular/material/issues/1967
.md-dialog-container {
    position: fixed;
    top: 0 !important;
    overflow: hidden;
}

.md-dialog-is-showing {
    width: 100%;
    //position: fixed;
    top: 0 !important;
    overflow: hidden;
}

//
.md-button.md-default-theme.md-accent {
    color: white;
}

//
md-toolbar.md-default {
  background-color: white !important;
  color: rgba(black, 0.80) !important;
  md-icon {
    fill: rgba(black, 0.80) !important;
    color: rgba(black, 0.80) !important;
  }
}

//
.md-subheader {
  background: $grey-050;
}

//
md-sidenav.st-fixed {
  position: fixed;
}

//
md-toast.md-center {
  position: fixed !important;
  bottom: 0;
  left: 50%;
}

md-toast.md-left, md-toast.md-bottom {
  position: fixed !important;
  bottom: 0;
}

md-toast.md-warn .md-toast-text {  color: $red-500;  }