@import "color";

.input-item-line {
  md-icon {
    margin-right: 16px;
    margin-top: 13px;
  }
}

md-input-container.st-material {
  &.md-icon-float > md-icon {
    top: 40px;
    left: 12px;
  }
  &.md-icon-float > input, .md-select-value {
    padding: 20px 12px 8px 48px;
  }
  &.md-icon-left {
    padding-left: 0;
    label {
      left: 48px;
    }
  }
  input, .md-select-value {
    padding: 20px 12px 8px 12px;
    line-height: 20px;
    background-color: $grey-300;
    height: 56px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
  }

  label {
    left: 14px;
    bottom: 60px;
    padding-left: 0 !important;
    -webkit-transform: translate3d(0,20px,0) scale(1) !important;
    transform: translate3d(0,20px,0) scale(1) !important;
  }

  &.md-input-focused label:not(.md-no-float),
  &.md-input-has-placeholder label:not(.md-no-float),
  &.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,6px,0) scale(.75) !important;
    transform: translate3d(0,6px,0) scale(.75) !important;
  }

  &.md-dense {
    &.md-icon-float > md-icon {
      top: 32px;
    }
    label {
      font-size: 13px;
      -webkit-transform: translate3d(0,22px,0) scale(1) !important;
      transform: translate3d(0,22px,0) scale(1) !important;
    }
    input, .md-select-value {
      font-size: 13px;
      padding-bottom: 6px;
      height: 42px;
      line-height: 14px;
    }

    &.md-input-focused label:not(.md-no-float),
    &.md-input-has-placeholder label:not(.md-no-float),
    &.md-input-has-value label:not(.md-no-float) {
      -webkit-transform: translate3d(0,16px,0) scale(.6) !important;
      transform: translate3d(0,16px,0) scale(.6) !important;
    }

  }

  .md-input-message-animation:not(.md-char-counter),
  .md-char-counter:not(.md-char-counter),
  .hint {
    padding-left: 12px !important;
    padding-top: 5px !important;
  }

  .hint {
    position: relative;
    clear: left;
    font-size: 12px !important;
    line-height: 14px !important;
    overflow: hidden;
    margin: 0 !important;
  }

}