@import "color";
$input-color: $grey-200;
$input-radius: 4px;

.input-item-line {
  padding: 6px 0;
  @media (min-width: 1025px) and (max-height: 700px) {  padding: 4px 0; }
  md-icon {  margin-right: 16px;  margin-top: 13px;  }
  .wrapper-icon {  width: 32px;  }
  .wrapper-between {  width: 8px;  }
  md-input-container.st-material {  margin: 0;  padding: 0; }
  @media (min-width: 350px) {
    md-icon {  margin-right: 16px;  margin-top: 13px;  }
    .wrapper-icon {  width: 40px;  }
    .wrapper-between {  width: 16px;  }
  }
  ng-quill-editor {
    background: $input-color;
    border-radius: $input-radius 0;
    border-bottom: 1px;
    border-color: rgba(0,0,0,0.12);
  }
}

md-input-container.st-material {
  height: 64px;
  overflow: hidden !important;
  &.md-icon-float > md-icon {
    top: 40px;
    left: 12px;
  }
  &.md-icon-float > input, .md-select-value {
    padding: 20px 12px 8px 48px;
  }
  &.md-icon-left {
    padding-left: 0;
    label {
      left: 48px;
    }
  }
  input, .md-select-value {
    width: 100%;
    //font-weight: 500;
    padding: 20px 12px 8px 12px;
    line-height: 20px;
    background-color: $input-color;
    height: 56px;
    border-radius: $input-radius 0;
    box-sizing: border-box;
    min-width: initial !important;
    max-width: initial !important;
  }
  .md-datepicker-input-container {  width: 100%; }
  .md-datepicker-triangle-button { transform: none !important; margin-right: 4px; }
  .md-input-message-animation { transition: none !important; font-size: 10px !important; }

  label {
    left: 12px;
    bottom: 50px;
    padding-left: 0 !important;
    -webkit-transform: translate3d(0,20px,0) scale(1) !important;
    transform: translate3d(0,20px,0) scale(1) !important;
  }

  &.st-input-has-value label.st-has-value,
  &.md-input-focused label:not(.md-no-float),
  &.md-input-has-placeholder label:not(.md-no-float),
  &.md-input-has-value label:not(.md-no-float, .st-has-value) {
    -webkit-transform: translate3d(0,6px,0) scale(.75) !important;
    transform: translate3d(0,6px,0) scale(.75) !important;
  }

  &.md-dense {
    &.md-icon-float > md-icon {
      top: 32px;
    }
    label {
      font-size: 13px;
      -webkit-transform: translate3d(0,22px,0) scale(1) !important;
      transform: translate3d(0,22px,0) scale(1) !important;
      color: rgba(0,0,0,0.38);
    }
    input, .md-select-value {
      font-size: 13px;
      padding-bottom: 6px;
      height: 42px;
      line-height: 14px;
    }

    &.st-input-has-value label.st-has-value,
    &.md-input-focused label:not(.md-no-float),
    &.md-input-has-placeholder label:not(.md-no-float),
    &.md-input-has-value label:not(.md-no-float, .st-has-value) {
      -webkit-transform: translate3d(0,8px,0) scale(.75) !important;
      transform: translate3d(0,8px,0) scale(.75) !important;
    }
  }

  .md-input-message-animation:not(.md-char-counter),
  .md-char-counter:not(.md-char-counter),
  .hint {
    padding-left: 12px !important;
    padding-top: 5px !important;
  }

  .hint {
    position: relative;
    clear: left;
    font-size: 10px !important;
    line-height: 14px !important;
    overflow: hidden;
    margin: 0 !important;
  }
  &.no-message {
    height: 42px;
    label {bottom: 28px !important;}
  }

}