@import "../../../../sass/color";

.activity-peaks {
  .md-subheader {
    font-size: 12px;
  }
  md-list-item.peaks {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: row wrap;
    &:before {
      display: none;
    }
    .peak {
      margin: 4px;
      flex: 0 1 calc(33% - 8px);
    }
    button {
      width: 100%;
      line-height: normal;
      font-size: 13px;
      margin: 2px 0px;
      min-height: 28px;
      text-align: left;
      min-width: unset;
      background: $grey-200;
      text-transform: none;
      font-weight: normal;
    }
    button span:last-child {
      text-transform: none;
      color: rgba(0,0,0,0.34);
    }
  }
  md-divider {
    margin: 4px 16px;
  }
}