@import "../../../../sass/color";

.activity-peaks {
  .md-subheader {
    font-size: 12px;
  }
  md-list-item.peaks {
    .peak {
      width: 100%;
    }
    button {
      width: 100%;
      line-height: normal;
      font-size: 13px;
      margin: 2px 0px;
      min-height: 28px;
      text-align: left;
      min-width: unset;
      background: $grey-200;
      text-transform: none;
      font-weight: normal;
    }

    button span:last-child {
      text-transform: none;
      color: rgba(0,0,0,0.34);
    }
  }
  md-list-item.peaks {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    grid-column-gap: 4px;

    &:before {
      display: none;
    }

  }
  md-divider {
    margin: 4px 16px;
  }
}