<md-bottom-sheet class="md-list md-has-header">
  <md-list ng-cloak>

    <md-list-item>
      <md-button ng-click="$ctrl.coaches()" class="md-list-item-content">
        <i class="material-icons">supervisor_account</i>
        <span class="md-inline-list-icon-label">Тренер</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.subscriptions()" class="md-list-item-content">
        <i class="material-icons">share</i>
        <span class="md-inline-list-icon-label">Тариф</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.roles()" class="md-list-item-content">
        <i class="material-icons">select_all</i> 
        <span class="md-inline-list-icon-label">Роль</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.remove()" class="md-list-item-content">
        <i class="material-icons">delete</i> 
        <span class="md-inline-list-icon-label">Удалить</span>
      </md-button>
    </md-list-item>
    
  </md-list>
</md-bottom-sheet>