<section class="user-settings__card">
    <article ng-if="$ctrl.isOwnSettings()" id="user-settings-profile">
        <h2 class="md-body-2 md-dark" translate>user.settings.profile.header</h2>
        <md-card class="user-settings-main__card">
            <st-user-settings-header owner="$ctrl.owner"></st-user-settings-header>
            <md-divider></md-divider>
            <md-list-item ui-sref="user-settings.profile({userId: $ctrl.owner.userId})">
                <p class="md-body-1">{{ ($ctrl.owner | userSettingsProfileFilter) || ('user.settings.personalInfo.hint' | translate) }}</p>
                <md-icon class="material-icon md-secondary">keyboard_arrow_right
                </md-icon>
            </md-list-item>
        </md-card>
        <md-card class="user-settings-main__card">
            <md-list>
                <md-list-item ui-sref="user-settings.coach({userId: $ctrl.owner.userId})">
                    <p class="md-body-1" translate>user.settings.coach.hint</p>
                    <md-icon class="material-icon md-secondary">keyboard_arrow_right
                    </md-icon>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card class="user-settings-main__card">
            <md-list>
                <md-list-item ng-click="$ctrl.showPasswordChange($event)">
                    <p>{{ 'user.settings.account.hint' | translate }}: {{$ctrl.owner.personal.extEmail}} #{{$ctrl.owner.userId}}</p>
                    <md-button class="md-secondary" ng-click="$ctrl.showChangePassword($event)" translate="user.settings.account.newPassword"></md-button>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card class="user-settings-main__card">
            <md-list>
                <md-list-item ui-sref="user-settings.privacy({userId: $ctrl.owner.userId})">
                    <p class="md-body-1" translate>user.settings.privacy.hint</p>
                    <md-icon class="material-icon md-secondary">keyboard_arrow_right</md-icon>
                </md-list-item>
            </md-list>
        </md-card>
    </article>
    <article id="user-settings-fit">
        <h2 ng-if="$ctrl.isOwnSettings()" class="md-body-2 md-dark" translate>user.settings.sportShape.header</h2>
        <md-card class="user-settings-main__card">
            <md-list>
                <md-list-item ui-sref="user-settings.fit({userId: $ctrl.owner.userId})">
                    <p class="md-body-1" translate>user.settings.sportShape.header</p>
                    <md-icon class="material-icon md-secondary">keyboard_arrow_right</md-icon>
                </md-list-item>
            </md-list>
        </md-card>
        <md-card class="user-settings-main__card">
            <md-list>
                <md-list-item ui-sref="user-settings.zones({userId: $ctrl.owner.userId})">
                    <p class="md-body-1" translate>user.settings.zones.hint</p>
                    <md-icon class="material-icon md-secondary">keyboard_arrow_right</md-icon>
                </md-list-item>
            </md-list>
        </md-card>
    </article>
    <article ng-if="$ctrl.isOwnSettings()" id="user-settings-billing">
        <h2 class="md-body-2 md-dark" translate>user.settings.billing.header</h2>
        <md-card class="user-settings-main__card">
            <st-user-settings-tariffs owner="$ctrl.owner"></st-user-settings-tariffs>
            <st-user-settings-bills owner="$ctrl.owner"></st-user-settings-bills>
        </md-card>
    </article>
    <article ng-if="$ctrl.isOwnSettings()" id="user-settings-display">
        <h2 class="md-body-2 md-dark" translate>user.settings.display.header</h2>
        <md-card class="user-settings-main__card">
            <st-user-settings-display owner="$ctrl.owner" currentUser="$ctrl.currentUser"></st-user-settings-display>
        </md-card>
    </article>
    <article ng-if="$ctrl.isOwnSettings()" id="user-settings-sync">
        <h2 class="md-body-2 md-dark" translate>user.settings.sync.header</h2>
        <md-card class="user-settings-main__card">
            <st-user-settings-sync owner="$ctrl.owner"></st-user-settings-sync>
        </md-card>
    </article>
    <article ng-if="$ctrl.isOwnSettings()" id="user-settings-calendars">
        <h2 class="md-body-2 md-dark" translate>user.settings.calendar.header</h2>
        <md-card class="user-settings-main__card">
            <st-user-settings-calendars owner="$ctrl.owner"></st-user-settings-calendars>
        </md-card>
    </article>
    <article ng-if="$ctrl.isOwnSettings()" id="user-settings-notifications">
        <h2 class="md-body-2 md-dark" translate>user.settings.notification.header</h2>
        <md-card class="user-settings-main__card">
            <md-list>
                <md-list-item ui-sref="user-settings.notifications({userId: $ctrl.owner.userId})">
                    <p class="md-body-1" translate>user.settings.notification.header</p>
                    <md-icon class="material-icon md-secondary">keyboard_arrow_right</md-icon>
                </md-list-item>
            </md-list>
        </md-card>
    </article>
</section>