<md-list class="md-dense section">
    <md-subheader>{{ 'settings.billing.invoices' | translate }}</md-subheader>
    <md-list-item 
        class="md-2-line" 
        ng-repeat-start="bill in $ctrl.owner.billing.bills"
        ng-click="$ctrl.viewBill(bill)"
        ng-switch="$ctrl.invoiceStatus(bill)"
    >
        <md-icon  class="material-icons">payment</md-icon>
        <div class="md-list-item-text">
            <h3> {{ 'settings.billing.invoiceAmount' | translate }} {{ bill.totalAmount | currency:bill.currency }}</h3>
            <p> {{ 'settings.billing.period' | translate }} {{ bill.startPeriod | date: shortDate}} - {{ bill.endPeriod | date: shortDate}}</p>
        </div>
        <div class="md-secondary" ng-switch-when="new">
            <md-button>{{ 'settings.billing.invoiceStatuses.new' | translate }}</md-button>
        </div>
        <div class="md-secondary" ng-switch-when="ready">
            <md-button class="md-accent" ng-click="$ctrl.viewBill(bill)">{{ 'settings.billing.invoiceStatuses.ready' | translate }} {{ bill.totalAmount | currency:bill.currency }}</md-button>
        </div>
        <div class="md-secondary" ng-switch-when="complete">
            <md-button ng-click="$ctrl.viewBill(bill)">{{ 'settings.billing.invoiceStatuses.complete' | translate }}</md-button>
        </div>
    </md-list-item>
    <md-divider ng-repeat-end ng-if="!$last"></md-divider>
</md-list>