<section class="training-plan__loading" layout="column" layout-align="center center" ng-if="!$ctrl.dataLoading">
    <md-progress-circular flex="none" class="md-primary" md-diameter="20"></md-progress-circular>
    <p flex="none" class="md-body-1 md-dark" translate="trainingPlans.loading"></p>
</section>
<section class="training-plan__data" ng-if="$ctrl.dataLoading"
         layout="column" layout-align="start center">
    <md-toolbar id="toolbar" class="background" flex="none">
        <div class="md-toolbar-tools">
            <md-button class="menu md-icon-button md-primary" aria-label="PlanMenu"
                       ng-click="$ctrl.toggleSlide('planMenu')">
                <md-icon class="material-icons md-dark" size="24">menu</md-icon>
            </md-button>
            <div flex></div>
            <md-button flex="none" class="button-action md-accent md-hue-3 md-raised">Купить {{$ctrl.plan.price}} {{$ctrl.plan.currency}}</md-button>
        </div>
    </md-toolbar>
    <!-- Картинка с основными параметрами-->
    <section class="landing-block general" ng-style="$ctrl.plan.backgroundStyle"
             flex="none" layout="column" layout-align="space-between center">
        <div flex="none" layout="row" layout-align="center center" class="md-padding">
            <div class="st-avatar size-60 border-light md-padding"
                     flex="none"
                     ng-style="$ctrl.plan.iconStyle">
            </div>
        </div>
        <div flex="none" class="author md-body-1 md-light" ng-bind="$ctrl.plan.authorProfile | userName"></div>
        <div flex="none" class="catalog md-body-1 md-light">
            <span ng-bind="$ctrl.plan.type"></span>&nbsp;|&nbsp;
            <span ng-bind="$ctrl.plan.distanceType"></span>&nbsp;|&nbsp;
            <span>Уровень продвинутый</span>;
        </div>
        <div flex></div>
        <h2 flex="none" class="name md-title md-light center">Тренировочный план</h2>
        <h1 flex="none" class="name md-display-3 md-light font-black center md-padding" ng-bind="$ctrl.plan.name"></h1>
        <h2 flex="none" class="weekCount md-body-1 md-light center">Недель подготовки {{$ctrl.plan.weekCount}}</h2>
        <div flex></div>
        <md-button flex="none" class="md-accent md-hue-3 md-raised" ng-click="$ctrl.order($event)">Купить {{$ctrl.plan.price}} {{$ctrl.plan.currency}}</md-button>
    </section>
    <!-- Что включено в план? -->
    <section class="landing-block details info" flex="none">
        <h2 flex="none" class="block-title md-display-1 md-dark font-black center">Что включено в план?</h2>
        <div class="item" layout="row">
            <md-icon flex="none" md-svg-src="/assets/landing/agreement.svg" class="s64"></md-icon>
            <p flex class="md-subhead md-dark">Этот план предназначен для … атлета, с опытом выступлений… с текущими результатами не ниже чем … на .. и на...</p>
        </div>
        <div class="item" layout="row">
            <md-icon flex="none" md-svg-src="/assets/landing/timeline.svg"  class="s64"></md-icon>
            <p flex class="md-subhead md-dark">Тут про даты</p>
        </div>
        <div class="item" layout="row">
            <md-icon flex="none" md-svg-src="/assets/landing/abc.svg" class="s64"></md-icon>
            <p flex class="md-subhead md-dark" ng-bind="$ctrl.plan.regularWeek"></p>
        </div>
        <div class="item" layout="row">
            <md-icon flex="none" md-svg-src="/assets/landing/meeting.svg" class="s64"></md-icon>
            <p flex class="md-subhead md-dark">Тут про наличие очных тренировок и в каком формате</p>
        </div>
        <div class="item" layout="row">
            <md-icon flex="none" md-svg-src="/assets/landing/lecture.svg" class="s64"></md-icon>
            <p flex class="md-subhead md-dark">Тут про возможность консультаций и их формат</p>
        </div>
        <div class="item" layout="row">
            <md-icon flex="none" md-svg-src="/assets/landing/to-do.svg" class="s64"></md-icon>
            <p flex class="md-subhead md-dark">Тут про наличие структурированных тренировок и их возможности для атлета (выгрузка в тренажеры, часы и пр)</p>
        </div>
    </section>
    <section class="landing-block info" flex="none">
        <h2 flex="none" class="block-title md-display-1 md-dark font-black center">График нагрузки</h2>
        <universal-chart flex="auto"
                         data="$ctrl.durationChart"
                         filter="true"
                         update="$ctrl.updateCount ">
        </universal-chart>
    </section>
    <section id="samples" class="landing-block info" flex="none">
        <h2 flex="none" class="block-title md-display-1 md-dark font-black center">Примеры тренировок</h2>
        <st-calendar-item-list class="calendar-item-list"
                               data="$ctrl.plan.samples">
        </st-calendar-item-list>
    </section>
    <section id="description" class="landing-block info" flex="none">
        <h2 flex="none" class="name md-display-1 md-dark font-black center">Дополнительная информаци от автора</h2>
        <div class="md-padding md-subhead md-dark quill quill-data" ng-bind-html="$ctrl.plan.description"></div>
    </section>
</section>

<md-sidenav id="planMenu" class="md-sidenav-left md-whiteframe-z2 st-fixed"
            md-component-id="planMenu">
    <md-toolbar flex="none" class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="">{{::'trainingPlans.form.title' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
                <md-tooltip md-direction="left">{{::'activity.settings.close' | translate}}</md-tooltip>
                <md-icon class="material-icons md-active" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</md-sidenav>
<!--<st-application-frame
        class="st-application-frame"
        template="profile"
        nav-bar="true"
        nav-bar-state="$ctrl.currentState"
        left-bar-hide-type="'hidden'"
        left-bar-show="$ctrl.leftBarShow"
        right-bar-show="$ctrl.rightBarShow" ng-switch="$ctrl.currentState">

    <st-application-frame-profile>
        <section class="st-profile-template__header" layout="column" layout-align="space-between center">
            <section class="info" flex="auto" layout="column" layout-align="center center">
                <userpic class="border-light"
                         ng-class="{'size-60': $ctrl.$mdMedia('(max-width: 959px)'), 'size-60': $ctrl.$mdMedia('(min-width: 960px)')}"
                         profile="$ctrl.user"></userpic>
                <p class="title"
                   ng-class="{'md-display-1': $ctrl.$mdMedia('(max-width: 959px)'), 'md-display-1': $ctrl.$mdMedia('(min-width: 960px)')}">Alexander Chernykh</p>
                <p class="description"
                   ng-class="{'md-caption': $ctrl.$mdMedia('(max-width: 959px)'), 'md-body-2 line-16': $ctrl.$mdMedia('(min-width: 960px)')}">Some text some text some text some text some text some text some text some text some text some text some text some text</p>
            </section>
            <section flex="none" layout="row" layout-align="center center">
                <md-nav-bar flex="none"
                            class="st-application-frame__navbar"
                            md-no-ink-bar="false"
                            md-selected-nav-item="'First'"
                            nav-bar-aria-label="navigation links">
                    <md-nav-item  ng-repeat="state in ['First', 'Second', 'Third'] track by $index"
                                  md-nav-click="$ctrl.currentState = state" name="{{::state}}">
                        <span translate="methodology.{{::state}}"></span>
                    </md-nav-item>
                </md-nav-bar>
            </section>
        </section>

    </st-application-frame-profile>

    <st-application-frame-content>
        <section class="st-profile-template__content">
            <md-subheader>О себе</md-subheader>
            <p class="md-body-1 md-dark">Профессиональный спортсмен
                Персональный тренер
                Участник трех Олимпийских Игр (Пекин-Лондон-Рио),лучшее место в истории России на Олимпийских Играх по триатлону 7 место. Чемпион Мира в Команде,многократный призер Мировых и Европейских первенств.</p>
            <md-subheader>Условия занятий</md-subheader>
            <p class="md-body-1 md-dark">Дистанционные тренировки все включено 20 тыс рублей в месяц,эконом вариант 10 тыс в месяц,плюс скидка если вы берете пакет все включено на 6 мес и год.
                Индивидуальные тренировки 3 тыс
                Групповые тренировки 1.5 тыс</p>
            <md-subheader>Контакты</md-subheader>
            <p class="md-body-1 md-dark">+79261351918
                zhylik87@mail.ru
                instagram    alexanderbryukhankov</p>
            <md-subheader>Ученики</md-subheader>
            <p class="md-body-1 md-dark">В триатлоне подготовил несколько человек к первому IRONMAN (2-е сделали это из 10 час), многие прошли 70.3 (3-е сделали из 5 час), на олимпийской и спринт дистанции занимали призовые места. Кроме того, в отдельных дисциплинах:

                Плавательные старты: подготовил к квалификации на Чемпионат Мира Oceanman на 10 км.

                Беговые старты: 2 спортсмена финишировали Берлинский марафон (один из 3 часов), на постоянной основе провожу подготовку учеников к дистанции - 21 км (лучший результат - 1.18) и 10 км.

                Лыжи: дистанции 10-70 км.</p>
            <md-divider></md-divider>
        </section>
    </st-application-frame-content>

</st-application-frame>-->