.training-plan {
  &__loading {
    height: 100vh;
  }
  &__data {
    @media (max-width: 960px) {
      .md-title, .md-subhead {
        font-size: 14px;
        line-height: 1.5em;
      }
      .md-display-3 {
        font-size: 24px;
        line-height: 1.2em;
      }
      .md-display-1 {
        font-size: 20px;
        line-height: 1.2em;
      }
    }

    background-color: white;
    md-toolbar {
      position: fixed;
      top: 0;
      left: 0;

      .menu, .button-action { display: none;}
      .store {display: none;}

      &.background {
        background-color: rgba(white,0.0);
        color: white;
      }
      &.solid {
        background-color: rgba(white,0.9);
        color: black;

        .menu, .button-action {  display: block;  }

        .store {
          display: block;
          md-icon {svg {fill: rgba(black, 0.87);}}
        }

      }
    }
    .landing-block {
      padding: 64px 128px;
      width: 100%;
      @media (max-width: 960px) {
        padding: 16px;
      }
      div.item {
        md-icon {
          margin: 16px 0 0 0 !important;
        }
      }

    }
    .info {
      max-width: 960px;
    }
    .general {
      height: 60vh;
      background-color: lightblue;
      padding: 32px 128px;
      @media (max-width: 960px) {
        padding: 16px;
      }
      .name, .weekCount {
        margin: 0;
        text-transform: uppercase;
        opacity: 0.8;
      }
    }
    .details {
      .item {
        min-height: 80px;
        margin-bottom: 32px;
      }
      p {
        margin-left: 32px;
      }
    }
    .description {
      font-size: 16px;
    }
    .block-title {
      text-align: center;
      @media (max-width: 960px) {  text-align: left; }
    }
  }
}