<div ng-if="$ctrl.item.activity.isCompleted && !$ctrl.item.activity.hasIntervalDetails"
     class="screen-center-block"
     style="background-color: white; opacity: 0.5; position: absolute; z-index: 100">
    <div>
        <img src="/assets/icon/ripple.svg" width="60" height="60"/>
    </div>
</div>
<md-content flex="auto" layout="column" ng-if="!$ctrl.item.activity.isCompleted || ($ctrl.item.activity.isCompleted && $ctrl.item.activity.hasIntervalDetails)">
    <md-list flex="none" class="md-dense slim-input bg-grey-100" layout="column">
        <md-list-item flex="none">
            <div class="md-caption" style="color: #455A64" ng-if="!$ctrl.item.activity.isCompleted">
                <span translate="activity.segments.total"></span>
                <span ng-if="$ctrl.intervals.PW.movingDurationApprox">~</span>
                <span>{{$ctrl.intervals.PW.movingDurationLength | measureCalc:$ctrl.item.activity.header.sportBasic:'movingDuration'}}</span>
                <span ng-if="$ctrl.intervals.PW.distanceApprox">~</span>
                <span>{{$ctrl.intervals.PW.distanceLength | measureCalc:$ctrl.item.activity.header.sportBasic:'distance'}}</span>
                <span>{{'distance' | measureUnit:$ctrl.item.activity.header.sportBasic}}</span>
            </div>
            <div class="md-caption" style="color: #455A64" ng-if="$ctrl.item.activity.isCompleted">
                <span translate="activity.segments.total"></span>
                <span>{{$ctrl.intervals.W.movingDuration() | measureCalc:$ctrl.item.activity.header.sportBasic:'movingDuration'}}</span>
                <span>{{$ctrl.intervals.W.distance() | measureCalc:$ctrl.item.activity.header.sportBasic:'distance'}}</span>
                <span>{{'distance' | measureUnit:$ctrl.item.header.activity.header.sportBasic}}</span>
            </div>

            <p class="md-caption md-dark md-secondary" ng-class="{'md-inactive': !$ctrl.ftpMode}"
               style="text-align: right; margin-right: 8px">
                <span translate="activity.percentFTP"></span>
                <span translate="{{$ctrl.ftpMode ? 'activity.ftpMode.off ' : 'activity.ftpMode.on'}}"></span>
            </p>
            <md-switch class="md-secondary md-primary" ng-true-value="0" ng-false-value="1" ng-disabled="$ctrl.item.activity.view.isTemplate"
                       ng-inital="ftp = $ctrl.ftpMode" ng-model="ftp" ng-change="$ctrl.ftpModeChange(ftp)" md-invert>
        </md-list-item>
    </md-list>
    <!-- Показываем график сегментов если 1) мобильный вид 2) если десктоп и нет детальных данных -->
    <activity-segment-chart flex="none"
                            ng-if="!$ctrl.item.$mdMedia('gt-sm') || $ctrl.item.isIonic || ($ctrl.item.$mdMedia('gt-sm') && !$ctrl.item.activity.hasActualData)"
                            style="margin: 8px 16px; height: 150px"
                            activity-header="$ctrl.intervals.stack"
                            actual-ftp="::$ctrl.item.activity.isCompleted"
                            plan-ftp="true"
                            duration-measure="'movingDuration'"
                            view="'mobile'"
                            change="$ctrl.item.changeStructuredAssignment"
                            on-select="$ctrl.onChartSelection(segmentId)">
    </activity-segment-chart>

    <md-divider ng-if="!$ctrl.item.activity.view.isView"></md-divider>

    <section ng-if="$ctrl.item.activity.view.isView && $ctrl.item.activity.hasActualData" class="view-panel"
             flex="none" layout="row" layout-align="center center">
        <md-button flex ng-click="$ctrl.viewPlan = !$ctrl.viewPlan; $ctrl.viewActual = $ctrl.viewPlan ? false : true"
                   ng-class="{'bg-grey-300': $ctrl.viewPlan, 'md-dark': !$ctrl.viewPlan}">
            <span class="md-caption md-dark" translate="activity.plan"></span>
        </md-button>
        <md-button flex ng-click="$ctrl.viewActual = !$ctrl.viewActual; $ctrl.viewPlan = $ctrl.viewActual ? false : true"
                   ng-class="{'bg-grey-300': $ctrl.viewActual, 'md-dark': !$ctrl.viewActual}">
            <span class="md-caption md-dark" translate="activity.actual"></span>
        </md-button>
        <md-button flex ng-click="$ctrl.viewGroup = !$ctrl.viewGroup"
                   ng-class="{'bg-grey-300': $ctrl.viewGroup, 'md-dark': !$ctrl.viewGroup}">
            <span class="md-caption md-dark" translate="activity.segments.group"></span>
        </md-button>
    </section>

    <section ng-if="!$ctrl.item.activity.view.isView" class="action-panel" flex="none"
             layout="row" layout-align="center center">
        <md-button ng-click="$ctrl.addInterval()" flex="33" class="bg-grey-200">
            <!--<md-icon class="material-icons">add_circle</md-icon>-->
            <span class="md-caption">&nbsp;Добавить</span>
            <md-menu flex="none" class="add">
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon class="material-icons">arrow_drop_down</md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="(type,obj) in $ctrl.scenario[$ctrl.item.activity.header.sportBasic] track by $index" ng-if="type !== 'default'">
                        <md-button ng-click="$ctrl.addInterval(type)">
                            <md-icon class="md-dark" md-svg-src="/assets/icon/duration.svg"></md-icon>
                            <span class="md-caption" translate="activity.segments.add.{{type}}"></span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-button>
        <md-checkbox ng-if="$ctrl.selectedInterval().length > 0" flex="33"
                     ng-checked="$ctrl.isKey()"
                     md-indeterminate="$ctrl.isIndeterminate()"
                     ng-click="$ctrl.toggleKey()"
                     class="md-primary">
            <span class="md-caption" translate="activity.segments.key"></span>
        </md-checkbox>
        <md-button ng-if="$ctrl.selectedInterval().length > 0" ng-click="$ctrl.delete()" flex="33" class="bg-grey-200">
            <md-icon class="material-icons">delete</md-icon><span class="md-caption" translate="activity.action.delete"></span>
        </md-button>
    </section>
    <md-divider></md-divider>
    <div flex="auto" class="loading-table" ng-if="!$ctrl.hasImport && $ctrl.item.activity.hasActualData"
         layout="column" layout-align="center center">
        <img flex="none" src="/assets/icon/loading-bars.gif" width="40"/>
        <p flex="none" class="md-caption md-dark center" translate="activity.loading"></p>
    </div>
    <structured-assignment flex="auto" layout="row"
                           ng-if="!$ctrl.item.activity.hasActualData || ($ctrl.hasImport && $ctrl.item.activity.hasActualData)"
                           intervals="$ctrl.intervals"
                           view-plan="$ctrl.viewPlan"
                           view-actual="$ctrl.viewActual"
                           view-group="$ctrl.viewGroup"
                           change="$ctrl.item.changeStructuredAssignment"
                           on-change="$ctrl.update(reason)">
    </structured-assignment>
</md-content>
<activity-assignment-buttons
        is-form-valid="$ctrl.item.assignmentForm.$valid"
        flex="none"/>
</form>