activity-segments {

  overflow: hidden;

  section.action-panel {
    md-checkbox {
      margin-bottom: 0px;
      span {
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  md-content {
    overflow: auto;
  }

}