<md-content flex="auto">
    <md-list class="md-dense slim-input bg-grey-100" layout="column">
        <md-list-item flex="none">
            <div class="md-caption" style="color: #455A64">
                <span>Итого: </span>
                <span ng-if="$ctrl.item.activity.intervalPW.movingDurationApprox">~</span>
                <span>{{$ctrl.item.activity.intervalPW.movingDurationLength | measureCalc:$ctrl.item.activity.sportBasic:'duration'}}</span>
                <span ng-if="$ctrl.item.activity.intervalPW.distanceApprox">~</span>
                <span>{{$ctrl.item.activity.intervalPW.distanceLength | measureCalc:$ctrl.item.activity.sportBasic:'distance'}}</span>
                <span>{{'distance' | measureUnit:$ctrl.item.activity.sportBasic}}</span>
            </div>
            <!--<p class="md-caption md-dark md-secondary" ng-class="{'md-inactive': !$ctrl.ftpMode}"
               style="text-align: right; margin-right: 8px">%ПАНО: {{$ctrl.ftpMode ? 'ВКЛ ' : 'ВЫКЛ'}}</p>
            <md-switch class="md-secondary md-primary" ng-true-value="0" ng-false-value="1"
                       ng-inital="ftp = $ctrl.ftpMode" ng-model="ftp" ng-change="$ctrl.ftpModeChange(ftp)" md-invert>
            </md-switch>-->
        </md-list-item>
    </md-list>
    <activity-segment-chart flex="none" style="display: flex; margin: 8px 16px; height: 150px"
                            activity-header="$ctrl.intervals"
                            selected=""
                            actual-ftp="false"
                            plan-ftp="true"
                            duration-measure="movingDuration"
                            view="'mobile'"
                            change="$ctrl.item.changeStructuredAssignment"
                            on-select="$ctrl.onChartSelection(segmentId)">
    </activity-segment-chart>
    <md-divider ng-if="$ctrl.item.mode !== 'view'"></md-divider>
    <section ng-if="$ctrl.item.mode !== 'view'" class="action-panel" flex="none" layout="row" layout-align="space-between center">
        <md-button ng-click="$ctrl.addInterval()">
            <md-icon class="material-icons">add_circle</md-icon><span class="md-caption">&nbsp;Добавить</span>
        </md-button>
        <md-checkbox ng-if="$ctrl.selectedInterval().length > 0"
                     ng-checked="$ctrl.isKey()"
                     md-indeterminate="$ctrl.isIndeterminate()"
                     ng-click="$ctrl.toggleKey()"
                     class="md-primary">
            <span class="md-caption">Ключевой</span></md-checkbox>
        <md-button ng-if="$ctrl.selectedInterval().length > 0" ng-click="$ctrl.deleteInterval()">
            <md-icon class="material-icons">delete</md-icon><span class="md-caption">&nbsp;Удалить</span>
        </md-button>
    </section>
    <md-divider></md-divider>
    <structured-assignment flex="auto" layout="row"
                           intervals="$ctrl.item.activity.intervals"
                           plan="$ctrl.item.activity.intervalP"
                           group="$ctrl.item.activity.intervalG"
                           on-change="$ctrl.onUpdate()">
    </structured-assignment>
</md-content>
<!--<pre>{{$ctrl.item.activity.intervalPW | json}}</pre>-->

<md-dialog-actions flex="none" layout="row" style="background: white">
    <span flex></span>
    <md-button ng-if="$ctrl.item.mode === 'view'" ng-disabled="true"
               ng-click="">В шаблон
    </md-button>
    <md-button ng-if="$ctrl.item.mode === 'view'"
               ng-click="$ctrl.item.changeMode('put')">Изменить
    </md-button>
    <md-button ng-if="$ctrl.item.mode !== 'view'"
               ng-click="$ctrl.item.onReset($ctrl.item.mode === 'post' ? 'post' : 'view' )">Отменить
    </md-button>
    <md-button ng-if="$ctrl.item.mode !== 'view'" type="submit"
               ng-disabled="!$ctrl.form.$dirty || !$ctrl.form.$valid"
               ng-class="{'md-warn': !$ctrl.form.$valid}"
               ng-click="$ctrl.onSave()">
        Сохранить
    </md-button>
</md-dialog-actions>
</form>