<mat-sidenav-container class="st-application-toolbar__wrapper">
    <mat-toolbar color="primary" class="st-application-toolbar mat-elevation-z4">
        <button mat-icon-button>
            <mat-icon class="" (click)="appMenu.toggle()">menu</mat-icon>
        </button>
        <ng-content select=".st-application-toolbar__title">
        </ng-content>
        <ng-content select=".st-application-toolbar__actions"></ng-content>
        <span fxFlex></span>
        <button mat-icon-button>
            <mat-icon class="" (click)="sidenav.toggle()">search</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="" (click)="sidenav.toggle()">notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="" (click)="sidenav.toggle()">group</mat-icon>
        </button>
        <st-application-toolbar-user [user]="user"></st-application-toolbar-user>

        <mat-toolbar-row class="st-application-toolbar__second-row">
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_right</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <ng-content select=".st-application-toolbar__content">
    </ng-content>
    <div>{{user | json}}</div>

    <mat-sidenav #appMenu mode="over" opened="false" align="start"
                 class="st-application-toolbar__sidenav">
        <st-application-menu [user]="user"></st-application-menu>
    </mat-sidenav>

    <mat-sidenav #sidenav mode="over" opened="false" align="end"
                 class="st-application-toolbar__sidenav">
        <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="example-scrolling-content">
            Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
            fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam
            nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna
            aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
            vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at,
            ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu
            enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis,
            tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
            Taciti dui, sapien consectetuer.
        </div>
    </mat-sidenav>
</mat-sidenav-container>