<mat-sidenav-container class="st-application__wrapper">
    <mat-toolbar color="primary" class="st-application__toolbar mat-elevation-z4">
        <button mat-icon-button>
            <mat-icon class="" (click)="appMenu.toggle()">menu</mat-icon>
        </button>
        <ng-content select=".st-application__title"></ng-content>
        <ng-content select=".st-application__toolbar-actions"></ng-content>
        <span fxFlex></span>
        <button mat-icon-button>
            <mat-icon class="" (click)="sidenav.toggle()">search</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="" (click)="notifications.toggle()">notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="" (click)="sidenav.toggle()">group</mat-icon>
        </button>
        <st-application-toolbar-user [user]="user"></st-application-toolbar-user>

        <mat-toolbar-row class="st-application-toolbar__second-row">
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_right</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <ng-content select=".st-application__content"></ng-content>

    <mat-sidenav #appMenu mode="over" opened="false" align="start"
                 class="st-application__sidenav">
        <st-application-menu [user]="user"></st-application-menu>
    </mat-sidenav>

    <mat-sidenav #notifications mode="over" opened="false" align="end"
                 class="st-application__sidenav">
        <st-notification-list class="notification-list"></st-notification-list>
    </mat-sidenav>
</mat-sidenav-container>