<application-frame class="club-profile" layout="column" layout-align="center center">

    <md-card class="profile-header" layout="column" layout-align="center center" style="background-image: linear-gradient(to bottom, rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.5)), url({{'/group/background/' | image:$ctrl.club.public.background}})">
        <div class="userpic" style="background-image: url({{'/group/avatar/' | image:$ctrl.club.public.avatar}})" layout-align="center"></div>
        <div class="md-title" style="color:white; margin-bottom: 10px">{{ $ctrl.club.public.name }}</div>
        <div class="md-caption">{{ [$ctrl.club.public.country, $ctrl.club.public.city].filter(Boolean).join(', ') }}</div>
        <div class="md-caption" style="margin-bottom: 15px; margin-top:2px;">{{ $ctrl.club.public.activityTypes.join(', ') }}</div>
        <div ng-if="$ctrl.club.availableInteractions">

            <md-button ng-if="$ctrl.club.availableInteractions.btnJoinGroup"
                       ng-click="$ctrl.join()" class="md-raised md-primary"
                       style="padding: 0 7px; border-radius: 2px; background-color: #ff5722; font-size: 14px; text-transform: none;">
                <span translate="club.actions.startClub"></span>
            </md-button>
            
            <md-menu ng-if="$ctrl.club.availableInteractions.btnCancelJoinGroup">
                <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                    <span translate="club.actions.clubRequestWaiting"></span>
                    <span> ▾</span>
                </md-button>
                <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="$ctrl.cancel()">
                        <span translate="club.actions.clubRequestCancel"></span>
                    </md-button>
                </md-menu-item>
                </md-menu-content>
            </md-menu>
            
            <md-menu ng-if="$ctrl.club.availableInteractions.btnLeaveGroup">
                <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                    <span translate="club.actions.isYourClub"></span>
                    <span> ▾</span>
                </md-button>
                <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="$ctrl.leave()">
                        <span translate="club.actions.leaveClub"></span>
                    </md-button>
                </md-menu-item>
                </md-menu-content>
            </md-menu>
            
            <md-menu ng-if="$ctrl.club.availableInteractions.btnCancelLeaveGroup">
                <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                    <span translate="club.actions.clubRequestWaiting"></span>
                    <span> ▾</span>
                </md-button>
                <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="$ctrl.cancel()">
                        <span translate="club.actions.clubRequestCancel"></span>
                    </md-button>
                </md-menu-item>
                </md-menu-content>
            </md-menu>
            
        </div>

        <md-button ng-if="!$ctrl.isManager" class="md-fab profile-fab">
            <md-icon class="material-icons">send</md-icon>
        </md-button>
        <md-button ng-if="$ctrl.isManager" class="md-fab profile-fab" ui-sref="settings/club({uri: $ctrl.club.groupUri})">
            <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
    </md-card>
        
    <md-card class="profile-content md-body-1" layout-padding="8">
        <!--<div class="md-caption">О клубе</div>-->
        <ng-quill-editor ng-if="true" flex="auto"
                         ng-model="$ctrl.club.public.about"
                         placeholder="{{'record.descriptionPlaceholder' | translate}}"
                         modules="$ctrl.quillConf.toolbarFull"
                         on-content-changed="$ctrl.changeForm()"
                         class="hide-toolbar"
                         read-only="true"
                         st-quill-post-image>
        </ng-quill-editor>
        <div class="md-caption" translate>user.price</div>
        <ng-quill-editor ng-if="true" flex="auto"
                         ng-model="$ctrl.club.public.price"
                         placeholder="{{'record.descriptionPlaceholder' | translate}}"
                         modules="$ctrl.quillConf.toolbarFull"
                         on-content-changed="$ctrl.changeForm()"
                         class="hide-toolbar"
                         read-only="true"
                         st-quill-post-image>
        </ng-quill-editor>
        <div class="md-caption" translate>user.contact.header</div>
        <ng-quill-editor ng-if="true" flex="auto"
                         ng-model="$ctrl.club.public.contact"
                         placeholder="{{'record.descriptionPlaceholder' | translate}}"
                         modules="$ctrl.quillConf.toolbarFull"
                         on-content-changed="$ctrl.changeForm()"
                         class="hide-toolbar"
                         read-only="true"
                         st-quill-post-image>
        </ng-quill-editor>
        <div class="md-caption" translate>user.athletes</div>
        <ng-quill-editor ng-if="true" flex="auto"
                         ng-model="$ctrl.club.public.athletes"
                         placeholder="{{'record.descriptionPlaceholder' | translate}}"
                         modules="$ctrl.quillConf.toolbarFull"
                         on-content-changed="$ctrl.changeForm()"
                         class="hide-toolbar"
                         read-only="true"
                         st-quill-post-image>
        </ng-quill-editor>
        <div style="white-space: pre-wrap;">{{'user.settings.personalInfo.isFree' | translate}}:&nbsp;{{$ctrl.club.public.isFree? 'user.settings.personalInfo.isFreeTrue' : 'user.settings.personalInfo.isFreeFalse' | translate}}</div>

        <div class="md-caption" translate="club.staff"></div>
        <div ng-if="$ctrl.club.innerGroups">
            <md-button ng-disabled="!$ctrl.club.innerGroups.ClubCoaches.groupMembers.length" ng-click="$ctrl.showCoaches()">
                <span translate="user.connections.coaches"></span><span>:</span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{ $ctrl.club.innerGroups.ClubCoaches.groupMembersCount || '-' }}</span> 
            </md-button>                    
            <md-button ng-disabled="!$ctrl.club.innerGroups.ClubAthletes.groupMembers.length" ng-click="$ctrl.showAthletes()">
                <span translate="user.connections.athletes"></span><span>:</span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{ $ctrl.club.innerGroups.ClubAthletes.groupMembersCount || '-' }}</span>
            </md-button>
        </div>
        <div ng-if="!$ctrl.club.innerGroups">
            <md-button ng-disabled="!$ctrl.club.groupMembers.length" ng-click="$ctrl.showMembers()">
                <span>Участники:</span> 
                <span style="color:rgba(0, 0, 0, 0.38)">{{ $ctrl.club.groupMembersCount }}</span>
            </md-button>
        </div>
    </md-card>
          
</application-frame>

