.club-profile {
    position: absolute;
    left: calc(50% - 250px);
    right: auto;
    top: 60px;
    width: 500px;
    z-index: 40;
    
    @media (max-width: 959px) {
        left: 0 !important;
        width: 100% !important;
    }

    .profile-header {
        position: relative;
        height: 227px;
        color: rgba(255, 255, 255, 0.7);
        background-color: rgb(96,125,139);
        background-size: cover;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        z-index: 10;

        .userpic {
            margin: 0 auto 10px auto;
            position: relative;
            overflow: hidden;
            width: 70px;
            height: 70px;
            border-radius: 38px;
            border: 3px solid rgba(255, 255, 255, 0.7);
            background-size: cover;
            background-color: #263238;
        }

        .profile-fab {
            position: absolute;
            right: 40px;
            bottom: -28px;
            box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12) !important;
        }
    } 

    .profile-content {
        padding: 20px; 
        margin: 0;
        
        .md-caption {  
            color: #455a64;
            margin: 25px 0 15px 0;
        }
            
        .label {
            color: rgba(0, 0, 0, 0.54);
            text-transform: none;
        }
        
        .value {
            color: rgba(0, 0, 0, 0.38);
        }
    }
}