@import "../../../sass/color";

.template-list {

  &__data {
    padding: 16px;
    activity-template {
      margin-bottom: 8px;
    }

    /**
  * The dnd-list should always have a min-height,
  * otherwise you can't drop to it once it's empty
  */
    section[dnd-list] {
      min-height: 50px;
      padding-left: 0px;
    }

    /**
    * The dndDraggingSource class will be applied to
    * the source element of a drag operation. It makes
    * sense to hide it to give the user the feeling
    * that he's actually moving it.
    */
    section[dnd-list] .dndDraggingSource {
      //opacity: 0.5;
      //display: none;
    }


    /**
    * An element with .dndPlaceholder class will be
    * added to the dnd-list while the user is dragging
    * over it.
    */
    section[dnd-list] .dndPlaceholder {
      display: block;
      margin: 6px 6px 0px 6px;
      border-radius: 3px;
      background-color: $blue-grey-100;
      min-height: 100px;
    }

  }

  &__filter {

  }

}