<div class="{{$ctrl.item.activity.status}}">
    <div layout="row">
        <div flex="none" layout="row" layout-align="center center"
             class="bg-circle-56 bg-blue-grey-A700">
            <md-icon flex="none" md-svg-src="{{$ctrl.item.activity.sportUrl}}"
                     class="s36 light-active"></md-icon>
        </div>
        <div class="summary-value md-headline font-black" flex="auto" layout="column">
            <div flex="none"><span>{{$ctrl.durationInfo}}</span>
                <!--<span>{{$ctrl.item.activity.durationValue |
                    measureCalc:$ctrl.item.activity.sportBasic:$ctrl.item.activity.durationMeasure}}</span>
                <span ng-if="$ctrl.item.activity.durationMeasure !== 'movingDuration'">
                    &nbsp{{$ctrl.item.activity.durationMeasure | measureUnit:$ctrl.item.activity.sportBasic | translate}}</span>-->
            </div>
            <div flex="none"><span>{{$ctrl.intensityInfo}}</span>
                <!--<span ng-switch-when="true">
                    {{$ctrl.item.activity.intensityValue.from |
                    measureCalc:$ctrl.item.activity.sportBasic:$ctrl.item.activity.intensityMeasure}}</span>
                <span ng-switch-when="false">
                    {{$ctrl.item.activity.intensityValue |
                    measureCalc:$ctrl.item.activity.sportBasic:$ctrl.item.activity.intensityMeasure}}</span>
                <span>&nbsp{{$ctrl.item.activity.intensityMeasure | measureUnit:$ctrl.item.activity.sportBasic | translate}}</span>-->
            </div>
        </div>
    </div>
    <div layout="row" class="md-subhead" style="margin-top: 8px">
        <div flex="none" style="width: 56px" ng-if="!!!$ctrl.item.activity.percent"></div>
        <div class="summary-percent" ng-if="!!$ctrl.item.activity.percent"
             flex="none">{{$ctrl.item.activity.printPercent()}}
        </div>
        <div class="summary-info" flex="auto">Категория тренировки</div>
    </div>
</div>