@import "../../../../sass/color";

activity-summary-info {

  color: white;
  //padding: 16px;

  div.summary-percent {
    text-align: center;
    //line-height: 26px;
    width: 56px;
    //height: 26px;
    border-radius: 12px;
  }
  div.summary-info, div.summary-value {
    margin-left: 16px;
  }

  div.summary-value {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  &.not-specified {
    @extend .bg-blue-grey-500;
    div.summary-percent {
      @extend .bg-blue-grey-700;
    }
  }

  &.coming, &.not-specified {
    color: rgba(0,0,0,0.34);
    @extend .bg-grey-300;
    div.summary-percent {
      @extend .bg-grey-700;
    }
  }
  /*&.not-specified {
    @extend .bg-blue-grey-500;
    .bg-circle-56, div.summary-percent {
      @extend .bg-blue-grey-700;
    }
  }*/
  &.complete {
    @extend .bg-teal-500;
    div.summary-percent {
      @extend .bg-teal-700;
    }
  }
  &.complete-warn{
    @extend .bg-orange-500;
    div.summary-percent {
      @extend .bg-orange-700;
    }
  }
  &.complete-error, &.dismiss {
    @extend .bg-red-500;
    div.summary-percent {
      @extend .bg-red-700;
    }
  }

  .map-block {
    position: relative;
    height: 25vh;
  }

  .zoom-map {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 500;
  }

  .leaflet-container {
    .leaflet-right { display: none; }
  }

}