<md-toolbar flex="none" class="" style="background-color: white; color: black">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.onBack()">
            <md-tooltip md-direction="left">{{'activity.templateSelector.toolbar' | translate}}</md-tooltip>
            <md-icon class="material-icons md-dark" aria-label="Close dialog">arrow_back</md-icon>
        </md-button>
        <h2 translate="activity.template.title"></h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-divider></md-divider>
<md-content flex="auto" layout="column">
    <activity-template
            ng-repeat="template in $ctrl.templatesByOwner.user track by template.id"
            ng-click="$ctrl.onSelect({template: template})"
            template="template"
            is-mobile-layout="true"
    ></activity-template>
</md-content>