<md-toolbar ng-if="!$ctrl.hideToolbar" flex="none" class="" style="background-color: white; color: black">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.onBack()">
            <md-tooltip md-direction="left">{{'activity.templateSelector.toolbar' | translate}}</md-tooltip>
            <md-icon class="material-icons md-dark" aria-label="Close dialog">arrow_back</md-icon>
        </md-button>
        <h2 translate="activity.template.title"></h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-list flex="auto" class="md-dense" style="overflow-y: auto">
    <md-subheader flex="none" ng-if="$ctrl.templatesByOwner.user.length">
        <span>{{ 'reference.templates.user' | translate }}</span>
    </md-subheader>
    <activity-template flex="none"
            ng-repeat="template in $ctrl.templatesByOwner.user track by template.id"
            ng-click="$ctrl.onSelect({template: template})"
            template="template" view="'compact-list'"
            is-mobile-layout="true">
    </activity-template>
    <md-subheader flex="none" ng-if="$ctrl.templatesByOwner.coach.length">
        <span>{{ 'reference.templates.coach' | translate }}</span>
    </md-subheader>
    <activity-template flex="none"
            ng-repeat="template in $ctrl.templatesByOwner.coach track by template.id"
            ng-click="$ctrl.onSelect({template: template})"
            template="template"
            view="'compact-list'"
            is-mobile-layout="true">
    </activity-template>
    <md-subheader flex="none" ng-if="$ctrl.templatesByOwner.club.length">
        <span>{{ 'reference.templates.club' | translate }}</span>
    </md-subheader>
    <activity-template flex="none"
            ng-repeat="template in $ctrl.templatesByOwner.club track by template.id"
            ng-click="$ctrl.onSelect({template: template})"
            template="template" view="'compact-list'"
            is-mobile-layout="true">
    </activity-template>
</md-list>