<md-dialog style="width: 320px">
    <form name="$ctrl.form" ng-cloak>
        <md-toolbar style="background-color: white; color: black">
            <div class="md-toolbar-tools">
                <h2>Новый пароль</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list class="md-dense">
                <md-list-item>
                    <md-input-container md-no-float class="md-block no-message">
                        <md-icon class="material-icons">vpn_key</md-icon>
                        <input ng-model="$ctrl.pass1" type="password" autocomplete="off" name="pass1"
                               required
                               ng-pattern="passwordStrength"
                               placeholder="Новый пароль">
                        <div ng-messages="$ctrl.form.pass1.$error" role="alert">
                            <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                        </div>
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container md-no-float class="md-block no-message">
                        <md-icon class="material-icons">vpn_key</md-icon>
                        <input ng-model="$ctrl.pass2" type="password" autocomplete="off" name="pass2"
                               required
                               ng-pattern="passwordStrength"
                               compare-to="pass1"
                               placeholder="Новый пароль">
                        <div ng-messages="$ctrl.form.pass2.$error" role="alert">
                            <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                            <div ng-message-exp="'compareTo'" translate>auth.errComparePass</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <!--<md-button ng-click="$ctrl.cancel()">Cancel</md-button>-->
            <!--<span flex></span>-->
            <md-button ng-disabled="!$ctrl.form.$valid"
                       ng-click="answer($ctrl.pass1)">Change</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>