<md-dialog>
    <form name="$ctrl.form" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 >{{ 'settings.billing.disableTariff' | translate }} «{{ 'settings.billing.tariff.' + $ctrl.tariff.tariffCode | translate }}»</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list class="md-dense">
                <md-list-item>
                    <div class="md-list-item-text" style="white-space: pre-wrap;">{{ 
                        !$ctrl.canDisconnect() && ('settings.billing.tariffDisconnectionUnavailable' | translate) ||
                        $ctrl.tariff.disconnectNow && ('settings.billing.tariffDisconnectNow' | translate) ||
                        ('settings.billing.tariffDisconnectLater' | translate:{validThrough:($ctrl.billing.validThrough | date:'dd.MM.yyyy')})
                    }}</div>
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button 
                ng-class="{'md-primary': false}"
                ng-click="$ctrl.cancel()"
            >{{ 'settings.billing.cancel' | translate }}</md-button>
            <md-button 
                ng-if="$ctrl.canDisconnect()"
                ng-class="{'md-primary': true}"
                ng-click="$ctrl.submit()"
            >{{ 'settings.billing.confirmDisable' | translate }}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>