<md-dialog>
    <form name="$ctrl.form" ng-submit='$ctrl.submit()' ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 >{{ 'settings.billing.enableTariff' | translate }} «{{ 'settings.billing.tariff.' + $ctrl.tariff.tariffCode | translate }}»</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list class="md-dense">

                <md-list-item ng-if="$ctrl.monthlyFee && $ctrl.yearlyFee">
                    <md-button ng-disabled="!$ctrl.form.$valid"
                               ng-class="{'sectioned-button_left': true, 'md-raised': true, 'md-primary': $ctrl.fee === $ctrl.monthlyFee}"
                               ng-click="$ctrl.fee = $ctrl.monthlyFee"
                               style="line-height: 40px;"
                    >{{ 'settings.billing.monthly' | translate }}</md-button>
                    <md-button ng-disabled="!$ctrl.form.$valid"
                               ng-class="{'sectioned-button_right': true, 'md-raised': true, 'md-primary': $ctrl.fee === $ctrl.yearlyFee}"
                               ng-click="$ctrl.fee = $ctrl.yearlyFee"
                               style="line-height: 20px; "
                    >
                        {{ 'settings.billing.yearly' | translate }}
                        <div style="text-transform: none; font-weight: normal;">{{ 'settings.billing.saving' | translate:{saving: (100 * ($ctrl.monthlyFee.rate * 12 / $ctrl.yearlyFee.rate - 1) | number:0)} }}</div>
                    </md-button>
                </md-list-item>

                <md-subheader class="md-no-sticky">{{ 'settings.billing.subscriptionFees' | translate }}</md-subheader>
                <md-list-item layout="row">
                    <span>{{ 'settings.billing.monthly' | translate }}</span>
                    <span flex></span>
                    <span ng-if="!$ctrl.fee.promoDiscount" style="font-weight:bold">{{$ctrl.fee.rate}} {{$ctrl.fee.currency}} / {{ 'settings.billing.term.' + $ctrl.fee.term | translate }}</span>
                    <span ng-if="$ctrl.fee.promoDiscount" style="font-weight:bold">
                        <span style="text-decoration: line-through;">{{$ctrl.fee.rate}} {{$ctrl.fee.currency}}</span> <span style="color:rgb(221,44,0)">{{$ctrl.fee.promoDiscount * $ctrl.fee.rate}} {{$ctrl.fee.currency}}</span> / {{ 'settings.billing.term.' + $ctrl.fee.term | translate }}
                    </span>
                </md-list-item>

                <div ng-repeat="fee in $ctrl.variableFees">
                    <md-subheader class="md-no-sticky">{{ 'settings.billing.group.' + fee.varGroup | translate }}</md-subheader>
                    <md-list-item ng-if="!fee.varFreeCount && !fee.varMaxPaidCount" layout="row">
                        <span>{{ 'settings.billing.eachInGroup.' + fee.varGroup | translate }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" style="font-weight:bold">{{fee.rate}} {{fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" style="font-weight:bold">
                            <span style="text-decoration: line-through;">{{fee.rate}} {{fee.currency}}</span> <span style="color:rgb(221,44,0)">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount" layout="row">
                        <span>{{ 'settings.billing.eachInGroupBelow' | translate:{below:fee.varFreeCount} }}</span>
                        <span flex></span>
                        <span style="font-weight:bold">{{ 'settings.billing.free' | translate }}</span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount && !fee.varMaxPaidCount" layout="row">
                        <span>{{ 'settings.billing.eachInGroupAbove' | translate:{above:fee.varFreeCount + 1} }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" style="font-weight:bold">{{fee.rate}} {{fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" style="font-weight:bold">
                            <span style="text-decoration: line-through;">{{fee.rate}} {{fee.currency}}</span> <span style="color:rgb(221,44,0)">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount && fee.varMaxPaidCount" layout="row">
                        <span>{{ 'settings.billing.eachInGroupBetween' | translate:{from:fee.varFreeCount + 1,to:fee.varMaxPaidCount - 1} }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" style="font-weight:bold">{{fee.rate}} {{fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" style="font-weight:bold">
                            <span style="text-decoration: line-through;">{{fee.rate}} {{fee.currency}}</span> <span style="color:rgb(221,44,0)">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="!fee.varFreeCount && fee.varMaxPaidCount" layout="row">
                        <span>{{ 'settings.billing.eachInGroupBelow' | translate:{below:varMaxPaidCount - 1} }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" style="font-weight:bold">{{fee.rate}} {{fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" style="font-weight:bold">
                            <span style="text-decoration: line-through;">{{fee.rate}} {{fee.currency}}</span> <span style="color:rgb(221,44,0)">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varMaxPaidCount" layout="row">
                        <span>{{ 'settings.billing.eachInGroupAbove' | translate:{above:fee.varMaxPaidCount} }}</span>
                        <span flex></span>
                        <span style="font-weight:bold">{{ 'settings.billing.free' | translate }}</span>
                    </md-list-item>
                </div>

                <md-subheader class="md-no-sticky">{{ 'settings.billing.promo' | translate }}</md-subheader>
                <md-list-item>
                    <div class="md-list-item-text">
                        <md-input-container md-no-float class="md-block no-message">
                            <input ng-model="$ctrl.promoCode" type="text" autocomplete="off"
                                   placeholder="{{ 'settings.billing.promo' | translate }}">
                        </md-input-container>
                        <p ng-if="$ctrl.activePromo">{{ 'settings.billing.activePromo' | translate:{promo:$ctrl.activePromo} }}</p>
                    </div>
                    <span flex></span>
                    <md-button ng-disabled="!$ctrl.form.$valid"
                               ng-class="{'md-raised': true, 'md-primary': true}"
                               ng-click="$ctrl.submitPromo()"
                    >{{ 'settings.billing.submitPromo' | translate }}</md-button>
                </md-list-item>

                <md-subheader ng-if="$ctrl.paymentNeeded()" class="md-no-sticky">{{ 'settings.billing.payment' | translate }}</md-subheader>
                <md-list-item ng-if="$ctrl.paymentNeeded()">
                    <md-button 
                        ng-disabled="!$ctrl.form.$valid"
                        ng-class="{'sectioned-button_right': true, 'md-raised': true, 'md-primary': $ctrl.paymentSystem === 'fondy'}"
                        ng-click="$ctrl.paymentSystem = 'fondy'"
                    >{{ 'settings.billing.card' | translate }}</md-button>
                    <md-button 
                        ng-disabled="!$ctrl.form.$valid"
                        ng-class="{'sectioned-button_left': true, 'md-raised': true, 'md-primary': $ctrl.paymentSystem === 'paypal'}"
                        ng-click="$ctrl.paymentSystem = 'paypal'"
                    >{{ 'settings.billing.paypal' | translate }}</md-button>
                </md-list-item>
                <md-list-item ng-if="$ctrl.paymentNeeded()">
                    <p>{{ 'settings.billing.autoRenewal' | translate }}</p>
                    <md-checkbox ng-model="$ctrl.autoRenewal" class="md-secondary"></md-checkbox>
                </md-list-item>

                <md-subheader ng-if="!$ctrl.paymentNeeded()" class="md-no-sticky">{{ 'settings.billing.conditions' | translate }}</md-subheader>
                <md-list-item ng-if="!$ctrl.paymentNeeded()">
                    <p style="white-space: pre-wrap;">{{ 'settings.billing.conditionsText' | translate:{validThrough:($ctrl.billing.validThrough | date:'dd.MM.yyyy'), tariff:('settings.billing.tariff.' + $ctrl.tariff.tariffCode | translate)} }}</p>
                </md-list-item>

            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="!$ctrl.form.$valid" ng-click="$ctrl.cancel()">{{ 'settings.billing.cancel' | translate }}</md-button>
            <md-button ng-if="!$ctrl.paymentNeeded()" ng-disabled="!$ctrl.form.$valid" ng-class="{'md-primary': true}" ng-click="$ctrl.submit()">{{ 'settings.billing.confirmEnable' | translate}}</md-button>
            <md-button ng-if="$ctrl.paymentNeeded()" ng-disabled="!$ctrl.form.$valid" ng-class="{'md-primary': true}" ng-click="$ctrl.submit()">{{ 'settings.billing.confirmPay' | translate:{cost:$ctrl.fee.rate * ($ctrl.fee.promoDiscount || 1), currency:$ctrl.fee.currency} }}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>