<st-landing-toolbar></st-landing-toolbar>
<!--<div class="auth" ui-view="form">
</div>-->
<application-frame class='{{$ctrl.view.style}}'>
    <section layout="row" layout-align="space-between start" class="app-layer">

        <section flex-gt-xs="grow" hide-xs class="margin">
        </section>
        <div flex="none" flex-xs="100" layout="column" style="height: 100%"
             layout-align="center center" layout-align-xs="start center"  class="content auth__content"
             ui-view="form">

        </div>
        <section flex-gt-xs="grow" hide-xs class="margin">
        </section>
    </section>
</application-frame>