<!-- common section -->
<application-frame class='{{$ctrl.view.style}}'>
    <section layout="row" layout-align="space-between start" class="app-layer">
        <!-- common left margin -->
        <section flex-gt-xs="grow" hide-xs class="margin">
        </section>
        <!-- application section: start -->
        <div flex="none" flex-xs="100" layout="column" style="height: 100%"
             layout-align="center center" layout-align-xs="start center"  class="content auth__content"
             ui-view="form">

        </div>
        <!-- application section: end -->

        <!-- common right margin -->
        <section flex-gt-xs="grow" hide-xs class="margin">
        </section>
    </section>
</application-frame>