@import "../../sass/color";
@import "../../sass/base";

auth {

	md-card, p.conf {
		min-width: 320px;
		max-width: 320px;
		width: 320px;
	}

	md-card md-card-title, md-card-content.confirm-message {
		color: white;
		background: $blue-grey-700;
	}

	md-card form {
		color: white;
		background: $blue-grey-700;
		overflow: hidden;
	}

	.conf {
		padding: 0px 8px;
		text-align: center;
		color: rgba(white, 0.54);

		a {
			cursor: pointer;
			font-weight: 900;
			color: rgba(white, 0.54);
			text-decoration: none;

			&:hover {
				color: rgba(white, 0.7);
			}
		}
	}
	.logo {
		width: 15vh;
	}
	form, .confirm-message {

		button {
			width: 100%;
			margin: 24px 16px !important;
			padding: 0px 16px !important;
		}

		.hint {
			font-size: 12px;
			@include transition(all, 2s, ease-out, 0s);

			&.hide-me{
				opacity: 0.1;
			}
		}
	}
}