<md-list class="md-dense section user-settings-withdrawal">
    <md-list-item layout="row" layout-wrap>
        <div flex="15" class="md-body-2" translate>user.settings.agent.withdrawals.requestedAmount</div>
        <div flex="15" class="md-body-2" translate>user.settings.agent.withdrawals.execAmount</div>
        <div flex="20" class="md-body-2" translate>user.settings.agent.withdrawals.account</div>
        <div flex="20" class="md-body-2" translate>user.settings.agent.withdrawals.state</div>
        <div flex="15" class="md-body-2" translate>user.settings.agent.withdrawals.created</div>
        <div flex="15" class="md-body-2" translate>user.settings.agent.withdrawals.executed</div>
    </md-list-item>
    <md-list-item ng-repeat="withdrawal in $ctrl.withdrawals" layout="row" layout-wrap>
        <div flex="15" class="md-body-1">{{withdrawal.requestedAmount}} {{withdrawal.execAmountSourceCcy}}</div>
        <div flex="15" class="md-body-1">{{withdrawal.execAmount}} {{withdrawal.execAmountSourceCcy}}</div>
        <div flex="20" class="md-body-1">{{withdrawal.account.code}}</div>
        <div flex="20" class="md-body-1">{{'user.settings.agent.withdrawals.states.' + withdrawal.state | translate}}</div>
        <div flex="15" class="md-body-1">{{withdrawal.created}}</div>
        <div flex="15" class="md-body-1">{{withdrawal.executed}}</div>
    </md-list-item>
    <md-list-item ng-if="!$ctrl.withdrawals.length">
        <div class="md-body-1" translate>user.settings.agent.withdrawals.none</div>
    </md-list-item>
</md-list>
