<!-- footer -->
<article class="landing-footer footer">
    <div flex layout-gt-sm="row" layout="column" layout-align="center center"
         layout-align-gt-sm="center start">
        <div flex="none" flex-gt-sm="25" layout="column" class="footer-block"
             ng-repeat="block in $ctrl.landingConfig.footer">
            <h4 flex="none" class="md-body-2 md-dark" translate="landing.footer.{{::block.code}}.title"></h4>
            <div flex="none" class="md-body-1 md-dark" ng-repeat="link in block.links"
                 translate="landing.footer.{{::block.code}}.{{::link}}"></div>
            <md-divider ng-if="!$last" flex="none" hide-gt-sm></md-divider>
        </div>
    </div>
</article>

<!-- copyright -->
<article layout="column" layout-align="start start" layout-align-gt-sm="center center" class="landing-footer copyright">
    <div flex="none" style="width: 100%"
         layout="column" layout-gt-sm="row" layout-align="start start" layout-align-gt-sm="space-between center">
        <md-menu md-position-mode="target-right bottom" md-offset="0 -160" flex="none">
            <md-button class="md-icon-button md-primary" style="margin-left: -8px"
                       ng-click="$ctrl.onMenu($mdOpenMenu, $event)" aria-label="User">
                <md-icon md-svg-src="/assets/icon/{{ $ctrl.display.getLocale() }}.svg" md-24
                         aria-label="Language Icon"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="(locale, localeName) in $ctrl.display.locales">
                    <md-button ng-click="$ctrl.display.setLocale(locale)">
                        <md-icon md-svg-src="/assets/icon/{{ locale }}.svg" md-24 md-menu-align-target
                                 aria-label="Russian"></md-icon>
                        <span>{{ localeName }}</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <div flex="none" class="md-body-2 md-dark" style="margin: 16px 0">
            <span translate>landing.footer.copyright1</span>
            <md-icon class="fill-measure heartRate" md-svg-icon="assets/icon/heartRate.svg"></md-icon><br>
            <span translate>landing.footer.copyright2</span>
        </div>
        <div flex="none"></div>
    </div>
    <div flex="none">
        <a flex="none" target="_blank" href="https://itunes.apple.com/app/true/id1257031952">
            <img src="/assets/icon/apple_store.svg"/>
        </a>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <a flex="none" target="_blank" href="https://play.google.com/store/apps/details?id=com.staminity.phoneapp">
            <img src="/assets/icon/google_play.svg"/>
        </a>
    </div>
    <div flex="none" layout="row" layout-align="center center" class="social-buttons" style="margin: 16px 0">
        <md-button flex="none" class="md-icon-button more" aria-label="more" style="margin-left: -8px"
                   onclick="location.href='https://www.facebook.com/staminity/'">
            <md-icon class="light-active" md-svg-icon="assets/icon/facebook_clr.svg"></md-icon>
        </md-button>
        <md-button flex="none" class="md-icon-button more" aria-label="more"
                   onclick="location.href='https://vk.com/staminity'">
            <md-icon class="light-active" md-svg-icon="assets/icon/vkontakte_clr.svg"></md-icon>
        </md-button>
    </div>
</article>