@import "../../../sass/color";
.landing-footer {
  &.footer {
    padding: 32px 32px;
    background-color: $grey-050;
    .footer-block {
      max-width: 400px;
    }
  }

  &.copyright {
    padding: 32px 32px;
    background-color: $blue-grey-050;
  }
}