<md-card flex="none" layout="column" id="notifications">
    <md-card-title>
        <h2 class="md-title" translate="settings.notification.header"></h2>
    </md-card-title>
    <form name="formNotification">
        <div ng-repeat-start="notification in $ctrl.user.notifications"
             class="md-no-stiky md-subheader">
            <span class="md-subheader-inner" translate>{{::notification.group}}</span>
        </div>
        <md-card-content>
            <div layout-gt-sm="row" ng-repeat="event in notification.events">
                <div flex-gt-sm class="" style="padding-bottom: 16px">{{::event.name}}</div>
                <fieldset flex-gt-sm>
                    <div layout="row" layout-wrap flex>
                        <div flex="33">
                            <md-checkbox class="md-primary" ng-model="event.email" aria-label="email">
                                Email
                            </md-checkbox>
                        </div>
                        <div flex="33">
                            <md-checkbox class="md-primary" ng-model="event.phone" aria-label="phone">
                                Phone
                            </md-checkbox>
                        </div>
                        <div flex="33">
                            <md-checkbox class="md-primary" ng-model="event.web" aria-label="web">
                                Site
                            </md-checkbox>
                        </div>
                    </div>
                </fieldset>
            </div>
        </md-card-content>
        <md-divider ng-repeat-end ng-if="!$last"></md-divider>
    </form>
</md-card>