<!--<div class="activity__frame">
    <calendar-item-activity layout="row" class="calendar-item-activity full-screen"
                date=""
                data="$ctrl.item"
                mode="'view'"
                user="$ctrl.athlete"
                tab=""
                popup="false">
    </calendar-item-activity>
</div>-->


<calendar-item-activity layout="row"
                        class="activity calendar-item-activity"
                        style="margin: auto"
                        ng-class="{'has-actual-data': true}"
                        data="$ctrl.item"
                        options="$ctrl.options"
                        on-cancel="cancel()" on-answer="answer(formMode, item)">
</calendar-item-activity>