activity {
  .app-layer, .application {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    //background: grey;
    z-index: 60;

    @media (min-width: 0px) and (max-width: 959px) {
      top: 0px;
      height: 100%;
    }
  }

  section.application-toolbar {
    color: white;
    max-width: 1440px;
    //position: absolute;
    //width: 100%;
    //top: 0px;
    //height: 30px;
    //background-color: blue;
    margin: auto;

    md-icon {
      color: rgba(255, 255, 255, 0.54);
    }
  }

  calendar-item-activity {
    position: relative;
    height: calc(100% - 15px);
    scroll-behavior: auto;
    overflow-y: scroll;
    // xs & sm size
    @media (min-width: 0px) and (max-width: 959px) {
      height: 100%;
    }
  }

  section.application-body {
    position: absolute;
    //background: #E0D2C7;
    height: 100%;
    overflow: hidden;
    left: 0%;
    width: 100%;

    @media (min-width: 1439px){
      left: 2%;
      width: 96%;
      height: calc(100% - 10px);
    }

  }


  div.margin-left {
    position: absolute;
    display: none;
    //background: #C7E3E4;
    @media (min-width: 1439px){
      width: 2%;
      min-width: 2%;
    }
  }

  div.margin-right {
    position: absolute;
    display: none;
    right: 0;
    //background: #ECD5DE;
    @media (min-width: 1439px){
      width: 2%;
      min-width: 2%;
    }
  }

}