<div class="application">
    <div hide-md class="margin-left"></div>
    <section class="application-body">
        <section class="application-toolbar" hide-xs hide-sm></section>
        <calendar-item-activity layout="row" class="calendar-item-activity"
                date=""
                data="$ctrl.item"
                mode="'view'"
                user="$ctrl.athlete"
                tab=""
                popup="false">
        </calendar-item-activity>
    </section>
    <div hide-md class="margin-left"></div>
</div>