<nav class="analytics-management-panel md-whiteframe-2dp bg-grey-100" flex="none">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{'analytics.panel.filter' | translate}}">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab One</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
        </md-tab>
        <md-tab label="{{'analytics.panel.charts' | translate}}">
            <md-list class="md-dense" flex>
                <md-subheader class="md-no-sticky" translate="analytics.defaultCharts"></md-subheader>
                <md-list-item class="md-2-line"
                              ng-repeat="chart in $ctrl.charts">
                    <md-icon class="material-icons md-dark">{{::chart.icon}}</md-icon>
                    <div class="md-list-item-text">
                        <h3 translate="analytics.{{chart.title}}"></h3>
                        <p translate="analytics.{{chart.description}}"></p>
                        <md-switch class="md-secondary md-primary" ng-model="chart.active"></md-switch>
                    </div>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tabs>
</nav>