<nav class="analytics-management-panel md-whiteframe-2dp bg-grey-100" flex="auto"
     ng-class="{'panel': $ctrl.panel !== 'hide'}" ng-switch="$ctrl.panel">
    <section class="hide-panel" ng-switch-when="hide" layout="column">
        <md-button flex="none" class="md-icon-button" ng-click="$ctrl.panelChange('filters')">
            <md-icon class="md-secondary md-dark material-icons">filter_list</md-icon>
        </md-button>
        <md-button flex="none" class="md-icon-button" ng-click="$ctrl.panelChange('settings')">
            <md-icon class="md-secondary md-dark material-icons">settings</md-icon>
        </md-button>
    </section>
    <section class="open-panel" ng-switch-default layout="column" layout-fill flex="auto">
        <md-toolbar flex="none" class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <h2 translate="analytics.panel.title"></h2>
                <span flex="auto"></span>
                <md-button class="md-icon-button" ng-click="$ctrl.panelChange('hide')">
                    <md-tooltip md-direction="left">{{'measurement.toolbar.close' | translate}}</md-tooltip>
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content flex="auto" layout="column">
            <md-tabs flex="auto" layout-fill class="md-primary md-hue-2" md-selected="$ctrl.item.selectedTab"
                     md-stretch-tabs="always" ng-cloak>
                <md-tab id="overview" flex="auto" layout="column">
                    <md-tab-label>
                        <!--<md-icon class="material-icons">filter_list</md-icon>-->
                        <span translate="analytics.panel.filter"></span>
                    </md-tab-label>
                    <md-tab-body layout="column" layout-fill>
                        <form flex="auto" name="$ctrl.filterForm" layout="column" layout-fill>
                            <md-list class="md-dense" flex="auto">
                                <md-list-item>
                                    <md-input-container class="md-block no-message" layout="row">
                                        <label translate="analytics.filter.users.placeholder"></label>
                                        <md-select flex="auto" name="sport" class="icon"
                                                   multiple="false"
                                                   md-selected-text="$ctrl.usersSelectedText()"
                                                   ng-model="$ctrl.filter.users.model"
                                                   ng-change="$ctrl.filter.changeParam('users')"
                                                   ng-disabled="!$ctrl.filter.users.options || $ctrl.filter.users.options.length <= 1">
                                            <md-option ng-repeat="user in $ctrl.filter.users.options track by user.userId"
                                                       value="{{user.userId}}">
                                                <span>{{user | username}}</span>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item>
                                    <md-input-container class="md-block no-message" md-no-float layout="row">
                                        <label translate="analytics.filter.activityTypes.placeholder"></label>
                                        <md-select flex
                                                   name="sport"
                                                   class="icon"
                                                   type="number"
                                                   multiple="true"
                                                   md-selected-text="$ctrl.activityTypesSelectedText()"
                                                   ng-model="$ctrl.filter.activityTypes.model"
                                                   ng-change="$ctrl.filter.changeParam('activityType')">
                                            <md-option ng-repeat="type in $ctrl.filter.activityTypes.options | filter:{enabled: true} track by type.id"
                                                       value="{{type.id}}">
                                                {{'sport.' + type.code | translate}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="$ctrl.form.sport.$error" role="alert">
                                            <div ng-message-exp="['required']"
                                                 translate="form.required">
                                            </div>
                                            <div ng-message-exp="['minlength', 'maxlength']"
                                                 translate="form.rangeStr" translate-values="{min:2, max:100}">
                                            </div>
                                        </div>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item ng-if="$ctrl.filter.activityTypes.model.length === 1">
                                    <md-input-container class="md-block no-message">
                                        <label translate="analytics.filter.activityCategories.placeholder"></label>
                                        <md-select
                                                multiple="true"
                                                md-selected-text="$ctrl.activityCategoriesSelectedText()"
                                                ng-model="$ctrl.filter.activityCategories.model"
                                                ng-model-options="{ trackBy: '$value' }"
                                                md-no-asterisk="false"
                                                ng-change="$ctrl.filter.changeParam('activityCategories')"
                                                type="number"
                                                name="category"
                                                class="icon">
                                            <md-optgroup
                                                    ng-repeat="owner in ['user', 'coach', 'club', 'system']"
                                                    ng-if="$ctrl.filter.categoriesByOwner[owner].length"
                                                    label="{{ 'reference.categories.' + owner | translate }}">
                                                <md-option
                                                        ng-repeat="category in $ctrl.filter.categoriesByOwner[owner] | filter:{activityTypeId: $ctrl.filter.activityTypes.model[0], visible: true}:true track by category.id"
                                                        ng-value="category.id">
                                                    {{ category | categoryCode }}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <div ng-messages="$ctrl.form.category.$error" role="alert">
                                            <div ng-message="required"
                                                 translate="form.required">
                                            </div>
                                        </div>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item>
                                    <md-input-container class="md-block no-message" layout="row">
                                        <label translate="analytics.filter.periods.placeholder"></label>
                                        <md-select flex="auto" name="periods" class="icon"
                                                   multiple="false"
                                                   md-selected-text="$ctrl.periodsSelectedText()"
                                                   ng-model="$ctrl.filter.periods.model"
                                                   ng-change="$ctrl.filter.changeParam('periods')">
                                            <md-option ng-repeat="type in $ctrl.filter.periods.options track by $index"
                                                       value="{{type}}">
                                                <span>{{'analytics.params.' + type | translate}}</span>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item ng-if="$ctrl.filter.periods.model === 'customPeriod'">
                                    <md-input-container class="md-block no-message" layout="row">
                                        <label translate="analytics.filter.periods.startDate"></label>
                                        <md-datepicker ng-model="$ctrl.filter.periods.data.startDate" flex="auto"
                                                       md-hide-icons="calendar"
                                                       ng-change="$ctrl.filter.changeParam('periods')"
                                                       name="startDate"></md-datepicker>
                                        <div ng-messages="$ctrl.personalFirstForm.birthday.$error">
                                            <div ng-message="valid" translate="form.invalidDate"></div>
                                        </div>
                                    </md-input-container>
                                </md-list-item>
                                <md-list-item ng-if="$ctrl.filter.periods.model === 'customPeriod'">
                                    <md-input-container class="md-block no-message" layout="row">
                                        <label translate="analytics.filter.periods.endDate"></label>
                                        <md-datepicker ng-model="$ctrl.filter.periods.data.endDate" flex="auto"
                                                       md-hide-icons="calendar"
                                                       ng-change="$ctrl.filter.changeParam('periods')"
                                                       name="endDate"></md-datepicker>
                                        <div ng-messages="$ctrl.personalFirstForm.birthday.$error">
                                            <div ng-message="valid" translate="form.invalidDate"></div>
                                        </div>
                                    </md-input-container>
                                </md-list-item>
                                <md-divider style="margin: 16px 0px"></md-divider>
                                <p class="md-caption md-dark hint-text" translate="analytics.settings.aboutStorage"></p>
                                <md-list-item ng-click="$ctrl.analytics.saveSettings('charts');$ctrl.analytics.saveSettings('filter')">
                                    <p translate="analytics.settings.saveContext"></p>
                                    <md-icon class="md-secondary md-dark material-icons">save</md-icon>

                                </md-list-item>
                                <md-list-item ng-click="$ctrl.analytics.restoreSettings()">
                                    <p translate="analytics.settings.restoreContext"></p>
                                    <md-icon class="md-secondary md-dark material-icons">restore</md-icon>
                                </md-list-item>
                            </md-list>
                            <div flex="auto"></div>
                            <md-button ng-click="$ctrl.onChangeFilter()"
                                       style="width: calc(100% - 16px)"
                                       flex="none"><span translate="analytics.filter.go"></span></md-button>
                        </form>
                    </md-tab-body>
                </md-tab>
                <md-tab id="overview" flex="auto" layout="column">
                    <md-tab-label>
                        <!--<md-icon class="material-icons">settings</md-icon>-->
                        <span translate="analytics.panel.charts"></span>
                    </md-tab-label>
                    <md-tab-body layout="column" layout-fill>
                        <md-list class="md-dense" flex>
                            <md-subheader class="md-no-sticky">{{'analytics.defaultCharts' | translate}}</md-subheader>
                            <p class="md-caption md-dark hint-text" translate="analytics.settings.aboutRoles"></p>
                            <md-list-item class="md-2-line"
                                          ng-repeat="chart in $ctrl.charts">
                                <md-icon class="material-icons md-dark" ng-class="{'md-inactive': !chart.isAuthorized}">{{::chart.icon}}</md-icon>
                                <div class="md-list-item-text">
                                    <h3 class="md-dark" translate="analytics.{{chart.title}}" ng-class="{'md-inactive': !chart.isAuthorized}"></h3>
                                    <p class="md-dark" translate="analytics.{{chart.shortDescription}}" ng-class="{'md-inactive': !chart.isAuthorized}"></p>
                                    <md-switch class="md-secondary md-primary"
                                               ng-change="$ctrl.onChangeCharts()"
                                               ng-disabled="!chart.isAuthorized"
                                               ng-model="chart.active"></md-switch>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</nav>