@import "../../../sass/color";
@import "../../../sass/base";
@import "../../../sass/font";

calendar-activity {

  @extend .bg-grey-300;
  @extend .md-whiteframe-1dp;

  // xs & sm size
  @media (min-width: 0px) and (max-width: 959px) {
    @include border-radius(3px);
    box-shadow: none !important;
    margin-bottom: 8px;
  }

  .activity-header {
    @include border-radius-custom(3px, 3px, 0px, 0px);
    padding: 10px 12px 12px 12px;

    &:focus {
      outline:0;
    }

    section.icon {
      // xs & sm size
      @media (min-width: 0px) and (max-width: 959px) {
        margin-right: 16px;
      }
    }

    section.percent {
      line-height: 40px;
    }

    // xs & sm size
    @media (min-width: 0px) and (max-width: 959px) {
      @include border-radius(3px);
    }

    // md size
    @media (min-width: 960px) and (max-width: 1279px){
      @include border-radius(0px);
    }

    &.complete {
      // Задание выполнено без отклонений

      color: white;
      #more {
        //@extend .light-active;
      }
      @extend .bg-teal-gradient-800-500;

      .bg-circle-32 {
        background: $teal-800 !important;
      }

      &:hover, &.selected {
        @extend .bg-teal-gradient-900-800;

        .bg-circle-32 {
          background: $teal-900 !important;
        }
      }

      // xs & sm size
      @media (min-width: 0px) and (max-width: 959px) {
        background: $teal-500 !important;
      }

      // Задание выполнено с отклонениями
      &-warn {
        color: white;
        @extend .bg-orange-gradient-800-500;
        .bg-circle-32 {
          background-color: $orange-800 !important;
        }

        &:hover, &.selected {
          @extend .bg-orange-gradient-900-800;

          .bg-circle-32 {
            background-color: $orange-900 !important;
          }
        }

        // xs & sm size
        @media (min-width: 0px) and (max-width: 959px) {
          background: $orange-500 !important;
        }

      }

      // Задание выполнено с существенными отклонениями
      &-error {
        color: white;
        @extend .bg-red-gradient-800-500;
        .bg-circle-32 {
          background-color: $red-800 !important;
        }

        &:hover, &.selected {
          @extend .bg-red-gradient-900-800;

          .bg-circle-32 {
            background-color: $red-900 !important;
          }
        }

        // xs & sm size
        @media (min-width: 0px) and (max-width: 959px) {
          background: $red-500 !important;
        }

      }
    }

    &.dismiss {
      @extend .bg-red-gradient-800-500;
      color: white;

      .bg-circle-32 {
        background-color: $red-800 !important;
      }

      #more {
        //@extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-red-gradient-900-800;
        .bg-circle-32 {
          background-color: $red-900 !important;
        }
      }
      // xs & sm size
      @media (min-width: 0px) and (max-width: 959px) {
        background: $red-500 !important;
      }
    }

    &.not-specified {
      @extend .bg-blue-grey-gradient-600-400;
      color: white;

      .bg-circle-32 {
        background-color: $blue-grey-600 !important;
      }

      #more {
        //@extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-blue-grey-gradient-900-800;
        .bg-circle-32 {
          background-color: $blue-grey-900 !important;
        }
      }
      // xs & sm size
      @media (min-width: 0px) and (max-width: 959px) {
        background-color: $blue-grey-600 !important;
      }
    }

  }

  .activity-footer {
    @include border-radius-custom(0px, 0px, 3px, 3px);
    padding: 10px 12px 12px 12px;
    border-top: solid 1px rgba($grey-500, 0.5);
    @extend .bg-grey-200;

    .bt-more {
      color: grey;
      margin-top: 8px;
      &:focus {
        outline:0;
      }
    }

  }

}