<div flex layout="column">
    <!-- Заголовок тренировки (верхняя часть): начало -->
    <header flex="none" layout="column"
         class="activity-header {{::$ctrl.data.status}}"
         ng-class="{selected: $ctrl.selected}"
         ng-click="$ctrl.onOpen($env,'view')">
        <div flex="none" layout="row" layout-align="space-between center" layout-align-gt-sm="space-between start">
            <section class="percent md-caption tight-07" flex="25" hide show-gt-sm>{{::$ctrl.data.printPercent()}}</section>
            <section class="icon" flex="none" flex-gt-sm="auto" layout="row" layout-align="center start">
                <div flex="none" layout="row" layout-align="center center" class="bg-circle-32 bg-grey-600">
                    <md-icon md-svg-src="{{::$ctrl.data.sportUrl}}"
                             style="margin-left: 4px"
                             class="s24 light-active"></md-icon>
                    <md-icon ng-if="::$ctrl.data.structured" hide show-gt-sm
                             md-svg-src="assets/icon/{{::$ctrl.data.intervalPW.intensityMeasure}}.svg"
                             style="margin-left: 2px; margin-right: 2px"
                             class="s18 light-active"></md-icon>
                    <div ng-if="::$ctrl.data.structured" hide show-gt-sm
                         style="margin-right: 8px; margin-left: -3px; margin-bottom: -14px; font-size: 12px;">
                        {{::$ctrl.data.intervalPW.intensityFtpMax}}
                    </div>
                </div>
            </section>

            <div flex="auto" layout="column" layout-align="center start" hide show-xs show-sm>

                <div flex layout="row" layout-align="start start"
                     class="md-caption secondary data-category"
                     ng-class="::{'dark' : ($ctrl.status == 'planned')}">
                    <div flex="none" class="line-14" ng-if="::$ctrl.data.categoryCode" translate>{{::'category.'+$ctrl.data.categoryCode}}</div>
                </div>

                <section flex layout="row" layout-align="start start"
                         class="md-title-small secondary center tight-10"
                         ng-class="::{'dark' : ($ctrl.status == 'planned')}"
                         ng-if="::(!!$ctrl.data.movingDuration || $ctrl.data.distance)">
                    <div flex="none" ng-if="::$ctrl.data.movingDuration">
                        {{::$ctrl.data.movingDuration | measureCalc:$ctrl.data.sportBasic:'movingDuration'}}
                        <span>&nbsp&nbsp</span>
                    </div>
                    <div flex="none" ng-if="::$ctrl.data.distance">
                        {{::$ctrl.data.distance | measureCalc:$ctrl.data.sportBasic:'distance'}}&nbsp
                        {{'distance' | measureUnit:$ctrl.data.sportBasic | translate}}</div>
                </section>

            </div>
            <md-menu flex="none" flex-gt-sm="25">
                <md-button class="md-icon-button" aria-label="More Event"
                               style="margin-right: 0px"
                               ng-click="$mdOpenMenu($event)">
                    <md-icon class="material-icons md-18">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.onOpen($env,'put')">
                            <md-icon class="material-icons" md-menu-align-target>edit</md-icon>
                            Изменить
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.calendar.onCopy([$ctrl.item])">
                            <md-icon class="material-icons" md-menu-align-target>content_copy</md-icon>
                            Скопировать
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.onDelete()" ng-disabled="::!$ctrl.isCreator">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                            Удалить
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

        <div flex="none" layout="row" layout-align="center center" hide show-gt-sm
             class="md-caption secondary center data-category"
             ng-class="::{'dark' : ($ctrl.status == 'planned')}">
            <div flex="none" class="line-14" ng-if="::$ctrl.data.category">{{::$ctrl.data.category | categoryCode}}</div>
        </div>
        <section flex="none" layout="row" layout-align="center center" hide show-gt-sm
             class="md-title-small secondary center tight-10"
             ng-class="::{'dark' : ($ctrl.status == 'planned')}"
             ng-if="::(!!$ctrl.data.movingDuration || $ctrl.data.distance)">
            <div flex="none" ng-if="::$ctrl.data.movingDurationApprox">~</div>
            <div flex="none" ng-if="::$ctrl.data.movingDuration">
                {{::$ctrl.data.movingDuration | measureCalc:$ctrl.data.sportBasic:'movingDuration'}}
                <span>&nbsp&nbsp</span>
            </div>
            <div flex="none" ng-if="::$ctrl.data.distanceApprox">~</div>
            <div flex="none" ng-if="::$ctrl.data.distance">
                {{::$ctrl.data.distance | measureCalc:$ctrl.data.sportBasic:'distance'}}&nbsp
                {{'distance' | measureUnit:$ctrl.data.sportBasic | translate}}</div>
        </section>
        <calendar-activity-chart flex="none"
                ng-if="::$ctrl.segmentChart"
                hide show-gt-sm data="::$ctrl.segmentChart" status="::$ctrl.data.status">
        </calendar-activity-chart>

    </header>
    <!-- Заголовок тренировки (нижняя часть): начало -->
    <footer flex="none" layout="column" ng-if="(!$ctrl.calendar.view.compact && $ctrl.data.hasBottomData())"
         hide show-gt-md
         class="activity-footer line-12"
         ng-switch on="$ctrl.data.bottomPanel">
        <!-- Панель: Установка тренера -->
        <div flex="none" ng-switch-when="plan">
            <div ng-if="::$ctrl.data.intensityMeasure" layout="row" class="md-caption secondary dark" style="margin-top: 2px">
                <div flex="none">
                    {{::$ctrl.data.intervalPW | measureCalcInterval:$ctrl.data.sportBasic:$ctrl.data.intensityMeasure}}
                    <span flex="none" class="disable dark">&nbsp{{::$ctrl.data.intensityMeasure | measureUnit:$ctrl.data.sportBasic | translate}}</span>
                </div>
            </div>
            <div flex ng-if="::($ctrl.data.intensityMeasure && !!$ctrl.data.intervalPW.trainersPrescription.length)"
                 style="height: 4px"></div>
            <div class="md-caption secondary dark" style="font-size: 12px"
                 ng-if="::(!!$ctrl.data.intervalPW.trainersPrescription.length)"
                 hm-read-more
                 hm-text="{{::$ctrl.data.intervalPW.trainersPrescription}}"
                 hm-limit="50"
                 hm-more-text="more"
                 hm-less-text="less"
                 hm-dots-class="read-more-dots"
                 hm-link-class="read-more-links">

            </div>
        </div>
        <!-- Панель: Фактические данные по неструктурированной тренировке -->
        <div flex="none" ng-switch-when="data"
             flex layout="row"
             class="md-caption"
             ng-if="::($ctrl.bottomPanelData.length > 0)">
            <div flex="none">
                <md-icon class="material-icons md-18"
                         style="margin-right: 8px">timer</md-icon>
            </div>
            <div flex layout="row" layout-wrap="true" class="md-caption secondary dark"
                 style="margin-top: 2px; font-size: 12px; line-height: 16px">
                <div flex="none" ng-repeat="(ind,obj) in ::$ctrl.bottomPanelData track by ind">
                    {{::obj.value | measureCalc:$ctrl.data.sportBasic:obj.measure}}
                    <span flex="none" class="disable dark">&nbsp{{::obj.measure | measureUnit:$ctrl.data.sportBasic | translate}}&nbsp</span>
                </div>
            </div>
        </div>
        <!-- Панель: Перечень сегментов структурированной тренировки -->
        <div flex="none" ng-switch-when="segmentList"
             flex layout="column"
             class="md-caption">
            <div ng-repeat="interval in $ctrl.segmentList | filter:$ctrl.collapse track by $index"
                 ng-switch on="interval.group"
                 flex layout="row">
                <!-- группа интервалов
                    ng-if="interval.show || $ctrl.collapse"
                -->
                <div ng-switch-when="true"
                     class="segment-list"
                     flex layout="row" layout-align="start center">
                    <div flex="none" style="width: 20px" class="md-body-2">{{interval.repeatCount}}x</div>
                    <div flex="auto" layout="column">
                        <div ng-repeat="item in interval.subItem | filter:$ctrl.collapse track by $index"
                             flex layout="row"
                             ng-class="::{'newlinesvg': interval.keyInterval}">
                            <div flex="none" style="height: 15px; margin-right: 4px">
                                <!--<img src="{{::$ctrl.getBullet($first, $middle, $last)}}"
                                         style="width: 15px; height: 15px; min-width: 15px; min-height: 15px"
                                         class="dark-active"/>-->
                            </div>
                            <div flex="none" style="width: 40px">{{::item.calcMeasures.distance.value}} км</div>
                            <div flex="auto">{{::item.calcMeasures.heartRate.value}}чсс</div>
                        </div>
                    </div>
                </div>
                <!-- отдельный сегмент -->
                <div ng-switch-when="false"
                     class="segment-list"
                     flex layout="row">
                    <div flex="none" style="width: 20px"></div>
                    <div flex layout="row"
                         ng-class="::{'newlinesvg': interval.keyInterval}">
                        <div flex="none" style="height: 15px; margin-right: 4px">
                            <img ng-src="assets/icon/bullet.svg"
                                     style="width: 15px; height: 15px; min-width: 15px; min-height: 15px"
                                     class="dark-active"/></div>
                        <div flex="none" style="width: 40px">{{::interval[interval.durationMeasure + 'Length'] | measureCalc:'run':interval.durationMeasure}}</div>
                        <div flex="auto">{{::interval | measureCalcInterval:'run':interval.intensityMeasure}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div flex="none" ng-if="::($ctrl.segmentList.length > 4)"
             flex layout="row" layout-align="center start"
             class="md-caption bt-more"
             ng-click="$ctrl.collapse.hasOwnProperty('show') ? $ctrl.collapse = {} : $ctrl.collapse = {show: true}">
            <div>{{::$ctrl.collapse.hasOwnProperty('show') ? '...more' : '...less'}}</div>
        </div>
    </footer>
</div>

