<md-table-container class="competition-single-stage" ng-repeat="stage in $ctrl.items">
    <table md-table
           md-row-select="false"
           multiple="false"
           ng-model="$ctrl.selected">
        <thead md-head ng-if="$first">
        <tr md-row>
            <th md-column><span></span></th>
            <th md-column hide><span translate="activity.measureUnitFull"></span></th>
            <th md-column show style="min-width: 50px"><span translate="activity.measureUnitShort"></span></th>
            <th md-column md-numeric style="min-width: 65px"><span translate="activity.plan"></span></th>
            <th md-column md-numeric ng-if="!$ctrl.stage.item.template" style="min-width: 50px"><span
                    translate="activity.actual"></span></th>
            <th md-column md-numeric ng-if="!$ctrl.stage.item.template" style="-min-width: 50px"><span
                    translate="activity.completeShort"></span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-if="true" ng-repeat="measure in ['distance', 'movingDuration']">
            <td md-cell>
                <md-icon md-svg-src="assets/icon/{{measure}}.svg" class="md-dark"></md-icon>
            </td>
            <td md-cell show>
                <span>{{measure | measureUnit:stage.item.header.sportBasic | translate}}</span>
            </td>

            <td md-cell>
                <md-input-container>
                    <input measure-input
                           name="plan_{{::measure}}"
                           ng-model="stage.item.intervals.PW[measure].durationValue"
                           change="$ctrl.change"
                           measure="measure"
                           ng-attr-sport={{stage.item.header.sportBasic}}
                           interval="false"
                           ftp-mode="false"
                           ftp="null"
                           ng-change="$ctrl.changeValue(measure)"
                           ng-disabled="stage.item.view.isView">
                </md-input-container>
            </td>
            <td md-cell>
                <md-input-container>
                    <input ng-model="$ctrl.actual[measure.$key][$ctrl.valueType[measure.$key]]"
                           name="actual_{{::measure}}" measure-input
                           measure="measure"
                           ng-attr-sport={{stage.item.header.sportBasic}}
                           interval="false"
                           ftp-mode="false"
                           ftp="null"
                           ng-change="$ctrl.changeValue()"
                           ng-disabled="stage.item.hasActualData">
                </md-input-container>
            </td>
            <td md-cell>
                {{$ctrl.percentComplete[measure.$key] | percent}}
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>