<md-list class="md-dense section user-settings-agent">
    <md-divider ng-repeat-start="currency in $ctrl.currencies"></md-divider>
    <md-list-item>
        <div class="md-body-2">{{currency}} ({{'user.settings.agent.currency.' + currency | translate}})</div>
    </md-list-item>
    <md-list-item ng-if="!$ctrl.hasAccounts(currency)">
        <div class="md-body-1" translate>user.settings.agent.cards.none</div>
    </md-list-item>
    <md-list-item ng-if="$ctrl.hasAccounts(currency)" layout="row" layout-wrap>
        <div flex="50" translate>user.settings.agent.cards.card</div>
        <div flex="auto" class="md-body-1" style="text-align: center" translate>user.settings.agent.cards.isDefault</div>
        <div flex="none" style="width: 88px;"></div>
    </md-list-item>
    <md-list-item ng-repeat="account in $ctrl.getAccounts(currency) track by account.id"
                  layout="row" layout-wrap>
        <div class="md-body-1" flex="50" translate translate-values="{identityString:account.identityString, expireDate:account.expireDate}">user.settings.agent.cards.card</div>
        <md-button ng-if="!account.isDefault" flex="auto" class="md-icon-button" ng-click="$ctrl.setDefaultAccount(account)">
            <md-icon class="material-icons">radio_button_unchecked</md-icon>
        </md-button>
        <md-button ng-if="account.isDefault" flex="auto" class="md-icon-button" ng-disabled="true">
            <md-icon class="material-icons">radio_button_checked</md-icon>
        </md-button>
        <md-button ng-click="$ctrl.removeAccount(account)" flex="none">{{'user.settings.agent.cards.removeCard'| translate}}</md-button>
    </md-list-item>
    <md-list-item ng-repeat-end layout="row" layout-wrap>
        <div flex></div>
        <md-button ng-click="$ctrl.addAccount(currency)">{{'user.settings.agent.cards.addCard'| translate}}</md-button>
    </md-list-item>
</md-list>
