<div ng-if="$ctrl.item.isLoadingRange" class="screen-center-block"
     style="background-color: white; opacity: 0.5; position: absolute; z-index: 100">
    <div>
        <img src="/assets/icon/ripple.svg" width="60" height="60"/>
    </div>
</div>

<section flex="none" class="chart" ng-if="!$ctrl.item.$mdMedia('gt-sm') || $ctrl.item.isIonic"
         ng-switch="$ctrl.completeDetails" layout="column" style="margin-top: 8px; margin-right: 8px; height: 35vh">

    <div flex="auto" class="loading-chart" ng-switch-when="false"
         layout="column" layout-align="center center">
        <img flex="none" src="/assets/icon/loading-bars.gif" width="40"/>
        <p flex="none" class="md-caption md-dark center">loading...</p>
    </div>
    <div flex="none" layout="row" layout-align="center between-center" ng-switch-when="true">
        <md-button flex="none"
                   ng-repeat="measure in $ctrl.chartData.measuresY track by $index" class="md-secondary md-icon-button"
                   ng-click="$ctrl.changeChartMetrics(measure)">
            <md-icon md-svg-src="assets/icon/{{measure}}.svg"
                     ng-class="{'md-inactive': !$ctrl.chartData.measures[measure].show}"
                     class="md-dark fill-measure {{measure}}"></md-icon>
        </md-button>
    </div>
    <activity-metrics-char ng-cloak
                           flex="auto" ng-switch-when="true"
                           measures="$ctrl.chartData.measures"
                           data="$ctrl.chartData.data"
                           x="elapsedDuration"
                           smooth="$ctrl.item.activity.header.sportBasic === 'swim' ? 1 : 10"
                           step="$ctrl.chartData.avgStep"
                           change="$ctrl.change"
                           change-measure="$ctrl.changeMeasure"
                           sport="$ctrl.item.activity.header.sportBasic"
                           select="$ctrl.item.selectionTimestamp"
                           on-selected="$ctrl.onSelectionRange(select)">{{'activity.details.chart.title' | translate}}...
    </activity-metrics-char>
</section>

<md-divider></md-divider>


<md-list class="md-dense slim-input">
    <form>
        <md-list-item style="padding-top: 0px">
            <md-input-container class="md-block no-message" md-no-float layout="row">
                <md-icon class="material-icons">format_list_numbered</md-icon>
                <md-select flex name="sport" class="icon" multiple="true" placeholder="{{'activity.split.all' | translate}}"
                           ng-model="$ctrl.selectedIntervals" ng-change="$ctrl.changeSelect()">
                    <md-optgroup label="{{'activity.details.table.laps' | translate}}"
                                 ng-if="$ctrl.item.activity.intervals.P.length > 0">
                        <md-option ng-repeat="interval in $ctrl.intervals | toArray | filter:{type: 'P'} track by interval.$key"
                                   value="{{interval.$key}}">
                            <span>{{interval.$key}}</span>
                            <span>({{interval.duration | measureCalc:$ctrl.item.activity.header.sportBasic:'duration'}}</span>
                            <span>{{interval.distance | measureCalc:$ctrl.item.activity.header.sportBasic:'distance'}}</span>
                            <span>{{'distance' | measureUnit:$ctrl.item.activity.header.sportBasic | translate}})</span>
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="{{'activity.details.table.segments' | translate}}">
                        <md-option ng-repeat="interval in $ctrl.intervals | toArray | filter:{type: 'L'} track by interval.$key"
                                   value="{{interval.$key}}">
                            <span>{{interval.$key}}</span>
                            <span>({{interval.duration | measureCalc:$ctrl.item.activity.header.sportBasic:'duration'}}</span>
                            <span>{{interval.distance | measureCalc:$ctrl.item.activity.header.sportBasic:'distance'}}</span>
                            <span>{{'distance' | measureUnit:$ctrl.item.activity.header.sportBasic | translate}})</span>
                        </md-option>
                    </md-optgroup>
                    <md-optgroup label="Выделения">
                        <md-option ng-repeat="interval in $ctrl.intervals | toArray | filter:{type: 'U'} track by interval.$key"
                                   value="{{interval.$key}}">
                            <span>{{interval.$key}}</span>
                            <span>({{interval.duration | measureCalc:$ctrl.item.activity.header.sportBasic:'duration'}}</span>
                            <span>{{interval.distance | measureCalc:$ctrl.item.activity.header.sportBasic:'distance'}}</span>
                            <span>{{'distance' | measureUnit:$ctrl.item.activity.header.sportBasic | translate}})</span>
                        </md-option>
                    </md-optgroup>
                </md-select>
                <div ng-messages="$ctrl.assignmentForm.type.$error" role="alert">
                    <div ng-message-exp="['required']"
                         translate="form.required">
                    </div>
                    <div ng-message-exp="['minlength', 'maxlength']"
                         translate="form.rangeStr" translate-values="{min:2, max:100}">
                    </div>
                </div>
            </md-input-container>
        </md-list-item>
    </form>
</md-list>

<measures-avg-table flex="none" class="measures-avg-table" ng-cloak
                    calc-measures="$ctrl.getCalcMeasure($ctrl.selectedIntervals)"
                    sport="$ctrl.item.activity.header.sportBasic"
                    changes="$ctrl.changes"></measures-avg-table>

<measure-main-button flex="none" class="measure-main-button" ng-cloak
                     calc-measures="$ctrl.getCalcMeasure($ctrl.selectedIntervals)"
                     sport="$ctrl.item.activity.header.sportBasic"
                     changes="$ctrl.changes"></measure-main-button>

<activity-peaks flex="auto" class="activity-peaks" ng-cloak
                calc-measures="$ctrl.getCalcMeasure($ctrl.selectedIntervals)"
                sport="$ctrl.item.activity.header.sportBasic"
                changes="$ctrl.changes"></activity-peaks>