<md-table-container>
    <table md-table
           md-row-select="$ctrl.options.rowSelection"
           multiple="{{$ctrl.options.multiSelect}}"
           ng-model="$ctrl.selected">
        <thead ng-if="!$ctrl.options.decapitate" md-head>
        <tr md-row>
            <th md-column><span>#</span></th>
            <th md-column md-numeric md-order-by="calcMeasures.movingDuration.maxValue"><span>Время</span></th>
            <th md-column md-numeric md-order-by="calcMeasures.distance.maxValue"><span>Дистанция</span></th>
            <th md-column md-numeric md-order-by="calcMeasures.heartRate.avgValue"><span>Пульс</span></th>
            <th md-column md-numeric md-order-by="calcMeasures.speed.avgValue"><span>Темп</span></th>
            <th md-column md-numeric md-order-by="calcMeasures.elevationGain.avgValue"><span>Набор</span></th>
            <th md-column md-numeric md-order-by="calcMeasures.cadence.avgValue"><span>Каденс</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            md-select="split"
            md-on-select="change" md-on-deselect="change" md-auto-select="$ctrl.options.autoSelect"
            ng-repeat="split in splits track by $index">
            <td md-cell>{{$index+1}}</td>
            <td md-cell>{{split.calcMeasures.movingDuration.value | duration}}</td>
            <td md-cell>{{split.calcMeasures.distance.value | measureCalc:$ctrl.sport:'distance'}}</td>
            <td md-cell>
                <div layout="row" layout-align="end center">
                    <div flex="auto" style="background-color: #F5F5F5; height: 10px; border-radius: 5px; margin-right: 4px" layout="low">
                        <div flex="none" style="height: 10px; border-radius: 5px; background: deeppink; width: 50%"></div>
                    </div>
                    <div flex="none" style="line-height: 32px">{{split.calcMeasures.heartRate.value | measureCalc:$ctrl.sport:'heartRate'}}</div>
                </div>
            </td>
            <td md-cell>
                <div layout="row" layout-align="end center">
                    <div flex="auto" style="background-color: #F5F5F5; height: 10px; border-radius: 5px; margin-right: 4px" layout="low">
                        <div flex="none" style="height: 10px; border-radius: 5px; background: dodgerblue; width: 20%"></div>
                    </div>
                    <div flex="none" style="line-height: 32px">{{split.calcMeasures.speed.value | measureCalc:$ctrl.sport:'speed'}}</div>
                </div>
            </td>
            <td md-cell>{{split.calcMeasures.elevationGain.value | measureCalc:$ctrl.sport:'elevationGain'}}</td>
            <td md-cell>{{split.calcMeasures.cadence.value | measureCalc:$ctrl.sport:'cadence'}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>