.training-plans-store {

  &__content {
  }

  &__application {
    width: 100%;
    position: absolute;
    top: 0;
    height: calc(100vh - 64px);

    @media (max-width: 959px) {
      width: auto;
      margin: 8px;
      height: calc(100vh - 86px);
      overflow-y: auto;
    }
  }

  &__plans-section {
    overflow-y: auto;
    margin: 0px 8px;

    @media (max-width: 959px) {
      overflow-y: initial;
    }
  }


}