<st-application-frame
    class="training-plans-store st-application-frame"
    template="application"
    navigation-bar="true"
    left-bar="$ctrl.leftPanel()"

    nav-bar="true"
    nav-bar-state="$ctrl.currentState"
    ng-switch="$ctrl.currentState">

    <st-application-frame-title>
        <span class="md-title" translate="trainingPlans.title"></span>
    </st-application-frame-title>

    <st-application-frame-navbar layout="row">
        <md-nav-item  ng-repeat="state in $ctrl.navBarStates track by $index"
                      md-nav-click="$ctrl.setState(state)" name="{{::state}}">
            <span translate="trainingPlans.{{::state}}.title"></span>
        </md-nav-item>
    </st-application-frame-navbar>

    <!-- Магазин планов -->
    <st-application-frame-left-bar ng-if="$ctrl.currentState === 'store'">
        <training-plans-filter class="training-plans-search__filter"
                               filter="$ctrl.storePlansFilter"
                               view="search"
                               on-change-filter="$ctrl.changeStorePlansFilter(filter)">
        </training-plans-filter>
    </st-application-frame-left-bar>

    <st-application-frame-content ng-switch-when="store">
        <section flex="auto" class="training-plans-store__content">
            <st-training-plans-store-items
                    search-params="$ctrl.storePlansFilter"
                    update="$ctrl.storePlansFilterChange"/>
        </section>
    </st-application-frame-content>

    <!-- Покупки пользователя -->
    <st-application-frame-left-bar ng-if="$ctrl.currentState === 'purchases'">
        <training-plans-filter class="training-plans-search__filter"
                               view="search">
        </training-plans-filter>
    </st-application-frame-left-bar>

    <st-application-frame-content ng-switch-when="purchases">
        <training-plans-list plans="$ctrl.plans"
                             customer="true"
                             filter="$ctrl.purchasesPlansFilter"
                             update="$ctrl.trainingPlansFilterChange"
                             filter-changes="$ctrl.filterChanges"
                             on-change-filter="$ctrl.saveSettings('charts')"
                             mobile-view="">
        </training-plans-list>
        <!--<section ng-if="$ctrl.plans.length" class="methodology__access-lock"
                 layout="column" layout-align="center center">
            <md-icon flex="none"
                     class="material-icons md-dark md-inactive">lock_outline</md-icon>
            <p flex="none" class="md-body-1 md-dark center"
               translate="methodology.accessLock.{{$ctrl.currentState}}"></p>
        </section>-->
    </st-application-frame-content>


</st-application-frame>

