<st-application-frame
    class="st-application-frame"
    template="application"
    navigation-bar="false"
    left-bar="true"

    left-bar-hide-type="'collapsed'"
    left-bar-show="$ctrl.leftBarShow"
    right-bar-show="$ctrl.rightBarShow">

    <st-application-frame-title>
        <span>Тренировочные планы</span>
    </st-application-frame-title>

    <st-application-frame-toolbar>

    </st-application-frame-toolbar>

    <st-application-frame-content>
        <section flex="auto" class="training-plans-store__content">
            <st-training-plans-store-items search-params="$ctrl.searchParams"/>
        </section>
    </st-application-frame-content>

    <st-application-frame-left-bar>
        <training-plans-filter class="training-plans-search__filter"
                               view="search">
        </training-plans-filter>
    </st-application-frame-left-bar>

</st-application-frame>

