<md-list class="md-dense slim-input" style="padding-top: 0">
    <md-list-item ng-if="!$ctrl.item.activity.header.sportBasic">
        <p class="md-body-1" translate="activity.assignment.needSport"></p>
    </md-list-item>
    <div class="md-padding" style="text-align: right; padding-top: 0" ng-if="!$ctrl.item.activity.view.isView">
        <md-button class="md-primary" style="margin: 6px 0"
                   translate="activity.assignment.noneStructuredInput"
                   ng-click="$ctrl.changeStructuredMode()"></md-button>
    </div>
    <md-list-item class="" ng-if="$ctrl.item.activity.header.sportBasic">
        <table md-table
               md-row-select="$ctrl.options.rowSelection"
               multiple="{{$ctrl.options.multiSelect}}"
               ng-model="$ctrl.selected">
            <thead ng-if="!$ctrl.options.decapitate" md-head>
            <tr md-row>
                <th md-column><span></span></th>
                <th md-column show style="min-width: 50px"><span translate="activity.measureUnitShort"></span></th>
                <th md-column md-numeric style="min-width: 80px"><span translate="activity.plan"></span></th>
                <th md-column md-numeric style="min-width: 55px"><span translate="activity.actual"></span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="measure in ['movingDuration','distance'] track by $index">
                <td md-cell>
                    <md-icon md-svg-src="assets/icon/{{measure}}.svg" class="dark-active"></md-icon>
                </td>
                <td md-cell><span>{{measure | measureUnit:$ctrl.item.activity.header.sportBasic | translate}}</span></td>
                <td md-cell>
                    <span ng-if="$ctrl.item.activity.intervals.PW[$ctrl.structuredMeasure[measure].approx]">~</span>
                    <span>{{$ctrl.item.activity.intervals.PW[$ctrl.structuredMeasure[measure].length] | measureCalc:$ctrl.item.activity.header.sportBasic:measure}}</span>
                </td>
                <td md-cell>
                    <span>{{$ctrl.item.activity.intervals.W.calcMeasures[measure].value | measureCalc:$ctrl.item.activity.header.sportBasic:measure}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </md-list-item>
    <md-list-item class="bg-grey-100" ng-if="$ctrl.item.activity.header.sport">
        <md-icon class="material-icons" style="margin-right: 20px">format_list_numbered</md-icon>
        <p translate="activity.segmentsCount" translate-values="{num: $ctrl.item.activity.intervals.P.length}"></p>
        <md-icon ng-click="$ctrl.item.changeTab('Segments')"
                 class="md-secondary material-icons">keyboard_arrow_right</md-icon>
    </md-list-item>
    <div class="md-caption error-block" ng-messages="$ctrl.form.$error" ng-if="$ctrl.form.$dirty && !$ctrl.form.$valid">
        <div ng-message="required">{{'activity.error.required' | translate}}</div>
        <div ng-message="needDuration">{{'activity.error.needDuration' | translate}}</div>
        <div ng-message="singleDuration">{{'activity.error.singleDuration' | translate}}</div>
        <div ng-message="singleIntensity">{{'activity.error.singleIntensity' | translate}}</div>
        <div ng-message="needPermissionForFeature">{{'activity.error.needPermissionForFeature' | translate}}</div>
    </div>
    <!--<md-list-item style="margin-top: 16px; margin-bottom: 40px" ng-if="$ctrl.item.activity.header.sport">
        <md-input-container flex class="md-block no-message">
            <md-icon class="material-icons md-dark">event_note</md-icon>
            <label translate="Установка тренера" class="icon"></label>
            <textarea ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription"
                      ng-change="$ctrl.changeParam()"
                      ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView"
                      class="icon" name="trainersPrescription"
                      rows="1"></textarea>
        </md-input-container>
    </md-list-item>-->
</md-list>
<md-list class="md-dense md-padding" ng-if="$ctrl.item.activity.header.sportBasic">
    <!-- редактирование -->
    <div ng-if="!$ctrl.item.activity.view.isView"
         layout="row" layout-align="start stretch" class="input-item-line">
        <div flex="none" class="wrapper-icon">
            <md-icon flex="none" class="material-icons md-dark">subject</md-icon>
        </div>
        <ng-quill-editor flex="auto"
                         ng-if="!$ctrl.item.isIonic"
                         ng-class="{'hide-toolbar': $ctrl.hideQuillToolbar}"
                         ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription"
                         on-selection-changed="$ctrl.quillSelect(range, oldRange, source)"
                         on-content-changed="$ctrl.changeParam()"
                         placeholder="{{'activity.assignment.description.placeholder' | translate}}"
                         modules="$ctrl.quillConf.toolbar"
                         st-quill-post-image>
        </ng-quill-editor>
        <label felx="auto" ng-if="$ctrl.item.isIonic"
               class="item item-last item-input st-material item-stacked-label">
            <st-modal-textarea quill="true" on-tap="" style="padding-top: 0"
                               name="trainersPrescription"
                               translate-title="'competition.trainersPrescription'"
                               ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription">
            </st-modal-textarea>
        </label>
    </div>
    <!-- просмотр -->
    <div ng-if="$ctrl.item.activity.view.isView"
         layout="row" layout-align="start start" class="view-item-line border-line md-body-1" style="padding-top: 8px">
        <div flex="none" class="wrapper-icon">
            <md-icon flex="none" class="material-icons md-dark md-24">subject</md-icon>
        </div>
        <st-quill-html-viewer flex="auto"
                              data="$ctrl.item.activity.intervals.PW.trainersPrescription">
        </st-quill-html-viewer>
    </div>
</md-list>