<md-list class="md-dense slim-input bg-grey-100">
    <md-list-item>
        <p class="md-caption" style="color: #455A64" translate="activity.assignment.title"></p>
    </md-list-item>
    <md-list-item ng-if="!$ctrl.item.activity.header.sport">
        <p class="md-body-1" translate="activity.assignment.needSport"></p>
    </md-list-item>
    <md-list-item class="bg-grey-100" ng-if="$ctrl.item.activity.header.sport">
        <table md-table
               md-row-select="$ctrl.options.rowSelection"
               multiple="{{$ctrl.options.multiSelect}}"
               ng-model="$ctrl.selected">
            <thead ng-if="!$ctrl.options.decapitate" md-head>
            <tr md-row>
                <th md-column><span></span></th>
                <th md-column show style="min-width: 50px"><span>Ед.изм</span></th>
                <th md-column md-numeric style="min-width: 80px"><span>План</span></th>
                <th md-column md-numeric style="min-width: 55px"><span>Факт</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="measure in ['movingDuration','distance'] track by $index">
                <td md-cell>
                    <md-icon md-svg-src="assets/icon/{{measure}}.svg" class="dark-active"></md-icon>
                </td>
                <td md-cell><span>{{measure | measureUnit:$ctrl.$ctrl.item.activity.header.sportBasic | translate}}</span></td>
                <td md-cell>
                    <span ng-if="$ctrl.item.activity.intervals.PW[$ctrl.structuredMeasure[measure].approx]">~</span>
                    <span>{{$ctrl.item.activity.intervals.PW[$ctrl.structuredMeasure[measure].length] | measureCalc:$ctrl.item.activity.header.sportBasic:measure}}</span>
                </td>
                <td md-cell>
                    <span>{{$ctrl.item.activity.intervals.W.calcMeasures[measure].value | measureCalc:$ctrl.item.activity.header.sportBasic:measure}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </md-list-item>
    <md-list-item class="bg-grey-100" ng-if="$ctrl.item.activity.header.sport">
        <md-icon class="material-icons" style="margin-right: 20px">format_list_numbered</md-icon>
        <p>{{$ctrl.item.activity.intervals.P.length}} сегм</p>
        <md-icon ng-click="$ctrl.item.changeTab('Segments')"
                 class="md-secondary material-icons">keyboard_arrow_right</md-icon>
    </md-list-item>
    <div class="md-caption error-block" ng-messages="$ctrl.form.$error" ng-if="$ctrl.form.$dirty && !$ctrl.form.$valid">
        <div ng-message="required">{{'activity.error.required' | translate}}</div>
        <div ng-message="needDuration">{{'activity.error.needDuration' | translate}}</div>
        <div ng-message="singleDuration">{{'activity.error.singleDuration' | translate}}</div>
        <div ng-message="singleIntensity">{{'activity.error.singleIntensity' | translate}}</div>
        <div ng-message="needPermissionForFeature">{{'activity.error.needPermissionForFeature' | translate}}</div>
    </div>
    <!--<md-list-item style="margin-top: 16px; margin-bottom: 40px" ng-if="$ctrl.item.activity.header.sport">
        <md-input-container flex class="md-block no-message">
            <md-icon class="material-icons md-dark">event_note</md-icon>
            <label translate="Установка тренера" class="icon"></label>
            <textarea ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription"
                      ng-change="$ctrl.changeParam()"
                      ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView"
                      class="icon" name="trainersPrescription"
                      rows="1"></textarea>
        </md-input-container>
    </md-list-item>-->
</md-list>
<md-list class="md-dense" ng-if="$ctrl.item.activity.header.sport">
    <md-subheader ng-if="false">
        <span translate="activity.trainersPrescription"></span>
    </md-subheader>
    <ng-quill-editor ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription"
                     on-content-changed="$ctrl.onChange()"
                     placeholder="{{'activity.descriptionPlaceholder' | translate}}"
                     modules="$ctrl.quillConf.toolbar"
                     ng-class="{'hide-toolbar': $ctrl.item.activity.view.isView}"
                     read-only="$ctrl.item.activity.view.isView"
                     st-quill-post-image>
    </ng-quill-editor>
</md-list>