<md-card flex="none" layout="column" id="notifications" class="settings-notification">
    <md-card-title>
        <h2 class="md-title" translate="settings.notification.header"></h2>
    </md-card-title>
    <form name="$ctrl.notificationsForm">
        <md-list class="md-dense section">
            <div flex="100" class="md-no-stiky md-subheader" ng-repeat-start="notification in $ctrl.notifications track by $index"
                 ng-if="$first || $ctrl.notifications[$index-1].group !== notification.group">
                <span class="md-subheader-inner" translate>{{::'notification.'+notification.group}}</span>
            </div>
            <md-list-item layout="row">
                <span flex="none" translate="{{::notification.name}}"></span>
                <div flex="auto" layout="row" layout-align="end center">
                    <md-checkbox class="md-primary" ng-model="notification.email" aria-label="email" ng-change="$ctrl.onChange()">Email</md-checkbox>
                    <md-checkbox class="md-primary" ng-model="notification.phone" aria-label="phone" ng-change="$ctrl.onChange()">Phone</md-checkbox>
                    <md-checkbox class="md-primary" ng-model="notification.web" aria-label="web" ng-change="$ctrl.onChange()">Site</md-checkbox>
                </div>
            </md-list-item>
            <md-divider ng-repeat-end ng-if="!$last && $ctrl.notifications[$index+1].group !== notification.group"></md-divider>
        </md-list>
    </form>
</md-card>