<md-card flex="none" layout="column" id="notifications" class="settings-notification">
    <md-card-title>
        <h2 class="md-title" translate="settings.notification.header"></h2>
    </md-card-title>
    <form name="$ctrl.notificationsForm">
        <div ng-repeat="group in $ctrl.listGroup track by $index">

            <md-subheader class="md-no-sticky" ng-repeat-start="(subGroupName, subGroup) in group track by $index">
                <div layout="row" layout-align="space-between center">
                    <span flex="none" translate>{{::'settings.notification.' + subGroupName}}</span>
                    <div flex="none" class="providers-icon">
                        <md-icon class="material-icons">email</md-icon>
                        <md-icon class="material-icons">smartphone</md-icon>
                        <md-icon class="material-icons">laptop</md-icon>
                    </div>
                </div>
            </md-subheader>
            <md-list class="md-dense section">
                <md-list-item layout="row" ng-repeat="(settingsName, settings) in subGroup track by $index">
                    <p translate="{{::'settings.notification.' + settingsName}}"></p>
                    <md-checkbox class="md-primary md-secondary" ng-model="settings[0]" aria-label="email" ng-change="$ctrl.change(settingsName, settings)"></md-checkbox>
                    <md-checkbox class="md-primary md-secondary" ng-model="settings[1]" aria-label="phone" ng-change="$ctrl.change(settingsName, settings)"></md-checkbox>
                    <md-checkbox class="md-primary md-secondary" ng-model="settings[2]" aria-label="web" ng-change="$ctrl.change(settingsName, settings)"></md-checkbox>
                </md-list-item>
            </md-list>
            <md-divider ng-repeat-end></md-divider>

        </div>
    </form>
</md-card>