<!--<section class="overview-content" ng-if="$ctrl.isLoadingDetails"
         flex="none" layout="column" layout-align="center center" layout-fill
         style="background-color: whitesmoke">
    <img flex src="/assets/icon/ripple.svg" width="60" height="60"/>
    <p>Загрузка данных....</p>
</section>-->

<!--<section flex="none" class="overview-content" layout="column"
         ng-if="!$ctrl.isLoadingDetails">-->

    <header flex="none" class="map" layout="row" layout-align="start center"
            ng-if="$ctrl.item.activity.isRouteExist">
        <md-icon class="material-icon">directions</md-icon>
        <p class="md-body-2" translate>Карта</p>
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-click="$ctrl.toggleMap()">
            <md-icon class="md-secondary material-icon md-dark"
                     ng-bind="$ctrl.showMap ? 'expand_more': 'expand_less'"></md-icon>
        </md-button>
    </header>

    <activity-route flex="none" ng-if="$ctrl.showMap && $ctrl.item.activity.isRouteExist"
                    class="map activity-route"
                    data="$ctrl.item.activity.route"
                    select="$ctrl.item.selectedTimestamp"
                    zoom-enabled="true" layer-enabled="true">
    </activity-route>

    <md-divider flex="none" ng-if="$ctrl.showMap"></md-divider>

    <header flex="none" layout="row" layout-align="start center">
        <md-icon class="material-icon">multiline_chart</md-icon>
        <p class="md-body-2" translate>График</p>
        <span flex></span>
        <md-button ng-repeat="measure in $ctrl.measuresX track by $index" class="md-icon-button md-secondary"
                   ng-click="$ctrl.changeChartX(measure)">
            <md-icon md-svg-src="assets/icon/{{measure}}.svg" class="dark-active" ></md-icon>
        </md-button>
        <md-button ng-repeat="measure in $ctrl.measuresY track by $index" class="md-icon-button md-secondary"
                   ng-click="$ctrl.changeChartMetrics(measure)">
            <md-icon md-svg-src="assets/icon/{{measure}}.svg" class="dark-active" ></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.toggleChart()">
            <md-icon class="md-secondary material-icon md-dark"
                     ng-bind="$ctrl.showChart ? 'expand_more': 'expand_less'"></md-icon>
        </md-button>
    </header>

    <activity-metrics-char flex="none" ng-if="$ctrl.showChart"
                           measures="$ctrl.measures"
                           data="$ctrl.data"
                           x="$ctrl.chartX"
                           select="$ctrl.item.selectedTimestamp">График...
    </activity-metrics-char>

    <md-divider flex="none" ng-if="$ctrl.showChart"></md-divider>

    <header flex="none" layout="row" layout-align="start center">
        <md-icon class="material-icon">format_list_numbered</md-icon>
        <p class="md-body-2" translate>Отрезки</p>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.toggleTable()">
            <md-icon class="md-secondary material-icon md-dark"
                     ng-bind="$ctrl.showTable ? 'expand_more': 'expand_less'"></md-icon>
        </md-button>
    </header>

    <measure-split-table flex ng-if="$ctrl.showTable"
                         class="chart measure-split-table"
                         splits="$ctrl.item.activity.intervalL"
                         max="$ctrl.maxValue"
                         selected="$ctrl.item.selectedTimestamp"
                         sport="$ctrl.item.activity.sportBasic"
                         on-selected="$ctrl.changeSelection(type,selected)">Data table...
    </measure-split-table>
<!--</section>-->