@import '../../../sass/color.scss';

.measures-avg-table {

  overflow-x: hidden;

  table.md-table:not(.md-row-select) td.md-cell:first-child,
  table.md-table:not(.md-row-select) th.md-column:first-child {
    padding-left: 0px !important;
  }

  table.md-table td.md-cell {
    font-size: inherit;
  }

  table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
  table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding-right: 12px;
  }

  table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: 32px;
  }

  table.md-table thead.md-head > tr.md-row {
    height: 32px;
  }

  table.md-table th.md-column {
    font-weight: normal;
  }

  .md-subheader {
    font-size: 12px;
  }

}