<md-table-container>
    <md-subheader>Показатели мин/сред/макс</md-subheader>
    <md-list-item>
        <table md-table
               md-row-select="$ctrl.options.rowSelection"
               multiple="{{$ctrl.options.multiSelect}}"
               ng-model="$ctrl.selected">
            <thead ng-if="!$ctrl.options.decapitate" md-head>
            <tr md-row>
                <th md-column><span>#</span></th>
                <th md-column hide-xs><span>Показатель(ед.изм)</span></th>
                <th md-column hide-gt-xs><span>Ед.изм</span></th>
                <th md-column md-numeric><span>Мин</span></th>
                <th md-column md-numeric><span>Сред</span></th>
                <th md-column md-numeric><span>Макс</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="measure in $ctrl.measures">
                <td md-cell><md-icon md-svg-src="assets/icon/{{measure.code}}.svg" class="dark-active"></md-icon></td>
                <td md-cell hide-xs>
                    {{measure.code | translate}}&nbsp({{measure.code | measureUnit:$ctrl.sport | translate}})</td>
                <td md-cell hide-gt-xs>
                    {{measure.code | measureUnit:$ctrl.sport | translate}}</td>
                <td md-cell>{{measure.minValue | measureCalc:$ctrl.sport:measure.code}}</td>
                <td md-cell>{{measure.avgValue | measureCalc:$ctrl.sport:measure.code}}</td>
                <td md-cell>{{measure.maxValue | measureCalc:$ctrl.sport:measure.code}}</td>
            </tr>
            </tbody>
        </table>
    </md-list-item>
</md-table-container>