<div flex layout="column">
    <!-- Заголовок тренировки (верхняя часть): начало -->
    <header flex layout="row"
         class="activity-header {{::$ctrl.data.status}}"
         ng-class="{selected: $ctrl.selected}"
         ng-click="$ctrl.onOpen($env)">

        <div layout="row" layout-align="space-between center" layout-align-xs="space-between start">
            <div flex="25" hide show-gt-sm
                 class="md-caption tight-07">{{::$ctrl.data.printPercent()}}</div>
            <div flex="none" flex-xs="30" flex-sm="30"  layout="row">
                <md-icon md-svg-src="{{::$ctrl.data.sportUrl}}"
                         style="margin-top: 2px;"
                         class="s20 light-active"></md-icon>
                <div style="position: relative;" ng-if="!!$ctrl.data.movingDuration || $ctrl.data.distance">
                    <md-icon class="material-icons s20"  style="color:white" md-menu-align-target>favorite</md-icon>
                    <div style="position: absolute; bottom: -10px; right: -10px;">3</div>
                </div>

            </div>
        </div>
        <div flex="5"></div>

        <section flex layout="column" layout-align="center center" hide show-gt-sm
                 style="font-size:.7rem"
             class="md-title-small secondary center tight-10"
             ng-class="{'dark' : ($ctrl.status == 'planned')}"
             style=""
             ng-if="!!$ctrl.data.movingDuration || $ctrl.data.distance">
            <div flex="none" ng-if="::$ctrl.data.movingDuration">
                {{::$ctrl.data.movingDuration | measureCalc:$ctrl.data.sportBasic:'movingDuration'}}</div>
            <div flex="none" ng-if="::$ctrl.data.distance">
                <span>&nbsp&nbsp</span>
                {{::$ctrl.data.distance | measureCalc:$ctrl.data.sportBasic:'distance'}}&nbsp
                {{'distance' | measureUnit:$ctrl.data.sportBasic | translate}}</div>
        </section>
    </header>
</div>

