@import "../../../sass/color";
@import "../../../sass/base";

dashboard-activity {
  cursor: pointer;
  @extend .bg-grey-400;

  md-icon.sport {
    margin: 0px !important;
  }

  .bg-circle-24 {
    min-width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  div.activity {
    margin-right: 1px;
    margin-bottom: 1px;
    border-radius: 0px;
    padding: 8px;

    &:hover {
      md-menu.menu button{
        //background-color: #0000AA !important;
        visibility: visible;
      }
    }
    &:focus {
      outline:0;
    }
    &.complete {
      color: white;
      @extend .bg-teal-500;
      .bg-circle-24 {
        @extend .bg-teal-800;
      }

      &:hover, &.selected {
        @extend .bg-teal-800;

        .bg-circle-24 {
          @extend .bg-teal-900;
        }
      }

      // Задание выполнено с отклонениями
      &-warn {
        color: white;
        @extend .bg-orange-600;
        .bg-circle-24 {
          @extend .bg-orange-800;
        }

        &:hover, &.selected {
          @extend .bg-orange-800;

          .bg-circle-24 {
            @extend .bg-orange-900;
          }
        }
      }

      // Задание выполнено с существенными отклонениями
      &-error {
        color: white;
        @extend .bg-red-600;
        .bg-circle-24 {
          @extend .bg-red-800;
        }

        &:hover, &.selected {
          @extend .bg-red-800;

          .bg-circle-24 {
            @extend .bg-red-900;
          }
        }
      }
    }
    &.dismiss {
      @extend .bg-red-600;
      color: white;

      .bg-circle-24 {
        @extend .bg-red-800;
      }

      #more {
        //@extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-red-800;
        .bg-circle-24 {
          @extend .bg-red-900;
        }
      }
    }
    &.not-specified {
      @extend .bg-blue-grey-500;
      color: white;

      .bg-circle-24 {
        @extend .bg-blue-grey-600;
      }

      #more {
        //@extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-blue-grey-800;
        .bg-circle-24 {
          @extend .bg-blue-grey-900;
        }
      }
    }
    &.coming {
      @extend .bg-grey-300;
      color: rgba(0,0,0,0.54);

      .bg-circle-24 {
        @extend .bg-grey-600;
      }

      #more {
        //@extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-grey-500;
        .bg-circle-24 {
          @extend .bg-grey-800;
        }
      }
    }

  }

  header {
    section.first-column {
      margin-right: 8px;
    }

    section.second-column {
      width: calc(100% - 32px);
    }

    div.category, div.duration {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

    div.duration {
      text-transform: lowercase;
    }
  }
  footer {
    display: none;
  }

  md-menu.menu button{
    visibility: hidden;
    padding: 0px !important;
    margin: 0px !important;
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    min-height: 18px !important;

    &:hover {

    }

  }

}

div.dashboard-week.selected footer.descriptions {
  display: block;
  padding-top: 8px;
  //background-color: red;
}