<div class="activity-header {{::$ctrl.activity.status}}" ng-click="$ctrl.onOpen($env,'view')"
     layout="row" layout-align="">
    <section flex="none" class="first-column" layout="column" layout-align="space-between start">
        <div flex="none" layout="row" layout-align="center center" class="bg-circle-24 bg-blue-grey-A700">
            <md-icon flex="none" md-svg-src="/assets/icon/{{::$ctrl.activity.sportBasic}}.svg" style="margin-left: 4px"
                     class="s18 {{::$ctrl.activity.status === 'coming'? 'md-dark' : 'md-light'}} sport"></md-icon>
        </div>
        <md-menu flex="none" class="menu" ng-if="false">
            <md-button class="md-icon-button" aria-label="More Event"
                       ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons md-18 {{::$ctrl.activity.status === 'coming'? 'md-dark' : 'md-light'}}">menu</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item><md-button ng-click="$ctrl.onOpen($env,'put')">Изменить</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="$ctrl.onCopy()">Скопировать</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="$ctrl.onDelete()" ng-disabled="::!$ctrl.isCreator">Удалить</md-button></md-menu-item>
            </md-menu-content>
        </md-menu>
    </section>
    <section flex="auto" class="second-column" layout="column" layout-align="start start">
        <div flex="none" class="md-caption category" ng-if="::$ctrl.activity.categoryCode">
            {{'category.'+$ctrl.activity.categoryCode | translate}}
        </div>
        <div flex="none" class="md-body-2 tight-02 line-14 font-medium duration " ng-if="::(!!$ctrl.activity.movingDuration || $ctrl.activity.distance)">
            <span flex="none" ng-if="::$ctrl.activity.movingDuration">
                {{::$ctrl.activity.movingDuration | measureCalc:$ctrl.activity.sportBasic:'movingDuration'}}</span>
            <span flex="none" ng-if="::$ctrl.activity.distance">
                &nbsp{{::$ctrl.activity.distance | measureCalc:$ctrl.activity.sportBasic:'distance'}}
                {{'distance' | measureUnit:$ctrl.activity.sportBasic | translate}}</span>
        </div>
    </section>
</div>