<form name="$ctrl.notificationsForm">
    <md-list class="md-dense section">
        <md-list-item ng-repeat-start="(key, values) in $ctrl.owner.notifications">
            <span translate="{{::key}}"></span>
            <div flex="100" layout="row" layout-align="end center">
                <md-checkbox class="md-primary" ng-model="values[0]" aria-label="email">Email</md-checkbox>
                <md-checkbox class="md-primary" ng-model="values[1]" aria-label="phone">Phone</md-checkbox>
                <md-checkbox class="md-primary" ng-model="values[2]" aria-label="web">Site</md-checkbox>
            </div>
        </md-list-item>
        <md-divider ng-repeat-end ng-if="!$last"></md-divider>
    </md-list>
</form>