.app-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  z-index: 40;

  .body {
    height: 100%;

    @media (max-width: 960px){
      padding-bottom: 0px !important;
    }
  }
  .footer{
    height: 24px;
  }
}
.ng-outlet{
  width: 100%;
}