<application-background>
  <div flex="100" layout="column" class="{{$ctrl.settings.background}}">
    <md-toolbar class="animates slideInDown" ng-show="$ctrl.settings.header.toolbar" layout="row" layout-align="space-between start">
    </md-toolbar>
  </div>
</application-background>

<application-header>
  <div layout="row" layout-align="space-between start">
    <div id="header-left-toolbar" flex="{{$ctrl.settings.header.leftPanel.size}}"
         ng-include="$ctrl.settings.header.leftPanel.url"
         layout="row" layout-align="start center" class=""></div>

    <div id="header-caption" class="animated bounceIn" layout="row" layout-align="center center" layout-fill>
      <div flex="nogrow" ng-show="$ctrl.settings.header.title.show"
           class="app-title md-title" translate>
        {{$ctrl.xs ? $ctrl.settings.shortTitle : $ctrl.settings.fullTitle}}</div>
      <div layout="row" layout-align="center center"
           ng-class="{'back-primary-900' : !!$ctrl.currentAthlete}"
           ng-if="$ctrl.settings.athletes.show"
           style="border-radius: 12px; height: 24px; margin-left: 8px;">
        <div ng-if="$ctrl.currentAthlete != null" style="height: 24px;">
          <img ng-src="/assets/avatar/{{$ctrl.currentAthlete.userId}}.jpg" style="height: 24px; width: 24px; border-radius: 12px;"/>
        </div>
        <div hide show-gt-md ng-show="$ctrl.currentAthlete != null" class="md-body" style="-opacity: 0.54;margin-left: 8px; margin-right: 8px">
          {{$ctrl.currentAthlete.public.firstName}}
          {{$ctrl.currentAthlete.public.lastName}}
        </div>

        <md-button class="md-icon-button md-primary" aria-label="User"
                   ng-click="$ctrl.showAthleteSelector = !$ctrl.showAthleteSelector"
                   style="padding: 0px; margin: 0px; height: 24px; width: 24px">
          <md-icon md-svg-src="/assets/icon/{{showAthleteSelector ? 'arrow_drop_up.svg' : 'arrow_drop_down.svg'}}"
                   size="s24" class="fill-white-medium">
          </md-icon>
        </md-button>

        <md-button ng-if="!!$ctrl.currentAthlete"
                   class="md-icon-button md-primary" aria-label="User"
                   style="padding: 0px; margin: 0px; height: 24px; width: 24px"
                   ng-click="$ctrl.athleteDiscard()">
          <md-icon md-svg-src="/assets/icon/remove.svg" class="fill-white-medium" size="24" ></md-icon>
        </md-button>
      </div>
    </div>

    <div id="header-right-toolbar" flex="{{$ctrl.settings.header.rightPanel.size}}"
         ng-include="$ctrl.settings.header.rightPanel.url"
         layout="row" layout-align="end center" class="">
    </div>
  </div>
</application-header>

<application-frame class='{{$ctrl.settings.style}}'>
  <div layout="row" layout-align="center start" class="app-layer">
    <div flex-gt-sm="{{$ctrl.settings.frame.margin}}" hide-sm></div>
    <div flex="{{$ctrl.settings.frame.size}}" layout="column" class="body">
      <div flex="100" layout="column" layout-align="center center" layout-fill>
        <ng-outlet flex></ng-outlet>
      </div>
    </div>
    <div flex-gt-sm="{{$ctrl.settings.frame.margin}}" hide-sm></div>
  </div>
</application-frame>

<application-menu user="$ctrl.currentUser"></application-menu>

<athlete-selector show="$ctrl.showAthleteSelector"
                  user="$ctrl.currentUser"
                  athlete='$ctrl.currentAthlete'
                  on-select="$ctrl.athleteSelect(athlete)"></athlete-selector>
