<md-dialog style="min-width: 320px; max-width: 360px">
    <md-toolbar style="background-color: white; color: black">
        <div class="md-toolbar-tools">
            <h2>{{ messages.title || 'dialogs.confirm' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons md-dark">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-dialog-content>
        <div class="md-dialog-content" style="white-space: pre-wrap;">{{ messages.text | translate }}</div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row" style="padding: 0">
        <md-button ng-click="cancel()">{{ messages.cancel || 'dialogs.no' | translate }}</md-button>
        <span flex></span>
        <md-button ng-click="confirm()">{{ messages.confirm || 'dialogs.yes' | translate }}</md-button>
    </md-dialog-actions>
</md-dialog>