<md-dialog>
    <md-dialog-content class="subscriptions">
        
        <div class="title">
            Тарифы
        </div>
        
        <div class="label">
            {{byWho}}
        </div>
        
        <div class="row">
            <md-switch ng-model="tariffs.byUs.Coach"></md-switch>
            Тренер
        </div>
        
        <div class="row">
            <md-switch ng-model="tariffs.byUs.Premium"></md-switch>
            Премиум
        </div>
        
        <div class="label">
            За свой счет
        </div>
        
        <div class="row" ng-if="tariffs.bySelf.Coach">
            <md-switch checked disabled></md-switch>
            Тренер
        </div>
        
        <div class="row" ng-if="tariffs.bySelf.Premium">
            <md-switch checked disabled></md-switch>
            Премиум
        </div>
        
        <div class="actions">
            <md-button ng-click="commit()"> Принять </md-button>
            <md-button ng-click="cancel()"> Отклонить </md-button>
        </div>
        
    </md-dialog-content>
</md-dialog>