<md-dialog class="tariff-details-dialog">
    <form name="$ctrl.form" ng-submit='$ctrl.submit()' ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 >{{ 'user.settings.billing.tariff' | translate }} «{{ 'user.settings.billing.tariffs.' + $ctrl.tariff.tariffCode | translate }}»</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-list class="md-dense">
                <md-subheader class="md-no-sticky">{{ 'user.settings.billing.status' | translate }}</md-subheader>
                <md-list-item>
                    <span>{{ 'user.settings.billing.status' | translate }}</span>
                    <span flex></span>
                    <span style="text-align: right;">{{'user.settings.billing.tariffStatusesIsEnabled.' + $ctrl.tariffStatus | translate}}</span>
                </md-list-item>
                <md-list-item>
                    <span>{{ 'user.settings.billing.payment' | translate }}</span>
                    <span flex></span>
                    <span style="text-align: right;">{{'user.settings.billing.tariffStatusesEnablers.' + $ctrl.tariffStatus | translate:{
                        club: ($ctrl.tariff.clubProfile | clubName),
                        coach: ($ctrl.tariff.userProfilePayer | userName)
                    } }}</span>
                </md-list-item>
                <md-list-item ng-if="!['enabledByClub', 'enabledByCoach'].includes($ctrl.tariffStatus)">
                    <span>{{ 'user.settings.billing.subscriptionDate' | translate }}</span>
                    <span flex></span>
                    <span class="font-bold"">{{ $ctrl.billing.started || $ctrl.tariff.unpaidBill.startPeriod | date:shortDate }}</span>
                </md-list-item>
                <md-list-item ng-if="$ctrl.tariffIsOwn">
                    <span>{{ 'user.settings.billing.subscriptionEnds' | translate }}</span>
                    <span flex></span>
                    <span class="font-bold">{{ $ctrl.tariff.expireDate || $ctrl.tariff.unpaidBill.endPeriod | date:shortDate }}</span>
                </md-list-item>
                <md-list-item>
                    <span>{{ 'user.settings.billing.subscriptionConditions' | translate }}</span>
                    <span flex></span>
                    <a ng-href="{{ 'user.settings.billing.subscriptionConditionsLink' | translate:{ tariffCode: $ctrl.tariff.tariffCode } }}" class="md-primary font-13">{{ 'user.settings.billing.open' | translate }}</a>
                </md-list-item>
            </md-list>

            <md-list ng-if="$ctrl.tariffIsOwn" class="md-dense">
                <md-subheader class="md-no-sticky">{{ 'user.settings.billing.fixedFee' | translate }}</md-subheader>
                <md-list-item ng-if="$ctrl.isTrial()">
                    <md-radio-group ng-model="$ctrl.fixedFeeTerm" ng-model-options="{getterSetter:true}" layout="row" layout-align="space-around center" flex="100">
                        <md-radio-button ng-repeat="term in $ctrl.terms" ng-value="term" class="tariff-details-dialog__term-label">
                            {{ 'user.settings.billing.terms.' + term | translate  }}
                        </md-radio-button>
                    </md-radio-group>
                </md-list-item>
                <md-list-item>
                    <span>{{ 'user.settings.billing.subscriptionFees' | translate }}</span>
                    <span flex></span>
                    <span ng-if="!$ctrl.fixedFee.promo.discount" class="font-bold">{{ $ctrl.fixedFee.rate | currency:$ctrl.fixedFee.currency }} / {{ 'user.settings.billing.term.' + $ctrl.fixedFee.term | translate }}</span>
                    <span ng-if="$ctrl.fixedFee.promo.discount" class="font-bold">
                        <span class="text-crossed-out">{{ $ctrl.fixedFee.rate }}</span> 
                        <span class="text-accent">{{ $ctrl.discountedFee($ctrl.fixedFee) | currency:$ctrl.fixedFee.currency }}</span> / {{ 'user.settings.billing.term.' + $ctrl.fixedFee.term | translate }}
                    </span>
                </md-list-item>
                <md-list-item ng-if="$ctrl.fixedFee.promo.discount">
                    <span>{{ 'user.settings.billing.promoDiscount'| translate }}</span>
                    <span flex></span>
                    <span class="font-bold">{{ $ctrl.fixedFee.promo.discount }}%</span>
                </md-list-item>

                <md-subheader ng-repeat-start="fee in $ctrl.variableFees" class="md-no-sticky">{{ 'user.settings.billing.group.' + fee.varGroup | translate }}</md-subheader>
                    <md-list-item ng-if="!fee.varFreeCount && !$ctrl.hasMaxPaidCount(fee)">
                        <span>{{ 'user.settings.billing.eachInGroup.' + fee.varGroup | translate }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promo.discount" class="font-bold">
                            {{ fee.rate | currency:fee.currency }} / {{ 'user.settings.billing.dayly' | translate }}
                        </span>
                        <span ng-if="fee.promo.discount" class="font-bold">
                            <span class="text-crossed-out">{{ fee.rate | currency:fee.currency }}</span> 
                            <span class="text-accent">{{ $ctrl.discountedFee(fee) | currency:$ctrl.fixedFee.currency }}</span> / {{ 'user.settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount">
                        <span>{{ 'user.settings.billing.eachInGroupBelow' | translate:{below:fee.varFreeCount} }}</span>
                        <span flex></span>
                        <span class="font-bold">{{ 'user.settings.billing.free' | translate }}</span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount || $ctrl.hasMaxPaidCount(fee)">
                        <span ng-if="!fee.varFreeCount && $ctrl.hasMaxPaidCount(fee)">{{ 'user.settings.billing.eachInGroupBelow' | translate:{below:varMaxPaidCount - 1} }}</span>
                        <span ng-if="fee.varFreeCount && !$ctrl.hasMaxPaidCount(fee)">{{ 'user.settings.billing.eachInGroupAbove' | translate:{above:fee.varFreeCount + 1} }}</span>
                        <span ng-if="fee.varFreeCount && $ctrl.hasMaxPaidCount(fee)">{{ 'user.settings.billing.eachInGroupBetween' | translate:{from:fee.varFreeCount + 1,to:fee.varMaxPaidCount} }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promo.discount" class="font-bold"">{{ fee.rate | currency:fee.currency }} / {{ 'user.settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promo.discount" class="font-bold">
                            <span class="text-crossed-out">{{ fee.rate }}</span> 
                            <span class="text-accent">{{ $ctrl.discountedFee(fee) | currency:fee.currency }}</span> / {{ 'user.settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="$ctrl.hasMaxPaidCount(fee)">
                        <span>{{ 'user.settings.billing.eachInGroupAbove' | translate:{above:fee.varMaxPaidCount + 1} }}</span>
                        <span flex></span>
                        <span class="font-bold">{{ 'user.settings.billing.free' | translate }}</span>
                    </md-list-item>

                    <md-list-item>
                        <span>{{ 'user.settings.billing.connections'| translate }}</span>
                        <span flex></span>
                        <span class="font-bold">
                            <md-button ng-click="$ctrl.viewFeeObjectsList(fee)" ng-disabled="!fee.varObjects.length">{{ fee.varActualCount || '-' }}</md-button>
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="fee.promo.discount">
                        <span>{{ 'user.settings.billing.promoDiscount'| translate }}</span>
                        <span flex></span>
                        <span class="font-bold">{{ fee.promo.discount }}%</span>
                    </md-list-item>
                    <md-list-item ng-if="fee.volumeDiscount">
                        <span>{{ 'user.settings.billing.volumeDiscount'| translate }}</span>
                        <span flex></span>
                        <span class="font-bold">{{ fee.volumeDiscount }}%</span>
                    </md-list-item>
                <md-divider ng-repeat-end ng-hide="true"></md-divider>

                <md-subheader class="md-no-sticky">{{ 'user.settings.billing.promo' | translate }}</md-subheader>
                <md-list-item>
                    <div class="md-list-item-text">
                        <md-input-container md-no-float class="md-block no-message enable-tariff-dialog__input-promo">
                            <input ng-model="$ctrl.promoCode" type="text" autocomplete="off" placeholder="{{ 'user.settings.billing.promo' | translate }}">
                        </md-input-container>
                        <p ng-if="$ctrl.rejectedPromoCode" class="font-italic">{{ 'user.settings.billing.rejectedPromo' | translate:{promo:$ctrl.rejectedPromoCode} }}</p>
                    </div>
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="$ctrl.submitPromo($ctrl.promoCode)">{{ 'user.settings.billing.submitPromo' | translate }}</md-button>
                </md-list-item>
                <md-list-item ng-if="$ctrl.activePromo">
                    <span class="font-italic tariff-details-dialog__active-promo">{{ 'user.settings.billing.' + ($ctrl.activePromo.appliedFrom? 'activePromo' : 'validPromo') | translate:{
                        promo:$ctrl.activePromo.code, 
                        appliedFrom:($ctrl.activePromo.appliedFrom | date:'dd.MM.yyyy'),
                        appliedTo:($ctrl.activePromo.appliedTo | date:'dd.MM.yyyy')
                    } }}</span>
                </md-list-item>

                <md-subheader class="md-no-sticky">{{ 'user.settings.billing.changeFee' | translate }}</md-subheader>
                <md-list-item>
                    <p>{{ 'user.settings.billing.autoRenewal' | translate }}</p>
                    <md-checkbox ng-model="$ctrl.autoRenewal" class="md-secondary"></md-checkbox>
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <md-dialog-actions>
            <span flex></span>
            <md-button ng-if="$ctrl.tariffIsOwn" ng-click="$ctrl.cancel()">{{ 'user.settings.billing.cancel' | translate }}</md-button>
            <md-button ng-if="$ctrl.tariffIsOwn" ng-click="$ctrl.submit()" ng-disabled="$ctrl.form.$pristine" class="md-primary">{{ 'user.settings.billing.confirmSave' | translate}}</md-button>
            <md-button ng-if="!$ctrl.tariffIsOwn" ng-click="$ctrl.cancel()">{{ 'user.settings.billing.close' | translate }}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>