<md-dialog>
    <md-dialog-content class="subscriptions">
        
        <md-list>

            <md-list-item layout="row" layout-align="center center">
                <div class="md-title">
                    Tariffs
                </div>
            </md-list-item>

            <md-list-item layout="row" layout-align="center center">
                <div class="md-caption font-medium">
                    {{byWho}}
                </div>
            </md-list-item>

            <md-list-item ng-repeat="tariff in tariffs" layout="row" layout-align="center center">
                <span flex>{{ tariff.tariffCode }}</span>
                <md-switch ng-model="tariff.byUs" ng-disabled="tariff.bySelf"></md-switch>
            </md-list-item>

            <md-list-item ng-if="tariffsBySelf.length" layout="row" layout-align="center center">
                <div class="md-caption font-medium">
                    BySelf
                </div>
            </md-list-item>

            <md-list-item ng-repeat="tariff in tariffsBySelf" layout="row" layout-align="center center">
                <span flex>{{ tariff.tariffCode }}</span>
                <md-switch ng-checked="true" disabled></md-switch>
            </md-list-item>

            <md-list-item layout="row" layout-align="center center">
                <md-button ng-click="commit()"> Ok </md-button>
                <span flex></span>
                <md-button ng-click="cancel()"> Cancel </md-button>
            </md-list-item>
            
        </md-list>
        
    </md-dialog-content>
</md-dialog>