<md-dialog>
    <form name="$ctrl.form" ng-submit='$ctrl.submit()' ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 >{{ 'settings.billing.tariff' | translate }} «{{ 'settings.billing.tariffs.' + $ctrl.tariff.tariffCode | translate }}»</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list class="md-dense">

                <md-subheader class="md-no-sticky">{{ 'settings.billing.state' | translate }}</md-subheader>
                <md-list-item>
                    <span>{{ 'settings.billing.state' | translate }}</span>
                    <span flex></span>
                    <span>{{'settings.billing.tariffStatuses.' + $ctrl.tariffStatus($ctrl.tariff) | translate}}</span>
                </md-list-item>
                <md-list-item ng-if="!$ctrl.tariff.isTrial">
                    <span>{{ 'settings.billing.paymentStatus' | translate }}</span>
                    <span flex></span>
                    <span>{{
                        tariff.clubProfile && ('settings.billing.paymentStatuses.enabledByClub' | translate:{club:tariff.clubProfile.public.name}) ||
                        tariff.userProfilePayer && tariff.userProfilePayer.userId !== $ctrl.user.userId && ('settings.billing.paymentStatuses.enabledByUser' | translate:{coach:tariff.userProfilePayer.public.firstName + ' ' + tariff.userProfilePayer.public.lastName}) ||
                        ('settings.billing.paymentStatuses.enabledBySelf' | translate)
                    }}</span>
                </md-list-item>
                <md-list-item>
                    <span>{{ 'settings.billing.subscriptionDate' | translate }}</span>
                    <span flex></span>
                    <span class="font-bold"">{{$ctrl.billing.started | date:shortDate }}</span>
                </md-list-item>
                <md-list-item layout="row">
                    <span>{{ 'settings.billing.subscriptionEnds' | translate }}</span>
                    <span flex></span>
                    <span class="font-bold">{{$ctrl.tariff.expireDate | date:shortDate }}</span>
                </md-list-item>
                <md-list-item layout="row">
                    <span>{{ 'settings.billing.subscriptionConditions' | translate }}</span>
                    <span flex></span>
                    <a ng-href="#" class="md-primary font-13">{{ 'settings.billing.open' | translate }}</a>
                </md-list-item>

                <md-subheader ng-init="fixedFee = $ctrl.fixedFee()" class="md-no-sticky">{{ 'settings.billing.fixedFee' | translate }}</md-subheader>
                <md-list-item layout="row">
                    <span>{{ 'settings.billing.subscriptionFees' | translate }}</span>
                    <span flex></span>
                    <span ng-if="!fixedFee.promoDiscount" class="font-bold">{{ fixedFee.rate | currency:fixedFee.currency }} / {{ 'settings.billing.term.' + fixedFee.term | translate }}</span>
                    <span ng-if="fixedFee.promoDiscount" class="font-bold">{{ fixedFee.promoDiscount * fixedFee.rate | currency:fixedFee.currency }} / {{ 'settings.billing.term.' + fixedFee.term | translate }}</span>
                </md-list-item>
                <md-list-item layout="row" ng-if="fixedFee.promoDiscount">
                    <span>{{ 'settings.tariff.promoDiscount'| translate }}</span>
                    <span flex></span>
                    <span class="font-bold">{{fixedFee.promoDiscount}}%</span>
                </md-list-item>

                <div ng-repeat="fee in $ctrl.variableFees()">
                    <md-subheader class="md-no-sticky">{{ 'settings.billing.group.' + fee.varGroup | translate }}</md-subheader>

                    <md-list-item ng-if="!fee.varFreeCount && !$ctrl.hasMaxPaidCount(fee)" layout="row">
                        <span>{{ 'settings.billing.eachInGroup.' + fee.varGroup | translate }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" class="font-bold">{{fee.rate | currency:fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" class="font-bold">
                            <span class="text-crossed-out">{{fee.rate | currency:fee.currency}}</span> <span class="text-accent">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount" layout="row">
                        <span>{{ 'settings.billing.eachInGroupBelow' | translate:{below:fee.varFreeCount} }}</span>
                        <span flex></span>
                        <span class="font-bold">{{ 'settings.billing.free' | translate }}</span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount && !$ctrl.hasMaxPaidCount(fee)" layout="row">
                        <span>{{ 'settings.billing.eachInGroupAbove' | translate:{above:fee.varFreeCount + 1} }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" class="font-bold">{{fee.rate | currency:fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" class="font-bold">
                            <span class="text-crossed-out">{{fee.rate | currency:fee.currency}}</span> <span class="text-accent">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="fee.varFreeCount && $ctrl.hasMaxPaidCount(fee)" layout="row">
                        <span>{{ 'settings.billing.eachInGroupBetween' | translate:{from:fee.varFreeCount + 1,to:fee.varMaxPaidCount} }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" class="font-bold"">{{fee.rate | currency:fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" class="font-bold">
                            <span class="text-crossed-out">{{fee.rate | currency:fee.currency}}</span> <span class="text-accent">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="!fee.varFreeCount && $ctrl.hasMaxPaidCount(fee)" layout="row">
                        <span>{{ 'settings.billing.eachInGroupBelow' | translate:{below:varMaxPaidCount - 1} }}</span>
                        <span flex></span>
                        <span ng-if="!fee.promoDiscount" class="font-bold">{{fee.rate | currency:fee.currency}} / {{ 'settings.billing.dayly' | translate }}</span>
                        <span ng-if="fee.promoDiscount" class="font-bold">
                            <span class="text-crossed-out">{{fee.rate | currency:fee.currency}}</span> <span class="text-accent">{{$ctrl.fee.promoDiscount * fee.rate}} {{fee.promoDiscount}}</span> / {{ 'settings.billing.dayly' | translate }}
                        </span>
                    </md-list-item>
                    <md-list-item ng-if="$ctrl.hasMaxPaidCount(fee)" layout="row">
                        <span>{{ 'settings.billing.eachInGroupAbove' | translate:{above:fee.varMaxPaidCount + 1} }}</span>
                        <span flex></span>
                        <span class="font-bold">{{ 'settings.billing.free' | translate }}</span>
                    </md-list-item>

                    <md-list-item layout="row">
                        <span>{{ 'settings.billing.connections'| translate }}</span>
                        <span flex></span>
                        <span class="font-bold">{{fee.varActualCount}}%</span>
                    </md-list-item>
                    <md-list-item layout="row" ng-if="fee.promoDiscount">
                        <span>{{ 'settings.billing.promoDiscount'| translate }}</span>
                        <span flex></span>
                        <span class="font-bold">{{fee.promoDiscount}}%</span>
                    </md-list-item>
                    <md-list-item layout="row" ng-if="fee.volumeDiscount">
                        <span>{{ 'settings.billing.volumeDiscount'| translate }}</span>
                        <span flex></span>
                        <span class="font-bold">{{fee.volumeDiscount}}%</span>
                    </md-list-item>
                </div>

                <div ng-if="$ctrl.canChange()">
                    <md-subheader class="md-no-sticky">{{ 'settings.billing.promo' | translate }}</md-subheader>
                    <md-list-item>
                        <div class="md-list-item-text">
                            <md-input-container md-no-float class="md-block no-message">
                                <input ng-model="$ctrl.promoCode" type="text" autocomplete="off"
                                       placeholder="{{ 'settings.billing.promo' | translate }}">
                            </md-input-container>
                            <p ng-if="$ctrl.activePromo">{{ 'settings.billing.activePromo' | translate:{promo:$ctrl.activePromo} }}</p>
                        </div>
                        <span flex></span>
                        <md-button ng-disabled="!$ctrl.form.$valid"
                                   ng-class="{'md-raised': true, 'md-primary': true}"
                                   ng-click="$ctrl.submitPromo()"
                        >{{ 'settings.billing.submitPromo' | translate }}</md-button>
                    </md-list-item>

                    <md-subheader class="md-no-sticky">{{ 'settings.billing.changeFee' | translate }}</md-subheader>
                    <md-list-item>
                        <p>{{ 'settings.billing.autoRenewal' | translate }}</p>
                        <md-checkbox ng-model="$ctrl.autoRenewal" class="md-secondary"></md-checkbox>
                    </md-list-item>
                </div>

            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-if="$ctrl.canChange()" ng-click="$ctrl.cancel()">{{ 'settings.billing.cancel' | translate }}</md-button>
            <md-button ng-if="$ctrl.canChange()" ng-class="{'md-primary': true}" ng-click="$ctrl.submit()">{{ 'settings.billing.confirmSave' | translate}}</md-button>
            <md-button ng-if="!$ctrl.canChange()" ng-click="$ctrl.cancel()">{{ 'settings.billing.close' | translate }}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>