<md-dialog class="users-list-dialog">
    <md-dialog-content>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 >{{'dialogs.' + title | translate}} ({{users.length}})</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-list>
            <md-list-item ng-repeat="user in users" ng-click="go(user)" layout="row" layout-align="center center">
                <userpic profile="user" is-premium="user.isPremium"></userpic>
                {{user | userName}}  
            </md-list-item>
        </md-list>
        
    </md-dialog-content>
</md-dialog>