<md-dialog class="users-list-dialog">
    <md-dialog-content>
        
        <md-list>

            <md-list-item layout="row" layout-align="center center">
                <span class="md-title">{{'dialogs.' + title | translate}} ({{users.length}})</span>
            </md-list-item>

            <md-list-item ng-repeat="user in users" ng-click="go(user)" layout="row" layout-align="center center">
                <userpic profile="user" is-premium="user.isPremium"></userpic>
                {{user | userName}}  
            </md-list-item>
            
        </md-list>
        
    </md-dialog-content>
</md-dialog>