<div flex layout-xs="row" layout-sm="row" layout-gt-sm="column">
    <!-- day header: start -->
    <div flex-gt-sm="none" flex="none" style="height: 30px" layout="row" layout-align="space-between center"
         ng-class="{today: $ctrl.today}">
        <div flex="none">
            <div hide-gt-sm flex="none" class="md-body-1" style="min-width: 24px">
                {{::$ctrl.data.month | uppercase}}
            </div>
            <div flex="none" layout="raw" class="md-body-1" style="min-width: 24px">
                {{::$ctrl.data.title}}
                <span hide-gt-sm style="margin-left: 0.6em;">{{::$ctrl.data.day}}</span>
                <span hide-xs hide-sm ng-if="$ctrl.data.title == '01'" style="margin-left: 0.4em;">{{::$ctrl.data.month}}</span>
            </div>
        </div>

        <div hide show-gt-sm flex="none" ng-show="$ctrl.selected || $ctrl.accent">
            <md-checkbox ng-model="$ctrl.selected"
                         ng-change="$ctrl.onSelect()"
                         aria-label="Checkbox 1" class="md-primary"
                         style="margin-bottom: 0px; margin-left: 12px">
            </md-checkbox>
        </div>

        <div  hide show-gt-sm flex="none"  ng-show="$ctrl.selected || $ctrl.accent">

            <md-menu>
                <md-button class="md-icon-button " ng-click="$mdOpenMenu($event)" aria-label="More" style="margin: 0px; padding: 0px; width: 24px">
                    <md-icon class="material-icons md-18"
                             aria-label="More">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button>Добавить</md-button></md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.onSelect(); $ctrl.checked = !$ctrl.checked">
                            {{!$ctrl.selected ? 'Выделить' : 'Снять выделение'}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item><md-button ng-click="$ctrl.onDelete()">Удалить</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="$ctrl.onCopy()">Скопировать</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="$ctrl.onPaste()">Вставить</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <!-- day header: end -->
    <!-- calendar items: start -->
    <div flex layout="column">
        <div id="dayzone"
             flex="100" layout-wrap
             ng-repeat="item in $ctrl.data.calendarItems track by $index"
             ng-switch on="::item.calendarItemType"
             dnd-list="items"
             dnd-allowed-types="['itemType']"
             dnd-drop="$ctrl.calendar.onDropItem($ctrl.data.date, index, item)">


            <dashboard-activity
                               layout="column" flex="auto"
                               item="item"
                               selected="$ctrl.selected"
                               dnd-draggable="item"
                               dnd-type="'itemType'"
                               dnd-effect-allowed="move"
                               dnd-dragstart="$ctrl._$log.info('Started to drag an item', event)"
                               dnd-moved="$ctrl.dashboard.onDeleteItem(item)">
            </dashboard-activity>






        </div>
    </div>
    <!-- calendar items: end -->

    <!-- add item: start -->
    <div layout="row" layout-align="center center" flex="grow" hide show-gt-sm
         class="new" ng-class="{show: $ctrl.accent}">
        <md-button  hide show-gt-sm  class="md-icon-button" aria-label="More"
                    ng-click="$ctrl.newActivity($event,$ctrl.data)">
            <md-icon class="material-icon" aria-label="New">add_circle_outline</md-icon>
        </md-button>
        <md-button  hide show-gt-sm  class="md-icon-button" aria-label="More"
                    ng-click="$ctrl.newMeasurement($event,$ctrl.data)">
            <md-icon class="material-icon" aria-label="New">straighten</md-icon>
        </md-button>
        <md-button  hide show-gt-sm  class="md-icon-button" aria-label="More"
                    ng-click="$ctrl.newWeekend($event,$ctrl.data)">
            <md-icon class="material-icon" aria-label="New">weekend</md-icon>
        </md-button>
    </div>
    <!-- add item: end -->
</div>




