<md-table-container class="activity-segments-table__table">
    <table md-table class="md-primary"
           md-row-select="$ctrl.options.rowSelection"
           multiple="{{$ctrl.options.multiSelect}}"
           ng-model="$ctrl.selected">
        <thead ng-if="!$ctrl.options.decapitate" md-head>
        <tr md-row>
            <th md-column><span>#</span></th>
            <th md-column md-numeric hide show-gt-md><span translate="activity.segments.result"></span></th>

            <th md-column md-numeric><span></span></th>
            <th md-column md-numeric><span translate="activity.plan"></span></th>
            <th md-column md-numeric><span translate="activity.actual"></span></th>
            <th md-column hide show-gt-md><span translate="activity.measureUnitShort"></span></th>

            <th md-column md-numeric><span></span></th>
            <th md-column md-numeric style="min-width: 75px"><span translate="activity.plan"></span></th>
            <th md-column md-numeric><span translate="activity.actual"></span></th>
            <th md-column hide hide show-gt-md><span translate="activity.measureUnitShort"></span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            md-select="segment"
            md-on-select="change" md-on-deselect="change"
            md-select-id="pos"
            md-auto-select="$ctrl.options.autoSelect"
            ng-repeat="segment in segments track by $index">

            <td md-cell>{{segment.pos}}</td>
            <td md-cell hide show-gt-md>{{segment.calcMeasures.completePercent.value | percent}}</td>

            <td md-cell>
                <md-icon md-svg-src="assets/icon/{{segment.durationMeasure}}.svg" class="md-dark md-inactive">
                </md-icon>
            </td>
            <td md-cell>{{segment.durationValue | measureCalc:$ctrl.sport:segment.durationMeasure}}</td>
            <td md-cell>{{segment.calcMeasures[segment.durationMeasure].value | measureCalc:$ctrl.sport:segment.durationMeasure}}</td>
            <td md-cell class="md-dark md-inactive" hide show-gt-md>{{segment.durationMeasure | measureUnit:$ctrl.sport | translate}}</td>

            <td md-cell>
                <md-icon md-svg-src="assets/icon/{{segment.intensityMeasure}}.svg" class="md-dark md-inactive">
                </md-icon>
            </td>
            <td md-cell>{{segment | measureCalcInterval:$ctrl.sport:segment.intensityMeasure}}</td>
            <td md-cell>{{segment.calcMeasures[segment.intensityMeasure].avgValue | measureCalc:$ctrl.sport:segment.intensityMeasure}}</td>
            <td md-cell class="md-dark md-inactive" hide show-gt-md>{{segment.intensityMeasure | measureUnit:$ctrl.sport | translate}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>
