<md-table-container class="activity-segments-table__table">
    <table md-table class="md-primary"
           md-row-select="$ctrl.options.rowSelection"
           multiple="{{$ctrl.options.multiSelect}}"
           ng-model="$ctrl.selected">
        <thead ng-if="!$ctrl.options.decapitate" md-head>
        <tr md-row>
            <th md-column><span>#</span></th>
            <th md-column md-numeric><span>Результат</span></th>

            <th md-column md-numeric><span></span></th>
            <th md-column md-numeric><span>План</span></th>
            <th md-column md-numeric><span>Факт</span></th>
            <th md-column><span>ЕдИзм</span></th>

            <th md-column md-numeric><span></span></th>
            <th md-column md-numeric><span>План</span></th>
            <th md-column md-numeric><span>Факт</span></th>
            <th md-column><span>ЕдИзм</span></th>
            <!--
            <th md-column md-numeric><span>Время</span></th>
            <th md-column md-numeric><span>Дистанция</span></th>
            <th md-column ng-if="$ctrl.max.hasOwnProperty('heartRate')" md-numeric style="padding-left: 32px">
                <span>{{'heartRate' | translate}}</span></th>
            <th md-column ng-if="$ctrl.max.hasOwnProperty('heartRate')" md-numeric>
                <span>{{'heartRate' | translate}} %ПАНО</span></th>
            <th md-column ng-if="$ctrl.max.hasOwnProperty('speed')" md-numeric style="padding-left: 32px">
                <span>{{'speed' | translate}}</span></th>
            <th md-column ng-if="$ctrl.max.hasOwnProperty('speed')" md-numeric>
                <span>{{'speed' | translate}} %ПАНО</span></th>
            <th md-column ng-if="$ctrl.max.hasOwnProperty('power')" md-numeric style="padding-left: 32px">
                <span>{{'power' | translate}}</span></th>
            <th md-column ng-if="$ctrl.max.hasOwnProperty('power')" md-numeric>
                <span>{{'power' | translate}} %ПАНО</span></th>
            <th md-column md-numeric><span>{{'elevation' | translate}}</span></th>
            <th md-column md-numeric><span>{{'cadence' | translate}}</span></th>-->
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            md-select="segment"
            md-on-select="change" md-on-deselect="change"
            md-select-id="pos"
            md-auto-select="$ctrl.options.autoSelect"
            ng-repeat="segment in segments track by $index">

            <td md-cell>{{segment.pos}}</td>
            <td md-cell>{{segment.calcMeasures.completePercent.value | percent}}</td>

            <td md-cell>
                <md-icon md-svg-src="assets/icon/{{segment.durationMeasure}}.svg" class="md-dark md-inactive">
                </md-icon>
            </td>
            <td md-cell>{{segment.durationValue | measureCalc:$ctrl.sport:segment.durationMeasure}}</td>
            <td md-cell>{{segment.calcMeasures[segment.durationMeasure].value | measureCalc:$ctrl.sport:segment.durationMeasure}}</td>
            <td md-cell class="md-dark md-inactive">{{segment.durationMeasure | measureUnit:$ctrl.sport | translate}}</td>

            <td md-cell>
                <md-icon md-svg-src="assets/icon/{{segment.intensityMeasure}}.svg" class="md-dark md-inactive">
                </md-icon>
            </td>
            <td md-cell>{{segment | measureCalcInterval:$ctrl.sport:segment.intensityMeasure}}</td>
            <td md-cell>{{segment.calcMeasures[segment.intensityMeasure].avgValue | measureCalc:$ctrl.sport:segment.intensityMeasure}}</td>
            <td md-cell class="md-dark md-inactive">{{segment.intensityMeasure | measureUnit:$ctrl.sport | translate}}</td>

            <!--
            <td md-cell>{{split.calcMeasures.duration.value | duration:'millisecond'}}</td>
            <td md-cell>{{split.calcMeasures.distance.value | measureCalc:$ctrl.sport:'distance'}}</td>
            <td md-cell ng-if="$ctrl.max.hasOwnProperty('heartRate')">
                <div layout="row" layout-align="end center">
                    <div flex="auto" style="background-color: #E0E0E0; height: 10px; border-radius: 5px; margin-right: 4px; max-width: 60px" layout="low">
                        <div flex="none" style="height: 10px; border-radius: 5px; background: #e91e63;
                        width: {{::((split.calcMeasures.heartRate.avgValue - $ctrl.max['heartRate'].min) / ($ctrl.max['heartRate'].max - $ctrl.max['heartRate'].min))*100}}%"></div>
                    </div>
                    <div flex="none" style="line-height: 32px">{{::split.calcMeasures.heartRate.avgValue | measureCalc:$ctrl.sport:'heartRate'}}</div>
                </div>
            </td>
            <td md-cell ng-if="$ctrl.max.hasOwnProperty('heartRate')">
                {{::split.calcMeasures.heartRate.avgValue / $ctrl.getFTP('heartRate') * 100 | number:0}}%
            </td>
            <td md-cell ng-if="$ctrl.max.hasOwnProperty('speed')">
                <div layout="row" layout-align="end center">
                    <div flex="auto" style="background-color: #E0E0E0; height: 10px; border-radius: 5px; margin-right: 4px; max-width: 60px" layout="low">
                        <div flex="none" style="height: 10px; border-radius: 5px; background: #5677fc;
                        width: {{::((split.calcMeasures.speed.avgValue - $ctrl.max['speed'].min) / ($ctrl.max['speed'].max - $ctrl.max['speed'].min))*100}}%">
                        </div>
                    </div>
                    <div flex="none" style="line-height: 32px">{{::split.calcMeasures.speed.avgValue | measureCalc:$ctrl.sport:'speed'}}</div>
                </div>
            </td>
            <td md-cell ng-if="$ctrl.max.hasOwnProperty('speed')">
                {{::split.calcMeasures.speed.avgValue / $ctrl.getFTP('speed') * 100 | number:0}}%
            </td>
            <td md-cell ng-if="$ctrl.max.hasOwnProperty('power')">
                <div layout="row" layout-align="end center">
                    <div flex="auto" style="background-color: #E0E0E0; height: 10px; border-radius: 5px; margin-right: 4px; max-width: 60px" layout="low">
                        <div flex="none" style="height: 10px; border-radius: 5px; background: #9C27B0;
                        width: {{::((split.calcMeasures.power.avgValue - $ctrl.max['power'].min) / ($ctrl.max['power'].max - $ctrl.max['power'].min))*100}}%">
                        </div>
                    </div>
                    <div flex="none" style="line-height: 32px; width: 22px">{{::split.calcMeasures.power.avgValue | measureCalc:$ctrl.sport:'power'}}</div>
                </div>
            </td>
            <td md-cell ng-if="$ctrl.max.hasOwnProperty('power')">
                {{::split.calcMeasures.power.avgValue / $ctrl.getFTP('power') * 100 | number:0}}%
            </td>
            <td md-cell>{{::split.calcMeasures.elevationGain.value.toFixed(0) - split.calcMeasures.elevationLoss.value.toFixed(0) | measureCalc:$ctrl.sport:'elevationGain'}}</td>
            <td md-cell>{{::split.calcMeasures.cadence.avgValue | measureCalc:$ctrl.sport:'cadence'}}</td>
            -->
        </tr>
        </tbody>
    </table>
</md-table-container>