@import "../../../sass/color";

.landing-sidenav {
  width: 60vw;
  max-width: 1000px;
  md-toolbar {background: none !important;}
  .md-toolbar-tools { padding: 0 32px; }
  background: rgba(white,0.95);
  .menu-grid {
    padding: 32px;
  }
  .menu-scenario {
    border-right: 1px solid $grey-300;
    padding-right: 24px;
  }
  .menu-functions {
    padding-left: 24px;
  }
  .menu-buttons {
    padding: 32px;
    .md-button {
      color: rgba(black, 0.87);
      padding: 8px 16px;
    }
    .md-button.accent {
      color: white;
      //border: 1px solid rgba(white, 0.87);
      //border-radius: 20px;
      background: linear-gradient(90deg, $deep-orange-800, $deep-orange-500);
    }
  }
  @media (max-width: 959px) {
    .md-toolbar-tools { padding: 0 16px; }
    .menu-grid { padding: 16px; }
    .menu-scenario { display: none; }
    .menu-functions { padding-left: 0; }
    .menu-buttons { padding: 16px; }
  }
}