<md-sidenav id="landingMenu" class="md-sidenav-right md-whiteframe-z4 st-fixed landing-sidenav"
            md-component-id="landingMenu">
    <md-toolbar flex="none" class="">
        <div class="md-toolbar-tools">
            <div flex="none">
                <md-menu md-position-mode="target-right target" md-offset="0 40">
                    <md-button class="md-icon-button md-primary" style="margin: 0"
                               ng-click="$ctrl.onMenu($mdOpenMenu, $event)" aria-label="User">
                        <md-icon md-svg-src="/assets/icon/{{ $ctrl.display.getLocale() }}.svg" md-24 aria-label="Language Icon"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="(locale, localeName) in $ctrl.display.locales">
                            <md-button ng-click="$ctrl.display.setLocale(locale)">
                                <md-icon md-svg-src="/assets/icon/{{ locale }}.svg" md-24 md-menu-align-target aria-label="Russian"></md-icon>
                                <span>{{ localeName }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <p class="" translate="$ctrl.display.getLocale()"></p>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.toggleSlide('landingMenu')" style="margin-right: 0">
                <md-icon class="material-icons md-dark md-active" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <section class="menu-grid" layout="column" layout-gt-sm="row" layout-align="start start">
        <md-list hide-gt-sm>
            <md-list-item ng-click="$ctrl.toggleSlide('landingMenu'); $ctrl.toggleSlide('scenarioMenu')">
                <p class="md-body-2" translate="landing.scenario.shortTitle"></p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list flex="none" flex-gt-sm="50" class="menu-scenario">
            <md-list-item class="subitem" ng-repeat="scenario in $ctrl.landingConfig.scenario"
                          ng-click="$ctrl.$state.go(scenario.code, scenario.stateParams, {reload: true})">
                <md-icon class="material-icon md-dark" ng-if="false"
                         md-svg-src="/assets/icon/{{::scenario.icon}}.svg"></md-icon>
                <p class="md-body-2" translate="landing.{{scenario.code}}.shortTitle"></p>
            </md-list-item>
        </md-list>
        <md-list flex="none" flex-gt-sm="50" class="menu-functions">
            <md-list-item ng-repeat="item in $ctrl.landingConfig.sidenav"
                          ng-click="$ctrl.$state.go(item.state, item.stateParams, {reload: true})">
                <md-icon class="material-icon md-dark" ng-if="false"
                         md-svg-src="/assets/icon/{{::item.icon}}.svg"></md-icon>
                <p class="md-body-2" translate>{{::item.title}}</p>
            </md-list-item>
        </md-list>
    </section>
    <section class="menu-buttons">
        <md-button ng-if="!$ctrl.auth.isAuthenticated()" class="md-raised accent" ng-click="$ctrl.$state.go('signup')">
            <span translate="landing.main.button.title"></span>
        </md-button>
        <md-button ng-if="!$ctrl.auth.isAuthenticated()" class=""
                   ng-click="$ctrl.$state.go('signin')">
            <span translate="landing.nav.signIn"></span>
        </md-button>
        <md-button ng-if="$ctrl.auth.isAuthenticated()" class=""
                   ng-click="$ctrl.$state.go($ctrl.$mdMedia('gt-sm') ? 'initialisation' : 'calendar')">
            <span translate="landing.nav.signIn"></span>
        </md-button>
        <md-button ng-if="$ctrl.auth.isAuthenticated()" ng-click="$ctrl.$state.go('signout')">
            <span translate="landing.nav.signOut"></span>
        </md-button>
    </section>
</md-sidenav>
<st-landing-sidenav-scenario></st-landing-sidenav-scenario>