<structured-group class="structured-group" flex="none" ng-if="$ctrl.sequence"
                  loop="$ctrl.sequence"
                  hidden-pos="$ctrl.calcPrevLoops($ctrl.sequence)">
</structured-group>

<structured-group ng-repeat="loop in $ctrl.loops track by $index" ng-if="$ctrl.viewGroup"
                  class="structured-group" flex="none"
                  loop="loop"
                  change="$ctrl.item.changeStructuredAssignment"
                  hidden-pos="$ctrl.calcPrevLoops(loop)">
</structured-group>

<section class="intervals" flex="auto" layout="column" layout-fill
         ng-class="{'margin-left': $ctrl.haveLoops() && $ctrl.viewGroup}">
    <structured-interval ng-repeat="interval in $ctrl.intervals.P | orderBy:'pos' track by $index"
                         ng-if="!$ctrl.viewGroup || ($ctrl.viewGroup && (!interval.repeatPos || interval.repeatPos === 0))"
                         interval="interval"
                         view-plan="$ctrl.viewPlan"
                         view-actual="$ctrl.viewActual"
                         view-group="$ctrl.viewGroup"
                         sport="$ctrl.item.activity.header.sportBasic"
                         group="$ctrl.group(interval)"
                         group-count="$ctrl.mode === 'input' && interval.pos === $ctrl.sequence[$ctrl.sequence.length - 1]"
                         count="$ctrl.groupCount"
                         loop="$ctrl.myLoop(interval)"
                         ftp-mode="$ctrl.item.ftpMode"
                         change="$ctrl.item.changeStructuredAssignment"
                         on-change="$ctrl.onChangeValue(interval)"
                         on-select="$ctrl.onChangeSelection(interval)"
                         on-set-repeat="$ctrl.setRepeat(loop,repeat)"
                         on-delete="$ctrl.splice($index)">
    </structured-interval>
</section>