<!-- Выполняется поиск -->
<section class="training-plans-store-items__loading"
         ng-if="$ctrl.isLoadingState"
         layout-fill layout="column" layout-align="center center">
    <md-progress-circular flex="none" class="md-accent" md-diameter="20"></md-progress-circular>
    <p flex="none" class="md-body-1 md-dark" translate="trainingPlans.loading"></p>
</section>

<!-- Данных нет -->
<section class="training-plans-store-items__empty"
         ng-if="$ctrl.isEmptyState"
         layout-fill layout="column" layout-align="center center">
    <md-icon flex="none" class="material-icons md-dark md-inactive" ng-bind="'hourglass_empty'"></md-icon>
    <p flex="none" class="md-body-1 md-dark" translate="trainingPlans.emptyList"></p>
</section>

<!-- Данные есть, вид таблица -->
<md-table-container class="training-plans-store-items__data" ng-if="$ctrl.isDataState && !$ctrl.cardView">
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column class="info"><span translate="trainingPlans.store.info"></span></th>
            <th md-column class="weeks" md-numeric><span translate="trainingPlans.store.rate"></span></th>
            <th md-column class="weeks" md-numeric><span translate="trainingPlans.store.weeks"></span></th>
            <th md-column class="hours" md-numeric><span translate="trainingPlans.store.hours"></span></th>
            <th md-column class="price" md-numeric><span translate="trainingPlans.store.price"></span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="plan in $ctrl.plans.list track by plan.id"
            ng-click="$ctrl.open($event, plan)">
            <td md-cell class="info md-body-2">
                <div layout="row" layot-align="start top" class="md-padding">
                    <img flex="none" ng-src="{{'/plan/icon/' | image:plan.icon }}" class="st-avatar" alt="avatar"/>
                    <div flex="auto">
                        <div class="md-body-2 md-dark" ng-bind="plan.name"></div>
                        <div class="md-body-1 md-dark">{{plan.authorProfile | userName}}</div>
                        <div class="md-caption tags">
                            <span class="tag" ng-if="plan.distanceType" md-colors="{background: 'accent-300'}">
                            {{'competition.distanceType.' + plan.type + '.' + plan.distanceType | translate}}</span>
                            <span class="tag" ng-repeat="tag in plan.tags" md-colors="{background: 'primary-300'}">
                            {{'trainingPlans.tags.' + tag | translate}}</span>
                            <span class="tag" ng-repeat="word in plan.keywords" ng-bind="word"></span>
                        </div>
                    </div>
                </div>
            </td>
            <td md-cell class="rate">
                <span ng-bind="plan.rate"></span>
            </td>
            <td md-cell class="weeks">
                <span ng-bind="plan.weekCount"></span>
            </td>
            <td md-cell class="hours">
                <span ng-bind="plan.hours"></span>
            </td>
            <td md-cell class="price">
                <md-button class="md-primary md-secondary"
                           style="border: 1px solid; border-radius: 5px"
                           md-colors="{'border-color': 'primary'}">
                    <span translate="{{plan.price ? 'trainingPlans.store.price' : 'trainingPlans.store.free'}}"
                          translate-values="{price: plan.price, currency: plan.currency}">
                    </span>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<div ng-if="$ctrl.isDataState && $ctrl.cardView" class="training-plans-store-items__data">
    <div class="card-grid">
        <md-card ng-repeat="plan in $ctrl.plans.list track by plan.id" class="card">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" ng-src="{{'/plan/icon/' | image:plan.icon }}"/>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{plan.authorProfile | userName}}</span>
                    <p class="md-subhead md-truncate">
                        <span>{{'competition.types.' + plan.type | translate}}</span>
                        <span>></span>
                        <span>{{'competition.distanceType.' + plan.type + '.' + plan.distanceType | translate}}</span>
                    </p>
                </md-card-header-text>
            </md-card-header>
            <img style="height: 200px; object-fit: cover;" ng-src="{{'/plan/background/' | image:plan.background }}"
                 class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title md-truncate">{{plan.name}}</span>
                    <p class="md-subhead">
                        <span translate="trainingPlans.landing.weekCount" translate-values="{count: plan.weekCount}"></span>
                    </p>
                    <div class="md-subhead" layout="row" layout-wrap>
                        <span flex="none" class="tag level {{level}}" ng-repeat="level in plan.level" translate>{{'trainingPlans.tags.' + level}}</span>
                        <div flex="none" class="tag" ng-if="plan.isStructured">
                            <md-icon class="material-icons">equalizer</md-icon>
                            <span translate="trainingPlans.isStructures.label"></span>
                        </div>
                        <div flex="none" class="tag" ng-if="plan.customData.hasConsultations">
                            <md-icon class="material-icons">equalizer</md-icon>
                            <span translate="trainingPlans.hasConsultations.label"></span>
                        </div>
                        <div flex="none" class="tag" ng-if="plan.customData.hasOfflineTraining">
                            <md-icon class="material-icons">equalizer</md-icon>
                            <span translate="trainingPlans.hasOfflineTraining.label"></span>
                        </div>
                        <div flex="none" class="tag measure" ng-repeat="measure in plan.measures">
                            <md-icon class="fill-measure {{measure}} s16" md-svg-src="/assets/icon/{{measure}}.svg"></md-icon>
                            <span>{{measure | translate}}</span>
                        </div>
                        <span flex="none" class="tag" ng-repeat="tag in plan.otherTags" translate>{{'trainingPlans.tags.' + tag}}</span>
                        <span flex="none" class="tag" ng-repeat="word in plan.keywords">{{word}}</span>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end start">
                <md-button flex="none" ng-click="$ctrl.open($event, plan)" class="md-primary">
                    <span translate="trainingPlans.actions.view"></span>
                </md-button>
                <md-button flex="none" ng-click="$ctrl.order($event, plan)" class="md-primary">
                    <span translate="{{plan.price ? 'trainingPlans.store.price' : 'trainingPlans.store.free'}}"
                          translate-values="{price: plan.price, currency: plan.currency}">
                    </span>
                </md-button>
            </md-card-actions>
            <md-card-content ng-if="plan.customData.targetAudience">
                <p ng-bind="plan.customData.targetAudience"></p>
            </md-card-content>
        </md-card>
    </div>
</div>

<!-- Даннве есть, вид плитка -->