@import "../../../sass/color";

.training-plans-store-items {
  &__loading, &__empty, &__data {
    min-height: calc(100vh - 64px);
  }
  
  &__data {
    padding: 16px;
    min-height: calc(100vh - 64px - 32px);
    background-color: white;

    .md-row {
      cursor: pointer;
      &:hover {
        background-color: $grey-050;
      }
    }
  }

  &__empty {
    md-icon {
      font-size: 96px;
      height: 96px;
      width: 96px;
      margin: 0;
    }
  }
}