<!-- common section -->
<application-frame class='{{$ctrl.view.style}}'>
    <div layout="row" layout-align="center start" class="app-layer">
        <!-- common left margin -->
        <section flex-gt-md="{{$ctrl.view.margin}}" hide-md></section>
        <div flex="{{$ctrl.view.size}}" layout="column" class="body">
            <div flex="100" layout="column" layout-align="center center" layout-fill>

                <!-- application section: start -->
                <div layout="column" layout-align="start center" flex="100" style="height: 100%; width: 100%">

                    <md-fab-speed-dial ng-class="demo.selectedMode">
                        <md-fab-trigger>
                            <md-button
                                aria-label="menu"
                                class="md-fab md-accent"
                                ng-class="{'md-warn': (!vm.publicForm.$valid ||
                                          !vm.personalFirstForm.$valid || !vm.personalSecondForm.$valid ||
                                          !vm.privateFirstForm.$valid || !vm.privateSecondForm.$valid ||
                                          !vm.privacyForm.$valid ||
                                          !vm.displayForm.$valid ||
                                          !vm.trainingZonesForm.$valid ||
                                          !vm.notificationForm.$valid
                                          )}"
                                ng-disabled="!vm.publicForm.$dirty &&
                                !vm.personalFirstForm.$dirty && !vm.personalSecondForm.$dirty &&
                                !vm.privateFirstForm.$dirty && !vm.privateSecondForm.$dirty &&
                                !vm.privacyForm.$dirty &&
                                !vm.displayForm.$dirty &&
                                !vm.trainingZonesForm.$dirty &&
                                !vm.notificationForm.$dirty"
                                ng-click="vm.updateProfile({
                                public: vm.publicForm.$dirty,
                                personal: vm.personalFirstForm.$dirty || vm.personalSecondForm.$dirty,
                                private: vm.privateFirstForm.$dirty || vm.privateSecondForm.$dirty,
                                privacy: vm.privacyForm.$dirty,
                                display: vm.displayForm.$dirty,
                                trainingZones: vm.trainingZonesForm.$dirty,
                                notifications: vm.notificationForm.$dirty})">

                                <md-icon md-svg-src="/pic/save.svg"></md-icon>
                            </md-button>
                        </md-fab-trigger>
                    </md-fab-speed-dial>

                    <div layout="column" flex="100" style="width: 100%;">
                        <div flex="auto" layout="row" class="app-body" layout-align="center start">
                            <div flex="none" layout="column" class="settings-navbar animated fadeInLeft" hide show-gt-xs flex="noshrink" style="padding-left: 8px; margin: 0px; margin-top: 120px">
                                <md-content flex="auto" du-scroll-container="settings-container" style="overflow-y: auto;">
                                    <md-list-item ng-repeat="nav in $ctrl._NAVBAR" ng-href="{{::nav.link}}" duration="1500" du-smooth-scroll du-scrollspy ng-disabled="!nav.active">
                                        <md-icon flex="none" md-svg-src="/assets/icon/{{::nav.icon}}" class="s24" ng-class="{disable: !nav.active}"></md-icon>
                                        <div flex hide-sm class="md-body-1" style="opacity: 0.87" translate>{{::nav.name}}</div>
                                    </md-list-item>
                                </md-content>
                            </div>
                            <!-- ЛЕНТА НАСТРОЕК -->
                            <section id="settings-container" class="settings-feed" flex="100" layout="column" du-scroll-container>
                                <article ng-include="'settings/articles/settings.personal.html'"></article>
                                <!--
                                <ng-include src="'settings/articles/settings.privacy.html'"></ng-include>
                                <ng-include src="'settings/articles/settings.display.html'"></ng-include>
                                <ng-include src="'settings/articles/settings.account.html'"></ng-include>
                                <ng-include src="'settings/articles/settings.sync.html'"></ng-include>
                                <ng-include src="'settings/articles/settings.zones.html'"></ng-include>
                                <ng-include src="'settings/articles/settings.notifications.html'"></ng-include>
                                <ng-include src="'settings/articles/settings.templates.html'"></ng-include> -->
                            </section>
                        </div>
                    </div>

                </div>
                <!-- application section: end -->
            </div>
        </div>
        <!-- common right margin -->
        <section flex-gt-md="{{$ctrl.view.margin}}" hide-md></section>
    </div>
</application-frame>
<!-- end of common section -->
