.settings-navbar {
    > md-content {
        background: none;
        margin-top: 8px;

        .md-button {
            margin-top: 0;
            margin-bottom: 0;
        }

        md-list-item {
            a {
                border-left: 1px solid $grey-400;
            }

            &.active {
                a {
                    background-color: $grey-400;
                    border-left: 1px solid $accent-900;
                }

                .md-list-item-inner {
                    p {
                        color: rgba(black, 1);
                        -font-weight: 500;
                    }

                    md-icon {
                        svg {
                            fill: rgba(black,0.7);
                        }
                    }
                }
            }
        }

        .md-list-item-inner {
            md-icon {
                margin-right: 16px !important;

                svg {
                    fill: rgba(black,0.54);
                }

                &.disable {
                    svg {
                        fill: rgba(black,0.3);
                    }
                }
            }
        }
    }
}

md-fab-speed-dial {
    position: absolute;
    top: 64px;
    right: 5%;
    @media (max-width: 960px) {
        bottom: 8px;
        right: 8px;
        top: initial;
    }
}

#settings-container {
  max-width: 600px;
    overflow-y: auto;
    //overflow-x: hidden;
    padding-right: 12px;
    @media (max-width: 600px) {
        padding: 0;
    }

    md-card {
        background-color: rgb(250,250,250);
        //padding-bottom: 24px;
        @media (max-width: 600px) {
            border-radius: 0;
            margin: 0;
        }

        .user-avatar {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            position: absolute;
            left: 18px;
            top: 170px;
            margin-bottom: 30px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid white;
        }

        .edit-user-avatar {
            top: 3px;
            right: 3px;
            bottom: 3px;
            left: 3px;
            margin: 0px;
            padding: 0px;
            width: calc(100% - 0px);
            background: rgba(0,0,0,.5);
            color: #fff;
            text-decoration: none;
            line-height: 56px;
            opacity: 100;
            transition: opacity 0.3s ease;
            border-radius: 100%;
            border: none;

            &.ng-hide {
              opacity: 0;
            }
        }

        .user-background {
            min-height: 200px;
            background-image: linear-gradient(to top, rgba(#37474F, 1), rgba(0, 0, 0, 0.40) 30%, rgba(0, 0, 0, 0.60) 73%, rgba(0, 0, 0, 0.76)), url("/background/4.jpg");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        div.h1 {
            @extend .padding-24-24;
            margin: 0;
            color: rgba(white,0.84);
            background-color: $primary-hue-3;
        }

        div.h2 {
            @extend .padding-16-24;
            margin: 0;
            color: rgba(white,0.84);
            background-color: $primary-hue-2;
        }

        div.h3 {
            @extend .padding-08-24;
            margin: 0;
            color: rgba(black,0.84);
            background-color: $grey-200;
        }

        p.md-title {
            margin: 8px 0;
        }

        p.md-subhead {
            margin: 8px 0;
            color: rgba(black,0.87);
        }

        p.md-body-2 {
            margin: 0;
        }

        div.defenition {
            line-height: 34px;
            margin-top: 18px;
        }

        md-autocomplete,
        md-input-container,
        md-select {
            .input-hint {
                color: $grey-700 !important;
                position: absolute;
                left: 2px;
                right: auto;
                bottom: -7px;
                font-size: 12px;
                line-height: 14px;
                transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
            }

            .input-hint.ng-enter,
            .input-hint.ng-hide,
            .input-hint.ng-leave.ng-leave-active {
                bottom: 26px;
                opacity: 0;
            }

            .input-hint.ng-enter.ng-enter-active,
            .input-hint.ng-leave {
                bottom: -7px;
                opacity: 1;
            }

            .select-hint {
                color: $grey-700;
                position: absolute;
                left: 2px;
                right: auto;
                top: auto;
                margin-top: 4px;
                font-size: 12px;
                line-height: 14px;
                transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);

                &.light {
                    color: rgba(white, 0.7) !important;
                }

                &.dark {
                    color: $grey-700 !important;
                }
            }

            .select-hint.ng-enter,
            .select-hint.ng-hide,
            .select-hint.ng-leave.ng-leave-active {
                top: 26px;
                opacity: 0;
            }

            .select-hint.ng-enter.ng-enter-active,
            .select-hint.ng-leave {
                top: auto;
                opacity: 1;
            }

            &.no-margin {
                margin: 0;
            }

            &.no-border {
                .md-select-value {
                    border: none;
                }
            }

            &.text-right {
                .md-select-value {
                    text-align: right;
                    color: white;
                }
            }

            &.no-message {
                .md-errors-spacer {
                    min-height: 0 !important;
                }
            }

            &.message {
                margin-bottom: 32px !important;
            }

            &.light {
                span.md-select-icon {
                    color: rgba(white,0.84);
                }

                div.md-text {
                    color: rgba(white,0.84);
                }
            }
        }

        md-option .md-text {
            font-size: 12px !important;
        }

        md-datepicker {
            margin: 18px 0;

            .md-datepicker-button {
                margin: 0;
                padding: 0;
                width: 24px;
                height: 24px;
            }

            .md-datepicker-input-container {
                width: calc(100% - 36px) !important;
            }

            .md-datepicker-input {
                font-size: 100% !important;
            }
        }

        .md-button {
            &.inline-input {
                height: 26px;
                margin-top: 18px;
                margin-left: 18px;
            }
        }

        .md-button.md-icon-button {
            &.inline-input {
                height: 26px;
                margin-top: 16px;
                margin-left: 8px;
            }
        }

        md-icon.fill-dark {
            svg {
                fill: rgba(black,0.7);
            }
        }

        md-icon.fill-light {
            svg {
                fill: rgba(white,0.84);
            }
        }

        fieldset {
            border: 0;
            margin: 0;
            padding: 0;
        }

        .hint {
            /* Position the hint */
            -position: absolute;
            -left: 2px;
            -right: auto;
            -bottom: 9px;
            /* Copy styles from ng-messages */
            font-size: 12px;
            line-height: 14px;
            transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
            /* Set our own color */
            a {
                text-decoration: none;
                font-weight: 500;

                &:hover {
                    color: rgba($accent-900,0.8);
                }
            }

            &.light {
                color: rgba(white,0.54);

                a {
                    color: rgba(white,0.7);
                }
            }

            &.dark {
                color: rgba(black,0.54);

                a {
                    color: rgba(black,0.8);
                }
            }
        }
    }
}
