<!-- common section -->
<application-frame class='{{$ctrl.view.style}}'>
    <section layout="row" layout-align="space-between start" class="app-layer">
        <!-- common left margin -->
        <section layout="row" layout-align="end start" flex-gt-xs="grow" hide-xs class="margin">
            <nav class="settings-navbar animated fadeInLeft" flex="none" layout="column" hide show-gt-xs>
                <md-content flex="auto" du-scroll-container="settings-container" style="overflow-y: auto;">
                    <md-list-item ng-repeat="nav in $ctrl._NAVBAR" ng-href="{{::nav.link}}" duration="1500" du-smooth-scroll du-scrollspy ng-disabled="!nav.active">
                        <md-icon flex="none" md-svg-src="/assets/icon/{{::nav.icon}}" class="s24" ng-class="{disable: !nav.active}"></md-icon>
                        <div flex hide show-gt-md class="md-body-1" style="opacity: 0.87" translate>{{::nav.name}}</div>
                    </md-list-item>
                </md-content>
            </nav>
        </section>
        <section flex="none" layout="row" layout-align="center start" class="content">
            <!--<div flex="100" layout="column" layout-align="center center" layout-fill>-->
                <!-- application section: start -->
                <!--<div layout="column" layout-align="start center" flex="100" style="height: 100%; width: 100%">-->

                    <!--<md-fab-speed-dial ng-class="demo.selectedMode">
                        <md-fab-trigger>
                            <md-button
                                aria-label="menu"
                                class="md-fab md-accent"
                                ng-class="{'md-warn': (!vm.publicForm.$valid ||
                                          !vm.personalFirstForm.$valid || !vm.personalSecondForm.$valid ||
                                          !vm.privateFirstForm.$valid || !vm.privateSecondForm.$valid ||
                                          !vm.privacyForm.$valid ||
                                          !vm.displayForm.$valid ||
                                          !vm.trainingZonesForm.$valid ||
                                          !vm.notificationForm.$valid
                                          )}"
                                ng-disabled="!vm.publicForm.$dirty &&
                                !vm.personalFirstForm.$dirty && !vm.personalSecondForm.$dirty &&
                                !vm.privateFirstForm.$dirty && !vm.privateSecondForm.$dirty &&
                                !vm.privacyForm.$dirty &&
                                !vm.displayForm.$dirty &&
                                !vm.trainingZonesForm.$dirty &&
                                !vm.notificationForm.$dirty"
                                ng-click="vm.updateProfile({
                                public: vm.publicForm.$dirty,
                                personal: vm.personalFirstForm.$dirty || vm.personalSecondForm.$dirty,
                                private: vm.privateFirstForm.$dirty || vm.privateSecondForm.$dirty,
                                privacy: vm.privacyForm.$dirty,
                                display: vm.displayForm.$dirty,
                                trainingZones: vm.trainingZonesForm.$dirty,
                                notifications: vm.notificationForm.$dirty})">

                                <md-icon md-svg-src="/pic/save.svg"></md-icon>
                            </md-button>
                        </md-fab-trigger>
                    </md-fab-speed-dial>-->

                    <!--<div layout="column" flex="100" style="width: 100%;">-->
                        <!--<div flex="auto" layout="row" class="app-body" layout-align="center start">-->

                            <!-- ЛЕНТА НАСТРОЕК -->
                            <section class="settings-container" flex="auto" layout="column" du-scroll-container>
                                <header flex="none" layout="column" md-theme="dark">
                                    <md-card class="user-background" flex="none" layout-align="end center" >
                                      <md-card-content layout="row" layout-align="space-between end" style="width: 100%">
                                        <div flex="none" ng-mouseover="show=true" ng-mouseleave="show=false" class="user-avatar" style="background-image: url(/assets/avatar/{{::$ctr.user.userId}}.jpg)">
                                            <button ng-show='show' type="button" name="button" class="edit-user-avatar">Edit</button>
                                        </div>
                                        <div class="bage">P</div>
                                        <div flex=none hide show-gt-xs>
                                              <md-button>Изменить</md-button>
                                        </div>
                                      </md-card-content>

                                    </md-card>
                                </header>
                                <section class="settings-feed" flex="grow" layout="column">
                                    <article flex="none" ng-include="'settings/articles/settings.personal.html'"></article>

                                  <ng-include src="'settings/articles/settings.privacy.html'"></ng-include>
                                  <ng-include src="'settings/articles/settings.display.html'"></ng-include> <!--
                                  <ng-include src="'settings/articles/settings.account.html'"></ng-include>
                                  <ng-include src="'settings/articles/settings.sync.html'"></ng-include>
                                  <ng-include src="'settings/articles/settings.zones.html'"></ng-include> -->
                                  <article flex="none" ng-include="'settings/articles/settings.notifications.html'"></article>
                                  <!--<ng-include src="'settings/articles/settings.templates.html'"></ng-include> -->
                                </section>
                            </section>
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- application section: end -->
            <!--</div>-->
        </section>
        <!-- common right margin -->
        <section flex-gt-xs="grow" hide-xs class="margin"></section>
    </section>
</application-frame>
<!-- end of common section -->
