<md-fab-speed-dial ng-class="demo.selectedMode">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-accent"
                   ng-class="{'md-warn': (!vm.publicForm.$valid ||
                                          !vm.personalFirstForm.$valid || !vm.personalSecondForm.$valid ||
                                          !vm.privateFirstForm.$valid || !vm.privateSecondForm.$valid ||
                                          !vm.privacyForm.$valid ||
                                          !vm.displayForm.$valid ||
                                          !vm.trainingZonesForm.$valid ||
                                          !vm.notificationForm.$valid
                                          )}"

                   ng-disabled="!vm.publicForm.$dirty &&
                                !vm.personalFirstForm.$dirty && !vm.personalSecondForm.$dirty &&
                                !vm.privateFirstForm.$dirty && !vm.privateSecondForm.$dirty &&
                                !vm.privacyForm.$dirty &&
                                !vm.displayForm.$dirty &&
                                !vm.trainingZonesForm.$dirty &&
                                !vm.notificationForm.$dirty"

                   ng-click="vm.updateProfile({
                                public: vm.publicForm.$dirty,
                                personal: vm.personalFirstForm.$dirty || vm.personalSecondForm.$dirty,
                                private: vm.privateFirstForm.$dirty || vm.privateSecondForm.$dirty,
                                privacy: vm.privacyForm.$dirty,
                                display: vm.displayForm.$dirty,
                                trainingZones: vm.trainingZonesForm.$dirty,
                                notifications: vm.notificationForm.$dirty})">

            <md-icon md-svg-src="/pic/save.svg"></md-icon>
        </md-button>
    </md-fab-trigger>
</md-fab-speed-dial>

<div layout="column" flex="100" style="height: 100%;">
    <div flex="auto" layout="row" class="app-body">
    <div layout="column" class="settings-navbar"
         hide show-gt-xs flex="noshrink" style="padding-left: 8px; margin: 0px;">
        <div flex="none" layout="row"
             layout-align="start center" layout-align-sm="center center"
             style="margin-top: 8px; margin-left: 8px; padding: 16px 0px">
            <img class="avatar medium" src="/pic/01.jpg"/>
            <div flex hide-sm class="md-body-1" style="margin: 5px 16px; color: white;">{{currentUser.firstName}}
                {{currentUser.lastName}}<br>{{currentUser.email}}</br></div>
        </div>
        <md-content flex="auto" du-scroll-container="settings-container" style="overflow-y: auto;">
            <md-list-item ng-repeat="nav in vm.navbar" ng-href="{{::nav.link}}" duration="1500" du-smooth-scroll
                          du-scrollspy
                          ng-disabled="!nav.active">
                <md-icon flex="none" md-svg-src="/pic/{{::nav.icon}}" class="s24"
                         ng-class="{disable: !nav.active}"></md-icon>
                <div flex hide-sm class="md-body-1" style="opacity: 0.87" translate>{{::nav.name}}</div>
            </md-list-item>
        </md-content>
    </div>
    <!--
    <div hide show-gt-xs flex="none" style="width: 280px;">

    </div> -->

    <!-- ЛЕНТА НАСТРОЕК -->
    <div id="settings-container" flex="auto" layout="column" du-scroll-container >
        <!-- ПЕРСОНАЛЬНАЯ ИНФОРМАЦИЯ -->
        <md-card flex="none" layout="column" id="personal">
            <div class="h1">
                <p class="md-title" translate>app.settings.personalInfo.header</p>
                <div class="hint light">Подсказка...</div>
            </div>
            <form name="vm.publicForm">
                <!--<p class="md-body-2 padding-16-24" translate>app.settings.personalInfo.main.header</p>-->
                <div layout="row" class="padding-00-24 back-primary-hue-3" md-theme="auth">
                    <md-input-container flex-gt-sm class="md-body-1">
                        <label translate>app.settings.personalInfo.main.firstName</label>
                        <input required type="text" name="firstName" ng-model="vm.public.firstName"
                               autocomplete="off" autofocus ng-disabled="false"
                               minlength="2" maxlength="100">
                        <div ng-messages="public.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                                app.settings.personalInfo.main.firstName
                            </div>
                        </div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex-gt-sm class="md-body-1">
                        <label translate>app.settings.personalInfo.main.lastName</label>
                        <input required type="text" name="lastName" ng-model="vm.public.lastName"
                               autocomplete="off"  ng-disabled="false"
                               minlength="2" maxlength="100">
                        <div ng-messages="public.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                                app.settings.personalInfo.main.lastName
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </form>
            <form name="vm.personalFirstForm">
                <div flex layout="row" layout-align="start center" class="padding-08-24">
                    <p style="margin-right: 16px" class="md-body-1" translate>app.settings.personalInfo.main.sex</p>
                    <md-radio-group name="sex" class="md-primary" ng-model="vm.personal.sex" layout="row"
                                    layout-align="start center">
                        <md-radio-button class="md-body-1" value="M"> Мужской</md-radio-button>
                        <md-radio-button class="md-body-1" value="F"> Женский</md-radio-button>
                    </md-radio-group>
                </div>
                <div flex layout="row" layout-align="start center" class="padding-08-24">
                    <am-date-picker flex-gt-sm class="md-body-1"
                                    ng-model="date"
                                    am-locale="ru"
                                    am-input-date-format="L"
                                    am-input-label="День рождения"
                                    am-max-date="maxDate"
                                    am-max-year="2010"
                                    am-min-date="minDate"
                                    am-min-year="1920"
                                    am-popup-date-format="D/M"
                                    am-show-input-icon="false">
                    </am-date-picker>
                </div>
                <!--<md-datepicker flex-gt-sm ng-model="vm.personal.birthday" class="md-body-1"
                               md-placeholder="{{ 'app.settings.personalInfo.main.birthday' | translate }}">
                </md-datepicker>-->
                <div flex layout-gt-xs="row" class="padding-00-24">
                    <md-autocomplete flex required class="md-body-1 no-message"
                                     md-min-length="0"
                                     md-input-name="country"
                                     md-no-cache="vm.noCache"
                                     md-selected-item="vm.personal.country"
                                     md-search-text="vm.searchCountry"
                                     md-items="item in vm.querySearch(vm.searchCountry, vm.countries, false)"
                                     md-item-text="item.name"
                                     md-floating-label="Country"
                                     placeholder="please select country">
                        <md-item-template>
                            <span md-highlight-text="vm.searchCountry">{{item.name}}</span>
                        </md-item-template>
                    </md-autocomplete>
                    <!-- <md-input-container flex-gt-sm class="md-body-1">
                         <label translate>app.settings.personalInfo.main.country</label>
                         <input type="text" name="country" ng-model="vm.personal.country"
                                autocomplete="off" autofocus ng-disabled="false"
                                minlength="1" maxlength="100">
                         <div ng-messages="authForm.email.$error" role="alert">
                             <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                                 app.settings.personalInfo.main.firstName
                             </div>
                         </div>
                     </md-input-container> -->
                    <div flex-gt-sm="5"></div>
                    <md-input-container flex class="md-body-1">
                        <label translate>app.settings.personalInfo.main.city</label>
                        <input type="text" name="city" ng-model="vm.personal.city"
                               autocomplete="off"  ng-disabled="false"
                               minlength="1" maxlength="100">
                        <div ng-messages="authForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                                app.settings.personalInfo.main.lastName
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div flex class="padding-00-24">
                    <md-input-container flex class="md-block md-body-1">
                        <label>О себе</label>
                    <textarea ng-model="vm.personal.about" name="about" md-maxlength="500" rows="5"
                              md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </form>
            <form name="vm.privateFirstForm">
                <p class="md-body-2 padding-16-24" translate>app.settings.personalInfo.sportShape.header</p>
                <div flex layout="row" class="padding-00-24">
                    <md-input-container class="md-body-1">
                        <label translate>app.settings.personalInfo.sportShape.weight</label>
                        <input name="weight" ng-model="vm.private.weight"
                               autocomplete="off" type="number" step="0.1" min="10" max="500">
                        <div ng-messages="private.weight.$error" role="alert">
                            <div ng-message-exp="['min', 'max']">
                                Вес должен быть в интервале от 10 до 500
                            </div>
                        </div>
                    </md-input-container>
                    <div class="md-body-1" style="margin-top: 24px" translate>kg</div>
                    <div flex="5"></div>
                    <md-input-container class="md-body-1">
                        <label translate>app.settings.personalInfo.sportShape.height</label>
                        <input name="height" ng-model="vm.private.height"
                               autocomplete="off" type="number" step="1" min="10" max="500">
                        <div ng-messages="private.height.$error" role="alert">
                            <div ng-message-exp="['min', 'max']">
                                Вес должен быть в интервале от 10 до 500
                            </div>
                        </div>
                    </md-input-container>
                    <div style="margin-top: 24px" translate>sm</div>
                </div>
                <div layout-gt-md="row" class="padding-00-24">
                    <div flex-gt-md style="line-height: 48px" class="md-body-1">Тренировочных часов в неделю:
                        {{vm.private.level}}</div>
                    <md-slider flex-gt-md name="level" ng-model="vm.private.level" class="md-primary"
                               step="1" min="0" max="50" aria-label="level">
                </div>
            </form>
            <form name="vm.personalSecondForm">
                <fieldset class="padding-00-24" name="activity">
                    <legend class="md-body-1" style="margin-bottom: 16px">Виды спорта:</legend>
                    <div layout="row" layout-wrap flex>
                        <div flex="33" ng-repeat="item in vm.activity">
                            <md-checkbox class="md-body-1 md-primary" aria-label={{::item}}
                                         ng-checked="vm.itemChecked(item, vm.personal.activity)"
                                         ng-click="vm.itemToggle(item, vm.personal.activity)">
                                {{::item}}
                            </md-checkbox>
                        </div>
                    </div>
                </fieldset>
            </form>
            <form name="vm.privateSecondForm">
                <p class="md-body-2 padding-16-24" translate>app.settings.personalInfo.contacts.header</p>
                <div layout-gt-xs="row" class="padding-00-24">
                    <md-input-container flex-gt-sm class="md-body-1">
                        <label translate>app.settings.personalInfo.contacts.extEmail</label>
                        <input type="email" name="extEmail" ng-model="vm.private.extEmail"
                               autocomplete="off" autofocus ng-disabled="false"
                               minlength="5" maxlength="100"
                               ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="private.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                                app.settings.personalInfo.main.firstName
                            </div>
                        </div>
                    </md-input-container>
                    <div flex-gt-sm="5"></div>
                    <md-input-container flex-gt-sm class="md-body-1">
                        <label translate>app.settings.personalInfo.contacts.phone</label>
                        <input type="text" name="phone" ng-model="vm.private.phone"
                               autocomplete="off"  ng-disabled="false"
                               minlength="5" maxlength="100">
                        <div ng-messages="private.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                                app.settings.personalInfo.main.lastName
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <!--<div layout="row" class="padding-00-24">
                    <md-button flex="none" class="md-raised" ng-disabled="true">
                        SignIn Facebook
                    </md-button>
                    <div flex-gt-sm="5"></div>
                    <md-button flex="none" class="md-raised" ng-disabled="true">
                        SignIn Instagram
                    </md-button>
                </div>-->
            </form>

        </md-card>
        <!-- НАСТРОЙКА ПРИВАТНОСТИ -->
        <md-card flex="none" layout="column" id="privacy">
            <div class="h1">
                <p class="md-title" translate>app.settings.privacy.header</p>
                <div class="hint light" translate>app.settings.privacy.hint</div>
            </div>
            <form name="vm.privacyForm">
                <div ng-repeat="group in vm.privacy">
                    <p class="md-body-2 padding-16-24">
                        {{ 'app.settings.privacy.groups.' + group.name | translate }}</p>
                    <div class="hint dark padding-00-24">
                        {{ 'app.settings.privacy.groups.' + group.name + 'Hint' | translate }}</div>

                    <md-select flex class="md-body-1 padding-00-24 no-border" ng-model="group.setup"
                               arial-label="Privacy Level">
                        <md-option class="md-body-1" ng-value="level.id"
                                   ng-repeat="level in vm.privacyLevel">{{::level.name | translate}}</md-option>
                    </md-select>
                    <md-divider ng-if="!$last" style="margin-top: 16px"></md-divider>
                </div>

            </form>

        </md-card>
        <!-- НАСТРОЙКА ПРЕДСТАВЛЕНИЯ -->
        <md-card flex="none" layout="column" id="display">
            <div class="h1" layout="column" layout-wrap>
                <div flex layout="row" layout-align="space-between center">
                    <div flex="auto" layout="row" layout-align="start center">
                        <p class="md-title" translate>app.settings.display.header</p>
                    </div>
                    <md-icon flex="none" md-svg-icon="/pic/dvr.svg"
                             class="fill-light"></md-icon>
                </div>
                <div flex class="hint light" translate>app.settings.display.hint</div>
            </div>
            <form name="vm.displayForm">

                <div layout="row" layout-align="start center" md-theme="auth" class="padding-00-24 back-primary-hue-3">
                    <md-icon flex="none" md-svg-icon="/pic/translate.svg" style="margin-right: 8px"
                             class="fill-light"></md-icon>
                    <md-input-container flex="auto" class="md-block message">
                        <label>Language</label>
                        <md-select flex="auto" name="language" ng-model="vm.display.language"
                                   style="margin-top: 0px;" class="md-body-1 light"
                                   placeholder="select language please">
                            <md-option class="md-body-1" value="ru">Russian</md-option>
                            <md-option class="md-body-1" value="en">English</md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex="auto" class="md-block message">
                        <label>Format Language</label>
                        <md-select name="formatLanguage" ng-model="vm.display.formatLanguage"
                                   style="margin-top: 0px;" class="md-body-1 light">
                            <md-option class="md-body-1" value="ru" class="md-body-1">Русский</md-option>
                            <md-option class="md-body-1" value="en" class="md-body-1">English</md-option>
                        </md-select>
                        <div class="select-hint light" ng-if="true">Определяет настройки времени и чисел</div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="start center" class="padding-00-24" style="margin-top: 16px">
                    <md-icon flex="none" md-svg-icon="/pic/earth.svg" style="margin-right: 8px"
                             class="fill-dark"></md-icon>
                    <md-input-container flex="auto">
                        <label>Time Zone</label>
                        <md-select name="timezone" ng-model="vm.display.timezone"
                                   md-selected-text="timezoneSelectedText"
                                   style="margin-top: 0px;" class="md-body-1 no-message"
                                   placeholder="select timezone please">
                            <md-option class="md-body-1" ng-repeat="timezone in vm.timezones"
                                       value="{{timezone.value}}">{{timezone.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" class="padding-00-24">
                    <md-icon flex="none" md-svg-icon="/pic/calendar-multiple-check.svg" style="margin-right: 8px"
                             class="fill-dark"></md-icon>
                    <md-input-container flex="auto">
                        <label>chooseCalendar</label>
                        <md-select name="language" ng-model="vm.display.calendar"
                                   style="margin-top: 0px;" class="md-body-1 no-message">
                            <md-option class="md-body-1" value="0">Греогианский</md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-icon flex="none" md-svg-icon="/pic/calendar-today.svg" style="margin-right: 8px"
                             class="fill-dark"></md-icon>
                    <md-input-container flex="auto">
                        <label>chooseFistDayWeek</label>
                        <md-select name="firstDay" ng-model="vm.display.firstDayOfWeek"
                                   style="margin-top: 0px;" class="md-body-1 no-message">
                            <md-option value="1" class="md-body-1">Понедельник</md-option>
                            <md-option value="6" class="md-body-1">Суббота </md-option>
                            <md-option value="7" class="md-body-1">Воскресенье</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-divider></md-divider>
                <p class="md-body-2 padding-16-24" style="padding-bottom: 0px">Формат чисел и дат</p>
                <div layout="row" layout-align="start center" class="padding-08-24">
                    <div flex="none" style="min-width: 130px; margin-top: 4px" class="md-body-1">Система мер:</div>
                    <md-input-container flex="auto" class="">
                        <md-select name="firstDay" ng-model="vm.display.units"
                                   style="margin-top: 0px;" class="md-body-1">
                            <md-option value="0" class="md-body-1">Метрическая(км/кг)</md-option>
                            <md-option value="1" class="md-body-1">Имперская(фунты/мили) </md-option>
                        </md-select>
                        <div class="select-hint" ng-if="vm.display.units"><span>км/кг</span></div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="start center" class="padding-00-24">
                    <div flex="none" style="min-width: 130px; margin-top: 4px" class="md-body-1">Формат чисел:</div>
                    <md-input-container flex="auto" class="">
                        <label>Grouping</label>
                        <md-select name="firstDay" ng-model="vm.display.numGroup"
                                   style="margin-top: 0px;" class="md-body-1">
                            <md-option value="" class="md-body-1">None</md-option>
                            <md-option value="space" class="md-body-1">Space</md-option>
                            <md-option value="dot" class="md-body-1">Точка</md-option>
                            <md-option value="comma" class="md-body-1">Запятая</md-option>
                        </md-select>
                        <div class="select-hint" ng-if="vm.display.numGroup"><span>1 234,45</span></div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex="auto" class="">
                        <label>Decimal</label>
                        <md-select name="firstDay" ng-model="vm.display.numSeparator"
                                   style="margin-top: 0px;" class="md-body-1">
                            <md-option value="dot" class="md-body-1">Точка</md-option>
                            <md-option value="comma" class="md-body-1">Запятая</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="start center" class="padding-00-24">
                    <div flex="none" style="min-width: 130px; margin-top: 4px" class="md-body-1">Формат даты:</div>
                    <md-input-container flex="auto" class="">
                        <label>Format</label>
                        <md-select name="firstDay" ng-model="vm.display.dateGroup"
                                   style="margin-top: 0px;" class="md-body-1">
                            <md-option value="MMDDYYYY" class="md-body-1">MMDDYYYY</md-option>
                            <md-option value="DDMMYYYY" class="md-body-1">DDMMYYYY</md-option>
                            <md-option value="YYYYMMDD" class="md-body-1">YYYYMMDD</md-option>
                        </md-select>
                        <div class="select-hint" ng-if="vm.display.dateGroup">13.10.1984</div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex="auto" class="">
                        <label>Separator</label>
                        <md-select name="firstDay" ng-model="vm.display.dateSeparator"
                                   style="margin-top: 0px;" class="md-body-1">
                            <md-option value="/" class="md-body-1">Backspace</md-option>
                            <md-option value="." class="md-body-1">Dot</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="start center" class="padding-16-24">
                    <div flex="none" style="min-width: 130px" class="md-body-1">Формат времени:</div>
                    <md-switch ng-model="vm.display.timeFormat"
                               aria-label="Switch 2"
                               ng-true-value="12"
                               ng-false-value="24" class="md-primary"
                               style="margin: 0px 16px">
                        {{ data.cb2 }}
                    </md-switch>
                    <div class="hint dark">{{vm.display.timeFormat === 12 ? "12H AM/PM" : "24H"}}</div>
                </div>
            </form>
        </md-card>

        <!-- НАСТРОЙКА УЧЕТНОЙ ЗАПИСИ -->
        <md-card flex="none" layout="column" id="account">
            <div class="h1" layout="column" layout-wrap>
                <div flex layout="row" layout-align="space-between center">
                    <div flex="auto" layout="row" layout-align="start center">
                        <p class="md-title" translate>app.settings.account.header</p>
                    </div>
                    <md-icon flex="none" md-svg-icon="/pic/vpn_key.svg"
                             class="fill-light"></md-icon>
                </div>
                <div flex class="hint light" translate>app.settings.account.hint</div>
            </div>
            <form name="vm.accountForm">
                <div layout="row" class="padding-0-24-24-24 back-primary-hue-3" md-theme="auth">
                    <md-input-container flex-gt-sm class="md-body-1">
                        <label translate>app.settings.account.email</label>
                        <input type="text" name="firstName" ng-model="vm.personal.email"
                               autocomplete="off" autofocus ng-disabled="true"
                               minlength="2" maxlength="100">
                        <div class="hint light">Логином в нашем сервисе является email указанный при регистрации</div>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex-gt-sm class="md-body-1">
                        <label translate>app.settings.account.password</label>
                        <input type="password" name="lastName" ng-model="vm.password"
                               autocomplete="off"  ng-disabled="true"
                               minlength="2" maxlength="100">
                        <div class="hint light">Для смены пароля перейдите по <a href="#">ссылке</a></div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between center" class="padding-16-24">
                    <p class="md-subhead">Billing Information</p>
                    <md-button flex="none" class="md-raised" ng-disabled="true"
                               ng-click="">+ add
                    </md-button>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-align="space-between center" class="padding-16-24">
                    <p class="md-subhead">Subscriptions</p>
                    <md-button flex="none" class="md-raised" ng-disabled="true"
                               ng-click="">+ add
                    </md-button>
                </div>
                <div flex layout="column"
                     ng-repeat="subscription in vm.subscriptions"
                     ng-class="{'padding-00-24' : $last, 'padding-0-24-24-24': !$last}">
                    <div flex layout="row" layout-align="space-between center">
                        <md-icon flex="none" md-svg-icon="/pic/staminity.svg"
                                 class="fill-light s24" style="margin-right: 8px"></md-icon>
                        <div flex="auto" class="md-body-2">Staminity: {{::subscription.code}}</div>
                        <md-button flex="none" ng-class="{'md-primary' : !$first}" ng-disabled="$first"
                                   ng-click="">{{$first ? 'Не активна' : 'Активна'}}
                        </md-button>
                    </div>
                    <div flex layout="row" class="hint dark" style="margin-left: 32px; margin-right: 100px">
                        Статус подписки, комментарий по дате следующего платежа, периоду расчета, ссылке на описание доступных функций в подписке
                    </div>
                </div>
            </form>
        </md-card>
        <!-- НАСТРОЙКА СИНХРОНИЗАЦИИ -->
        <md-card flex="none" layout="column" id="sync">
            <div class="h1">
                <p class="md-title" translate>app.settings.sync.header</p>
                <div class="hint light" translate>app.settings.sync.hint</div>
            </div>
            <form name="vm.syncForm">

            </form>
        </md-card>
        <!-- НАСТРОЙКА ЗОН ИНТЕНСИВНОСТИ -->
        <md-card flex="none" layout="column" id="zones">
            <div class="h1" layout="column" layout-wrap>
                <div flex layout="row" layout-align="start center">
                    <md-icon flex="none" md-svg-icon="/pic/straighten.svg" style="margin-right: 8px"
                             class="fill-light"></md-icon>
                    <div flex="100" layout="row" layout-align="start center">
                        <p class="md-title" translate>app.settings.zones.header</p>
                    </div>
                </div>
                <div flex class="hint light" style="margin-left: 32px" translate>app.settings.zones.hint</div>
            </div>
            <form name="vm.trainingZonesForm">
                <div ng-repeat="param in vm.trainingZones">
                    <div layout="row" layout-align="space-between center" class="h2">
                        <div layout="row" layout-align="start center">
                            <md-icon flex="none" md-svg-src="/pic/{{param.type}}.svg" style="margin-right: 8px"
                                     class="s24 fill-light">
                            </md-icon>
                            <div flex="none" class="md-subhead">
                                {{'_measurementUnits.' + param.type +'.name' | translate}}
                            </div>
                        </div>
                        <!--<md-input-container flex="auto" md-no-float style="margin-top: 0px;">
                            <md-select flex class="md-body-1 no-message no-border text-right" ng-model="newActivity"
                                       placeholder="add new activity" style="margin-top: 0px;">

                                    <md-option class="md-body-1"
                                               ng-repeat="activity in vm.activity""
                                               ng-click="">
                                        {{::activity}}
                                    </md-option>

                            </md-select>
                        </md-input-container> -->
                        <md-button flex="none" class="md-raised md-primary"
                                   ng-click="">+ add
                        </md-button>
                    </div>
                    <div ng-repeat="activity in param.activity">
                        <div layout="row" layout-align="space-between center" class="h3">
                            <div layout="row" layout-align="start center">
                                <md-icon flex="none" md-svg-src="/pic/{{activity.name}}.svg" style="margin-right: 8px"
                                         class="s24 fill-dark">
                                </md-icon>
                                <p class="md-subhead">{{activity.name + ' (' + activity.unit +')'}}</p>
                                <md-switch ng-if="param.type ==='paceSpeed'" ng-model="data.cb2"
                                           aria-label="Switch 2"
                                           ng-true-value="'pace'"
                                           ng-false-value="'speed'" class="md-primary"
                                           style="margin: 0px 16px">
                                    {{ data.cb2 }}
                                </md-switch>
                            </div>
                            <md-button ng-if="activity.name !== 'default'" flex="none" class="md-raised"
                                       style="margin: 0px"
                                       ng-click="vm.removeActivity(param.type, activity.name)">delete
                            </md-button>
                        </div>
                        <md-divider ></md-divider>
                        <div layout="row" layout-align="start center" class="padding-08-24">
                            <div flex="none" layout="row">
                                <md-icon md-svg-icon="/pic/format_list_bulleted.svg" class="fill-dark"
                                         style="margin-right: 8px"></md-icon>
                                <div flex="none" class="md-body-2">Thresholds:</div>
                            </div>
                            <div flex="5" ng-repeat-start="threshold in activity.thresholds"></div>
                            <md-input-container flex="auto" class="md-body-1 no-message"
                                                ng-repeat-end>
                                <label translate>{{::threshold.code}}</label>
                                <input type="number" name="threshold" ng-model="threshold.value"
                                       autocomplete="off" ng-disabled="false">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="space-between end" class="padding-08-24">
                            <div flex="none" layout="row" style="margin-bottom: 1px">
                                <md-icon md-svg-icon="/pic/calculator.svg" style="margin-right: 8px"
                                         class="fill-dark"></md-icon>
                                <div flex="none" class="md-body-2">Auto Calculate:</div>
                            </div>
                            <div flex="5"></div>
                            <md-input-container flex="auto" md-no-float class="md-block no-margin md-body-1">
                                <md-select flex class="md-body-1 no-message no-border"
                                           ng-model="activity.method"
                                           placeholder="chooseMethod">
                                    <md-optgroup label="{{::calculation.type}}"
                                                 ng-repeat="calculation in vm.zoneCalculationMethod[param.type]">
                                        <md-option class="md-body-1"
                                                   ng-repeat="method in calculation.method"
                                                   ng-click="vm.selectMethod(method, param.type, activity.name)">
                                            {{::method}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" ng-repeat="methodZone in activity.methodZones" class="padding-00-24"
                             ng-if="activity.method">
                            <div flex="none" class="md-body-1 disabled dark">{{$index+1}}</div>
                            <div flex="5"></div>
                            <md-input-container flex="auto" class="md-body-1 no-message no-margin">
                                <input name="zone" ng-model="methodZone.code"
                                       autocomplete="off" ng-disabled="true"
                                       aria-label="Zone Code">
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex="none" class="md-body-1 no-message no-margin" style="width: 55px">
                                <input name="zone" ng-model="methodZone.valueFrom"
                                       autocomplete="off" ng-disabled="true"
                                       aria-label="Zone Value From">
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex="none" class="md-body-1 no-message no-margin" style="width: 55px">
                                <input name="zone" ng-model="methodZone.valueTo"
                                       autocomplete="off" ng-disabled="true"
                                       aria-label="Zone Value To">
                            </md-input-container>
                            <div flex="none" class="md-body-1 disabled dark">{{activity.unit}}</div>
                            <md-button flex="none" ng-disabled="false"
                                       class="md-icon-button md-warn" aria-label="Delete">
                                <md-icon md-svg-icon="/pic/delete_forever.svg" class="fill-dark"></md-icon>
                            </md-button>
                        </div>
                        <div layout="row"  layout-align="end center" class="padding-08-24"
                             ng-if="activity.method">
                            <md-button flex="none" class="" ng-click="vm.selectMethod(activity.method, param.type, activity.name)">calculate</md-button>
                            <md-button flex="none" class="" ng-disabled="!activity.method" ng-click="activity.method = null">cancel</md-button>
                            <md-button flex="none" class="md-raised md-primary" ng-disabled="!activity.methodZones"
                                       ng-click="vm.applyMethod(param.type, activity.name)">apply</md-button>
                        </div>
                        <md-divider ></md-divider>
                        <!--
                        <p class="md-body-2 padding-16-24">Zones:</p>-->
                        <div layout="row" layout-align="start center" ng-repeat="zone in activity.zones"
                             class="padding-00-24">
                            <div flex="none" class="md-body-1 disabled dark"
                                 style="width: 24px; margin-right: 8px; text-align: center">{{$index+1}}</div>
                            <md-input-container flex="auto" class="md-body-1 no-message no-margin">
                                <input name="zone" ng-model="zone.code"
                                       autocomplete="off" ng-disabled="false"
                                       aria-label="Zone Code">
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex="none" class="md-body-1 no-message no-margin" style="width: 55px">
                                <input name="zone" type="number" ng-model="zone.valueFrom"
                                       autocomplete="off" ng-disabled="false"
                                       aria-label="Zone Value From">
                            </md-input-container>
                            <div flex="5"></div>
                            <md-input-container flex="none" class="md-body-1 no-message no-margin" style="width: 55px">
                                <input name="zone" type="number" ng-model="zone.valueTo"
                                       autocomplete="off" ng-disabled="false"
                                       aria-label="Zone Value To">
                            </md-input-container>
                            <div flex="none" class="md-body-1 disabled dark">{{activity.unit}}</div>
                            <md-button flex="none" class="md-icon-button md-warn" aria-label="Delete"
                                       ng-click="vm.removeZone(param.type, activity.name, $index)">
                                <md-icon md-svg-icon="/pic/delete_forever.svg" class="fill-dark"></md-icon>
                            </md-button>
                        </div>
                        <div layout="row" layout-align="end center" class="padding-08-24">
                            <md-button flex="none"
                                       ng-click="vm.newZone(param.type, activity.name)">add new
                            </md-button>
                            <md-button flex="none" class="md-warn"
                                       ng-click="vm.removeAllZones(param.type, activity.name)">delete all
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </md-card>
        <!-- НАСТРОЙКА ЗОН НОТИФИКАЦИИ -->
        <md-card flex="none" layout="column" id="notifications">
            <div class="h1">
                <p class="md-title" translate>app.settings.notification.header</p>

                <div class="hint light">app.settings.notification.hint</div>
            </div>
            <form name="vm.notificationForm">
                <div ng-repeat="notification in vm.notifications">
                    <p class="md-body-2 padding-16-24">{{::notification.group}}</p>

                    <div layout-gt-sm="row" class="padding-00-24" ng-repeat="event in notification.events">
                        <div flex-gt-sm class="md-body-1" style="padding-bottom: 16px">{{::event.name}}</div>
                        <fieldset flex-gt-sm>
                            <div layout="row" layout-wrap flex>
                                <div flex="33">
                                    <md-checkbox class="md-body-1" ng-model="event.email" aria-label="email">
                                        Email
                                    </md-checkbox>
                                </div>
                                <div flex="33">
                                    <md-checkbox class="md-body-1" ng-model="event.phone" aria-label="phone">
                                        Phone
                                    </md-checkbox>
                                </div>

                                <div flex="33">
                                    <md-checkbox class="md-body-1" ng-model="event.web" aria-label="web">
                                        Site
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <md-divider ng-if="!$last" style="margin-top: 16px"></md-divider>
                </div>
                <div class="padding-00-24"></div>
            </form>
        </md-card>

        <md-card flex="none" layout-padding id="templates">
            <p><a name="templates"></a>Пятая группа</p>
        </md-card>
        <md-card flex="none" layout-padding id="favorites">
            <p>Шестая группа</p>
        </md-card>
    </div>
</div>
</div>