<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
        <h2 translate="trainingPlans.assignment.list.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{::'activity.settings.close' | translate}}</md-tooltip>
            <md-icon class="material-icons md-active" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-dialog-content flex="auto" layout="column">
    <section ng-if="!$ctrl.plan.assignmentList || $ctrl.plan.assignmentList.length === 0"
             style="margin: auto;"
             class="md-caption"
             translate="trainingPlans.assignment.list.empty">
    </section>
    <md-list class="md-dense" ng-if="$ctrl.plan.assignmentList">
        <md-list-item class="md-2-line"
                      ng-repeat="assign in $ctrl.plan.assignmentList track by assign.id"
                      ng-click="$ctrl.onForm({assign: assign})">
            <img ng-src="{{assign.user | stUserAvatarUrl}}" class="md-avatar" alt="{{assign.user.userId}}"/>
            <div class="md-list-item-text" layout="column">
                <h3 class="md-body-2">{{ assign.user | userName }}</h3>
                <p translate="trainingPlans.assignment.list.info"
                   translate-values="{createdDate: assign.createdDate, version: assign.version,
                   applyMode: 'trainingPlans.assignment.list.applyMode.'+assign.applyMode,
                   applyDateMode: 'trainingPlans.assignment.list.applyDateMode.'+assign.applyDateMode,
                   applyDate: assign.applyDateMode === 'F' ? assign.applyFromDate : assign.applyToDate}"></p>
            </div>
            <md-icon class="material-icons md-secondary md-dark"
                     ng-if="$ctrl.plan.propagateMods"
                     ng-bind="assign.enabledSync ? 'sync' : 'sync_disabled'"></md-icon>
            <md-menu class="md-secondary">
                <md-button class="md-icon-button " ng-click="$mdOpenMenu($event)" aria-label="More">
                    <md-icon class="material-icons md-18"
                             aria-label="More">more_vert
                    </md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.onCancel();$ctrl.$state.go('calendar', {userId: assign.user.userId})">
                            <md-icon class="material-icons" md-menu-align-target>today</md-icon>
                            <span translate="trainingPlans.assignment.action.calendar"></span>
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.delete(assign)">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                            <span translate="trainingPlans.assignment.action.delete"></span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-list-item>
    </md-list>
</md-dialog-content>

<md-dialog-actions flex="none" layout="row" style="background: white">
    <span flex></span>
    <md-button ng-if="!$ctrl.isViewMode"
               ng-click="$ctrl.onForm()">
        <span translate="trainingPlans.assignment.form.new"></span>
    </md-button>
</md-dialog-actions>