@import "../../../sass/color";
$details_width: 380px;
$dialog_width: 95vw;
$dialog_height: 95vh;

activity-interval-overview {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  min-width: 100%;
  background: $grey-100;

  @media (min-width: 960px) {
    max-width: $details_width;
    min-width: $details_width;
  }

  md-toolbar {
    &.complete {
      // Задание выполнено без отклонений
      color: white;
      @extend .bg-teal-800;
      .bg-circle-32 {
        @extend .bg-teal-900;
      }
      // Задание выполнено с отклонениями
      &-warn {
        color: white;
        @extend .bg-orange-800;
        .bg-circle-32 {
          @extend .bg-orange-900;
        }
      }
      // Задание выполнено с существенными отклонениями
      &-error {
        color: white;
        @extend .bg-red-800;
        .bg-circle-32 {
          @extend .bg-red-800;
        }
      }
    }
    // задание пропущено
    &.dismiss {
      @extend .bg-red-800;
      color: white;
      .bg-circle-32 {
        @extend .bg-red-900;
      }
    }
    // без плана
    &.not-specified {
      @extend .bg-blue-grey-800;
      color: white;
      .bg-circle-32 {
        @extend .bg-blue-grey-900;
      }
    }
    // плановое задание
    &.coming, &.template{
      @extend .bg-grey-600;
      color: white;
      .bg-circle-32 {
        @extend .bg-grey-700;
      }
    }

  }


  transition: all 0.8s ease-in-out;

  &.ng-enter {
    left: 9000px;
  }
  &.ng-enter.ng-enter-active {
    left: 0px;
  }
  &.ng-leave {
    left: 0px;
  }
  &.ng-leave.ng-leave-active {
    left: 9000px;
  }

}