<md-toolbar flex="none" class="{{$ctrl.item.activity.status}}">
    <div class="md-toolbar-tools" ng-cloak>
        <md-button class="md-icon-button" ng-click="$ctrl.onBack()">
            <md-tooltip md-direction="left">{{'measurement.toolbar.close' | translate}}</md-tooltip>
            <md-icon class="material-icons" aria-label="Close dialog">arrow_back</md-icon>
        </md-button>
        <h2 translate="{{::$ctrl.item.template ? 'activity.toolbar.template' : 'activity.toolbar.title'}}"></h2>
    </div>
</md-toolbar>