@import "../../../sass/color";

.landing-toolbar {
  color: white;
  position: fixed;
  img {
    cursor: pointer;
    width: auto;
    height: 32px;
    transition: 0.3s;
    &:focus {
      outline: none;
    }
  }
  a.md-button {
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
  }
  a.md-button.accent {
    color: white;
    //border-radius: 20px;
    padding: 0 16px;
    border: 1px solid rgba(white, 0.87);
  }
  &.background {
    background-color: rgba(white, 0.0);
    color: white;
  }
  &.solid, &.solid-background {
    background-color: rgba(white, 0.97);
    color: rgba(black, 0.87);
    a.md-button.accent {
      border: none;
      background: linear-gradient(90deg, $blue-grey-800, $blue-grey-500);
    }
    .menu md-icon {
      color: rgba(black, 0.87) !important;
    }
    img {
      height: 24px !important;
    }
  }

  .md-toolbar-tools {
    padding: 0 32px;
    img {

    }
    .links {
      width: 100%;
    }
    .menu {
      padding: 4px
    }
  }
}