.activity-templates-wrapper {
	display: inline-block;
	float: none;
	width: 160px;
	padding: 6px;
	margin: 0;
	cursor: pointer;
	outline: none;

	@media (max-width: 959px) {
		display: block;
		float: none;
		width: auto;
		height: auto;
		padding: 0;
	}

	&:hover {
		background-color: #E0E0E0 !important;
	}
}

.templates {
	overflow-y: auto;

	@media (max-width: 959px) {
		width: auto; 
		margin: 0;
		box-shadow: none;
		background-color: #fafafa;
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		border-top: solid 0.5px rgba(0, 0, 0, 0.14);
	}

	&__content {
		padding: 6px 0;

		@media (max-width: 959px) {
			padding: 0;
		}
	}

	&__section {
		padding-top: 8px;

		@media (max-width: 959px) {
			padding: 0;
		}
	}

	&__subheader {
		padding: 8px 16px !important;
		line-height: 1.71;
		color: rgba(0, 0, 0, 0.54);
	}

	&__create {
		width: 100px; 
		margin-top: 61px; 
		text-align: center;

		@media (max-width: 959px) {
			position: fixed;
			right: 16px;
			bottom: 16px;
			width: auto;
			z-index: 100;
		}
	}

	.dndPlaceholder {
		display: inline-block;
		float: none;
		height: 122px;
		width: 160px;
		padding: 6px;
		background-color: #E0E0E0 !important;
		vertical-align: top;
	}
}

templates {
	@media (max-width: 959px) {
		background-color: #fafafa;
	}
}