<div flex class="measurement md-whiteframe-8dp" layout="column">
    <md-toolbar class="md-primary" ng-if="!$ctrl.isIonic">
        <div class="md-toolbar-tools">
            <md-menu md-position-mode="target-right target" md-offset="0 60" md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"
                           aria-label="User">
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="$ctrl.delete()" ng-disabled="$ctrl.mode == 'post'">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                            <span translate="measurement.toolbar.delete"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="" ng-disabled="true">
                            <md-icon class="material-icons" md-menu-align-target>settings</md-icon>
                            <span translate="measurement.toolbar.settings"></span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <h2 translate="measurement.toolbar.title"></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
                <md-tooltip md-direction="left">{{'measurement.toolbar.close' | translate}}</md-tooltip>
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex="auto" layout="column">
        <!-- Режим просмотра -->
        <!-- Режим ввода -->
        <form flex="none" name="$ctrl.measurementForm" layout="column">
            <md-list class="md-dense">
                <md-list-item layout="row">
                    <md-input-container flex md-no-float class="md-block no-message">
                        <md-datepicker ng-model="$ctrl.measurement._dateStart"
                                       name="date" md-min-date="minDate"
                                       ng-disabled="$ctrl.measurement.view.isView"
                                       md-max-date="maxDate"></md-datepicker>
                        <div ng-messages="$ctrl.measurementForm.date.$error">
                            <div ng-message="valid">The entered value is not a date!</div>
                            <div ng-message="required">This date is required!</div>
                            <div ng-message="mindate">Date is too early!</div>
                            <div ng-message="maxdate">Date is too late!</div>
                        </div>
                    </md-input-container>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list id="general" class="md-dense section">
                <md-subheader>{{"measurement.generalMeasures" | translate}}</md-subheader>
                <md-list-item layout="row">
                    <md-input-container flex class="no-message">
                        <label>{{'weight' | translate}}({{'weight' | measureUnit | translate}})</label>
                        <input type="number" name="weight" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.sizes.weight"
                               step="0.1"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="10" max="300">
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex class="no-message">
                        <label>{{'height' | translate}}({{'height' | measureUnit | translate}})</label>
                        <input type="number" name="height" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.sizes.height"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="10" max="300">
                    </md-input-container>
                </md-list-item>
                <md-list-item layout="row">
                    <md-input-container flex class="no-message">
                        <label translate="waterPercent"></label>
                        <input type="number" name="waterPercent" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.generalMeasures.waterPercent"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="0" max="100">
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex class="no-message">
                        <label translate="percentFat"></label>
                        <input type="number" name="percentFat" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.generalMeasures.percentFat"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="0" max="100">
                    </md-input-container>
                </md-list-item>
                <md-list-item layout="row">
                    <md-input-container flex class="no-message">
                        <label translate="musculeMass"></label>
                        <input type="number" name="musculeMass" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.generalMeasures.musculeMass"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="0" max="100">
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex class="no-message">
                        <label translate="pulse"></label>
                        <input type="number" name="pulse" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.generalMeasures.pulse"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="0" max="200">
                    </md-input-container>
                </md-list-item>
                <md-list-item layout="row">
                    <md-input-container flex class="no-message">
                        <label translate="pulseCost"></label>
                        <input type="number" name="pulseCost" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.generalMeasures.pulseCost"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="0" max="1000">
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex class="no-message">
                        <label translate="orthostaticPulse"></label>
                        <input type="number" name="orthostaticPulse" autofocus autocomplete="off"
                               ng-model="$ctrl.measurement.measurementHeader.generalMeasures.orthostaticPulse"
                               ng-disabled="$ctrl.measurement.view.isView"
                               min="0" max="200">
                    </md-input-container>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list id="sleep" class="md-dense section">
                <md-subheader>{{"measurement.sleepData" | translate}}</md-subheader>
                <md-list-item flex layout="row">
                    <md-input-container flex class="no-message">
                        <label translate="sleepQuality"></label>
                        <md-select flex class=""
                                   ng-model="$ctrl.measurement.measurementHeader.sleepData.sleepQuality"
                                   ng-disabled="$ctrl.measurement.view.isView"
                                   arial-label="Privacy Level">
                            <md-option class="" ng-value="$index" ng-repeat="level in $ctrl.feeling"
                                       translate="{{'measurement.sentiment.'+level | translate}}"></md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="5"></div>
                    <md-input-container flex class="no-message">
                        <label translate="sleepHours"></label>
                        <input type="number" name="lastName"
                               ng-model="$ctrl.measurement.measurementHeader.sleepData.sleepHours"
                               ng-disabled="$ctrl.measurement.view.isView"
                               autocomplete="off" min="1" max="24">
                    </md-input-container>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-list id="feeling" class="md-dense section">
                <md-subheader>{{"measurement.feeling" | translate}}</md-subheader>
                <md-list-item flex layout="row">
                    <md-input-container flex class="md-block no-message">
                        <label translate="overallFeeling"></label>
                        <textarea ng-model="$ctrl.measurement.measurementHeader.feeling.overallFeeling"
                                  ng-disabled="$ctrl.measurement.view.isView"
                                  name="about" rows="1" md-select-on-focus></textarea>
                    </md-input-container>
                </md-list-item>
            </md-list>
        </form>
    </md-content>
    <md-dialog-actions flex="none" layout="row" style="background: white">
        <span flex></span>
        <md-button ng-if="$ctrl.measurement.view.isView" type="submit"
                   ng-click="$ctrl.measurement.view.isPut = true">
            <span translate="activity.action.edit"></span>
        </md-button>
        <md-button ng-if="!$ctrl.measurement.view.isView" type="submit"
                   ng-class="{'md-warn': !$ctrl.measurementForm.$valid}"
                   ng-disabled="($ctrl.mode === 'put' && !$ctrl.measurementForm.$dirty) || $ctrl.inAction"
                   ng-click="($ctrl.measurementForm.$valid) ? $ctrl.save() : null">
            <span translate="activity.action.save"></span>
        </md-button>
    </md-dialog-actions>
</div>



