@import "../../../sass/color";

md-dialog#post-measurement{
  background: black;
  height: 100%;
}

calendar-item-measurement {
  max-height: 100%;
  background-color: $grey-050;

  .md-toolbar-tools md-menu:first-child {
    margin-left: -8px;
  }

  .md-subheader {
    background-color: $grey-050;
  }

  form md-list:first-child {
    //background-color: $grey-200;
    //padding-bottom: 30px;
  }

  md-fab-speed-dial {
    position: absolute;
    right: 16px;
    bottom: 16px;
    top: initial;
  }

}