<md-toolbar flex="none" class="" style="background-color: white; color: black">
    <div class="md-toolbar-tools">
        <!--<md-menu md-position-mode="target-right target" md-offset="0 60" md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"
                       aria-label="User">
                <md-icon class="material-icons md-dark">menu</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.onDelete()" ng-disabled="$ctrl.mode == 'post'">
                        <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                        <span translate="event.toolbar.delete"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="" ng-disabled="true">
                        <md-icon class="material-icons" md-menu-align-target>settings</md-icon>
                        <span translate="event.toolbar.settings"></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>-->
        <h2 translate="wizard.toolbar.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{'event.toolbar.close' | translate}}</md-tooltip>
            <md-icon class="material-icons md-dark" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex="auto" layout="column">
    <md-subheader class="md-no-sticky">{{::'activity.toolbar.title' | translate}}</md-subheader>
    <md-list flex="auto" class="md-dense slim-input">
        <md-list-item ng-repeat="type in $ctrl.activityTypes track by type.id"
                      ng-click="$ctrl.onSelect({itemType:'activity',activityType: type})">
            <div flex="none" layout="row" layout-align="center center" class="icon bg-grey-600">
                <md-icon flex="none" md-svg-src="/assets/icon/{{::type.typeBasic}}.svg"
                         class="s18 sport md-light">
                </md-icon>
            </div>
            <p class="md-body-1 md-dark">{{'sport.'+type.code | translate}}</p>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list flex="auto" class="md-dense slim-input" style="background-color: white">
        <md-list-item ng-repeat="other in ['measurement','event'] track by $index" ng-click="$ctrl.onSelect({itemType:other})">
            <div flex="none" layout="row" layout-align="center center" class="icon bg-grey-600">
                <md-icon flex="none" md-svg-src="/assets/icon/{{::other}}.svg"
                         class="s18 sport md-light">
                </md-icon>
            </div>
            <p class="md-body-1 md-dark">{{other + '.toolbar.title' | translate}}</p>
        </md-list-item>
    </md-list>
</md-content>
<!--<md-dialog-actions flex="none" layout="row">

</md-dialog-actions>-->