<md-toolbar flex="none" class="md-default">
    <div class="md-toolbar-tools">
        <!--<md-menu md-position-mode="target-right target" md-offset="0 60" md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"
                       aria-label="User">
                <md-icon class="material-icons md-dark">menu</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.onDelete()" ng-disabled="$ctrl.mode == 'post'">
                        <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                        <span translate="event.toolbar.delete"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="" ng-disabled="true">
                        <md-icon class="material-icons" md-menu-align-target>settings</md-icon>
                        <span translate="event.toolbar.settings"></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>-->
        <h2 translate="wizard.toolbar.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{'event.toolbar.close' | translate}}</md-tooltip>
            <md-icon class="material-icons md-dark" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex="auto" layout="row" layout-xs="column" layout-fill="true">
    <!-- Виды тренировок -->
    <section class="calendar-item-wizard__activity" flex="25" flex-xs="auto">
        <md-subheader flex="none">{{::'activity.title' | translate}}</md-subheader>
        <md-list flex="auto" class="md-dense">
            <md-list-item ng-repeat="type in $ctrl.activityTypes track by type.id"
                          ng-click="$ctrl.activity(type)">
                <div flex="none" layout="row" layout-align="center center"
                     class="calendar-item-activity-icon bg-circle-32 md-avatar color-{{type.typeBasic}}">
                    <md-icon flex="none" md-svg-src="/assets/icon/{{::type.typeBasic}}.svg"
                             class="md-light">
                    </md-icon>
                </div>
                <p class="md-body-1 md-dark">{{'sport.'+type.code | translate}}</p>
            </md-list-item>
        </md-list>
    </section>
    <!-- Виды событий -->
    <section class="calendar-item-wizard__record" flex="25" flex-xs="auto">
        <md-subheader flex="none">{{::'record.toolbar.title' | translate}}</md-subheader>
        <md-list flex="auto" class="md-dense">
            <md-list-item ng-repeat="type in $ctrl.recordConfig.types track by $index"
                          ng-click="$ctrl.record(type)">
                <div flex="none" layout="row" layout-align="center center"
                     class="calendar-item-record-icon bg-circle-32 md-avatar">
                    <md-icon flex="none" md-svg-src="/assets/icon/{{::type}}.svg"
                             class="md-light">
                    </md-icon>
                </div>
                <p class="md-body-1 md-dark">{{'record.' + type | translate}}</p>
            </md-list-item>
        </md-list>
    </section>
    <!-- Виды соревнований -->
    <section class="calendar-item-wizard__competition" flex="25" flex-xs="auto">
        <md-subheader flex="none">{{::'competition.toolbar.title' | translate}}</md-subheader>
        <md-list flex="auto" class="md-dense">
            <md-list-item ng-repeat="type in $ctrl.competitionConfig.types track by $index"
                          ng-click="$ctrl.competition(type)">
                <div flex="none" layout="row" layout-align="center center"
                     class="calendar-item-activity-icon color-{{::type}} bg-circle-32 md-avatar">
                    <md-icon flex="none" md-svg-src="/assets/icon/{{::type}}.svg"
                             class="md-light">
                    </md-icon>
                </div>
                <p class="md-body-1 md-dark">{{'competition.' + type | translate}}</p>
            </md-list-item>
        </md-list>
    </section>
    <!-- Виды измерений -->
    <section class="calendar-item-wizard__measurement" flex="25" flex-xs="auto">
        <md-subheader flex="none">{{::'measurement.toolbar.title' | translate}}</md-subheader>
        <md-list flex="auto" class="md-dense">
            <md-list-item ng-click="$ctrl.measurement()" ng-disabled="$ctrl.options.trainingPlanMode">
                <div flex="none" layout="row" layout-align="center center"
                     class="calendar-item-measurement bg-circle-32 md-avatar">
                    <md-icon flex="none" md-svg-src="/assets/icon/measurement.svg"
                             class="md-light">
                    </md-icon>
                </div>
                <p class="md-body-1 md-dark">{{'measurement.toolbar.title' | translate}}</p>
            </md-list-item>
        </md-list>
    </section>
</md-content>
