

.badge {
    background-color: #ff5722;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;

    &.inactive {
        border: 1px solid white;
        background-color: transparent !important;
    }
}

.superscript {
    position: absolute;
    right: 4px;
    top: 5px;
    font-size: 12px;
    line-height: 12px;
}
md-tabs.md-dense .superscript { right: 0;  top: 0; }

.subscript {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 12px;
}

.st-hover-background {
    background-color: rgba(158,158,158,0.2);
    
}