.user-info {
    font-size: 14px;
    img {
        padding-right: 20px;
    }
}

.badge {
    background-color: #ff5722;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;

    &.inactive {
        border: 1px solid white;
        background-color: transparent !important;
    }
}

.superscript {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 12px;
}

.subscript {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 12px;
}

userpic {
    div.avatar {
        display:inline-block;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        vertical-align: middle;
        margin-right: 10px;
    }
    &.size-36 > div.avatar {
        height: 36px;
        width: 36px;
        border-radius: 18px;
    }
    &.size-60 > div.avatar {
        height: 60px;
        width: 60px;
        border-radius: 30px;
    }
    &.border-light > div.avatar {
        border: 1px solid rgba(255,255,255,0.9);
    }
}
avatar-pic {
    div.avatar {
        display:inline-block;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        vertical-align: middle;
        margin-right: 10px;
        cursor: pointer;
        background-size: cover;
        position:relative;
    }
    &.size-36 > div.avatar {
        height: 36px;
        width: 36px;
        border-radius: 18px;
    }
}