@import "../../../sass/color";

$max-toolbar-width: 1000px;

.landing-main {
  background: white;



  &__welcome {
    /**background-image: url('/assets/landing/wave-gray-light.svg');
    background-position: center bottom;
    background-size: 100% 250px;
    background-repeat: repeat-x;
    padding-bottom: 150px;
    position: relative;
    &:before {  padding-top: 5%;  }
    &:after {  padding-bottom: 5%;  }**/
    .block {
      /**position: relative;
      max-width: $max-toolbar-width;
      margin: 0 auto;
      .text button {
        margin: 12px 0 0 0;
        text-transform: initial;
        padding: 6px 12px;
      }**/
    }
    .picture {
      img {
        /**max-height: 100%;
        max-width: 100%;
        position: relative;
        margin-top: 32px;
        vertical-align: bottom;
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        -ms-transform-origin: center top;
        transform-origin: center top;
        height: auto!important;**/
      }
    }
  }

  .block {
    width: 100%;
    padding: 32px;
    @media (max-width: 959px) {  padding: 16px 16px;  }
  }

  .general {
    height: 85vh;
    padding: 64px 32px 32px 32px;
    .title {  width: 95%; font-size: 3.2vw; color: $blue-grey-800; font-weight: 500; line-height: 1.1em }
    .subtitle {  font-size: 1.8vw; width: 90%; line-height: 1.3em }
    .picture {
      width: 90%;
    }
    .picture img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: 100% 50%;
    }
    &.full-size {
      padding: 64px 32px;
      height: 100vh;
      background: linear-gradient(100deg, white 40%, $blue-grey-600 40%);
      border-bottom: 1px solid $blue-grey-100;
      .title { font-size: 3.8vw; }
    }
    button {
      margin: 0;
      color: white !important;
      text-transform: initial;
      padding: 16px 32px;
      font-size: 18px;
      font-weight: 500;
      background: linear-gradient(90deg, $deep-orange-800, $deep-orange-500);
    }
    @media (max-width: 959px) {
      height: 100vh;
      padding: 56px 16px 16px 16px !important;
      &.full-size {
        background: linear-gradient(-10deg, white 30%, $blue-grey-600 30%, $blue-grey-900);
        .title { font-size: 32px !important; color: white; }
        .subtitle { color: white; }
      }
      .title { font-size: 20px !important; }
      .subtitle { font-size: 16px; }
      .picture { max-height: 50vh;  width: 100%; padding-bottom: 16px }
      .picture img { object-position: 50% 100%;  }
      button { width: 100%; padding: 8px; font-size: 16px; }
    }
  }

  .reviews {
    @extend .block;
    background-color: white;

  }

  .info-block {
    @extend .block;
    min-height: 15vh;
    background-color: $grey-050;
    img { width: 100%; max-width: 300px; }
    .text-block {padding-left: 20px;}
    @media (max-width: 959px) {
      .text-block {padding-left: 0}
    }
  }

  .scenario-block {
    @extend .block;
    min-height: 45vh;
    background-color: $grey-050;
    border-bottom: 1px solid $grey-100;
    @media (max-width: 959px) {
      min-height: initial;
      .block-text h1  { font-size: 20px !important; }
      .block-text p  { font-size: 14px !important; margin-bottom: 24px !important; }
      .block-text .text { margin: 0 !important;}
      .block-image img { width: 100% !important; margin: 0 !important; }
    }
    .block-text, .block-image {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }
    &.odd {
      .block-text .text { margin: 0 0 0 14%; }
      .block-image img { margin: 0 -8% 0 0; }
      background: none;
    }
    .block-text {
      .text {
        margin: 0 14% 0 0;
      }
      h1 {
        font-size: 2.2vw;
        color: $blue-grey-800;
        margin-bottom: 1vw;
      }
      p {
        font-size: 1.2vw;
        margin-bottom: 1vw;
        color: #333;
        line-height: 1.4;
      }
    }
    .block-image {
      img {
        width: 108%;
        margin: 0 0 0 -8%;
      }
    }
  }

  .external-blocks {
    @extend .block;
    box-sizing: border-box;
    min-height: initial;
    background-color: $grey-050;
    border-bottom: 1px solid $grey-100;
    h1 {text-align: left; margin: 0; padding: 16px 0;}
    @media (max-width: 959px) {
      h1 {text-align: left; padding: 16px 0; }
    }
  }

  .external-block {
    padding-right: 2%;
    p.title { width: 100%}
    p.text { font-weight: 400 }
    @media (max-width: 959px) {
      padding-right: 0;
      max-width: initial;
      p.text { max-width: initial }
    }
    @media (min-width: 1280px) {
      max-width: 320px;
    }
  }

}