<div class="landing-main">
    <st-landing-toolbar mono-logo="true"></st-landing-toolbar>
    <section class="landing-main__welcome">
        <!-- первый блок -->
        <article layout-gt-sm="row" layout="column" class="general full-size block">
            <div class="text" flex-gt-sm="40" flex="auto" layout="column" layout-align="center start">
                <h1 class="title md-display-3" flex="none" translate="landing.main.title"></h1>
                <p class="subtitle md-headline" flex="none" translate="landing.main.subtitle"></p>
                <md-button hide show-gt-sm class="md-accent md-hue-2 md-raised" ng-click="$ctrl.$state.go('signup')">
                    <span translate="landing.main.button.title"></span>
                </md-button>
            </div>
            <div class="picture" flex-gt-sm="60" flex="none" layout="column" layout-align="center end">
                <img flex="none" ng-src="http://264710.selcdn.ru/assets/images/website/screens/staminity-main.png"/>
            </div>
            <div hide-gt-sm flex="none">
                <md-button hide-gt-sm class="md-accent md-hue-2 md-raised" ng-click="$ctrl.$state.go('signup')">
                    <span translate="landing.main.button.title"></span>
                </md-button>
            </div>
        </article>
        <!-- отзывы -->
        <st-landing-reviews ng-if="$ctrl.landingConfig.reviews"
                            layout-gt-sm="row" layout-align-gt-sm="center start" layout="column"
                            class="reviews block landing-reviews" reviews="$ctrl.landingConfig.reviews">
        </st-landing-reviews>
        <st-landing-footer></st-landing-footer>
    </section>
</div>
<st-omni-fab/>

