<div class="landing-main">
    <md-toolbar id="toolbar" class="md-default" flex="none">
        <div class="md-toolbar-tools">
            <img ng-src="/assets/landing/staminity-horizontal-color.svg"/>
            <div class="links" layout="row">
                <section flex="none">
                    <md-button href="#" class="md-primary"
                               style="text-transform: none; font-weight: normal; padding: 0 12px">
                        <span>Возможности</span>
                        <md-icon class="material-icons">keyboard_arrow_down</md-icon>
                    </md-button>
                    <md-button href="#" class="md-primary"
                               style="text-transform: none; font-weight: normal; padding: 0 12px">
                        <span>Магазин планов</span>
                        <md-icon class="material-icons">keyboard_arrow_down</md-icon>
                    </md-button>
                    <md-button href="#" class="md-primary"
                               style="text-transform: none; font-weight: normal;">
                        <span>Найти тренера</span>
                        <md-icon class="material-icons">keyboard_arrow_down</md-icon>
                    </md-button>
                </section>
                <section flex></section>
                <section flex="none">
                    <md-button href="#" class="md-primary"
                               style="text-transform: none; font-weight: normal;">
                        <span>Войти</span>
                    </md-button>
                </section>
            </div>
        </div>
    </md-toolbar>
    <section class="landing-main__welcome">
        <div layout-gt-sm="row" layout="column" class="block">
            <div class="text" flex-gt-sm="40" flex="none" layout="column" layout-align="start start">
                <h1 class="md-display-3 font-bold" flex="none" style="line-height: 1.2; font-size: 40px">Тренируйся грамотно и достигай спортивных целей</h1>
                <p class="md-headline" flex="none">Приложение для работы с тренером и самостоятельной подготовки в циклических видах спорта</p>
                <md-button class="md-accent md-raised">Попробовать бесплатно</md-button>
            </div>
            <div class="picture" flex-gt-sm="60" flex="none">
                <img ng-src="/assets/landing/staminity-horizontal-color.png"/>
            </div>
        </div>
    </section>
</div>