@import "../../../sass/color";

$max-toolbar-width: 1000px;

.landing-main {
  background: white;



  &__welcome {
    /**background-image: url('/assets/landing/wave-gray-light.svg');
    background-position: center bottom;
    background-size: 100% 250px;
    background-repeat: repeat-x;
    padding-bottom: 150px;
    position: relative;
    &:before {  padding-top: 5%;  }
    &:after {  padding-bottom: 5%;  }**/
    .block {
      /**position: relative;
      max-width: $max-toolbar-width;
      margin: 0 auto;
      .text button {
        margin: 12px 0 0 0;
        text-transform: initial;
        padding: 6px 12px;
      }**/
    }
    .picture {
      img {
        /**max-height: 100%;
        max-width: 100%;
        position: relative;
        margin-top: 32px;
        vertical-align: bottom;
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        -ms-transform-origin: center top;
        transform-origin: center top;
        height: auto!important;**/
      }
    }
  }

  .general {
    height: calc(100vh - 128px);
    background: linear-gradient(100deg, white 40%, $blue-grey-600 40%);
    border-bottom: 1px solid $blue-grey-100;
    padding: 64px 32px;
    .title {  width: 95%; font-size: 3.2vw; color: $blue-grey-800; font-weight: 500; line-height: 1.1em }
    .subtitle {  font-size: 1.8vw; width: 90%; line-height: 1.3em }
    .picture {
      width: 90%;
    }
    .picture img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: 100% 0;
    }
    button {
      margin: 0;
      color: white !important;
      text-transform: initial;
      padding: 16px 32px;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .reviews {
    padding: 32px 32px;
    background-color: white;
    .review {padding: 0 16px; text-align: center; max-width: 400px;}
    .review img {
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }
    .review .author {}
    .review .text {}
  }

}

.landing-scenarios {
  min-height: calc(100vh - 128px);
  width: calc(100vw - 64px);
  padding: 64px 32px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  md-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white !important;
    .md-toolbar-tools {  padding: 0 32px;  }
  }
  .scenario-card .image-wrapper {
    background-color: $grey-050;
    padding: 4px;
    text-align: center;
  }
  .scenario-card img {
    height: 240px;
    max-width: 100%;
  }
}