@import "../../../sass/color";

dashboard-total {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: inline-block;
  //width: 11.2%;
  vertical-align: top;
  border-left: 1px solid $grey-300;

  /*&:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: calc(60px + 83%);
    width: 11.2%;
    height: 100%;
    z-index: 1;
    border-left: 1px solid $grey-300;
  }*/

  padding: 0px 4px 0px 4px;
  transition: all 0s ease-in-out 0s;

  md-icon.md-18, md-icon.s18{
    min-height: 18px;
    height: 18px;
    min-width: 18px;
    width: 18px;
    margin-right: 8px;
  }

  section.sum {
    padding: 4px 0px;
  }

  section.sport-sum {
    padding: 12px 0px;
  }

}