<md-toolbar flex="none" class="md-hue-3">
    <div class="md-toolbar-tools">
        <md-menu md-position-mode="target-right target" md-offset="0 60" md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"
                       aria-label="User">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.onDelete()" ng-disabled="$ctrl.mode == 'post'">
                        <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                        <span translate="event.toolbar.delete"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="" ng-disabled="true">
                        <md-icon class="material-icons" md-menu-align-target>settings</md-icon>
                        <span translate="event.toolbar.settings"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="::$ctrl.currentUser.connections.hasOwnProperty('allAthletes')">
                    <md-button ng-click="$ctrl.showSelectAthletes = true">
                        <md-icon class="material-icons" md-menu-align-target>person_add</md-icon>
                        <span translate="Добавить спортсмена"></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <h2 translate="event.toolbar.title"></h2>
        <span flex></span>
        <userpic class="border-light" profile="$ctrl.firstAthlete(0)" is-premium="$ctrl.user.isPremium" unlink="true"></userpic>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{'event.toolbar.close' | translate}}</md-tooltip>
            <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex="auto" layout="column">
    <form flex="auto" layout="column" name="$ctrl.eventForm">
        <md-list flex="auto" class="md-dense slim-input bg-grey-200">
            <md-list-item>
                <md-input-container class="md-block no-message" md-no-float layout="row">
                    <md-icon flex="none" md-svg-src="/assets/icon/{{$ctrl.item.eventHeader.eventType}}.svg"></md-icon>
                    <md-select flex ng-model="$ctrl.item.eventHeader.eventType" class="icon">
                        <md-option ng-repeat="type in $ctrl.types track by $index"
                                   value="{{type}}">{{'event.'+type | translate}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-align="start center">
                <md-input-container flex="auto" class="no-message" md-no-float>
                    <md-icon flex="none" class="material-icons" style="left: 0px">today</md-icon>
                    <md-datepicker flex="auto" ng-model="$ctrl.item._dateStart"
                                   ng-change="$ctrl.changeParam()"
                                   name="dateStart" md-hide-icons="calendar"
                                   ng-disabled="($ctrl.item.activity.auth.isCreator || $ctrl.item.activity.auth.isMyCoach)"
                                   style="margin-left: 42px"></md-datepicker>
                    <div ng-messages="$ctrl.form.dateStart.$error" role="alert">
                        <div ng-message="needPermissionForFeature"
                             translate="calendar.needPermissionForFeature">
                        </div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item style="margin-bottom: 40px">
                <md-input-container flex class="md-block no-message" md-no-float>
                    <md-icon class="material-icons">event_note</md-icon>
                    <textarea ng-model="$ctrl.item.eventHeader.target"
                              ng-change="$ctrl.changeParam()" placeholder="Установка тренера"
                              ng-disabled="($ctrl.item.activity.auth.isCreator || $ctrl.item.activity.auth.isMyCoach)"
                              class="icon" name="target"
                              rows="1"></textarea>
                </md-input-container>
            </md-list-item>


        </md-list>

    </form>
</md-content>

<md-dialog-actions flex="none" layout="row" style="background: white">
    <span flex></span>
    <!--<md-button ng-if="$ctrl.mode === 'view'" ng-disabled="true"
               ng-click="">В шаблон
    </md-button>
    <md-button ng-if="$ctrl.mode === 'view'"
               ng-click="$ctrl.changeMode('put')">Изменить
    </md-button>
    <md-button ng-if="$ctrl.mode !== 'view'"
               ng-click="$ctrl.onReset($ctrl.item.mode === 'post' ? 'post' : 'view' )">Отменить
    </md-button>-->
    <md-button ng-if="$ctrl.mode !== 'view'" type="submit"
               ng-class="{'md-warn': !$ctrl.eventForm.$valid}"
               ng-disabled="$ctrl.mode === 'put' && !$ctrl.eventForm.$dirty"
               ng-click="($ctrl.eventForm.$valid) ? $ctrl.onSave() : null">
        Сохранить
    </md-button>
</md-dialog-actions>

<calendar-item-athlete-selector ng-if="$ctrl.mode === 'post' && $ctrl.showSelectAthletes" ng-cloak
                                coach="$ctrl.currentUser"
                                athletes="$ctrl.forAthletes"
                                on-select="$ctrl.selectAthletes(result)">
</calendar-item-athlete-selector>
