<st-application-frame 
    class="st-application-frame user-settings"
    ng-class="{'left-bar-show': true}"
    template="application"
    navigation-bar="false"
    left-bar="true"
>
    <st-application-frame-title>
        <span class="md-title" translate="user.settings.fullTitle"></span>
        <md-icon class="material-icons" hide show-gt-sm aria-label="Next">keyboard_arrow_right</md-icon>
        <span class="button" hide show-gt-sm>{{$userSettingsCtrl.owner | userName:'compact'}}</span>
        <md-menu ng-if="$userSettingsCtrl.currentUser.public.isCoach && $userSettingsCtrl.athletes.length > 0" hide show-gt-sm>
            <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon class="material-icons">arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item ng-repeat="athlete in $userSettingsCtrl.athletes track by athlete.userId">
                    <md-button ng-click="$userSettingsCtrl.setOwner(athlete)" ng-disable="athlete.userId === $userSettingsCtrl.owner.userId">
                        <userpic profile="athlete"></userpic>
                        <span>{{athlete | userName}}</span>
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button ng-click="$userSettingsCtrl.setOwner($userSettingsCtrl.currentUser)" ng-disable="$userSettingsCtrl.currentUser.userId === $userSettingsCtrl.owner.userId">
                        <userpic profile="$userSettingsCtrl.currentUser"></userpic>
                        <span>{{$userSettingsCtrl.currentUser | userName}}</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </st-application-frame-title>
    <st-application-frame-toolbar layout="row">
        <section class="desktop" hide show-gt-sm layout="row">
        </section>
        <section class="mobile" hide show-xs show-sm>
        </section>
    </st-application-frame-toolbar>
    <st-application-frame-mobile-menu>
    </st-application-frame-mobile-menu>
    <st-application-frame-left-bar>
        <st-user-settings-menu class="user-settings__left-bar">
        </st-user-settings-menu>
    </st-application-frame-left-bar>
    <st-application-frame-content>
        <ui-view></ui-view>        
    </st-application-frame-content>
</st-application-frame>