<md-toolbar class="md-default">
    <div class="md-toolbar-tools">
        <h2 translate="methodology.periodization.scheme.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{::'activity.settings.close' | translate}}</md-tooltip>
            <md-icon class="material-icons md-dark md-active" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content flex="auto" layout="column">
    <form flex="auto" layout="column" name="$ctrl.schemeForm">
        <md-list flex="auto" class="md-dense">
            <!-- Название плана -->
            <md-list-item>
                <md-input-container class="md-block no-message" layout="row">
                    <label translate="methodology.periodization.scheme.code.label"></label>
                    <md-icon flex="none" class="material-icons md-dark"
                             md-svg-src="/assets/icon/methodology.svg"></md-icon>
                    <input flex="auto"
                           name="code" required
                           type="text"
                           placeholder="{{methodology.periodization.scheme.code.placeholder}}"
                           ng-model="$ctrl.scheme.code">
                    <div ng-messages="$ctrl.schemeForm.code.$error" role="alert">
                        <div ng-message-exp="['required']"
                             translate="form.required">
                        </div>
                        <div ng-message-exp="['minlength', 'maxlength']"
                             translate="form.rangeStr" translate-values="{min:2, max:100}">
                        </div>
                    </div>
                </md-input-container>
            </md-list-item>
            <!-- Описание плана на сезон -->
            <md-subheader>
                <span translate="methodology.periodization.scheme.description">Описание</span>
            </md-subheader>
            <ng-quill-editor ng-if="true" flex="auto"
                             ng-model="$ctrl.scheme.description"
                             placeholder="{{'methodology.periodization.scheme.descriptionPlaceholder' | translate}}"
                             modules="$ctrl.quillConf.toolbarFull"
                             on-content-changed="$ctrl.changeForm()"
                             ng-class="{'hide-toolbar': $ctrl.isViewMode}"
                             read-only="$ctrl.isViewMode"
                             st-quill-post-image>
            </ng-quill-editor>
        </md-list>
    </form>
</md-dialog-content>
<md-dialog-actions flex="none" layout="row" class="bg-grey-050">
    <span flex></span>
    <md-button ng-if="$ctrl.isViewMode"
               ng-click="$ctrl.setChangeMode()">
        <span translate="methodology.periodization.scheme.edit"></span>
    </md-button>
    <md-button ng-if="!$ctrl.isViewMode"
               ng-class="{'md-warn': !$ctrl.schemeForm.$valid}"
               ng-disabled="!$ctrl.schemeForm.$dirty"
               ng-click="($ctrl.schemeForm.$valid) ? $ctrl.save() : null">
        <span translate="methodology.periodization.scheme.save"></span>
    </md-button>
</md-dialog-actions>