@import "../../sass/color";

.methodology {

  &__left-bar {
    height: 100%;
    background-color: $grey-200;
    border-right: 1px solid $grey-300;

    .active {
      background-color: $grey-300;
    }

  }

}