@import "../../sass/color";

.methodology .st-application-frame__left-bar {
  width: 300px;
  .md-subheader {
    background-color: $grey-050 !important;
  }
}

.methodology.left-bar-show .st-application-frame__content {
  margin-left: 300px;
}

.methodology.st-application-frame.nav-bar .st-application-frame__content {
  @media (min-width: 960px) {
    top: 112px;
    height: calc(100vh - 64px - 48px);
    width: calc(100% - 300px);
  }
}

.methodology {

  &__left-bar {
    overflow: auto;
    height: 100%;
    background-color: $grey-050;
    border-right: 1px solid $grey-300;

    .active {
      background-color: $grey-300;
    }

  }

  &__access-lock {
    min-height: calc(100vh - 64px - 48px);
    md-icon {
      font-size: 96px;
      height: 96px;
      width: 96px;
      margin: 0;
    }
    p {
      max-width: 340px;
    }
  }

  .template-count {
    border-radius: 8px;
    line-height: 16px;
    padding: 0px 8px;
    background-color: $grey-500;
    color: white;
  }

}