<md-table-container>
    <md-subheader>Задание</md-subheader>
    <md-list-item>
        <table md-table
               md-row-select="$ctrl.options.rowSelection"
               multiple="{{$ctrl.options.multiSelect}}"
               ng-model="$ctrl.selected">
            <thead ng-if="!$ctrl.options.decapitate" md-head>
            <tr md-row>
                <th md-column><span></span></th>
                <th md-column hide><span>Показатель(ед.изм)</span></th>
                <th md-column show><span>Ед.изм</span></th>
                <th md-column md-numeric><span>План</span></th>
                <th md-column md-numeric><span>Факт</span></th>
                <th md-column md-numeric><span>Вып</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="measure in $ctrl.plan | toArray | filter:search track by measure.$key">

                <td md-cell><md-icon md-svg-src="assets/icon/{{measure.$key}}.svg" class="dark-active"></md-icon></td>
                <td md-cell hide>
                    {measure.$key | translate}}&nbsp({{measure.$key | measureUnit:$ctrl.sport | translate}})
                </td>
                <td md-cell show>
                    {{measure.$key | measureUnit:$ctrl.sport | translate}}
                </td>

                <td md-cell>
                    <md-input-container>
                        <input ng-model="measure.value">
                    </md-input-container>
                </td>
                <td md-cell>
                    <md-input-container>
                        <input ng-model="$ctrl.actual[measure.$key][$ctrl.valueType[measure.$key]]">
                    </md-input-container>
                </td>

                <!--
                <td class="intervalPW" md-cell ng-click="$ctrl.editComment($event, measure)"
                    ng-class="{'md-placeholder': !measure.$key}">
                    {{measure.value | measureCalc:$ctrl.sport:measure.$key || 'Add a comment'}}
                </td>-->
                <!--
                <td class="intervalW" md-cell ng-click="$ctrl.editComment($event, $ctrl.actual[measure.$key])"
                    ng-class="{'md-placeholder': !$ctrl.actual[measure.$key][$ctrl.valueType[measure.$key]]}">
                    {{$ctrl.actual[measure.$key][$ctrl.valueType[measure.$key]] | measureCalc:$ctrl.sport:measure.$key || 'Add a comment'}}
                </td>-->
                <td md-cell>
                    {{$ctrl.actual[measure.$key][$ctrl.valueType[measure.$key]] | percentByTotal:measure.value}}
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </md-list-item>
</md-table-container>