<div layout="row">
    <div flex layout="row" layout-align="start center" ng-show="isAuthenticated()">
        <md-button class="md-icon-button md-primary" aria-label="Settings"
                   ng-click="$ctrl.goBack()">
            <md-icon md-svg-src="/assets/icon/arrow_back.svg" aria-label="Back"></md-icon>
        </md-button>
        <p class="md-body" style="line-height: 24px; margin-bottom: 0px; margin-top: 4px">Back</p>
    </div>
    <div flex layout="row" layout-align="start center" layout-fill ng-show="!isAuthenticated()">
        <md-button class="md-icon-button md-primary" aria-label="Settings"
                   ng-click="$ctrl.goTo('/welcome')">
            <md-icon md-svg-src="/assets/icon/home.svg" class="fill-white-medium" aria-label="Back"></md-icon>
        </md-button>
        <p class="md-body" style="line-height: 24px; margin-bottom: 0px; margin-top: 4px">Home page</p>
    </div>
</div>