<div layout="row" layout-align="end center" layout-fill ng-show="!!$ctrl.app.session">

    <md-button ng-if="$ctrl.notification > 0" class="md-icon-button md-primary badge1" aria-label="Notification"
               ng-click="toggleRight()" data-badge="{{$ctrl.notification}}">
        <md-icon md-svg-src="/assets/icon/notifications_active.svg" class="fill-white-medium"></md-icon>
    </md-button>
    <md-button ng-if="$ctrl.notification == 0 || $ctrl.notification == null"
               class="md-icon-button md-primary" aria-label="Notification"
               ng-click="toggleRight()" data-badge="{{$ctrl.notification}}">
        <md-icon md-svg-src="/assets/icon/notifications.svg"></md-icon>
    </md-button>
    
    <md-button class="md-icon-button md-primary" ng-click="$ctrl.toggleSlide('requests')">
        <md-icon md-font-set="material-icons">group</md-icon>
    </md-button>

    <div hide show-gt-sm layout="row" class="user-frame">
        <div>
            <img ng-src="/assets/avatar/{{::$ctrl.app.user.userId}}.jpg"
                 style="height: 24px; width: 24px; border-radius: 12px; -border: 1px solid white"/>
        </div>
        <div class="md-body" style="line-height: 24px; -color: white; padding: 0 8px">{{$ctrl.app.user.public.firstName}}</div>
        <user-menu></user-menu>
    </div>
</div>