<md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
        <md-menu md-position-mode="target-right target" md-offset="0 60" md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)"
                       aria-label="User">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.onDelete()" ng-disabled="$ctrl.mode == 'post'">
                        <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                        <span translate="measurement.toolbar.delete"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="" ng-disabled="true">
                        <md-icon class="material-icons" md-menu-align-target>settings</md-icon>
                        <span translate="measurement.toolbar.settings"></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <h2 translate="measurement.toolbar.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{'measurement.toolbar.close' | translate}}</md-tooltip>
            <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-dialog-content>
    <form name="$ctrl.measurementForm">
        <md-list class="md-dense">
            <md-list-item layout="row">
                <md-input-container flex md-no-float class="md-block no-message">
                    <md-datepicker ng-model="$ctrl.item._dateStart"
                                   name="date" md-min-date="minDate"
                                   md-max-date="maxDate"></md-datepicker>
                    <div ng-messages="$ctrl.measurementForm.date.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">This date is required!</div>
                        <div ng-message="mindate">Date is too early!</div>
                        <div ng-message="maxdate">Date is too late!</div>
                    </div>
                </md-input-container>
                <!--<div flex="10"></div>
                <md-input-container flex="45" md-no-float class="md-block">
                    <sm-date-time-picker
                            fname="field"
                            lable="Date of Birth"
                            form="$ctrl.measurementForm"
                            value="$ctrl.date"
                            flex="50"
                            flex-sm="100"
                            flex-xs="100"
                            is-required="{{true}}"
                            format="MM-DD-YYYY HH:mm"
                            mode="date-time"
                            week-start-day="Monday">
                    </sm-date-time-picker>
                </md-input-container>-->
            </md-list-item>
            <md-fab-speed-dial ng-cloak class="animated bounceIn" md-theme="default">
                <md-fab-trigger>
                    <md-button type="submit"
                               aria-label="submit" class="md-fab md-accent"
                               ng-disabled="!$ctrl.measurementForm.$dirty"
                               ng-class="{'md-warn': !$ctrl.measurementForm.$valid}"
                               ng-click="$ctrl.measurementForm.$valid ? $ctrl.onSave() : null">
                        <md-icon class="material-icons">save</md-icon>
                        <md-tooltip md-direction="left">{{'measurement.toolbar.save' | translate}}</md-tooltip>
                    </md-button>
                </md-fab-trigger>
            </md-fab-speed-dial>
        </md-list>
        <md-divider></md-divider>
        <md-list id="general" class="md-dense section">
            <md-subheader>{{"measurement.generalMeasures" | translate}}</md-subheader>
            <md-list-item layout="row" layout-wrap>
                <md-input-container flex class="no-message">
                    <label translate="Вес(кг)"></label>
                    <input type="number" name="weight" autofocus autocomplete="off"
                           ng-model="$ctrl.item.measurementHeader.sizes.weight"
                           ng-disabled="false"
                           min="10" max="300">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex class="no-message">
                    <label translate="Рост(см)"></label>
                    <input type="number" name="height" autofocus autocomplete="off"
                           ng-model="$ctrl.item.measurementHeader.sizes.height"
                           ng-disabled="false"
                           min="10" max="300">
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-wrap>
                <md-input-container flex class="no-message">
                    <label translate="Вода(%)"></label>
                    <input type="number" name="waterPercent" autofocus autocomplete="off"
                           ng-model="$ctrl.item.measurementHeader.generalMeasures.waterPercent"
                           ng-disabled="false"
                           min="0" max="100">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex class="no-message">
                    <label translate="Жир(%)"></label>
                    <input type="number" name="percentFat" autofocus autocomplete="off"
                           ng-model="$ctrl.item.measurementHeader.generalMeasures.percentFat"
                           ng-disabled="false"
                           min="0" max="100">
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-wrap>
                <md-input-container flex class="no-message">
                    <label translate="Масса мышц(кг)"></label>
                    <input type="number" name="musculeMass" autofocus autocomplete="off"
                           ng-model="$ctrl.item.measurementHeader.generalMeasures.musculeMass"
                           ng-disabled="false"
                           min="0" max="100">
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex class="no-message">
                    <label translate="Пульс покоя(чсс)"></label>
                    <input type="number" name="pulse" autofocus autocomplete="off"
                           ng-model="$ctrl.item.measurementHeader.generalMeasures.pulse"
                           ng-disabled="false"
                           min="0" max="200">
                </md-input-container>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-list id="sleep" class="md-dense section">
            <md-subheader>{{"measurement.sleepData" | translate}}</md-subheader>
            <md-list-item flex layout="row">
                <md-input-container flex class="no-message">
                    <label translate="settings.personalInfo.main.firstName"></label>
                    <md-select flex class=""
                               ng-model="$ctrl.item.measurementHeader.sleepData.sleepQuality"
                               arial-label="Privacy Level">
                        <md-option class="" ng-value="$index" ng-repeat="level in $ctrl.feeling"
                                   translate="{{'measurement.sentiment.'+level | translate}}"></md-option>
                    </md-select>
                </md-input-container>
                <div flex="5"></div>
                <md-input-container flex class="no-message">
                    <label translate="settings.personalInfo.main.lastName"></label>
                    <input type="text" name="lastName"
                           ng-model="$ctrl.user.public.lastName"
                           autocomplete="off" ng-disabled="false" minlength="2" maxlength="100">
                </md-input-container>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-list id="feeling" class="md-dense section">
            <md-subheader>{{"measurement.feeling" | translate}}</md-subheader>
            <md-list-item flex layout="row">
                <md-input-container flex class="md-block no-message">
                    <label translate="settings.personalInfo.about"></label>
                    <textarea ng-model="$ctrl.user.personal.about" name="about" rows="1" md-select-on-focus></textarea>
                </md-input-container>
            </md-list-item>
        </md-list>
    </form>
</md-dialog-content>


