md-dialog#measurement{
  background: black;
}
.calendar-item-measurement {

  //max-width: 360px;
  //min-height: 60%;
  //max-height: 90%;
  max-height: 100%;
  background-color: $grey-50;

  .md-toolbar-tools md-menu:first-child {
    margin-left: -8px;
  }

  form md-list:first-child {
    //background-color: $grey-200;
    //padding-bottom: 30px;
  }

  md-fab-speed-dial {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

}