@import "../sass/app.scss";
// TODO Добавить комментарии к используемым стилям, возможно дать ссылку на концепцию построения дизайна представлений

.app-page {
	.app-body {
		width: 100%;
		height: 100%;
		margin: 0;
		@media (max-width: 960px) {
			border-radius: 0;
			height: 100%;
		}
	}
}

.auth-page,
.welcome-page {
	md-card {
		background: $primary-900;
	}

	.application-background {
		background-image: none;
		background-color: lightgrey;
	}

	.app-body {
		width: 100%;
		height: 100%;
		overflow: auto;
		margin: 0;
	}

	.logo {
		width: 70%;
		max-width: 150px;
		margin: 8px 0;

		&.focus {
			-webkit-animation: focus 5s infinite;
			/* Chrome, Safari, Opera */
			animation: focus 5s infinite;
		}

		&.big {
			max-width: 300px;
		}
	}
}
