<!--  Экран состоит из трех меняющихся ui-view:
      1) background - отвечает за задний фон текущего Представления
      2) header - отвечает за заголовок приложения, куда входят различные панели и элемент с названием Представления
      3) application - отвечает за само Представление, в том числе и за toolbar Представления -->
<loader></loader>
<div class="application-background" ui-view="background"></div>
<div class="application-header" ui-view="header"></div>
<div ui-view="application"></div>

<md-sidenav class="md-sidenav-right st-fixed" md-component-id="requests" md-whiteframe="4" ng-if="$ctrl.auth.isAuthenticated()">
    <requests/>
</md-sidenav>

<md-sidenav class="md-sidenav-right st-fixed" md-component-id="notifications" md-whiteframe="4" ng-if="$ctrl.auth.isAuthenticated()">
    <notification-list layout-fill layout="column"/>
</md-sidenav>

<md-sidenav id="appmenu" class="md-sidenav-left md-whiteframe-z2 st-fixed" md-component-id="appmenu" ng-if="$ctrl.auth.isAuthenticated()">
    <application-menu ng-if="!$ctrl.isLoading"/>
</md-sidenav>

<md-sidenav id="appGuestMenu" class="md-sidenav-left md-whiteframe-z2 st-fixed"
            md-component-id="appGuestMenu" ng-if="!$ctrl.auth.isAuthenticated()">
    <st-application-guest-menu ng-if="!$ctrl.isLoading"/>
</md-sidenav>

<toaster-container></toaster-container>