<form name="$ctrl.zonesForm">
    <md-list class="md-dense section">
        <md-subheader ng-repeat-start="(intensivityFactor,zone) in $ctrl.owner.trainingZones track by $index">
            <span translate="{{intensivityFactor}}"></span>
        </md-subheader>
        <md-list-item ng-repeat-start="(sportName,sport) in zone track by $index" ng-click="navigateTo('data usage', $event)">
            <md-icon md-svg-src="/assets/icon/{{sportName}}.svg"></md-icon>
            <p><span translate="{{'sport.'+ sportName}}"></span><span> ({{intensivityFactor | measureUnit:'run' | translate}})</span></p>
            <md-button class="md-secondary" ng-click="doSecondaryAction($event)" translate="user.settings.zones.editSport"></md-button>
        </md-list-item>
        <div style="border-radius: 5px; padding: 0px 16px">
            <div ng-repeat="zone in sport.zones track by $index"
                 style="display: inline-block; background-color: #{{zone.color.toString(16)}}; height: 10px; opacity: {{zone.opacity}}; width: {{zone.width * 100}}%">
                <md-tooltip md-direction="bottom">{{zone.valueFrom | measureCalc:'run':intensivityFactor}}-{{zone.valueTo | measureCalc:'run':intensivityFactor}}</md-tooltip>
            </div>
        </div>
        <md-list-item layout="row" layout-wrap ng-repeat-end>
            <md-button class="md-exclude" ng-if="sport[measure]" ng-repeat="measure in ['FTP','maxValue','minValue'] track by $index">
                {{measure | translate}}:&nbsp{{sport[measure] | measureCalc:'run':intensivityFactor}}&nbsp
                <span>{{intensivityFactor | measureUnit:'run' | translate}}</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-repeat-end>
            <p></p>
            <md-button class="md-secondary" ng-click="$ctrl.showPasswordChange($event)" translate="settings.zones.addSport">
            </md-button>
        </md-list-item>
    </md-list>
</form>