@import "../../../sass/color";

.landing-sidenav-scenario {
  min-height: calc(100vh - 128px);
  width: 100vw;
  max-width: 100vw;
  background: rgba(white,0.95);
  md-toolbar {
    position: fixed;
    background: none !important;
    top: 0;
    left: 0;
    .md-toolbar-tools {  padding: 0 32px;  }
  }
  .scenario-wrapper {
    padding-top: 64px;
  }
  .scenario-card .image-wrapper {
    background-color: $grey-050;
    padding: 4px;
    text-align: center;
  }
  .scenario-card img {
    height: 30vh;
    object-fit: contain;
    object-position: 50% 50%;
    max-width: 100%;
  }
  @media (max-width: 959px) {
    .md-toolbar-tools {  padding: 0 16px !important; }
    .scenario-card img {
      height: auto;
      width: 100%;
    }
  }
}