<st-application-frame>
    <st-application-frame-toolbar>Toolbar</st-application-frame-toolbar>
    <st-application-frame-content>Content</st-application-frame-content>
</st-application-frame>

<section layout-gt-sm="row" layout="column" class="training-plans-search__application">
    <training-plans-filter class="training-plans-search__filter"
                           charts="$ctrl.charts"
                           filter="$ctrl.filter"
                           on-hide="$ctr.showPanel = false"
                           on-change-filter="$ctrl.changeGlobalFilter()"
                           on-change-charts="$ctrl.saveSettings('charts')">
    </training-plans-filter>
    <section flex="auto" class="training-plans-search__plans-section">
        <section class="training-plans-search__area">
            <training-plans-list
                             plans="$ctrl.demoList"
                             filter="$ctrl.filter"
                             filter-changes="$ctrl.filterChanges"
                             on-change-filter="$ctrl.saveSettings('charts')"
                             mobile-view="">
            </training-plans-list>
        </section>
    </section>

</section>
