<md-toolbar flex="none" style="background-color: white; color: black">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.onBack()">
            <md-icon class="material-icons md-dark">arrow_back</md-icon>
        </md-button>
        <h2>{{'Выберите атлета' | translate}}</h2>
        <span flex></span>
    </div>
</md-toolbar>

<md-list class="bg-grey-100" style="padding: 16px; overflow: auto; height: 100%">
    <md-list-item ng-repeat="athlete in $ctrl.athletes track by $index">
        <userpic profile="athlete.profile" unlink="true"></userpic>
        <p>{{athlete.profile | username}}</p>
        <md-checkbox class="md-secondary md-primary" ng-model="athlete.active">
        </md-checkbox>
    </md-list-item>
</md-list>