<nav class="training-plans-filter md-whiteframe-2dp bg-grey-100" flex="none"
     ng-class="{'panel': $ctrl.panel !== 'hide'}" ng-switch="$ctrl.panel">

    <section ng-switch-when="hide" layout="column" class="training-plans-filter__hide">
        <md-button flex="none" class="md-icon-button" ng-click="$ctrl.panel = 'plans'">
            <md-icon class="md-secondary md-dark material-icons">filter_list</md-icon>
        </md-button>
        <md-button flex="none" class="md-icon-button" ng-click="$ctrl.panel = 'plans'">
            <md-icon class="md-secondary md-dark material-icons">settings</md-icon>
        </md-button>
    </section>

    <section ng-switch-when="plans" layout="column" class="training-plans-filter__plans">
        <md-toolbar flex="none" class="bg-grey-200" style="color: black">
            <div class="md-toolbar-tools" ng-cloak>
                <md-button flex="none" class="md-icon-button" ng-click="$ctrl.panel = 'hide';$ctrl.onHide()">
                    <md-icon class="md-secondary md-dark material-icons">arrow_back</md-icon>
                </md-button>
                <h2 class="md-dark">{{'trainingPlans.filter.plans' | translate}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-divider></md-divider>
        <md-content flex="auto">
            <md-list class="md-dense" flex>
            </md-list>
        </md-content>
        <md-dialog-actions flex="none" layout="row">
            <span flex></span>
            <md-button class="create" ng-click="$ctrl.onPost($event)">
                <span translate="trainingPlans.filter.create"></span>
            </md-button>
        </md-dialog-actions>
    </section>
</nav>