.training-plans-filter {

  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 52px;
  transition: all 0.5s;

  &.panel {
    width: auto;
    transition: all 0.5s;
  }

  @media (max-width: 959px) {
    width: 100%;
    height: auto;
  }

  &__plans, &__events, &__hide {
    height: 100%;
  }

  .md-datepicker-input-container {
    width: 100%;
  }

  .md-datepicker-triangle-button {
    right: 4px !important;
  }

  .md-button.create {
    padding: 0 16px;
    width: calc(100% - 16px);
  }

  .label {
    transform: translate3d(0, 6px, 0) scale(0.75);
    transform-origin: left top;
  }

  md-icon.dense {
    margin-right: 20px !important;
  }

  .tags-wrapper {
    .md-list-item-inner {
      align-items: flex-start !important;
    }
    md-icon {
      margin-top: 42px !important;
    }
  }

  .keywords-wrapper {

    label {
      margin-left: 50px;
    };

    md-chips {
      margin-left: 50px;
      display: flex;

      .md-chips {
        width: 100%;
      }

    }
  }

  md-contact-chips.dense {
    .md-chips {
      font-size: 12px;
      padding-bottom: 0;
      padding-left: 0;

    }
    .md-chip-input-container {
      width: 100px;
    }
    md-chip {
      max-width: 120px;
      height: 24px;
      img {
        height: 24px !important;
        width: 24px !important;
        border-radius: 12px !important;
      }
      .md-contact-name {
        height: 24px;
        line-height: 24px;
        width: calc(100% - 36px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .md-chip-remove {
        width: 24px;
        height: 24px;
        md-icon:first-child {
          width: 24px;
          height: 24px;
          min-width: 24px;
          min-height: 24px;
        }
      }
    }
  }

}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  .md-contact-suggestion img {
    height: 32px;
    width: 32px;
    border-radius: 16px;
  }
  .md-contact-name {
    font-size: 12px;
  }
}