<nav class="training-plans-filter md-whiteframe-2dp bg-grey-100" flex="auto" layout="column" layout-fill
     ng-class="{'panel': $ctrl.panel !== 'hide'}" ng-switch="$ctrl.panel">

    <section flex="auto" ng-switch-when="hide" layout="column" layout-fill class="training-plans-filter__hide">
        <md-button flex="none" class="md-icon-button" ng-click="$ctrl.panel = 'plans'">
            <md-icon class="md-secondary md-dark material-icons">filter_list</md-icon>
        </md-button>
        <md-button flex="none" class="md-icon-button" ng-click="$ctrl.panel = 'plans'">
            <md-icon class="md-secondary md-dark material-icons">settings</md-icon>
        </md-button>
    </section>

    <section flex="auto" ng-switch-when="plans" layout="column" layout-fill class="training-plans-filter__plans">
        <md-content flex="auto">
            <md-list class="md-dense" flex>
                <!-- Платный план -->
                <md-list-item ng-if="!$ctrl.isSearch">
                    <md-icon flex="none" class="material-icons md-dark dense">monetization_on</md-icon>
                    <p translate="trainingPlans.isPublic.label"></p>
                    <md-switch class="md-primary"
                               name="isPublic"
                               ng-change="$ctrl.change()"
                               ng-model="$ctrl.datamodel.isPublic"></md-switch>
                </md-list-item>
                <!-- Автор плана -->
                <md-list-item layout="row" layout-align="space-between start" ng-if="$ctrl.isSearch">
                    <md-icon flex="none" class="material-icons md-dark dense">person</md-icon>
                    <md-contact-chips
                            flex="auto"
                            class="dense"
                            ng-model="owner"
                            ng-change="$ctrl.changeOwner()"
                            md-contacts="$ctrl.ownerSearch($query)"
                            md-contact-name="name"
                            md-contact-image="icon"
                            md-contact-email=""
                            md-require-match="true"
                            md-highlight-flags="i"
                            md-max-chips="1"
                            filter-selected="true"
                            placeholder="{{'trainingPlans.owner.label' | translate}}">
                    </md-contact-chips>
                </md-list-item>
                <!-- Язык плана -->
                <md-list-item ng-if="$ctrl.isSearch">
                    <md-input-container class="md-block no-message" layout="row">
                        <label translate="trainingPlans.lang.label"></label>
                        <md-icon flex="none" class="md-dark"
                                 md-svg-src="/assets/icon/{{$ctrl.datamodel.lng}}.png">
                        </md-icon>
                        <md-select flex name="type" class="icon" multiple
                                   placeholder="{{'trainingPlans.lang.placeholder' | translate}}"
                                   ng-model="$ctrl.datamodel.lng"
                                   ng-change="$ctrl.change()">
                            <md-option ng-repeat="lng in $ctrl.config.lang track by $index"
                                       value="{{lng}}">
                                {{lng | translate}}
                            </md-option>
                        </md-select>
                        <div ng-messages="$ctrl.planForm.lang.$error" role="alert">
                            <div ng-message-exp="['required']"
                                 translate="form.required">
                            </div>
                        </div>
                    </md-input-container>
                </md-list-item>
                <!-- Название плана -->
                <md-list-item>
                    <md-input-container class="md-block no-message" layout="row">
                        <label translate="trainingPlans.name.label"></label>
                        <md-icon flex="none" class="material-icons md-dark">timeline</md-icon>
                        <input flex="auto"
                               name="name"
                               type="text"
                               placeholder="{{trainingPlans.name.placeholder}}"
                               ng-change="$ctrl.change()"
                               ng-model="$ctrl.datamodel.name"
                               ng-model-options="{ debounce: 300 }">
                    </md-input-container>
                </md-list-item>
                <!-- Вид -->
                <md-list-item>
                    <md-input-container class="md-block no-message" md-no-float layout="row">
                        <label translate="trainingPlans.type.label"></label>
                        <md-icon flex="none" class="md-dark" md-svg-src="/assets/icon/{{$ctrl.datamodel.type}}.svg">
                        </md-icon>
                        <md-select flex name="type" class="icon"
                                   placeholder="{{trainingPlans.name.placeholder}}"
                                   ng-model="$ctrl.datamodel.type"
                                   ng-change="$ctrl.change()">
                            <md-option value="all" translate="competition.types.all"></md-option>
                            <md-divider></md-divider>
                            <md-option ng-repeat="type in $ctrl.competitionConfig.types track by $index"
                                       value="{{type}}">
                                {{'competition.types.' + type | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>
                <!-- Тип дистанции -->
                <md-list-item ng-if="$ctrl.datamodel.type && $ctrl.datamodel.type !== 'all'">
                    <md-input-container class="md-block no-message" md-no-float layout="row">
                        <label translate="trainingPlans.distanceType.label"></label>
                        <md-icon flex="none" class="md-dark"
                                 md-svg-src="/assets/icon/competition.svg"></md-icon>
                        <md-select flex name="distanceType" class="icon" ng-required="{{$ctrl.datamodel.isPublic}}"
                                   ng-model="$ctrl.distanceType"
                                   placeholder="{{trainingPlans.distanceType.placeholder}}"
                                   ng-change="$ctrl.change()">
                            <md-option value="all" translate="competition.distanceType.all"></md-option>
                            <md-divider></md-divider>
                            <md-option ng-repeat="type in $ctrl.competitionConfig.distanceTypes |
                                       filter:{type: $ctrl.datamodel.type}" ng-value="type">
                                {{'competition.distanceType.' + type.type + '.' + type.code | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>
                <!-- Характеристики плана -->
                <md-list-item class="tags-wrapper">
                    <md-icon flex="none" class="md-dark dense" md-svg-src="/assets/icon/tags.svg"></md-icon>
                    <div layout="column">
                        <p class="md-caption md-dark label" translate="trainingPlans.tags.label"></p>
                        <div class="tags" layout="row" layout-wrap>
                            <md-checkbox flex="100"
                                         ng-repeat="tag in $ctrl.config.tags track by $index"
                                         class="md-primary" name="tag-{{tag}}"
                                         ng-checked="$ctrl.exists(tag, $ctrl.datamodel.tags)"
                                         ng-click="$ctrl.toggle(tag, $ctrl.datamodel.tags)">
                                <span translate="trainingPlans.tags.{{tag}}"></span>
                            </md-checkbox>
                        </div>
                    </div>
                </md-list-item>
                <!-- Опции плана -->
                <md-list-item class="tags-wrapper">
                    <md-icon flex="none" class="md-dark dense" md-svg-src="/assets/icon/settings.svg"></md-icon>
                    <div layout="column">
                        <p class="md-caption md-dark label" translate="trainingPlans.options.label"></p>
                        <div class="tags" layout="row" layout-wrap>
                            <md-checkbox flex="100"
                                         ng-repeat="option in $ctrl.config.options track by $index"
                                         class="md-primary" name="option-{{option}}"
                                         ng-checked="$ctrl.datamodel[option]"
                                         ng-click="$ctrl.datamodel[option] ? $ctrl.datamodel[option] = null : $ctrl.datamodel[option] = true; $ctrl.onChangeFilter({filter: $ctrl.datamodel})">
                                <span translate="trainingPlans.options.{{option}}"></span>
                            </md-checkbox>
                        </div>
                    </div>
                </md-list-item>
                <!-- Количество недель подготовки -->
                <md-list-item class="tags-wrapper" layout="row" layout-align="center start">
                    <md-icon flex="none" class="md-dark dense" style="margin: 0" md-svg-src="/assets/icon/distance.svg"></md-icon>
                    <div layout="column">
                        <p class="md-caption md-dark label" translate="trainingPlans.weekCount.label"></p>
                        <div class="tags" layout="row" layout-wrap>
                            <md-radio-group ng-model="$ctrl.weekCountRange"
                                            ng-change="$ctrl.changeRange($ctrl.config.weekRanges[$ctrl.weekCountRange], 'weekCount')" flex="100">
                                <md-radio-button ng-repeat="range in [0,1,2,3] track by $index"
                                                 value="{{range}}" class="md-primary">
                                    <span ng-if="$first" translate="trainingPlans.weekCount.all"></span>
                                    <span ng-if="!$first">{{$ctrl.config.weekRanges[range][0]}}</span>
                                    <span ng-if="!$first && !$last">&nbsp;-&nbsp;</span>
                                    <span ng-if="!$first && !$last">{{$ctrl.config.weekRanges[range][1]}}</span>
                                    <span ng-if="$last">+</span>
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </md-list-item>
                <!-- Язык плана -->
                <!--<md-list-item>
                    <md-input-container class="md-block no-message" md-no-float layout="row">
                        <label translate="trainingPlans.language.label"></label>
                        <md-icon flex="none" class="material icons md-dark">language</md-icon>
                        <md-select flex name="type" class="icon" multiple="true"
                                   placeholder="{{trainingPlans.language.placeholder}}"
                                   ng-model="$ctrl.datamodel.lang"
                                   ng-change="$ctrl.change()">
                            <md-option ng-repeat="lang in $ctrl.supportLanguages track by $index"
                                       value="{{type}}">
                                {{lang | translate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-list-item>-->
            </md-list>
        </md-content>
        <md-dialog-actions ng-if="$ctrl.dialog" flex="none" layout="row" style="background: white; width: 100%;">
            <span flex></span>
            <md-button ng-click="$ctrl.onSearch({filter: $ctrl.datamodel})">
                <span translate="trainingPlans.actions.search"></span>
            </md-button>
        </md-dialog-actions>
    </section>
</nav>