<md-card flex="none" layout="column" id="zones" class="">
    <md-card-title>
        <h2 class="md-title" translate="settings.zones.header"></h2>
    </md-card-title>
    <form name="$ctrl.zonesForm">
        <md-list class="md-dense section">
            <md-list-item ng-repeat-start="(intensityFactor,zone) in $ctrl.zones track by $index">
                <md-icon md-svg-src="/assets/icon/{{::intensityFactor}}.svg"
                         class="fill-measure {{::intensityFactor}}"></md-icon>
                <p class="md-body-2" translate="{{::intensityFactor}}"></p>
            </md-list-item>
            <md-list-item ng-repeat-start="(sportName,sport) in zone track by $index">
                <md-icon md-svg-src="/assets/icon/{{(sportName === 'default'? 'default_zone' : sportName)}}.svg"
                         class="md-dark"></md-icon>
                <p><span translate="{{'sport.'+ sportName}}"></span><span> ({{::intensityFactor | measureUnit:sportName | translate}})</span></p>
                <md-menu class="md-secondary">
                    <md-button class="md-icon-button">
                        <md-icon class="material-icons">arrow_drop_down</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="$ctrl.putZones($event,intensityFactor, sportName, sport)">
                                <md-icon class="material-icons" md-menu-align-target>mode_edit</md-icon>
                                {{'settings.zones.editZones' | translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.deleteSport(intensityFactor, sportName, sport)"
                                       disabled="{{sportName === 'default' ? 'disabled' : ''}}">
                                <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                                {{'settings.zones.deleteZones' | translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
            <div style="border-radius: 5px; padding: 0px 16px; margin-left: 58px">
                <div ng-repeat="zone in sport.zones track by $index"
                     style="display: inline-block; background-color: #{{zone.color.toString(16)}}; height: 10px; opacity: {{zone.opacity}}; width: {{zone.width * 100}}%">
                    <md-tooltip md-direction="bottom">
                        <span>{{zone.code}} </span>
                        <span>({{zone.valueFrom | measureCalc:sportName:intensityFactor}}-{{zone.valueTo | measureCalc:sportName:intensityFactor}})</span></md-tooltip>
                </div>
            </div>
            <md-list-item layout="row" layout-wrap="true" ng-repeat-end
                          style="margin-left: 50px">
                <md-button flex="none" class="md-exclude" ng-if="sport[measure]"
                           ng-repeat="measure in ['minValue','ATP','FTP','maxValue'] track by $index">
                        {{measure | translate}}:&nbsp{{sport[measure] | measureCalc:sportName:intensityFactor}}&nbsp
                        <span>{{intensityFactor | measureUnit:sportName | translate}}</span>
                </md-button>
            </md-list-item>
            <md-list-item>
                <p style="text-align: right" translate="settings.zones.addSport"></p>
                <md-menu class="md-secondary">
                    <md-button class="md-icon-button">
                        <md-icon class="material-icons">add_circle_outline</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="sport in $ctrl.sportBasic track by sport.id">
                            <md-button ng-click="$ctrl.addSport(intensityFactor, sport.code)"
                                       ng-disabled="{{$ctrl.zones[intensityFactor].hasOwnProperty(sport.code)}}">
                                {{'sport.' + sport.code | translate}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
            <md-divider ng-if="!$last" ng-repeat-end></md-divider>
        </md-list>
    </form>
</md-card>