<section class="animated fadeInUp form">
    <h2 class="md-title" translate="auth.invite.fullTitle"></h2>
    <form flex="none" ng-submit='$ctrl.putInvite($ctrl.credentials)' novalidate name="$ctrl.inviteForm">
        <div layout="row" layout-align="start center" class="input-item-line">
            <p flex="auto" class="md-caption conf" translate>auth.confirmation</p>
            <md-checkbox flex="none" aria-label="Checkbox No Ink" ng-model="$ctrl.confirmation"
                         class="md-primary md-secondary" style="margin: 0;"
                         ng-disabled="!$ctrl.enabled">
            </md-checkbox>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line three-hint-line">
            <md-input-container class="st-material md-block md-dense">
                <label>{{ 'auth.invite.pass' | translate }}</label>
                <input required type="password" name="password1" ng-model="$ctrl.credentials.password"
                       ng-pattern="$ctrl.passwordStrength"
                       ng-disabled="!$ctrl.enabled">
                <div ng-messages="$ctrl.setpassForm.password1.$error" role="alert">
                    <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line three-hint-line">
            <md-input-container class="st-material md-block md-dense">
                <label>{{ 'auth.invite.repeatPass' | translate }}</label>
                <input required type="password" name="password2" ng-model="$ctrl.password2"
                       ng-pattern="$ctrl.passwordStrength"
                       ng-disabled="!$ctrl.enabled"
                       compare-to="$ctrl.credentials.password">
                <div ng-messages="$ctrl.setpassForm.password2.$error" role="alert">
                    <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                    <div ng-message-exp="'compareTo'" translate>auth.errComparePass</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line">
            <md-button id="invitesignup" ng-disabled="!$ctrl.inviteForm.$valid || !$ctrl.enabled" class="md-raised submit"
                       type="submit"
                       ng-class="{'md-primary': $ctrl.inviteForm.$valid && !ul.auth, 'md-disabled': $ctrl.inviteForm.$error}"
                       translate='auth.signin.button'
                       aria-label="PutInvite Button">
            </md-button>
        </div>
    </form>
</section>

