<section class="animated fadeInUp form">
    <h2 class="md-title" translate="auth.reset.title"></h2>
    <form flex="none" ng-submit='$ctrl.reset($ctrl.credentials)' novalidate name="$ctrl.resetForm">
        <div class="md-caption md-light md-inactive center info" translate="auth.reset.info"></div>
        <div layout="row" layout-align="start stretch" class="input-item-line">
            <md-input-container class="st-material md-block md-dense">
                <label>{{ 'auth.email' | translate }}</label>
                <input required type="email" name="email" ng-model="$ctrl.credentials.email"
                       autocomplete="on" ng-disabled="!$ctrl.enabled"
                       minlength="5" maxlength="100"
                       ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="$ctrl.resetForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                        auth.errMail
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line">
            <md-button ng-disabled="!$ctrl.resetForm.$valid || !$ctrl.enabled" class="md-raised submit" type="submit"
                       ng-class="{'md-primary': $ctrl.resetForm.$valid && !ul.auth, 'md-disabled': $ctrl.resetForm.$error}"
                       translate='auth.reset.button'
                       aria-label="PutInvite Button">
            </md-button>
        </div>
    </form>
</section>