<section class="animated fadeInUp form">
    <h2 class="md-title" translate="auth.setpass.fullTitle"></h2>
    <form flex="none" ng-submit='$ctrl.setpass($ctrl.credentials)' novalidate name="$ctrl.setpassForm">
        <div layout="row" layout-align="start stretch" class="input-item-line three-hint-line">
            <md-input-container class="st-material md-block md-dense">
                <label>{{ 'auth.pass' | translate }}</label>
                <input required type="password" name="password1" ng-model="$ctrl.credentials.password"
                       ng-pattern="$ctrl.passwordStrength"
                       ng-disabled="!$ctrl.enabled">
                <div ng-messages="$ctrl.setpassForm.password1.$error" role="alert">
                    <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line three-hint-line">
            <md-input-container class="st-material md-block md-dense">
                <label>{{ 'auth.pass' | translate }}</label>
                <input required type="password" name="password2" ng-model="$ctrl.password2"
                       ng-pattern="$ctrl.passwordStrength"
                       ng-disabled="!$ctrl.enabled"
                       compare-to="$ctrl.credentials.password">
                <div ng-messages="$ctrl.setpassForm.password2.$error" role="alert">
                    <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                    <div ng-message-exp="'compareTo'" translate>auth.errComparePass</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line">
            <md-button ng-disabled="!$ctrl.setpassForm.$valid || !$ctrl.enabled" class="md-raised submit"
                       type="submit"
                       ng-class="{'md-primary': $ctrl.setpassForm.$valid && !ul.auth, 'md-disabled': $ctrl.setpassForm.$error}"
                       translate='auth.setpass.button'
                       aria-label="PutInvite Button">
            </md-button>
        </div>
    </form>
</section>