<section class="information" ng-if="$ctrl.showConfirm">
    <h2 class="md-title" translate="auth.confirm.shortTitle"></h2>
    <p flex class="md-body" translate="auth.confirm.text" translate-values="{email: $ctrl.credentials.email}"></p>
</section>
<section class="animated fadeInUp form" ng-if="!$ctrl.showConfirm">
    <h2 class="md-title" translate="auth.signup.shortTitle"></h2>
    <form class="" flex="none" ng-if="!$ctrl.showConfirm" ng-submit='$ctrl.signup($ctrl.credentials)'
          name="$ctrl.signupForm" novalidate>
        <div layout="row" layout-align="start center" class="input-item-line">
            <p flex="auto" class="md-caption conf" translate>auth.confirmation</p>
            <md-checkbox flex="none" aria-label="Checkbox No Ink" ng-model="$ctrl.confirmation"
                         class="md-primary md-secondary" style="margin: 0;"
                         ng-disabled="!$ctrl.enabled">
            </md-checkbox>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line two-hint-line">
            <md-input-container class="st-material md-block md-dense" flex="60">
                <label translate="auth.role.label"></label>
                <md-select flex name="role" required
                           ng-model="$ctrl.role"
                           ng-change="$ctrl.changeRole()"
                           ng-disabled="!$ctrl.enabled">
                    <md-option ng-repeat="role in ['athlete', 'coach', 'clubCoach', 'clubManager']"
                               value="{{role}}">{{'auth.role.' + role + '.name' | translate}}
                    </md-option>
                </md-select>
                <div class="hint md-dark"
                     ng-show="$ctrl.signupForm.$prestine || $ctrl.signupForm.role.$valid">
                    <span translate="auth.role.{{$ctrl.role}}.hint"></span>
                </div>
                <div ng-messages="$ctrl.signupForm.role.$error"
                     ng-show="$ctrl.signupForm.role.$dirty"
                     md-auto-hide="false">
                    <div ng-message="required" translate="form.required"></div>
                </div>
            </md-input-container>
            <div flex="none" class="wrapper-between"></div>
            <md-autocomplete class="st-material md-block md-dense"
                             flex="40"
                             required md-require-match
                             class="no-message"
                             ng-disabled="!$ctrl.enabled"
                             md-input-name="country"
                             md-input-minlength="2"
                             md-input-maxlength="18"
                             md-no-cache="$ctrl.noCache"
                             md-selected-item="$ctrl.credentials.personal.country"
                             md-search-text="$ctrl.countrySearchText"
                             md-items="id in $ctrl.countrySearch($ctrl.countrySearchText)"
                             md-item-text="$ctrl.getCountryName(id)"
                             md-floating-label="{{ 'user.settings.personalInfo.main.country' | translate }}">
                <md-item-template>
                    <span md-highlight-text="$ctrl.countrySearchText">
                        {{$ctrl.countriesList[$ctrl.credentials.display.language][id]}}
                    </span>
                </md-item-template>
                <div ng-messages="$ctrl.signupForm.country.$error">
                    <div ng-message="required" translate="auth.required"></div>
                </div>
            </md-autocomplete>
        </div>
        <div class="md-caption" style="padding: 8px 0" translate="auth.role.{{$ctrl.role}}.info"></div>
        <md-divider></md-divider>
        <div class="md-caption md-dark center" translate="auth.social" style="padding: 8px 0"></div>
        <div layout="row" class="social-buttons">
            <md-button id="socialsignup" flex="33" ng-repeat="provider in ['facebook','google','vkontakte']"
                       ng-class="{'disabled': !$ctrl.confirmation || $ctrl.credentials.personal.country === null}"
                       ng-click="$ctrl.OAuth('signUp', provider)"
                       ng-disabled="!$ctrl.enabled || !$ctrl.confirmation || $ctrl.credentials.personal.country === null"
                       class="social-button {{::provider}}">
                <md-icon md-svg-src="/assets/icon/{{provider}}_clr.svg" clas="s36"></md-icon>
                <!--<span translate="auth.signup.social"></span>&nbsp;<span translate="{{::provider}}"></span>-->
            </md-button>
        </div>
        <div class="md-caption md-dark center" translate="auth.socialOr" style="padding: 8px 0"></div>
        <div layout="row" layout-align="start stretch" class="input-item-line">
            <md-input-container flex="50" class="st-material md-block md-dense">
                <label>{{'auth.firstName' | translate }}</label>
                <input maxlength="30" ng-model="$ctrl.credentials.public.firstName" name="name"
                       required ng-disabled="!$ctrl.enabled || !$ctrl.confirmation"
                       autocomplete="off">
                <div ng-messages="$ctrl.signupForm.name.$error">
                    <div ng-message="required" translate>auth.required</div>
                    <div ng-message="md-maxlength"
                         translate translate-value-field="{{'auth.firstName' | translate}}">auth.err30
                    </div>
                </div>
            </md-input-container>
            <div flex="none" class="wrapper-between"></div>
            <md-input-container flex="50" class="st-material md-block md-dense">
                <label>{{ 'auth.lastName' | translate }}</label>
                <input maxlength="30" ng-model="$ctrl.credentials.public.lastName" name="surname"
                       required ng-disabled="!$ctrl.enabled || !$ctrl.confirmation"
                       autocomplete="off">
                <div ng-messages="$ctrl.signupForm.surname.$error">
                    <div ng-message="required" translate>auth.required</div>
                    <div ng-message="md-maxlength" translate>auth.err30</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line three-hint-line">
            <md-input-container class="st-material md-block md-dense" flex="60">
                <label>{{ 'auth.email' | translate }}</label>
                <input required type="email" name="email" ng-model="$ctrl.credentials.email"
                       minlength="5"
                       maxlength="100"
                       ng-pattern="/^.+@.+\..+$/"
                       autocomplete="off" ng-disabled="!$ctrl.enabled || !$ctrl.confirmation">
                <div ng-messages="!$ctrl.signupForm.email.$valid" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                        auth.errMail
                    </div>
                </div>
            </md-input-container>
            <div flex="none" class="wrapper-between"></div>
            <md-input-container class="st-material md-block md-dense" flex="40">
                <label>{{ 'auth.pass' | translate }}</label>
                <input required type="password" name="password" ng-model="$ctrl.credentials.password" minlength="8"
                       ng-disabled="!$ctrl.enabled || !$ctrl.confirmation"
                       ng-pattern="$ctrl.passwordStrength">
                <div ng-messages="$ctrl.signupForm.password.$error" role="alert">
                    <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start stretch" class="input-item-line">
            <md-button id="emailsignup" type="submit" translate='auth.signup.button' class="md-raised submit"
                       ng-disabled="!$ctrl.signupForm.$valid || !$ctrl.enabled || !$ctrl.confirmation"
                       ng-class="{'md-primary': $ctrl.signupForm.$valid && !ul.auth, 'md-disabled': $ctrl.signupForm.$error}">
            </md-button>
        </div>
        <!--<div layout="row" layout-align="end center">
            <md-menu flex="none" md-position-mode="target-right target" md-offset="0 40">
                <md-button class="md-icon-button md-primary"
                           ng-click="$ctrl.onMenu($mdOpenMenu, $event)" aria-label="User">
                    <md-icon md-svg-src="/assets/icon/{{ $ctrl.display.getLocale() }}.svg" md-24 aria-label="Language Icon"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="(locale, localeName) in $ctrl.display.locales">
                        <md-button ng-click="$ctrl.display.setLocale(locale)">
                            <md-icon md-svg-src="/assets/icon/{{ locale }}.svg" md-24 md-menu-align-target aria-label="Russian"></md-icon>
                            <span>{{ localeName }}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>-->
    </form>
</section>
<st-omni-fab/>
    <!--<md-card-title ng-if="!$ctrl.showConfirm">
        <h2 class="md-title" translate="auth.signup.shortTitle"></h2>
    </md-card-title>-->




