<md-card class="animated fadeInUp medium" md-theme="dark">

    <md-card-title ng-if="$ctrl.showConfirm">
        <h2 class="md-title" translate="auth.confirm.shortTitle"></h2>
    </md-card-title>
    <md-card-content ng-if="$ctrl.showConfirm" class="confirm-message">
        <p flex class="md-body" translate="auth.confirm.text" translate-values="{email: $ctrl.credentials.email}"></p>
    </md-card-content>

    <md-card-title ng-if="!$ctrl.showConfirm">
        <h2 class="md-title" translate="auth.signup.shortTitle"></h2>
    </md-card-title>
    <md-button ng-click="$ctrl.OAuth('facebook')">Facebook SignUp</md-button>
    <form flex="none" ng-if="!$ctrl.showConfirm" ng-submit='$ctrl.signup($ctrl.credentials)'
          name="$ctrl.signupForm" novalidate md-theme="dark">
        <md-list>
            <md-list-item layout="row">
                <md-input-container flex="45" md-no-float class="no-message">
                    <input maxlength="30" ng-model="$ctrl.credentials.public.firstName" name="name"
                           required ng-disabled="!$ctrl.enabled"
                           autofocus autocomplete="off"
                           placeholder="{{ 'auth.firstName' | translate }}">
                    <div ng-messages="$ctrl.signupForm.name.$error">
                        <div ng-message="required" translate>auth.required</div>
                        <div ng-message="md-maxlength"
                             translate translate-value-field="{{'auth.firstName' | translate}}">auth.err30
                        </div>
                    </div>
                </md-input-container>
                <div flex="10"></div>
                <md-input-container flex="45" md-no-float class="no-message">
                    <input maxlength="30" ng-model="$ctrl.credentials.public.lastName" name="surname"
                           required ng-disabled="!$ctrl.enabled"
                           autocomplete="off"
                           placeholder="{{ 'auth.lastName' | translate }}">
                    <div ng-messages="$ctrl.signupForm.surname.$error">
                        <div ng-message="required" translate>auth.required</div>
                        <div ng-message="md-maxlength" translate>auth.err30</div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container md-no-float class="no-message">
                    <input required type="email" name="email" ng-model="$ctrl.credentials.email" minlength="5"
                           maxlength="100"
                           ng-pattern="/^.+@.+\..+$/"
                           autocomplete="off" ng-disabled="!$ctrl.enabled"
                           placeholder="{{ 'auth.email' | translate }}">
                    <div ng-messages="!$ctrl.signupForm.email.$valid" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" translate>
                            auth.errMail
                        </div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container md-no-float class="no-message">
                    <input required type="password" name="password" ng-model="$ctrl.credentials.password" minlength="8"
                           ng-disabled="!$ctrl.enabled"
                           ng-pattern="$ctrl.passwordStrength"
                           placeholder="{{ 'auth.pass' | translate }}">
                    <div ng-messages="$ctrl.signupForm.password.$error" role="alert">
                        <div ng-message-exp="['minlength', 'required' , 'pattern']" translate>auth.errPass</div>
                    </div>
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <p translate="auth.signup.coach"></p>
                <md-checkbox aria-label="Checkbox No Ink" ng-model="$ctrl.credentials.activateCoachTrial"
                             class="md-primary md-secondary"
                             ng-disabled="!$ctrl.enabled"
                             style="text-shadow: 1px 1px 0px rgba(0,0,0,0.4), -1px -1px 0px rgba(0,0,0,0.4);">
                </md-checkbox>
            </md-list-item>
            <md-list-item>
                <p class="md-caption conf" translate>auth.confirmation</p>
                <md-checkbox aria-label="Checkbox No Ink" ng-model="$ctrl.confirmation"
                             class="md-primary md-secondary"
                             ng-disabled="!$ctrl.enabled"
                             style="text-shadow: 1px 1px 0px rgba(0,0,0,0.4), -1px -1px 0px rgba(0,0,0,0.4);">
                </md-checkbox>
            </md-list-item>
            <md-list-item>
                <md-button type="submit" translate='auth.signup.button' class="md-raised"
                           ng-disabled="!$ctrl.signupForm.$valid || !$ctrl.enabled || !$ctrl.confirmation"
                           ng-class="{'md-primary': $ctrl.signupForm.$valid && !ul.auth, 'md-disabled': $ctrl.signupForm.$error}"></md-button>
            </md-list-item>
        </md-list>
    </form>

</md-card>



