<application-frame>
    <div class="profile">
        
        <div class="profile-card">
            <div class="profile-card-background">
                <div class="profile-background" ng-style="{'background-image': $ctrl.getHeader()}"></div>
                
                <div class="profile-header">
                    <div layout="row">
                        <div flex="40" layout-align="end" style="text-align: right; padding-top: 10px;">
                            <div class="chip" ng-if="$ctrl.user.public.isCoach">Тренер</div>  <br/>
                            <div class="chip" ng-if="$ctrl.user.public.isPremium"> <span ng-style="{color: '#ff5722'}">⬤</span> Премиум</div>
                        </div>
                        <div flex="20">
                            <div class="userpic" ng-style="{'background-image': ($ctrl.user | avatar)}" layout-align="center"></div>
                        </div>
                        <div flex="40">
                        </div>
                    </div>
                    <div class="name">
                        {{$ctrl.user | username}}
                    </div>
                    <div class="text">
                        Россия, г. Москва, M30-34
                    </div>
                    <div class="text">
                        Триатлон, Бег, Плавание, Велоспорт
                    </div>
                    <div>
                        <group-actions ng-if="$ctrl.user.public.isCoach" group="$ctrl.user.connections.Athletes" onUpdate="$ctrl.update()"></group-actions>
                        <group-actions group="$ctrl.user.connections.Followers" onUpdate="$ctrl.update()"></group-actions>
                    </div>
                </div>
                
                <div class="profile-fab">
                    <md-button class="md-fab">
                        <i class="material-icons">mode_edit</i>
                    </md-button>
                </div>
            </div>
                
            <div class="profile-card-text">
                <div class="title">О себе</div>
                <div class="text">
                    <p>{{$ctrl.user.personal.about || "Информация не указана"}}</p>
                    <p>Вес: 84 кг     Рост: 184 кг</p>
                </div>
                
                <div class="title">Связи</div>
                <div class="text">
                    <span class="label">Клуб:</span> <span class="value">{{$ctrl.user.connections.Clubs.groupMembers.length || '-'}}</span>
                    <span class="label">Тренеры:</span> <span class="value" ng-click="$ctrl.coaches()">{{$ctrl.user.connections.Coaches.groupMembers.length || '-'}}</span>
                    <span class="label">Спортсмены:</span> <span class="value" ng-click="$ctrl.athlets()">{{$ctrl.user.connections.Athlets.groupMembers.length || '-'}}</span>
                    <br/>
                    <span class="label">Подписчики:</span> <span class="value" ng-click="$ctrl.subscribers()">{{$ctrl.user.connections.Followers.groupMembers.length || '-'}}</span>
                    <span class="label">Подписан:</span> <span class="value" ng-click="$ctrl.subscriptions()">{{$ctrl.user.connections.Following.groupMembers.length || '-'}}</span>
                    <span class="label">Друзья:</span> <span class="value" ng-click="$ctrl.friends()">{{$ctrl.user.connections.Friends.groupMembers.length || '-'}}</span>
                    <span class="label">Группы:</span> <span class="value">-</span>
                </div>
                
                <div class="title">Контакты</div>
                <div class="text">
                    <span class="label">Телефон:</span> <span class="value">+79267891541</span>
                    <span class="label">Email:</span> <span class="value">ivan.zhukov@gmail.com</span>
                </div>
            </div>
        </div>
        
        <div class="profile-chart">
            <div class="title">
                Личная статистика
            </div>
            
            <div class="controls" layout="row">
                <md-button class="paging" ng-click="$ctrl.selectPeriod($ctrl.period + 1)">
                    <i class="material-icons" md-ink-ripple="#FFFFFF">chevron_left</i>
                </md-button>
                <md-button class="paging" ng-click="$ctrl.selectPeriod($ctrl.period - 1)">
                    <i class="material-icons" md-ink-ripple="#FFFFFF">chevron_right</i>
                </md-button>
                <div style="position:relative; cursor:pointer; line-height: 30px;" ng-click="showYears = !showYears">
                    {{$ctrl.range.periodName($ctrl.period)}} ▾
                    <div style="position:absolute; top:100%;" ng-style="{display: showYears? 'block':'none'}">
                        <div ng-repeat="period in [$ctrl.period, $ctrl.period-1, $ctrl.period-2, $ctrl.period-3]" ng-click="$ctrl.selectPeriod(period)">
                            {{$ctrl.range.periodName(period)}}
                        </div>
                    </div>
                </div>
                <div style="position:relative; text-align:center; font-size:16px; cursor:pointer; line-height: 30px;" ng-click="showRanges = !showRanges" flex layout-align="center" class="md-no-underline" aria-label="Range">
                    {{$ctrl.range.name}} ▾
                    <div style="position:absolute; top:100%;" ng-style="{display: showRanges? 'block':'none'}">
                        <div ng-repeat="range in $ctrl.ranges" ng-click="$ctrl.selectRange(range)">
                            {{range.name}}
                        </div>
                    </div>
                </div>
                <div style="position:relative; cursor:pointer; line-height: 30px;" ng-click="showValueTypes = !showValueTypes">
                    {{$ctrl.valueType.name}} ▾
                    <div style="position:absolute; top:100%;" ng-style="{display: showValueTypes? 'block':'none'}">
                        <div ng-repeat="valueType in $ctrl.valueTypes" ng-click="$ctrl.selectValueType(valueType)">
                            {{valueType.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="chart">
                <svg ng-attr-width="{{$ctrl.chart.width + 20}}" ng-attr-height="{{$ctrl.chart.height + 25}}">
                    <g ng-repeat="bar in $ctrl.chart.bars" ng-attr-transform="translate({{$ctrl.chart.x($index)}} 0)">
                        <rect ng-attr-x="{{-$ctrl.chart.barWidth/2}}" ng-attr-width="{{$ctrl.chart.barWidth}}" ng-attr-y="{{$ctrl.chart.height - bar.height}}" ng-attr-height="{{bar.height}}"/>
                        <line x1="0" x2="0" y1="150" y2="155"/>
                        <text x="0" ng-attr-y="{{$ctrl.chart.height + 20}}">{{bar.label}}</text>
                    </g>
                    <g ng-repeat="line in $ctrl.chart.lines" ng-attr-transform="translate(0 {{line.y}})">
                        <line x1="0" ng-attr-x2="{{$ctrl.chart.width}}" y1="0" y2="0"/>
                        <text ng-attr-x="{{$ctrl.chart.width + 15}}">{{line.label}}</text>
                    </g>
                    <line x1="0" ng-attr-x2="{{$ctrl.chart.width}}" ng-attr-y1="{{$ctrl.chart.height}}" ng-attr-y2="{{$ctrl.chart.height}}"/>
                    
                    <linearGradient id="chart-bars" x1="0" x2="0" y1="0" ng-attr-y2="{{$ctrl.chart.height}}" gradientUnits="userSpaceOnUse">
                        <stop offset="0%" stop-color="#37474f"/>
                        <stop offset="100%" stop-color="#607d8b"/>
                    </linearGradient>
                </svg>
            </div>
            
            <div class="table">
                <table>
                    <tr>
                        <th></th>
                        <th>км</th>
                        <th>время</th>
                        <th style="max-width: 90px;" width="90">кол-во трен.</th>
                    </tr>
                    <tr ng-repeat="row in $ctrl.chart.tableRows">
                        <td><i class="material-icons">{{row.icon}}</i></td>
                        <td>{{row.dist}}</td>
                        <td>{{row.hrs}}</td>
                        <td>{{row.count}}</td>
                    </tr>
                    <tr ng-init="row = $ctrl.chart.tableTotal" class="row-total">
                        <td><i class="material-icons">{{row.icon}}</i></td>
                        <td>{{row.dist}}</td>
                        <td>{{row.hrs}}</td>
                        <td>{{row.count}}</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
</application-frame>

