.profile {
    position: absolute;
    left: calc(50% - 250px);
    right: auto;
    top: 60px;
    width: 500px;
    z-index: 40;
    
    @media (max-width: 959px) {
        left: 0 !important;
        width: 100% !important;
    }
}

.profile-card {
}

.profile-card-background {
    position: relative;
    height: 227px;
    color: white;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    color: rgba(255, 255, 255, 0.7);
}

.profile-background {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(96,125,139);
    background-size: cover;
}

.profile-header {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    
    .name {
        font-size: 20px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        color: #ffffff;
        color: var(--white);
    }
    
    .text {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.7);
    }
        
    .chip {
        margin: 3px;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.4px;
        text-align: center;
        padding: 3px 6px;
        border-radius: 2px;
        border: solid 1px #ffffff;
    }
}

.profile-fab {
    position: absolute;
    right: 40px;
    bottom: -28px;
    
    button {
        box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.24), 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12) !important;
    }
    
    i {
        font-size: 24px;
        color: white;
        line-height: 53px;
    }
}

.profile-card-text {
    background-color: #fafafa;
    padding: 0 11px 25px 11px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
    border-image-slice: 1;
    
    @media (max-width: 959px) {
        border: none !important;
        box-shadow: none !important;
    }
    
    .title {  
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        text-align: left;
        color: #455a64;
        margin: 25px 0 15px 0;
    }
    
    .text {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        text-align: left;
        color: rgba(0, 0, 0, 0.54);
        
        .label {
            color: rgba(0, 0, 0, 0.54);
        }
        
        .value {
            color: rgba(0, 0, 0, 0.38);
        }
        
        button.value {
            color: rgba(0, 0, 0, 0.38);
            margin: -10px;
        }
    }
}

.profile-chart {
    margin-top: 20px;
    padding: 17px;
    border-radius: 2px;
    background-color: #607d8b;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-style: solid;
    border-width: 0.5px;
    border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.02) 95%, rgba(0, 0, 0, 0.04));
    border-image-slice: 1;
    
    @media (max-width: 0) {
        border-radius: none !important;
    }
  
    .title {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        text-align: left;
        color: #ffffff;
        color: var(--white);
    }
    
    .controls {
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        text-align: left;
        color: rgba(255, 255, 255, 0.7);
        margin: 10px 0;
        
        .paging {
            width: 24px; 
            height: 24px; 
            min-width: 24px; 
            min-height: 24px; 
            padding: 0;
            margin: 0;
            
            i {
                line-height: 30px;
            }
        }
        
        md-select {
            margin: 0;
            
            md-select-value {
                border-bottom: none;
            }
        }
    }
    
    svg {
        overflow: visible;
        width: 100%;
        margin-bottom: 20px;
        stroke: rgba(120, 144, 156, 0.7);
        
        rect {
            stroke: none;
            fill: url(#chart-bars);
        }
        
        text {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-anchor: middle;
            stroke: none;
            fill: #afbec5;
            alignment-baseline: middle;    
        }
    }
    
    table {
        min-width: 100%;
        border-collapse: collapse;
        
        th {
            padding: 7px;
            text-align: left;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            color: rgba(255, 255, 255, 0.5);
        }
        
        td {
            padding: 7px;
            text-align: left;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.71;
            color: rgba(255, 255, 255, 0.7);
        }
        
        tr {
            border-bottom: solid 0.5px rgba(0, 0, 0, 0.14);
            
            &.row-total {
                border-bottom: none;
                
                td {
                    color: #ffffff;
                }
            }
        }
    }
}

.userpic {
    margin: 0 auto 10px auto;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 38px;
    border: 3px solid white;
    vertical-align: middle; 
    cursor: pointer;   
    background-size: cover;
    background-color: #263238;
}

.masked {
}

.masked:hover .mask {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background: rgba(0, 0, 0, 0.24);
}

.upload-picture {
    position: relative;
    min-width: 300px;
    min-height: 150px;
    cursor: pointer;
}

.upload-picture input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.upload-picture img {
    cursor: pointer;
    min-width: 100%;
}

.upload-picture .no-image {
    border: 2px dashed black;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

.friends {
    padding: 20px;
    height: 500px;
    
    .title {
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
    }
    
    .friend {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        color: rgba(0, 0, 0, 0.87);
        
        img {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}


// md-select fix https://github.com/angular/material/issues/4603
body { 
    height: auto !important;
    width: 100% !important;
    top: auto !important;
    overflow: auto !important;
}