<!-- weektotal header: start -->

<section class="toolbar" flex-gt-sm="none" flex="none" layout="row" layout-align="space-between center"
         ng-style="{background: $ctrl.periodizationData ? $ctrl.periodizationData.color : 'none',
                    color: $ctrl.periodizationData ? 'white' : 'auto'}"

         ng-mouseover="$ctrl.showMenu = true" ng-mouseleave="$ctrl.showMenu = false">

    <div flex="none" class="md-caption font-medium" style="min-width: 24px">
        {{'calendar.week' | translate}} {{$ctrl.dynamicDates ? $ctrl.week.sid + 1 : $ctrl.title}}
    </div>
    <div flex="auto" layout="row" layout-align="end center">

        <md-menu flex="none" md-position-mode="target-right target">
            <md-button class="md-icon-button " ng-click="$mdOpenMenu($event)" aria-label="More">
                <md-icon class="material-icons md-18" ng-class="{'md-light': $ctrl.periodizationData}">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="$ctrl.onToggle()">
                        <md-icon class="material-icons" md-menu-align-target>{{!$ctrl.selected ? 'checkbox' : 'checkbox_outline_box'}}</md-icon>
                        <span translate="{{!$ctrl.selected ? 'calendar.action.select' : 'calendar.action.deselect'}}"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.onDelete({items: $ctrl.items})">
                        <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                        <span translate="calendar.action.delete"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.onCopy({items: $ctrl.items})">
                        <md-icon class="material-icons" md-menu-align-target>content_copy</md-icon>
                        <span translate="calendar.action.copy"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.copiedItemsLength > 0">
                    <md-button ng-click="$ctrl.onPaste({date: $ctrl.week.subItem[0].date})">
                        <md-icon class="material-icons" md-menu-align-target>content_paste</md-icon>
                        <span translate="calendar.action.paste"></span>
                        <span ng-if="$ctrl.copiedItemsLength > 0">&nbsp;({{$ctrl.copiedItemsLength}})</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</section>

<section flex="none" class="periodization md-caption md-light md-active"
         ng-if="$ctrl.periodizationData"
         ng-style="{background: $ctrl.periodizationData ? $ctrl.periodizationData.color : 'none'}">
    <div>{{$ctrl.periodizationData | mesocycleCode:$ctrl.periodizationData.scheme}}</div>
    <div></div>
    <div>
        <span>{{'trainingSeason.durationMeasure.' + $ctrl.periodizationData.durationMeasure | translate}}</span>
        <span>:&nbsp;</span>
        <span>{{$ctrl.periodizationData.durationValue}}</span>
        <span>{{'trainingSeason.durationUnit.' + $ctrl.periodizationData.durationMeasure | translate}}</span>
    </div>
</section>

<section flex="none" class="summary">

    <div ng-if="$ctrl.data.hasSummary()">
        <section layout="row" class="sum">
            <md-icon flex="none" class="material-icons md-18">functions</md-icon>
            <div flex layout="column" class="md-body-1 secondary dark">
                <div flex="none" layout="row" layout-align="space-between center">
                    <div flex="none">{{$ctrl.data.summary.fact.movingDuration | measureCalc:'default':'movingDuration'}}&nbsp</div>
                    <div flex="none" class="disable dark">
                        <span>{{$ctrl.data.summary.plan.movingDuration | measureCalc:'default':'movingDuration'}}</span>
                    </div>
                </div>
                <div flex="none" class="status-bar">
                    <div ng-if="!!$ctrl.data.summary.fact.movingDuration || !!$ctrl.summary.data.plan.movingDuration"
                         class="progress {{$ctrl.data.summaryStatus()}}"
                         style="width: {{$ctrl.data.summaryPercentByCount(sport)}}%"></div>
                </div>
                <div flex="none" layout="row" layout-align="space-between center">
                    <div flex="none">{{$ctrl.data.summary.fact.distance | measureCalc:'default':'distance'}}&nbsp</div>
                    <div></div>
                    <div flex="none" class="disable dark">
                        <span>{{$ctrl.data.summary.plan.distance | measureCalc:'default':'distance'}}</span>
                        <span>{{'distance' | measureUnit:'run' | translate}}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div ng-repeat="sport in $ctrl.data.primarySport track by $index" ng-if="!$ctrl.compactView">
        <div ng-if="$ctrl.data.hasTotalBySport(sport)">
            <md-divider></md-divider>
            <section layout="row" class="sport-sum">
                <md-icon flex="none" md-svg-src="assets/icon/{{::sport}}.svg" class="s18 dark-active"></md-icon>
                <div flex layout="column" class="md-body-1 secondary dark">
                    <div flex="none" layout="row" layout-align="space-between center">
                        <div flex="none">{{$ctrl.data.total[sport].fact.movingDuration | measureCalc:sport:'movingDuration'}}&nbsp</div>
                        <div ></div>
                        <div flex="none" class="disable dark">
                            <span>{{$ctrl.data.total[sport].plan.movingDuration | measureCalc:sport:'movingDuration'}}</span>
                        </div>
                    </div>
                    <div flex="none" class="status-bar">
                        <div ng-if="!!$ctrl.data.total[sport].fact.movingDuration || !!$ctrl.data.total[sport].plan.movingDuration"
                             class="progress {{$ctrl.data.totalStatus(sport)}}"
                             style="width: {{$ctrl.data.totalPercentByCount(sport)}}%"></div>
                    </div>
                    <div flex="none" layout="row" layout-align="space-between center">
                        <div flex="none">{{$ctrl.data.total[sport].fact.distance | measureCalc:sport:'distance'}}&nbsp</div>
                        <div></div>
                        <div flex="none" class="disable dark">
                            <span>{{$ctrl.data.total[sport].plan.distance | measureCalc:sport:'distance'}}</span>
                            <span>{{'distance' | measureUnit:sport | translate}}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</section>

<section flex="auto"></section>

<section class="summary-bar" flex="none" layout="row" layout-align="end center" ng-if="$ctrl.data.hasSummary()">
    <div flex="none" class="md-body-1 summary-status {{$ctrl.data.summaryStatus()}}">
        {{$ctrl.data.summaryPercent() |number:0}}%</div>
</section>