@import "../../../sass/color";

notification-list {
  md-list {
    background-color: $grey-200;
  }
  md-list-item.read {
    background-color: $grey-200;
  }

  a {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

}