@import "../../../sass/color";

notification-list {
  md-list {
    background-color: $grey-300;
  }

  md-list-item.read {
    background-color: $grey-300;
    a {
      color: rgba(0,0,0,0.34);
      text-decoration: none;
    }
    p {
      color: rgba(0,0,0,0.34) !important;
    }
  }

  a {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

}