<application-frame>
    <div ng-if="!$ctrl.isScreenSmall" class="users">
        <div class="filters">
            <div class="title">
                Все ({{$ctrl.rows.length}})
                <div class="controls">
                    <md-input-container style="width: {{$ctrl.showSearch? '300px' : '0'}};" class="animated"> 
                        <input ng-model="$ctrl.search" ng-if="$ctrl.showSearch" auto-focus ng-blur="!$ctrl.search && ($ctrl.showSearch = false)"/> 
                    </md-input-container>
                    <md-button class="md-icon-button" ng-click="$ctrl.showSearch = !$ctrl.showSearch" style="vertical-align: top;"> 
                        <md-icon class="material-icons">search</md-icon> 
                    </md-button>
                </div>
            </div>
        </div>
        
        <div class="selected-items" ng-if="$ctrl.checked.length">
            {{$ctrl.checked.length}} itemsSelected
            <div class="controls">
                <md-button class="md-primary md-icon-button" ng-if="$ctrl.tariffsAvailable" ng-click="$ctrl.editTariffs()"> 
                    <md-tooltip md-direction="bottom">Tariffs</md-tooltip>
                    <md-icon class="material-icons">share</md-icon> 
                </md-button>
                <md-button class="md-primary md-icon-button" ng-click="$ctrl.remove()"> 
                    <md-tooltip md-direction="bottom">Remove</md-tooltip>
                    <md-icon class="material-icons">delete</md-icon> 
                </md-button>
            </div>
        </div>

        <md-table-container flex>
            <table md-table md-row-select="$ctrl.options.rowSelection" multiple ng-model="$ctrl.selected">
                <thead md-head md-order="$ctrl.orderBy">
                    <tr md-row>
                        <th md-column> <md-checkbox ng-model="$ctrl.allChecked"></md-checkbox> </th>
                        <th md-column md-order-by="sort.username"><span>Cпортсмен</span></th>
                        <th md-column md-order-by="sort.club"><span>Клуб</span></th>
                        <th md-column md-order-by="sort.tariff"><span>Тариф</span></th>
                        <th md-column md-order-by="sort.city"><span>Город</span></th>
                        <th md-column md-order-by="sort.ageGroup"><span>Возрастная группа</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        md-select="split"
                        ng-repeat="member in $ctrl.rows = ($ctrl.management.members | filter:$ctrl.search | filter:$ctrl.isVisible() | orderBy:$ctrl.orderBy)">
                        <td md-cell> <md-checkbox ng-model="member.checked"></md-checkbox> </td>
                        <td md-cell ui-sref="user({uri: member.userProfile.public.uri})">
                            <userpic profile="member.userProfile" is-premium="$ctrl.isPremium(member)"></userpic>
                            <span>{{member.userProfile | username}}</span>
                        </td>
                        <td md-cell>-</td>
                        <td md-cell>
                            <span ng-repeat="tariff in member.userProfile.billing">
                                {{tariff.tariffCode}} 
                                <span ng-if="tariff.clubProfile.groupId==$ctrl.club.groupId" class="badge">byCoach </span>
                            </span>
                            <span ng-if="!member.userProfile.billing || !member.userProfile.billing.length">-</span>
                        </td>
                        <td md-cell>{{member.userProfile.city}}</td>
                        <td md-cell>{{member.userProfile | ageGroup}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
    
    <div ng-if="$ctrl.isScreenSmall" class="users" style="height:100%">
        <md-list>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons">search</md-icon>
                <md-input-container flex> 
                    <input ng-model="$ctrl.search"/> 
                </md-input-container>
            </md-list-item>
            <md-list-item layout="row" layout-align="center center">
                <md-icon class="material-icons" style="margin-left:0">tune</md-icon>
                <span flex>Все ({{$ctrl.rows.length}})</span>
            </md-list-item>
            <md-list-item ng-repeat="member in $ctrl.rows = ($ctrl.management.members | filter:$ctrl.search)" layout="row" layout-align="center center">
                <userpic profile="member.userProfile" is-premium="$ctrl.isPremium(member)"></userpic>
                <span ui-sref="user({uri: member.userProfile.public.uri})" flex>{{ member.userProfile | username }}</span>
                <md-icon class="material-icons md-secondary" ng-click="$ctrl.showActions(member)">more_vert</md-icon>
            </md-list-item>
        </md-list>
    </div>
</application-frame>

