.athletes {
    top: 65px;
    width: 1200px;
    left: calc(50% - 600px);
    position: absolute;
    z-index: 10;
    height: calc(100% - 75px);
    
    @media (max-width: 959px) {
        left: 0 !important;
        width: 100% !important;
        overflow-y: auto;
        background: white;
    }

    md-card {
        margin: 0px;
        height: 100%;
    }

    .md-errors-spacer {
        display: none;
    }

    table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
        padding: 0 28px 0 0 !important;
    }

    &-actions {
        padding: 16px 26px;
    }

    &-button {
        vertical-align: top;
    }

    &-toolbar {
        background-color: #cfd8dc !important; 
        color: #607d8b; 
        padding: 16px 26px;
    }

    &-username {
        text-transform: none; 
        font-size: 13px; 
        margin: 0;
    }

    &-invite-button {
        vertical-align: top;
    }

    &-row-tariffs {
        white-space: nowrap;
    }

    &-tune-icon {
        margin-left: 0;
    }
}