<md-bottom-sheet class="md-list">
  <md-list ng-cloak>
    
    <md-list-item>
      <md-button ng-click="$ctrl.editTariffs()" class="md-list-item-content">
        <md-icon class="material-icons">share</md-icon>
        <span class="md-inline-list-icon-label" translate>athletes.bottomSheet.tariffs</span>
      </md-button>
    </md-list-item>
    
    <md-list-item>
      <md-button ng-click="$ctrl.remove()" class="md-list-item-content">
        <md-icon class="material-icons">delete</md-icon>
        <span class="md-inline-list-icon-label" translate>athletes.bottomSheet.remove</span>
      </md-button>
    </md-list-item>
    
  </md-list>
</md-bottom-sheet>