@import "../../../sass/color";
$details_width: 470px;
$dialog_width: 95vw;
$dialog_height: 95vh;

md-dialog#activity{
  background: black;

  @media (min-width: 960px) {
      max-height: $dialog_height;
      max-width: $dialog_width;
  }

}
md-dialog#post-activity{

  @media (min-width: 960px) {
    max-height: 65vh;
    min-height: 600px;
    max-width: $dialog_width;
  }

}

calendar-item-activity {

  height: 100vh;
  overflow: hidden;
  background-color: $grey-50;

  .md-toolbar-tools md-menu:first-child {
    margin-left: -8px;
  }

  md-toolbar {
    &.complete {
      // Задание выполнено без отклонений
      color: white;
      @extend .bg-teal-800;
      .bg-circle-32 {
        @extend .bg-teal-900;
      }
      // Задание выполнено с отклонениями
      &-warn {
        color: white;
        @extend .bg-orange-800;
        .bg-circle-32 {
          @extend .bg-orange-900;
        }
      }
      // Задание выполнено с существенными отклонениями
      &-error {
        color: white;
        @extend .bg-red-800;
        .bg-circle-32 {
          @extend .bg-red-800;
        }
      }
    }
    // задание пропущено
    &.dismiss {
      @extend .bg-red-800;
      color: white;
      .bg-circle-32 {
        @extend .bg-red-900;
      }
    }
    // без плана
    &.not-specified {
      @extend .bg-blue-grey-800;
      color: white;
      .bg-circle-32 {
        @extend .bg-blue-grey-900;
      }
    }
    // плановое задание
    &.coming {
      @extend .bg-grey-600;
      color: white;
      .bg-circle-32 {
        @extend .bg-grey-700;
      }
    }

  }

  md-tabs.md-primary.coming > md-tabs-wrapper {
    @extend .bg-grey-600;
  }
  md-tabs.md-primary.not-specified > md-tabs-wrapper {
    @extend .bg-blue-grey-800;
  }
  md-tabs.md-primary.complete > md-tabs-wrapper {
    @extend .bg-teal-800;
  }
  md-tabs.md-primary.complete-warn > md-tabs-wrapper {
    @extend .bg-orange-800;
  }
  md-tabs.md-primary.complete-error > md-tabs-wrapper, md-tabs.md-primary.dismiss > md-tabs-wrapper {
    @extend .bg-red-800;
  }

  section.activity-summary {
    padding: 16px;
    color: white;

    div.summary-percent {
      text-align: center;
      //line-height: 26px;
      width: 56px;
      //height: 26px;
      border-radius: 12px;
    }
    div.summary-info, div.summary-value {
      margin-left: 16px;
    }

  }

  section.activity-summary.coming {
    color: black;
    @extend .bg-grey-500;
    .bg-circle-56, div.summary-percent {
      @extend .bg-grey-700;
    }
  }
  section.activity-summary.not-specified {
    @extend .bg-blue-grey-500;
    .bg-circle-56, div.summary-percent {
      @extend .bg-blue-grey-700;
    }
  }
  section.activity-summary.complete {
    @extend .bg-teal-500;
    .bg-circle-56, div.summary-percent {
      @extend .bg-teal-700;
    }
  }
  section.activity-summary.complete-warn{
    @extend .bg-orange-500;
    .bg-circle-56, div.summary-percent {
      @extend .bg-orange-700;
    }
  }
  section.activity-summary.complete-error, section.activity-summary.dismiss {
    @extend .bg-red-500;
    .bg-circle-56, div.summary-percent {
      @extend .bg-red-700;
    }
  }

  form md-list:first-child {
    //background-color: $grey-200;
    //padding-bottom: 30px;
  }

  md-fab-speed-dial.view {
    position: absolute;
    right: 16px;
    bottom: initial;
    top: 90px;
  }

  md-fab-speed-dial {
    position: absolute;
    right: 16px;
    bottom: initial;
    top: 120px;
  }

  section.overview {
    background: white;
    min-width: calc(95vw - 470px);
  }

  section.details {

    min-width: 100%;
    min-height: 100%;

    @media (min-width: 960px) {
      max-width: $details_width;
      min-width: $details_width;
      min-height: 640px;

      md-toolbar {
        min-height: 16px;
      }
    }

    &.single {
      @media (min-width: 960px) {
        max-width: $details_width;
        min-width: 360px;
        min-height: 640px;

        md-toolbar {
          min-height: 16px;
        }
      }
    }

    background: $grey-100;

  }

  section.overview-content  {

    header {
      //background-color: $grey-200;
      padding: 0px 16px;

      md-icon:first-child {
        margin-right: 20px;
      }

      .md-button.md-icon-button:last-child {
        margin-right: -8px;
      }

    }

  }

  activity-route.map {
    background-color: grey;
  }

  .angular-leaflet-map {
    height: 100%;
  }

  div.chart {
    //background-color: grey;
  }

  measure-split-table {
    //background-color: grey;
  }


  activity-route, div.chart, measure-split-table {

    transition: all 0.3s ease-in-out;

    &.ng-enter {
      max-height: 0px;
      opacity: 0;
    }
    &.ng-enter.ng-enter-active {
      max-height: 900px;
      opacity: 1;
    }
    &.ng-leave {
      max-height: 900px;
      opacity: 1;
    }
    &.ng-leave.ng-leave-active {
      max-height: 0px;
      opacity: 0;
    }
  }


  .md-button.md-nav-theme.md-accent {
    color: white;
  }

  md-nav-bar

  md-nav-bar.md-nav-theme .md-button._md-nav-button.md-unselected {
    color: rgba(255,255,255,0.7);
  }
  md-nav-ink-bar {
    top: 46px;
  }

  md-toolbar.panel {
    background: white;
    color: black;
  }

}