<activity-header flex="none" layout="column" style="background-color: indianred"
                 class="md-whiteframe-12dp"
                 ng-class="{'single': $ctrl.mode === 'post' || !$ctrl.activity.hasDetails}">

</activity-header>

<activity-interval-overview ng-if="$ctrl.showIntervalOverview"
                            flex="none" layout="column"
                            interval="$ctrl.intervalOverview"
                            on-back="$ctrl.showIntervalOverview = false">
</activity-interval-overview>


<activity-metrics-details flex="auto" layout="column" hide show-gt-sm layout="column"
                          has-details="!$ctrl.activity.details.isEmpty"
                          ng-if="$ctrl.mode !== 'post' && ($ctrl.activity.hasActualData)">

</activity-metrics-details>
<md-button flex="none" class="md-fab md-mini md-accent" aria-label="Use Android" hide show-gt-sm
           ng-if="$ctrl.popup && $ctrl.mode !== 'post' && ($ctrl.activity.hasActualData)"
           ng-click="$ctrl.onCancel()">
    <md-icon class="material-icons">close</md-icon>
</md-button>

<calendar-item-athlete-selector ng-if="$ctrl.mode === 'post' && $ctrl.showSelectAthletes"
                                ng-cloak
                                coach="$ctrl.currentUser"
                                list="$ctrl.forAthletes"
                                mode="$ctrl.recalculateMode"
                                on-select="$ctrl.onSelectAthletes(list,mode)">
</calendar-item-athlete-selector>

<calendar-item-template-selector ng-if="$ctrl.showSelectTemplate"
                                 templates-by-owner="$ctrl.templatesByOwner"
                                 ng-cloack class="calendar-item-template-selector"
                                 on-back="$ctrl.showSelectTemplate = false"
                                 on-select="$ctrl.onSelectTemplate(template)">
</calendar-item-template-selector>
