<activity-header ng-show="!$ctrl.showSelectTemplate && !$ctrl.showSelectAthletes"
                 flex="auto" flex-gt-sm="none" layout="column" style="background-color: indianred"
                 class="md-whiteframe-12dp"
                 ng-class="{'single': $ctrl.mode === 'post' || !$ctrl.activity.hasDetails}">
</activity-header>

<activity-interval-overview ng-if="$ctrl.showIntervalOverview"
                            flex="none" layout="column"
                            interval="$ctrl.intervalOverview"
                            on-back="$ctrl.showIntervalOverview = false">
</activity-interval-overview>


<activity-metrics-details ng-if="$ctrl.$mdMedia('gt-sm') && !$ctrl.activity.view.isPost && ($ctrl.activity.hasActualData) && !$ctrl.isIonic"
                          flex="auto" layout="column" hide show-gt-sm layout="column"
                          has-details="!$ctrl.activity.details.isEmpty"
                          hide-smooth-on-chart="$ctrl.layout.hideSmoothOnChart"
                          has-intervals="">

</activity-metrics-details>
<md-button flex="none" class="md-fab md-mini md-accent md-hue-2" aria-label="close" hide show-gt-sm
           ng-if="false && $ctrl.activity.view.isPopup && !$ctrl.activity.view.isPost && ($ctrl.activity.hasActualData)"
           ng-click="$ctrl.onCancel()">
    <md-icon class="material-icons">close</md-icon>
</md-button>

<calendar-item-athlete-selector ng-if="$ctrl.activity.view.isPost && $ctrl.showSelectAthletes"
                                ng-cloak
                                coach="$ctrl.currentUser"
                                list="$ctrl.activity.athletes.list"
                                mode="$ctrl.recalculateMode"
                                on-select="$ctrl.onSelectAthletes(list,mode)">
</calendar-item-athlete-selector>

<calendar-item-template-selector ng-if="$ctrl.showSelectTemplate"
                                 templates-by-owner="$ctrl.templatesByOwner"
                                 ng-cloack class="calendar-item-template-selector"
                                 on-back="$ctrl.showSelectTemplate = false"
                                 on-select="$ctrl.onSelectTemplate(template)">
</calendar-item-template-selector>
