<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.onBack()">
            <md-tooltip md-direction="left">{{::'activity.settings.close' | translate}}</md-tooltip>
            <md-icon class="material-icons md-active" aria-label="Close dialog">arrow_back</md-icon>
        </md-button>
        <h2 translate="trainingPlans.assignment.form.title"></h2>
        <span flex></span>
    </div>
</md-toolbar>

<md-dialog-content flex="auto" layout="column">
    <form flex="auto" layout="column" name="$ctrl.assignmentForm">
        <md-list class="md-dense">
            <!-- Режим присвоения плана -->
            <md-list-item>
                <md-input-container class="md-block no-message" md-no-float layout="row">
                    <label translate="trainingPlans.assignment.form.applyMode.label"></label>
                    <md-select flex name="type" required
                               placeholder="{{trainingPlans.assignment.form.applyMode.placeholder}}"
                               ng-model="$ctrl.applyMode"
                               ng-change="$ctrl.changeParam()">
                        <md-option ng-repeat="type in $ctrl.applyModeTypes track by $index"
                                   value="{{type}}">
                            {{'trainingPlans.assignment.form.applyMode.' + type | translate}}
                        </md-option>
                    </md-select>
                    <div class="hint" translate="trainingPlans.assignment.form.applyMode.hint"></div>
                    <div ng-messages="$ctrl.assignmentForm.applyMode.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                    </div>
                </md-input-container>
            </md-list-item>
            <!-- Режим присвоения дат -->
            <md-list-item>
                <md-input-container class="md-block no-message" md-no-float layout="row">
                    <label translate="trainingPlans.assignment.form.applyDate.label"></label>
                    <md-select flex name="type" required
                               placeholder="{{trainingPlans.assignment.form.applyDate.placeholder}}"
                               ng-model="$ctrl.applyDate"
                               ng-change="$ctrl.changeParam()">
                        <md-option ng-repeat="type in $ctrl.applyDateTypes track by $index"
                                   value="{{type}}">
                            {{'trainingPlans.assignment.form.applyDate.' + type | translate}}
                        </md-option>
                    </md-select>
                    <div class="hint" translate="trainingPlans.assignment.form.applyDate.hint"></div>
                    <div ng-messages="$ctrl.assignmentForm.applyDate.$error" role="alert">
                        <div ng-message-exp="['required']" translate="form.required"></div>
                    </div>
                </md-input-container>
            </md-list-item>
            <!-- Дата с -->
            <md-list-item layout="row" layout-align="start center" ng-if="$ctrl.applyDate === 'F'">
                <md-input-container flex="auto" class="no-message">
                    <label translate="trainingPlans.assignment.form.applyFromDate.label"></label>
                    <md-datepicker flex="auto"
                                   ng-model="$ctrl.applyFromDate"
                                   name="applyFromDate" md-hide-icons="calendar">
                    </md-datepicker>
                </md-input-container>
            </md-list-item>
            <!-- Дата по -->
            <md-list-item layout="row" layout-align="start center" ng-if="$ctrl.applyDate === 'T'">
                <md-input-container flex="auto" class="no-message">
                    <label translate="trainingPlans.assignment.form.applyToDate.label"></label>
                    <md-datepicker flex="auto"
                                   ng-model="$ctrl.applyToDate"
                                   name="applyToDate" md-hide-icons="calendar">
                    </md-datepicker>
                </md-input-container>
            </md-list-item>
        </md-list>
    </form>
</md-dialog-content>
<md-dialog-actions flex="none" layout="row" style="background: white">
    <span flex></span>
    <md-button ng-if="!$ctrl.isViewMode"
               ng-class="{'md-warn': !$ctrl.assignmentForm.$valid}"
               ng-disabled="!$ctrl.assignmentForm.$dirty"
               ng-click="($ctrl.assignmentForm.$valid) ? $ctrl.save() : null">
        <span translate="trainingPlans.assignment.form.save"></span>
    </md-button>
</md-dialog-actions>