md-dialog#periodization-mesocycle-dialog{

  @media (min-width: 960px) {
    min-width: 640px;
    max-width: 640px;
    min-height: 90vh;
    height: 100%;
  }

}

.periodization-mesocycle-dialog {

  .color-avatar {
    border-radius: 12px;
  }

}