<st-application-frame class="st-application-frame calendar training-plan-builder"
                      ng-class="{'left-bar-show': $ctrl.isLargeScreen && $ctrl.panelAuthCheck}"
                      template="application"
                      navigation-bar="false"
                      left-bar="$ctrl.isLargeScreen && $ctrl.panelAuthCheck">

    <st-application-frame-title>
        <span class="md-title" translate="trainingPlans.builder.fullTitle"></span>
        <!--<span class="md-title" hide show-gt-md>{{$ctrl.calendar.currentWeek.toolbarDate}}</span>-->
        <md-icon class="material-icons"  hide show-gt-sm aria-label="Next">keyboard_arrow_right</md-icon>
        <!--<md-truncate class="button" flex hide show-gt-sm>{{$ctrl.currentPlan.name}}</md-truncate>-->
        <span class="button" hide show-gt-sm ng-click="$ctrl.view($event, $ctrl.currentPlan)">{{$ctrl.currentPlan.name}}</span>
        <md-menu ng-if="$ctrl.trainingPlans.list.length > 0"  hide show-gt-sm>
            <md-button class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
                <md-icon class="material-icons">arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="$ctrl.$state.go('methodology', {state: 'trainingPlans'})">
                        <md-icon class="material-icons">'list'</md-icon>
                        <span translate="trainingPlans.actions.list"></span>
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item ng-repeat="plan in $ctrl.trainingPlans.list track by plan.id">
                    <md-button ng-click="$ctrl.setTrainingPlan(plan.id)"
                               ng-disable="plan.id === $ctrl.currentPlan.id">
                        <md-icon class="material-icons">{{plan.isPublic ? 'monetization_on' : ''}}</md-icon>
                        <span>{{plan.name}}</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </st-application-frame-title>

    <st-application-frame-toolbar layout="row">
        <section class="desktop" hide show-gt-sm layout="row">
            <!--<md-button  ng-click="$ctrl.calendar.toPrevWeek()" class="md-icon-button" aria-label="Settings" style="margin: 0px">
                <md-icon class="material-icons" aria-label="Back">navigate_before</md-icon>
            </md-button>
            <md-button ng-click="$ctrl.calendar.toNextWeek()" class="md-icon-button" aria-label="Settings" style="margin: 0px">
                <md-icon class="material-icons" aria-label="Back">navigate_next</md-icon>
            </md-button>
            <md-button flex="none" ng-click="$ctrl.calendar.toCurrentWeek()" class="md-icon-button" aria-label="Settings">
                <md-tooltip ng-bind="'calendar.action.today' | translate"></md-tooltip>
                <md-icon class="material-icons" aria-label="Back" ng-bind="'today'"></md-icon>
            </md-button>
            <md-datepicker ng-model="$ctrl.myDate" style="display: inline-block; width: 0; height: 0"
                           ng-change="$ctrl.calendar.toDate($ctrl.myDate)"
                           class="picker"
                           md-is-open="ctrl.isOpenDatePicker">
            </md-datepicker>
            <md-button flex="none" ng-click="ctrl.isOpenDatePicker = true" class="md-icon-button" aria-label="Settings">
                <md-tooltip ng-bind="'calendar.action.selectDate' | translate"></md-tooltip>
                <md-icon class="material-icons" aria-label="Back">date_range</md-icon>
            </md-button> -->
            <section flex="none" layout="row" layout-align="start center"
                     class="calendar-operations" hide show-gt-md>
                <md-button class="md-secondary md-icon-button" ng-click="$ctrl.assignment($event, $ctrl.currentPlan)">
                    <md-tooltip ng-bind-template="{{'trainingPlans.actions.assignment' | translate}}"></md-tooltip>
                    <md-icon class="material-icons" md-menu-align-target>group_add</md-icon>
                </md-button>
                <span class="md-title md-light md-inactive" style="margin: 0 8px;">|</span>
                <md-button flex="none" ng-click="$ctrl.copyItems()" class="md-icon-button" aria-label="Copy"
                           ng-disabled="$ctrl.selectedItems.length === 0">
                    <md-tooltip ng-bind-template="{{'calendar.action.copy' | translate}} {{'M-C' | keyboardShortcut}}"></md-tooltip>
                    <md-icon class="material-icons" aria-label="Copy">content_copy</md-icon>
                    <span class="badge superscript" md-colors="{background: 'accent-hue-2'}"
                          ng-if="$ctrl.copiedItems.length > 0">{{$ctrl.copiedItems.length}}</span>
                </md-button>
                <md-button flex="none" ng-click="$ctrl.pasteItems($ctrl.calendar.firstDaySelected)"
                           class="md-icon-button" aria-label="Paste"
                           ng-disabled="$ctrl.copiedItems.length === 0 ||
                       ($ctrl.copiedItems.length > 0 && $ctrl.calendar.selectedDaysCount !== 1)">
                    <md-tooltip ng-bind-template="{{'calendar.action.paste' | translate}} {{'M-V' | keyboardShortcut}}"></md-tooltip>
                    <md-icon class="material-icons" aria-label="Paste">content_paste</md-icon>
                </md-button>
                <md-button flex="none" ng-click="$ctrl.deleteItems()" class="md-icon-button" aria-label="Delete"
                           ng-disabled="$ctrl.selectedItems.length === 0">
                    <md-tooltip ng-bind="'calendar.action.delete' | translate"></md-tooltip>
                    <md-icon class="material-icons" aria-label="Delete">delete</md-icon>
                </md-button>
                <md-button ng-click="$ctrl.isCompactView = !$ctrl.isCompactView" class="md-icon-button" aria-label="Settings">
                    <md-tooltip >{{$ctrl.isCompactView ? 'calendar.action.compact' : 'calendar.action.detail' | translate}}</md-tooltip>
                    <md-icon class="material-icons" aria-label="View Size">{{$ctrl.isCompactView ? 'view_compact' : 'view_comfy'}}</md-icon>
                </md-button>
            </section>
            </span>
        </section>
        <section class="mobile" hide show-xs show-sm>
            <md-menu ng-if="$ctrl.currentUser.public.isCoach && $ctrl.athletes.length > 0">
                <md-button class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
                    <md-icon class="material-icons">person_add</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="athlete in $ctrl.athletes track by athlete.userId">
                        <md-button ng-click="$ctrl.setOwner(athlete)"
                                   ng-disable="athlete.userId === $ctrl.owner.userId">
                            <userpic profile="athlete"></userpic>
                            <span>{{athlete | userName}}</span>
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.setOwner($ctrl.currentUser)"
                                   ng-disable="$ctrl.currentUser.userId === $ctrl.owner.userId">
                            <userpic profile="$ctrl.currentUser"></userpic>
                            <span>{{$ctrl.currentUser | userName}}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </section>
    </st-application-frame-toolbar>

    <st-application-frame-left-bar>
        <md-content class="calendar__left-bar" layout-fill>
            <md-subheader>
                <span translate="calendar.templates"></span>
            </md-subheader>
            <st-template-list
                    current-user="$ctrl.currentUser"
                    on-drop="$ctrl.onDropTemplate(template,date)"></st-template-list>
        </md-content>
    </st-application-frame-left-bar>

    <st-application-frame-content>

        <section class="calendar__content loading" ng-if="!$ctrl.currentPlan" layout-fill layout="column" layout-align="center center">
            <md-progress-circular flex="none" class="md-accent" md-diameter="20"></md-progress-circular>
            <p flex="none" class="md-body-1 md-dark" translate="trainingPlans.loading"></p>
        </section>

        <section class="calendar__content md-whiteframe-4dp" ng-if="$ctrl.currentPlan">
            <!-- weekdays panel: start -->
            <md-toolbar md-theme="grey" class="calendar__days-header md-default" hide show-gt-sm>
                <div ng-repeat="day in $ctrl.weekdayNames track by $index" class="day md-caption md-dark font-medium">{{::day}}</div>
                <div hide show-gt-md class="total md-caption md-dark font-medium">Итоги</div>
            </md-toolbar>
            <!-- grid: start -->
            <section class="calendar__grid"
                     scroll-container
                     on-scroll-hit-top=""
                     on-scroll-hit-bottom="$ctrl.calendar.down(1)"
                     scroll-keep-position="{{'#hotfix' + $ctrl.calendar.currentWeek.anchor}}">
                <!-- grid-week: start -->
                <div ng-repeat="week in $ctrl.calendar.weeks track by week.anchor"
                     id="hotfix{{::week.anchor}}"
                     ng-mouseover="$ctrl.calendar.setCurrentWeek(week)"
                     class="calendar-week"
                     ng-class="{'calendar__week--current': week.sid == $ctrl.calendar.currentWeek.sid, 'calendar__week--loading': week.loading}">
                    <calendar-day
                            ng-repeat="day in week.subItem track by day.key"
                            ng-mouseover="accentDay=true" ng-mouseleave="accentDay=false"
                            ng-init="accent=false"
                            ng-class="{select: day.selected}"
                            selected="day.selected"
                            accent="accentDay"
                            data="day.data"
                            owner="$ctrl.owner"
                            current-user="$ctrl.currentUser"
                            copied-items-length="$ctrl.copiedItems.length"
                            compact-view="$ctrl.isCompactView"
                            calendar-range-start="0"
                            calendar-range-end="54"
                            training-plan-mode="true"
                            plan-id="$ctrl.currentPlan.id"
                            dynamic-dates="$ctrl.dynamicDates"
                            day-sid="$index"
                            week-sid="week.sid"
                            on-copy="$ctrl.copyItems()"
                            on-paste="$ctrl.pasteItems(date)"
                            on-delete="$ctrl.deleteItems(items)"
                            on-post-plan=""
                            on-update="$ctrl.update(formMode, item)"
                            on-drop="$ctrl.dropItems(formMode, item)"
                            on-select="day.selected = !day.selected; $ctrl.selectItems()">
                    </calendar-day>

                    <calendar-total
                            hide show-gt-md
                            layout="column"
                            class="calendar-total  md-caption summary"
                            ng-mouseover="accentTotal=true" ng-mouseleave="accentTotal=false"
                            ng-init="accent=false"
                            ng-class="{select: day.selected}"
                            selected="week.selected"
                            accent="accentTotal"
                            update="week.changes"
                            week="week"
                            owner="$ctrl.owner"
                            training-plan-mode="true"
                            plan-id="$ctrl.currentPlan.id"
                            dynamic-dates="$ctrl.dynamicDates"
                            compact-view="$ctrl.isCompactView"
                            copied-items-length="$ctrl.copiedItems.length"
                            on-select="$ctrl.selectItems()"
                            on-copy="$ctrl.copyItems(items)"
                            on-paste="$ctrl.pasteItems(date)"
                            on-delete="$ctrl.deleteItems(items)">
                        <div class="md-body-1">Неделя {{$index}}</div>
                    </calendar-total>

                </div>
                <!-- grid-week: end -->

                <div class="scroll__bottom-pad" style="margin-bottom:100%"></div>

            </section>
            <!-- grid-weekdays: end -->

        </section>
        <md-fab-speed-dial  ng-init="isOpen = false" md-open="isOpen" md-direction="left" hide-gt-sm
                            class="calendar__fab md-scale">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-accent md-hue-2">
                    <md-icon class="material-icons">add</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button ng-repeat="type in ['activity', 'measurement', 'record', 'competition'] track by $index"
                           aria-label="Events" class="md-fab md-raised md-mini"
                           ng-click="$ctrl.itemDialog($event, type)">
                    <md-icon class="material-icons md-inactive" aria-label="{{type}}"
                             md-svg-src="/assets/icon/{{::type}}.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </st-application-frame-content>

</st-application-frame>