<md-list class="md-dense section">
    <form name="$ctrl.form">
        <md-list-item layout="row" layout-wrap>
            <md-input-container flex="45" flex-xs="100" class="no-message">
                <label translate="user.settings.personalInfo.main.firstName"></label>
                <input type="text" name="firstName" ng-model="$ctrl.datamodel.firstName" required autocomplete="off" autofocus ng-disabled="false" minlength="2" maxlength="100">
                <div ng-messages="$ctrl.form.firstName.$error" role="alert">
                    <div ng-message-exp="['required']" translate="form.required"></div>
                    <div ng-message-exp="['minlength', 'maxlength']" translate="form.rangeStr" translate-values="{min:2, max:100}"></div>
                </div>
            </md-input-container>
            <div flex="10" show hide-xs></div>
            <md-input-container flex="45" flex-xs="100" class="no-message">
                <label translate="user.settings.personalInfo.main.lastName"></label>
                <input type="text" name="lastName" ng-model="$ctrl.datamodel.lastName" autocomplete="off" ng-disabled="false" required minlength="2" maxlength="100">
                <div ng-messages="$ctrl.form.lastName.$error" role="alert">
                    <div ng-message-exp="['required']" translate="form.required"></div>
                    <div ng-message-exp="['minlength', 'maxlength']" translate="form.rangeStr" translate-values="{min:2, max:100}"></div>
                </div>
            </md-input-container>
        </md-list-item>
        <md-list-item layout="row" layout-wrap layout-align="start center">
            <md-input-container flex="45" flex-xs="100" class="no-message">
                <label translate="user.settings.personalInfo.main.uri"></label>
                <input type="text" name="uri" ng-model="$ctrl.datamodel.uri" required autocomplete="off" ng-disabled="false" minlength="2" maxlength="100">
                <div ng-messages="$ctrl.form.uri.$error" role="alert">
                    <div ng-message-exp="['required']" translate="form.required">
                    </div>
                    <div ng-message-exp="['minlength', 'maxlength']" translate="form.rangeStr" translate-values="{min:2, max:100}">
                    </div>
                </div>
            </md-input-container>
            <div flex="10"></div>
        </md-list-item>
        <md-list-item layout="row" layout-wrap>
            <md-autocomplete
                flex="45" flex-xs="100" class="no-message" flex
                md-input-name="country"
                md-input-minlength="2"
                md-input-maxlength="18"
                md-no-cache="$ctrl.noCache"
                md-selected-item="$ctrl.datamodel.country"
                md-search-text="$ctrl.countrySearchText"
                md-items="id in $ctrl.countrySearch($ctrl.countrySearchText)"
                md-item-text="$ctrl.getCountryName(id)"
                md-floating-label="{{ 'user.settings.personalInfo.main.country' | translate }}">
                <md-item-template>
                    <span md-highlight-text="$ctrl.countrySearchText">{{$ctrl.countriesList[$ctrl.displayService.getLocale()][id]}}</span>
                </md-item-template>
                <div ng-messages="$ctrl.form.country.$error" role="alert"
                     ng-if="$ctrl.form.country.$touched">
                </div>
            </md-autocomplete>
            <div flex="10"></div>
            <md-input-container flex="45" flex-xs="100" class="no-message">
                <label translate="user.settings.personalInfo.main.city"></label>
                <input type="text" name="city" ng-model="$ctrl.datamodel.city" autocomplete="off" ng-disabled="false" minlength="1" maxlength="100">
                <div ng-messages="$ctrl.form.city.$error" role="alert">
                    <div ng-message-exp="['minlength', 'maxlength']" translate="form.rangeStr" translate-values="{min:1, max:100}">
                    </div>
                </div>
            </md-input-container>
        </md-list-item>
        <md-list-item layout="row" layout-wrap layout-align="start center">
            <md-input-container flex="45" flex-xs="100" class="no-message">
                <label>{{ 'user.settings.personalInfo.main.birthday' | translate }} ({{ ::$ctrl.getDateFormat() }})</label>
                <md-datepicker ng-model="$ctrl.datamodel.dateOfBirth" md-hide-icons="calendar" name="birthday"></md-datepicker>
                <div ng-messages="$ctrl.form.birthday.$error">
                    <div ng-message="valid" translate="form.invalidDate"></div>
                </div>
            </md-input-container>
            <div flex="10"></div>
            <div flex="45" flex-xs="100" layout="row" layout-align="space-between center" style="margin-top: 8px;">
                <div flex="none" class="md-caption" translate="user.settings.personalInfo.sex"></div>
                <div flex="auto" style="margin-left: 20px">
                    <md-radio-group name="sex" class="md-primary" ng-model="$ctrl.datamodel.sex" layout="row" layout-align="end center">
                        <md-radio-button value="M"><span translate="user.settings.personalInfo.M"></span></md-radio-button>
                        <md-radio-button value="F"><span translate="user.settings.personalInfo.W"></span></md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </md-list-item>
        <md-list-item flex layout="row">
            <md-input-container flex class="md-block no-message">
                <label translate="user.settings.personalInfo.about"></label>
                <ng-quill-editor 
                    ng-model="$ctrl.datamodel.about"
                    placeholder="{{'record.descriptionPlaceholder' | translate}}"
                    modules="$ctrl.quillConfig.toolbarFull"
                    st-quill-post-image
                >
                </ng-quill-editor>
            </md-input-container>
        </md-list-item>
        <md-list-item layout="row" layout-wrap>
            <md-input-container flex="45" flex-xs="100" class="no-message">
                <label translate="user.settings.personalInfo.contacts.extEmail"></label>
                <input type="text" name="email" ng-model="$ctrl.datamodel.email" autocomplete="off">
            </md-input-container>
            <div flex="10" show hide-xs></div>
            <md-input-container flex="45" flex-xs="100" class="no-message">
                <label translate="user.settings.personalInfo.contacts.phone"></label>
                <input type="text" name="phone" ng-model="$ctrl.datamodel.phone" autocomplete="off">
            </md-input-container>
        </md-list-item>
    </form>
</md-list>

<div class="user-settings__fab">
    <md-button class="md-fab md-accent md-hue-2"
               ng-disabled="!$ctrl.form.$dirty" ng-class="{'md-warn': !$ctrl.form.$valid}" ng-click="$ctrl.submit()">
        <md-icon class="material-icons">save</md-icon>
    </md-button>
</div>