<md-list class="assignment-summary-non-structured md-dense slim-input">
    <md-list-item>
        <p class="md-caption" style="color: #455A64" translate="activity.assignment.title"></p>
        <p class="md-caption md-dark md-secondary" ng-class="{'md-inactive': !$ctrl.ftpMode}"
           style="text-align: right; margin-right: 8px">
            <span translate="activity.percentFTP"></span>
            <span translate="{{$ctrl.ftpMode ? 'activity.ftpMode.off ' : 'activity.ftpMode.on'}}"></span>
        </p>
        <md-switch class="md-secondary md-primary" ng-true-value="0" ng-false-value="1" ng-disabled="$ctrl.item.options.templateMode || $ctrl.item.options.trainingPlanMode"
                   ng-inital="ftp = $ctrl.ftpMode" ng-model="ftp" ng-change="$ctrl.ftpModeChange(ftp)" md-invert>
        </md-switch>
    </md-list-item>
    <md-list-item ng-if="!$ctrl.item.activity.header.sport">
        <p class="md-body-1" translate="activity.assignment.needSport"></p>
    </md-list-item>
    <md-list-item class="" ng-if="!($ctrl.item.structuredMode || $ctrl.item.activity.isStructured) && $ctrl.item.activity.header.sport">
        <md-table-container>
            <table md-table
                   md-row-select="$ctrl.options.rowSelection"
                   multiple="{{$ctrl.options.multiSelect}}"
                   ng-model="$ctrl.selected">
                <thead ng-if="!$ctrl.options.decapitate" md-head>
                <tr md-row>
                    <th md-column><span></span></th>
                    <th md-column hide><span translate="activity.measureUnitFull"></span></th>
                    <th md-column show style="min-width: 50px"><span translate="activity.measureUnitShort"></span></th>
                    <th md-column md-numeric style="min-width: 65px"><span translate="activity.plan"></span></th>
                    <th md-column md-numeric
                        ng-if="!($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)"
                        style="min-width: 50px">
                        <span translate="activity.actual"></span></th>
                    <th md-column md-numeric
                        ng-if="!($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)"
                        style="-min-width: 50px">
                        <span translate="activity.completeShort"></span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-if="$ctrl.showRow(measure.$key)"
                    ng-repeat="measure in $ctrl.plan | toArray | filter:search | orderBy:order track by measure.$key">
                    <td md-cell>
                        <md-icon md-svg-src="assets/icon/{{measure.$key}}.svg" class="md-dark"></md-icon>
                    </td>
                    <td md-cell show>
                        <span ng-if="$ctrl.isFTP() && $ctrl.isInterval(measure.$key)" translate="activity.percentFTP"></span>
                        <span ng-if="!($ctrl.isFTP() && $ctrl.isInterval(measure.$key))">{{measure.$key | measureUnit:$ctrl.sport | translate}}</span>
                    </td>

                    <td md-cell>
                        <md-input-container>
                            <input ng-if="$ctrl.isInterval(measure.$key)"
                                   measure-input
                                   ng-model="measure"
                                   name="plan_{{::measure.$key}}"
                                   measure="measure.$key"
                                   ng-attr-sport={{$ctrl.sport}}
                                   interval="true"
                                   ftp-mode="$ctrl.isFTP()"
                                   ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure.$key)"
                                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                            <input ng-if="!$ctrl.isInterval(measure.$key)" measure-input
                                   name="plan_{{::measure.$key}}"
                                   ng-model="measure.durationValue"
                                   change="$ctrl.change"
                                   measure="measure.$key"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure.$key)"
                                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                        </md-input-container>
                    </td>
                    <td md-cell ng-if="!$ctrl.isFTP() && !($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan) ">
                        <md-input-container>
                            <input ng-model="$ctrl.actual[measure.$key][$ctrl.valueType[measure.$key]]"
                                   name="actual_{{::measure.$key}}" measure-input
                                   measure="measure.$key"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure.$key)"
                                   ng-disabled="$ctrl.item.activity.hasActualData">
                        </md-input-container>
                    </td>
                    <td md-cell ng-if="$ctrl.isFTP() && !($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)">
                        <md-input-container>
                            <input ng-if="$ctrl.isInterval(measure.$key)" measure-input
                                   ng-model="$ctrl.actual[measure.$key]['intensityByFtp']"
                                   name="actual_{{::measure.$key}}"
                                   measure="measure.$key"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure.$key)"
                                   ng-disabled="$ctrl.item.activity.hasActualData">
                            <input ng-if="!$ctrl.isInterval(measure.$key)" measure-input
                                   ng-model="$ctrl.actual[measure.$key]['value']"
                                   name="actual_{{::measure.$key}}"
                                   measure="measure.$key"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure.$key)"
                                   ng-disabled="$ctrl.item.activity.hasActualData">
                        </md-input-container>
                    </td>
                    <td md-cell ng-if="!($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)">
                        {{$ctrl.percentComplete[measure.$key] | percent}}
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-list-item>
</md-list>
<div class="assignment-summary-non-structured md-caption error-block bg-grey-050"
     ng-messages="$ctrl.form.$error"
     ng-if="$ctrl.form.$dirty && !$ctrl.form.$valid">
    <div ng-message="required">{{'activity.error.required' | translate}}</div>
    <div ng-message="needDuration">{{'activity.error.needDuration' | translate}}</div>
    <div ng-message="singleDuration">{{'activity.error.singleDuration' | translate}}</div>
    <div ng-message="singleIntensity">{{'activity.error.singleIntensity' | translate}}</div>
    <div ng-message="needPermissionForFeature">{{'activity.error.needPermissionForFeature' | translate}}</div>
</div>
<md-list class="md-dense" ng-if="$ctrl.item.activity.header.sport">
    <md-subheader>
        <span translate="activity.trainersPrescription"></span>
    </md-subheader>
    <st-quill-html-viewer ng-if="$ctrl.item.activity.view.isView"
                          data="$ctrl.item.activity.intervals.PW.trainersPrescription">
    </st-quill-html-viewer>
    <ng-quill-editor ng-if="!$ctrl.item.activity.view.isView"
                     ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription"
                     on-content-changed="$ctrl.changeParam()"
                     placeholder="{{'activity.descriptionPlaceholder' | translate}}"
                     modules="$ctrl.quillConf.toolbar"
                     st-quill-post-image>
    </ng-quill-editor>
</md-list>
<!--<div flex="auto" class="assignment-summary-non-structured__description" ng-if="$ctrl.item.activity.sport">

</div><!--
<md-list class="assignment-summary-non-structured md-dense slim-input bg-grey-100 ">
    <md-list-item style="margin-top: 16px; margin-bottom: 40px" ng-if="$ctrl.item.activity.header.sport">
        <md-input-container flex class="md-block no-message">
            <md-icon class="material-icons md-dark">event_note</md-icon>
            <label translate="activity.trainersPrescription" class="icon"></label>
            <textarea ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription"
                      ng-change="$ctrl.changeParam()"
                      ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView"
                      class="icon" name="trainersPrescription"
                      rows="1"></textarea>
        </md-input-container>
    </md-list-item>
</md-list>-->
