<md-list class="assignment-summary-non-structured bg-grey-050 md-whiteframe-z1 md-padding">

    <div layout="row" layout-align="start top" style="padding: 8px 0">
        <span flex="none" class="md-caption" style="color: #455A64" translate="activity.assignment.title"></span>
        <span flex="auto" class="md-caption md-dark md-secondary"
              translate="activity.assignment.structured" style="text-align: right; margin-right: 8px"></span>
        <md-switch flex="none"
                   class="md-secondary md-primary" style="margin: 0;"
                   ng-model="$ctrl.item.structuredMode"
                   ng-change="$ctrl.changeStructuredMode()"
                   md-invert>
    </div>
    <div layout="row" layout-align="start strech" class="input-item-line">
        <md-icon flex="none" md-svg-src="assets/icon/{{$ctrl.plan.durationMeasure}}.svg"
                 class="md-dark"></md-icon>
        <md-input-container class="st-material md-block md-dense" style="margin: 0 8px 0 0;" flex="auto">
            <label translate="activity.assignment.durationMeasure.label"></label>
            <md-select flex name="durationType" class="icon" required
                       ng-model="$ctrl.plan.durationMeasure"
                       ng-change="$ctrl.changeParam()"
                       ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                <md-option ng-repeat="type in $ctrl.durationTypes"
                           value="{{type}}">{{type | translate}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="st-material md-block md-dense" style="margin: 0 0 0 8px;"
                            ng-repeat="type in $ctrl.durationTypes"
                            ng-if="$ctrl.plan.durationMeasure === type"
                            flex="auto">
            <label translate="activity.assignment.durationMeasure.value"></label>
            <input measure-input
                   name="plan_{{::type}}"
                   ng-model="$ctrl.plan[type].durationValue"
                   change="$ctrl.change"
                   measure="$ctrl.plan.durationMeasure"
                   ng-attr-sport={{$ctrl.sport}}
                   interval="false"
                   ftp-mode="$ctrl.isFTP()"
                   ftp="$ctrl.getFTP(type,$ctrl.sport)"
                   ng-change="$ctrl.changeValue(type)"
                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
            <!--<input ng-switch-when="movingDuration" measure-input
                   name="plan_movingDuration"
                   ng-model="$ctrl.plan.movingDuration.durationValue"
                   change="$ctrl.change"
                   measure="$ctrl.plan.durationMeasure"
                   ng-attr-sport={{$ctrl.sport}}
                   interval="false"
                   ftp-mode="$ctrl.isFTP()"
                   ftp="$ctrl.getFTP($ctrl.plan.durationMeasure,$ctrl.sport)"
                   ng-change="$ctrl.changeValue($ctrl.plan.durationMeasure)"
                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
            <input ng-switch-when="distance" measure-input
                   name="plan_distance"
                   ng-model="$ctrl.plan.distance.durationValue"
                   change="$ctrl.change"
                   measure="$ctrl.plan.durationMeasure"
                   ng-attr-sport={{$ctrl.sport}}
                   interval="false"
                   ftp-mode="$ctrl.isFTP()"
                   ftp="$ctrl.getFTP($ctrl.plan.durationMeasure,$ctrl.sport)"
                   ng-change="$ctrl.changeValue($ctrl.plan.durationMeasure)"
                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">-->
            <div class="hint md-dark" ng-if="false">Tell us what we should call you!</div>
            <div ng-messages="$ctrl.item.assignmentForm.plan_duration.$error">
                <div ng-message="needDuration" translate>activity.assignment.needDuration</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row" layout-align="start strech" class="input-item-line">
        <md-icon flex="none" md-svg-src="assets/icon/{{$ctrl.plan.intensityMeasure}}.svg"
                 class="md-dark"></md-icon>
        <md-input-container class="st-material md-block md-dense" style="margin: 0 8px 0 0;" flex="auto">
            <label translate="activity.assignment.intensityMeasure.label"></label>
            <md-select flex name="intensityType" class="icon" required
                       ng-model="$ctrl.plan.intensityMeasure"
                       ng-change="$ctrl.changeParam()"
                       ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                <md-option ng-repeat="type in $ctrl.intensityTypesBySport[$ctrl.sport]"
                           value="{{type}}">{{type | translate}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="st-material md-block md-dense" style="margin: 0 0 0 8px;"
                            ng-repeat="type in $ctrl.intensityTypesBySport[$ctrl.sport]"
                            ng-if="$ctrl.plan.intensityMeasure === type"
                            flex="auto">
            <label translate="activity.assignment.intensityMeasure.value"></label>
            <input measure-input
                   name="plan_{{::type}}"
                   ng-model="$ctrl.plan[type]"
                   change="$ctrl.change"
                   measure="$ctrl.plan.intensityMeasure"
                   ng-attr-sport={{$ctrl.sport}}
                   interval="true"
                   ftp-mode="$ctrl.isFTP()"
                   ftp="$ctrl.getFTP(type,$ctrl.sport)"
                   ng-change="$ctrl.changeValue(type)"
                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
            <!--<input ng-switch-when="movingDuration" measure-input
                   name="plan_movingDuration"
                   ng-model="$ctrl.plan.movingDuration.durationValue"
                   change="$ctrl.change"
                   measure="$ctrl.plan.durationMeasure"
                   ng-attr-sport={{$ctrl.sport}}
                   interval="false"
                   ftp-mode="$ctrl.isFTP()"
                   ftp="$ctrl.getFTP($ctrl.plan.durationMeasure,$ctrl.sport)"
                   ng-change="$ctrl.changeValue($ctrl.plan.durationMeasure)"
                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
            <input ng-switch-when="distance" measure-input
                   name="plan_distance"
                   ng-model="$ctrl.plan.distance.durationValue"
                   change="$ctrl.change"
                   measure="$ctrl.plan.durationMeasure"
                   ng-attr-sport={{$ctrl.sport}}
                   interval="false"
                   ftp-mode="$ctrl.isFTP()"
                   ftp="$ctrl.getFTP($ctrl.plan.durationMeasure,$ctrl.sport)"
                   ng-change="$ctrl.changeValue($ctrl.plan.durationMeasure)"
                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">-->
            <div class="hint md-dark" ng-if="false">Tell us what we should call you!</div>
            <div ng-messages="$ctrl.item.assignmentForm.plan_duration.$error">
                <div ng-message="needDuration" translate>activity.assignment.needDuration</div>
            </div>
        </md-input-container>
    </div>


    <!--<md-list-item>

    </md-list-item>

    <md-list-item ng-repeat="intensity in ['speed', 'heartRate', 'power']">
        <md-input-container class="st-material md-icon-left">
            <md-icon md-svg-src="assets/icon/{{intensity}}.svg" class="md-dark"></md-icon>&nbsp;
            <input measure-input
                   ng-model="$ctrl.plan[intensity]"
                   name="plan_{{::intensity}}"
                   measure="measure"
                   ng-attr-sport={{$ctrl.sport}}
                   interval="true"
                   ftp-mode="$ctrl.isFTP()"
                   ftp="$ctrl.getFTP(intensity,$ctrl.sport)"
                   ng-change="$ctrl.changeValue(intensity)"
                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">

        </md-input-container>
    </md-list-item>-->
</md-list>

<!--
<md-list class="assignment-summary-non-structured md-dense slim-input">
    <md-list-item>
        <p class="md-caption" style="color: #455A64" translate="activity.assignment.title"></p>
        <p class="md-caption md-dark md-secondary" ng-class="{'md-inactive': !$ctrl.ftpMode}"
           style="text-align: right; margin-right: 8px">
            <span translate="activity.percentFTP"></span>
            <span translate="{{$ctrl.ftpMode ? 'activity.ftpMode.off ' : 'activity.ftpMode.on'}}"></span>
        </p>
        <md-switch class="md-secondary md-primary"
                   ng-true-value="0" ng-false-value="1"
                   ng-disabled="$ctrl.item.options.templateMode || $ctrl.item.options.trainingPlanMode"
                   ng-inital="ftp = $ctrl.ftpMode" ng-model="ftp" ng-change="$ctrl.ftpModeChange(ftp)" md-invert>
        </md-switch>
    </md-list-item>
    <md-list-item ng-if="!$ctrl.item.activity.header.sport">
        <p class="md-body-1" translate="activity.assignment.needSport"></p>
    </md-list-item>
    <md-list-item class=""
                  ng-if="!($ctrl.item.structuredMode || $ctrl.item.activity.isStructured) && $ctrl.item.activity.header.sport">
        <md-table-container>
            <table md-table
                   md-row-select="$ctrl.options.rowSelection"
                   multiple="{{$ctrl.options.multiSelect}}"
                   ng-model="$ctrl.selected">
                <thead ng-if="!$ctrl.options.decapitate" md-head>
                <tr md-row>
                    <th md-column style="min-width: 115px"><span translate="activity.measureUnitShort"></span></th>
                    <th md-column md-numeric style="min-width: 65px"><span translate="activity.plan"></span></th>
                    <th md-column md-numeric
                        ng-if="!($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)"
                        style="min-width: 50px">
                        <span translate="activity.actual"></span></th>
                    <th md-column md-numeric
                        ng-if="!($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)"
                        style="-min-width: 50px">
                        <span translate="activity.completeShort"></span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-if="$ctrl.showRow(measure)"
                    ng-repeat="measure in $ctrl.measuresBySport[$ctrl.sport] track by $index">
                    <td md-cell>
                        <md-icon md-svg-src="assets/icon/{{measure}}.svg" class="md-dark"></md-icon>&nbsp;
                        <span ng-if="$ctrl.isFTP() && $ctrl.isInterval(measure)" translate="activity.percentFTP"></span>
                        <span ng-if="!($ctrl.isFTP() && $ctrl.isInterval(measure))">{{measure | measureUnit:$ctrl.sport | translate}}</span>
                    </td>
                    <td md-cell>
                        <md-input-container>
                            <input ng-if="$ctrl.isInterval(measure)"
                                   measure-input
                                   ng-model="$ctrl.plan[measure]"
                                   name="plan_{{::measure}}"
                                   measure="measure"
                                   ng-attr-sport={{$ctrl.sport}}
                                   interval="true"
                                   ftp-mode="$ctrl.isFTP()"
                                   ftp="$ctrl.getFTP(measure,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure)"
                                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                            <input ng-if="!$ctrl.isInterval(measure)" measure-input
                                   name="plan_{{::measure}}"
                                   ng-model="$ctrl.plan[measure].durationValue"
                                   change="$ctrl.change"
                                   measure="measure"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure)"
                                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                        </md-input-container>
                    </td>
                    <td md-cell
                        ng-if="!$ctrl.isFTP() && !($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan) ">
                        <md-input-container>
                            <input ng-model="$ctrl.actual[measure][$ctrl.valueType[measure]]"
                                   name="actual_{{::measure}}" measure-input
                                   measure="measure"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure, 'actual')"
                                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isOwner && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                        </md-input-container>
                    </td>
                    <td md-cell
                        ng-if="$ctrl.isFTP() && !($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)">
                        <md-input-container>
                            <input ng-if="$ctrl.isInterval(measure)" measure-input
                                   ng-model="$ctrl.actual[measure]['intensityByFtp']"
                                   name="actual_{{::measure}}"
                                   measure="measure"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure, 'actual')"
                                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isOwner && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                            <input ng-if="!$ctrl.isInterval(measure)" measure-input
                                   ng-model="$ctrl.actual[measure]['value']"
                                   name="actual_{{::measure}}"
                                   measure="measure"
                                   ng-attr-sport={{$ctrl.sport}} interval="false"
                                   ftp-mode="$ctrl.isFTP()" ftp="$ctrl.getFTP(measure.$key,$ctrl.sport)"
                                   ng-change="$ctrl.changeValue(measure, 'actual')"
                                   ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isOwner && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView">
                        </md-input-container>
                    </td>
                    <td md-cell ng-if="!($ctrl.item.options.templateMode || $ctrl.item.activity.view.isTrainingPlan)">
                        {{$ctrl.percentComplete[measure] | percent}}
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-list-item>
</md-list>-->
<div class="assignment-summary-non-structured md-caption error-block bg-grey-050"
     ng-messages="$ctrl.form.$error"
     ng-if="$ctrl.form.$dirty && !$ctrl.form.$valid">
    <div ng-message="required">{{'activity.error.required' | translate}}</div>
    <div ng-message="needDuration">{{'activity.error.needDuration' | translate}}</div>
    <div ng-message="singleDuration">{{'activity.error.singleDuration' | translate}}</div>
    <div ng-message="singleIntensity">{{'activity.error.singleIntensity' | translate}}</div>
    <div ng-message="needPermissionForFeature">{{'activity.error.needPermissionForFeature' | translate}}</div>
</div>
<section class="md-padding md-caption md-dark"
         ng-if="$ctrl.item.activity.intervals.W.actualDataIsCorrected"
         translate="activity.actualDataIsCorrected">
</section>
<md-list class="md-dense" ng-if="$ctrl.item.activity.header.sport">
    <md-subheader ng-if="false">
        <span translate="activity.trainersPrescription"></span>
    </md-subheader>
    <st-quill-html-viewer ng-if="$ctrl.item.activity.view.isView"
                          data="$ctrl.plan.trainersPrescription">
    </st-quill-html-viewer>
    <ng-quill-editor ng-if="!$ctrl.item.activity.view.isView"
                     ng-model="$ctrl.plan.trainersPrescription"
                     on-content-changed="$ctrl.changeParam()"
                     placeholder="{{'activity.descriptionPlaceholder' | translate}}"
                     modules="$ctrl.quillConf.toolbar"
                     st-quill-post-image>
    </ng-quill-editor>
</md-list>
<!--<div flex="auto" class="assignment-summary-non-structured__description" ng-if="$ctrl.item.activity.sport">

</div><!--
<md-list class="assignment-summary-non-structured md-dense slim-input bg-grey-100 ">
    <md-list-item style="margin-top: 16px; margin-bottom: 40px" ng-if="$ctrl.item.activity.header.sport">
        <md-input-container flex class="md-block no-message">
            <md-icon class="material-icons md-dark">event_note</md-icon>
            <label translate="activity.trainersPrescription" class="icon"></label>
            <textarea ng-model="$ctrl.item.activity.intervals.PW.trainersPrescription"
                      ng-change="$ctrl.changeParam()"
                      ng-disabled="(!$ctrl.item.activity.auth.isCreator && !$ctrl.item.activity.auth.isMyCoach) || $ctrl.item.activity.view.isView"
                      class="icon" name="trainersPrescription"
                      rows="1"></textarea>
        </md-input-container>
    </md-list-item>
</md-list>-->
