@import '../../../sass/animation';
@import '../../../sass/color';

.st-application-user-toolbar {

  .user-name {
    line-height: 24px;
    padding: 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-frame {
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    position: relative;
    right: -20px;
    margin-right: 0;
    height: 40px;
    border: none;
    overflow: visible;
    padding-right: 0;
    padding-left: 8px;
    &:focus {  outline: none;  }
    .md-menu .md-icon-button {  padding-bottom: 0;  }
    span {  padding-right: 24px;  }
  }
  user-menu {
    z-index: 20;
  }

}