<div ng-if="$ctrl.authService.isAuthenticated() && $ctrl.application.user.userId"
     layout="row" layout-align="end center" layout-fill
     class="st-application-user-toolbar">
    <md-button ng-if="!$ctrl.application.connectionStatus" flex="none">
        <md-icon calss="material-icons animated fadeIn">signal_wifi_off</md-icon>
    </md-button>
    <md-button ng-if="$ctrl.application.notification > 0 && $ctrl.connectionStatus" flex="none"
               class="md-icon-button badge1" aria-label="Notification"
               ng-click="toggleRight()" data-badge="{{$ctrl.application.notification}}" style="min-width:40px">
        <md-icon calss="material-icons">notification_active</md-icon>
    </md-button>
    <md-button ng-if="$ctrl.application.connectionStatus" class="md-icon-button" flex="none"
               ng-click="$ctrl.application.sideNav('notifications')"
               style="min-width:40px; overflow: visible;" aria-label="New Notification">
        <md-icon calss="material-icons">notifications</md-icon>
        <span class="badge superscript" ng-if="$ctrl.application.notifications > 0">{{$ctrl.application.notifications}}</span>
    </md-button>

    <md-button ng-if="$ctrl.application.connectionStatus" class="md-icon-button" flex="none"
               ng-click="$ctrl.application.sideNav('requests')"
               style="min-width:40px; overflow: visible;" aria-label="New Requests">
        <md-icon md-font-set="material-icons">group</md-icon>
        <span class="badge superscript" ng-if="$ctrl.application.requests > 0">{{$ctrl.application.requests}}</span>
    </md-button>
    <div hide show-gt-sm
         ng-if="$ctrl.message" ng-switch on="$ctrl.message"
         layout="row" layout-align="start center"
         class="user-frame" md-colors="{'background': $ctrl.warn ? 'warn-600' : 'primary-600'}"
         ng-click="$ctrl.action()"
         md-ink-ripple="#FF0000">
        <span ng-repeat="type in $ctrl.status" ng-if="$ctrl.message === type"
              class="md-body-2 md-light"
              translate="{{type}}" translate-values="{days: $ctrl.diffDays(type)}">
        </span>
    </div>
    <user-menu id="$ctrl.application.user.public.uri || $ctrl.application.user.userId">
    </user-menu>
</div>
<div layout="row" layout-align="end center" layout-fill ng-if="!$ctrl.authService.isAuthenticated()">
    <md-button ui-sref="signin({nextState: $ctrl.$state.$current.name, nextParams: $ctrl.$state.params})"
               class="md-icon-button" translate>
        <md-tooltip ng-bind="'landing.nav.signIn' | translate"></md-tooltip>
        <md-icon class="material-icons">vpn_key</md-icon>
    </md-button>
    <md-button ui-sref="signup" class="md-icon-button">
        <md-tooltip ng-bind="'landing.nav.signUp' | translate"></md-tooltip>
        <md-icon class="material-icons">person_add</md-icon>
    </md-button>
</div>