<md-toolbar flex="none" class="md-default">
    <div class="md-toolbar-tools">
        <h2 class="" translate="trainingPlans.publish.title"></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{::'activity.settings.close' | translate}}</md-tooltip>
            <md-icon class="material-icons md-dark md-active" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content flex="auto" layout="column" class="bg-grey-050" style="width: 100%">
    <md-icon flex="none" md-svg-src="/assets/landing/rocket-launch.svg" class="s96" style="margin-top: 16px"></md-icon>
    <div flex="none" class="md-padding">
        <p class="md-body-2 md-dark center" translate="trainingPlans.publish.check.title"></p>
        <p>
            <md-icon class="material-icons" style="margin-right: 20px">check</md-icon>
            <span class="md-body-1" translate="trainingPlans.publish.check.profile"></span>
        </p>
        <p>
            <md-icon class="material-icons" style="margin-right: 20px">check</md-icon>
            <span class="md-body-1" translate="trainingPlans.publish.check.version"></span>
        </p>
        <p class="md-body-2 md-dark center" translate="trainingPlans.publish.status"></p>
        <p>
            <md-icon class="material-icons" style="margin-right: 20px">check</md-icon>
            <span class="md-body-1" translate="trainingPlans.publish.currentVerison"></span>
        </p>
    </div>
    <div flex></div>
</md-dialog-content>
<md-dialog-actions flex="none" layout="row" style="background: white; width: 100%;">
    <span flex></span>
    <md-button class="md-primary"
               ng-class="{'md-warn': false}"
               ng-disabled="false"
               ng-click="$ctrl.publish()"
               translate="trainingPlans.actions.publish"></md-button>
</md-dialog-actions>
