<st-application>
        <section class="st-application__title">
            <span>{{'page.fullTitle' | translate}}</span>
        </section>
        <section class="st-application__toolbar-actions">
            <span>|</span>
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_right</mat-icon>
            </button>
        </section>
        <section class="st-application__content ">
            <div mat-dialog-content>
                <span>Content of current application</span>
            </div>
        </section>
</st-application>
