<st-application>
        <section class="st-application-toolbar__title">
            <span>New application</span>
        </section>
        <section class="st-application-toolbar__actions">
            <span>|</span>
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="">keyboard_arrow_right</mat-icon>
            </button>
        </section>
        <section class="st-application-toolbar__content ">
            <div mat-dialog-content>
                <span>Content of current application</span>
            </div>
        </section>
</st-application>
