<md-card flex="none" layout="column" id="account" class="">
    <md-card-title>
        <h2 class="md-title" translate="settings.account.header"></h2>
    </md-card-title>
    <form name="$ctrl.syncForm">
        <md-list class="md-dense section">
            <md-list-item ng-click="$ctrl.showPasswordChange($event)">
                <p>Ваш учетная запись {{$ctrl.user.personal.extEmail}} #{{$ctrl.user.userId}}</p>
                <md-button class="md-secondary" ng-click="$ctrl.showPasswordChange($event)">Новый пароль</md-button><!--
                <md-input-container md-no-float class="md-block no-message">
                    <md-icon class="material-icons">person</md-icon>
                    <input ng-model="$ctrl.provider.login" type="text" autocomplete="off"
                           placeholder="Учетная запись">
                </md-input-container>
                <md-input-container md-no-float class="md-block no-message">
                    <md-icon class="material-icons">vpn_key</md-icon>
                    <input ng-model="$ctrl.provider.login" type="text" autocomplete="off"
                           placeholder="Пароль">
                </md-input-container>-->
            </md-list-item>
            <!--<md-list-item>
                <md-button class="md-secondary" ng-click="$ctrl.showPasswordChange($event)">Новый пароль</md-button>
            </md-list-item>-->
        </md-list>
        <md-divider></md-divider>
        <md-list class="md-dense section">
            <md-subheader>{{ 'settings.billing.tariffsHeader' | translate }}</md-subheader>
            <md-list-item 
                class="md-2-line" 
                ng-repeat-start="tariff in $ctrl.user.billing.tariffs"
                ng-click="tariff.isOn || tariff.unpaidBill? $ctrl.viewTariff(tariff) : $ctrl.enableTariff(tariff)"
            >
                <md-icon class="material-icons">person</md-icon>
                <div class="md-list-item-text" ng-switch="property.enabled">
                    <h3>{{ 'settings.billing.tariffs.' + tariff.tariffCode | translate }}</h3>
                    <p>{{ 'settings.billing.tariffStatuses.' + $ctrl.tariffStatus(tariff) | translate:{
                        until: (tariff.expireDate | date:shortDate),
                        club: (tariff.clubProfile | clubName),
                        coach: (tariff.userProfilePayer | userName)
                    } }}</p>
                </div>
                <md-switch
                    ng-model="$ctrl.tariffIsEnabled(tariff)"
                    ng-model-options="{getterSetter: true}"
                    ng-disabled="!tariff.isAvailable"
                >
                </md-switch>
            </md-list-item>
            <md-divider ng-repeat-end ng-if="!$last"/>
        </md-list>
        <md-divider></md-divider>
        <md-list class="md-dense section">
            <md-subheader>{{ 'settings.billing.invoices' | translate }}</md-subheader>
            <md-list-item 
                class="md-2-line" 
                ng-repeat-start="bill in $ctrl.user.billing.bills"
                ng-click="$ctrl.viewBill(bill)"
                ng-switch="$ctrl.invoiceStatus(bill)"
            >
                <md-icon  class="material-icons">payment</md-icon>
                <div class="md-list-item-text">
                    <h3> {{ 'settings.billing.invoiceAmount' | translate }} {{ bill.totalAmount | currency:bill.currency }}</h3>
                    <p> {{ 'settings.billing.period' | translate }} {{ bill.startPeriod | date: shortDate}} - {{ bill.endPeriod | date: shortDate}}</p>
                </div>
                <div class="md-secondary" ng-switch-when="new">
                    <md-button>{{ 'settings.billing.invoiceStatuses.new' | translate }}</md-button>
                </div>
                <div class="md-secondary" ng-switch-when="ready">
                    <md-button class="md-accent" ng-click="$ctrl.viewBill(bill)">{{ 'settings.billing.invoiceStatuses.ready' | translate }} {{ bill.totalAmount | currency:bill.currency }}</md-button>
                </div>
                <div class="md-secondary" ng-switch-when="complete">
                    <md-button ng-click="$ctrl.viewBill(bill)">{{ 'settings.billing.invoiceStatuses.complete' | translate }}</md-button>
                </div>
            </md-list-item>
            <md-divider ng-repeat-end ng-if="!$last"></md-divider>
            <md-list-item>
                <md-button class="md-secondary" ng-click="$ctrl.billsList()">{{ 'settings.billing.billsList' | translate }}</md-button>
            </md-list-item>
        </md-list>
    </form>
</md-card>

<!--<md-card flex="none" layout="column" id="account">
    <div class="h1" layout="column" layout-wrap>
        <div flex layout="row" layout-align="space-between center">
            <div flex="auto" layout="row" layout-align="start center">
                <p class="md-title" translate>app.settings.account.header</p>
            </div>
            <md-icon flex="none" md-svg-icon="/pic/vpn_key.svg" class="fill-light"></md-icon>
        </div>
        <div flex class="hint light" translate>app.settings.account.hint</div>
    </div>
    <form name="vm.accountForm">
        <div layout="row" class="padding-0-24-24-24 back-primary-hue-3" md-theme="auth">
            <md-input-container flex-gt-sm class="md-body-1">
                <label translate>app.settings.account.email</label>
                <input type="text" name="firstName" ng-model="vm.personal.email" autocomplete="off" autofocus
                       ng-disabled="true" minlength="2" maxlength="100">
                <div class="hint light">Логином в нашем сервисе является email указанный при регистрации</div>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container flex-gt-sm class="md-body-1">
                <label translate>app.settings.account.password</label>
                <input type="password" name="lastName" ng-model="vm.password" autocomplete="off" ng-disabled="true"
                       minlength="2" maxlength="100">
                <div class="hint light">Для смены пароля перейдите по
                    <a href="#">ссылке</a>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="space-between center" class="padding-16-24">
            <p class="md-subhead">Billing Information</p>
            <md-button flex="none" class="md-raised" ng-disabled="true" ng-click="">+ add
            </md-button>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="space-between center" class="padding-16-24">
            <p class="md-subhead">Subscriptions</p>
            <md-button flex="none" class="md-raised" ng-disabled="true" ng-click="">+ add
            </md-button>
        </div>
        <div flex layout="column" ng-repeat="subscription in vm.subscriptions"
             ng-class="{'padding-00-24' : $last, 'padding-0-24-24-24': !$last}">
            <div flex layout="row" layout-align="space-between center">
                <md-icon flex="none" md-svg-icon="/pic/staminity.svg" class="fill-light s24"
                         style="margin-right: 8px"></md-icon>
                <div flex="auto" class="md-body-2">Staminity:
                    {{::subscription.code}}
                </div>
                <md-button flex="none" ng-class="{'md-primary' : !$first}" ng-disabled="$first" ng-click="">{{$first ?
                    'Не активна' : 'Активна'}}
                </md-button>
            </div>
            <div flex layout="row" class="hint dark" style="margin-left: 32px; margin-right: 100px">
                Статус подписки, комментарий по дате следующего платежа, периоду расчета, ссылке на описание доступных
                функций в подписке
            </div>
        </div>
    </form>
</md-card>-->
