<md-card flex="none" layout="column" id="sync" class="">
    <md-card-title>
        <h2 class="md-title" translate="settings.sync.header"></h2>
    </md-card-title>
    <form name="$ctrl.syncForm">
        <md-list class="md-dense section">

            <md-list-item class="md-2-line" ng-click="$ctrl.showProviderSettings($event, service, property)"
                          ng-repeat-start="adaptor in $ctrl.adaptors">
                <img ng-src="/assets/icon/{{adaptor.provider}}_{{$ctrl.syncEnabled(adaptor) ? 'on':'off'}}.png"
                     class="md-avatar" style="border-radius: 50%"/>
                <div class="md-list-item-text" ng-if="$ctrl.syncEnabled(adaptor)">
                    <h3> {{ 'settings.sync.'+adaptor.provider | translate}} </h3>
                    <h4>Синхронизировано</h4>
                    <p>Последняя синхронизация выполнена {{adaptor.startDate | date :
                        shortDate}}</p>
                </div>
                <md-switch class="md-secondary md-primary"
                           ng-model="adaptor.state"
                           ng-true-value="'Enabled'" ng-false-value="'Disabled'"
                           ng-change="$ctrl.showProviderSettings($event, service, property)"
                           aria-label="Switch 1">
                </md-switch>
            </md-list-item>
            <md-divider ng-repeat-end ng-if="!$last"/>

        </md-list>
    </form>
</md-card>
