<md-card flex="none" layout="column" id="notifications">
    <md-card-title>
        <h2 class="md-title" translate="settings.notification.header"></h2>
    </md-card-title>
    <form name="$ctrl.notificationsForm">
        <md-list class="md-dense section">
            <div ng-repeat-start="notification in $ctrl.user.notifications"
                 class="md-no-stiky md-subheader">
                <span class="md-subheader-inner" translate>{{::notification.group}}</span>
            </div>
            <md-list-item ng-repeat="event in notification.events">
                <span translate="{{::event.name}}"></span>
                <div flex="100" layout="row" layout-align="end center">
                    <md-checkbox class="md-primary" ng-model="event.email" aria-label="email">Email</md-checkbox>
                    <md-checkbox class="md-primary" ng-model="event.phone" aria-label="phone">Phone</md-checkbox>
                    <md-checkbox class="md-primary" ng-model="event.web" aria-label="web">Site</md-checkbox>
                </div>
            </md-list-item>
            <md-divider ng-repeat-end ng-if="!$last"></md-divider>
        </md-list>
    </form>
</md-card>