<section layout-gt-sm="row" layout="column" class="analytics__application">
    <analytics-management-panel charts="$ctrl.charts"
                                filter="$ctrl.filter"
                                on-change="$ctrl.filterChanges = $ctrl.filterChanges + 1">
    </analytics-management-panel>
    <section flex="auto" class="analytics__chart-section">
        <section class="analytics__chart-grid" ng-if="$ctrl.prepareComplete">
            <analytics-chart ng-repeat="chart in $ctrl.charts | filter:{ active: true }"
                             ng-style="chart.layout.style"
                             chart="chart"
                             filter="$ctrl.filter"
                             filter-changes="$ctrl.filterChanges"
                             mobile-view=""
                             on-expand=""
                             on-collapse=""
                             on-full-screen="">
            </analytics-chart>
        </section>
    </section>

</section>
<!--
<div class="application">
    <div hide-md class="margin-left"></div>
    <section class="application-body" layout-gt-md="row" layout="column">
        <div flex="none" class="analytics-filter bg-grey-200">
            <p class="md-caption">Панель фильтрации, настройки и управления графиками</p>
            <md-input-container ng-repeat="select in $ctrl.selectedChart track by $index">
                <md-select ng-model="$ctrl.selectedChart[select]">
                    <md-option ng-repeat="chart in $ctrl.examples track by $index" ng-value="$index">
                        {{chart.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex="auto" class="analytics-feed bg-grey-200" layout="column">
            <p flex="none" class="md-caption">Лента с графиками</p>
            <p ng-repeat-start="example in $ctrl.selectedChart track by $index">
                График #{{$index+1}}: {{$ctrl.examples[example].name}}, высота {{20+10*$index}}vh
            </p>
            <universal-chart ng-repeat-end
                             flex="none" style="height: {{20+10*$index}}vh; width: 100%"
                             data="$ctrl.examples[example].data"
                             update="$ctrl.changes"></universal-chart>
        </div>
    </section>
    <div hide-md class="margin-right">
    </div>
</div>-->