.reference {
	position: absolute; 
	top: 60px; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 10;

	md-tabs {
		border-radius: 0;
		
		@media (max-width: 959px) {
			background-color: #f5f5f5;
		}
	}

	@media (max-width: 959px) {
		top: 0; 
	}

	&__filters {
		min-width: 300px; 
		margin-top: 52px;

		@media (max-width: 959px) {
			width: 100%; 
		}
	}

	&__filter-input {
		@media (max-width: 959px) {
			margin: 4px 0;
		}
	}

	&__filters-content {
		background: none;
		font-size: 12px !important;
		color: rgba(0, 0, 0, 0.87) !important;

		@media (max-width: 959px) {
			background-color: #f5f5f5;
		}
	}
}