.cathegory {
	// workaround for D&D preview problem
	background: white;
	overflow: hidden;

	&-disabled {
		opacity: 0.54;
	}

	&__icon-circled {
		width: 32px !important;
		height: 32px !important;
		border-radius: 16px;
		background-color: #455a64;

		svg {
			fill: white;
			height: 22px;
			padding-top: 5px;
		}
	}

	.md-caption {
		font-size: 12px !important;
	}
}