<div layout="row" layout-align="space-between start">
    <div id="header-left-toolbar" flex="{{$ctrl.view.leftPanel.size}}"
         ng-include="$ctrl.view.leftPanel.url"
         layout="row" layout-align="start center" class=""></div>

    <div id="header-caption" class="animated bounceIn" layout="row" layout-align="center center" layout-fill>
        <div flex="nogrow" ng-show="$ctrl.view.title"
             class="app-title md-title" translate>
            {{$ctrl.app.screen.xs ? $ctrl.view.shortTitle : $ctrl.view.fullTitle}}</div>
        <div layout="row" layout-align="center center"
             ng-class="{'back-primary-900' : !!$ctrl.app.athlete}"
             ng-if="$ctrl.view.athletes"
             style="border-radius: 12px; height: 24px; margin-left: 8px;">
            <div ng-if="!!$ctrl.app.athlete" style="height: 24px;">
                <img ng-src="/assets/avatar/{{$ctrl.app.athlete.userId}}.jpg" style="height: 24px; width: 24px; border-radius: 12px;"/>
            </div>
            <div hide show-gt-md ng-show="!!$ctrl.app.athlete" class="md-body" style="-opacity: 0.54;margin-left: 8px; margin-right: 8px">
                {{$ctrl.app.athlete.public.firstName}}
                {{$ctrl.app.athlete.public.lastName}}
            </div>

            <md-button class="md-icon-button md-primary" aria-label="User"
                       ng-init="$ctrl.enabledAthleteSelector = true"
                       ng-click="$ctrl.showAthleteSelector($event)"
                       style="padding: 0px; margin: 0px; height: 24px; width: 24px">
                <md-icon md-svg-src="/assets/icon/{{showAthleteSelector ? 'arrow_drop_up.svg' : 'arrow_drop_down.svg'}}"
                         size="s24" class="fill-white-medium">
                </md-icon>
            </md-button>

            <md-button ng-if="!!$ctrl.app.athlete"
                       class="md-icon-button md-primary" aria-label="User"
                       style="padding: 0px; margin: 0px; height: 24px; width: 24px"
                       ng-click="$ctrl.athleteDiscard()">
                <md-icon md-svg-src="/assets/icon/remove.svg" class="fill-white-medium" size="24"></md-icon>
            </md-button>
        </div>
    </div>

    <div id="header-right-toolbar" flex="{{$ctrl.view.rightPanel.size}}"
         layout="row" layout-align="end center" class="">
        <ng-include src="$ctrl.view.rightPanel.url"></ng-include>
    </div>
</div>
