@import '../../../sass/color';
@import '../../../sass/animation';


staminity-header {
	div.user-name {
		line-height: 24px;
		padding: 0 8px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#header-left-toolbar, #header-right-toolbar {
	@include animate(0.5s, 1s, 1);
}

#header-caption {
	@include animate(1s, 0s, 1);
}

.application-header {
	position: absolute;
	width: 100%;
	top: 8px;
	left: 0px;
	-padding: 8px 8px;
	color: rgba(white,0.7);
	z-index: 60;

	a{
		cursor: pointer;
		color: rgba(white,0.7);
		text-decoration: none;
		border-bottom: 1px solid rgba(black,0);
		margin: 0px 8px;
		&.button {
			padding: 4px 8px;
			border: 1px solid rgba(white, 0.7);
			border-radius: 3px;
			&:hover{
				background-color: rgba(255, 152, 0, 1);
				border-color: rgba(255, 152, 0, 1);
				opacity: 1;
				-font-weight: 900;
			}
		}
	}
	a:hover {
	  color: rgba(white, 1);
	  border-bottom: 1px solid rgb(255, 152, 0);
	  opacity: 1;
	}
}

.user-frame {
  height: 24px;
  border-radius: 12px;
  border: none;
  overflow: visible;
  background: $blue-grey-900;
  -border: 1px solid white;
  margin-right: 14px;
  padding-right: 8px;

}

.user-frame .md-button{
  margin: 0px;
  height: 24px;
  min-width: 0;
  line-height: 24px;
  padding: 0px;
  width: 24px;
  border-radius: 50%;
  padding-bottom: 12px;



}
.user-frame md-content {

}

md-content.user-menu {
  padding: 0px 0px;
  height: 26px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 13px;
}


.badge1 {
  position:relative;
}

md-select-menu {
  color: white !important;
}

#header-right-toolbar {
	
	md-icon {
		color: white;
	}
}