<application-frame class="user-profile" layout="column" layout-align="center center">

    <md-card class="profile-header" layout="column" layout-align="center center" style="background-image: linear-gradient(to bottom, rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.5)), url({{'/user/background/' + $ctrl.user.public.background | image}})">
        <div layout="row" layout-align="center center" style="width:100%">
            <div flex="40" layout="column" layout-align="center end">
                <div class="chip" ng-if="$ctrl.user.public.isCoach">Тренер</div> 
                <div class="chip" ng-if="$ctrl.user.public.isPremium"> <span ng-style="{color: '#ff5722'}">⬤</span> Премиум</div>
            </div>
            <div flex="20">
                <div class="userpic" ng-style="{'background-image': 'url(' + ('/user/avatar/' + $ctrl.user.public.avatar | image) + ')'}" layout-align="center"></div>
            </div>
            <div flex="40">
            </div>
        </div>
        <div class="md-title" style="color:white; margin-bottom: 10px">{{ $ctrl.user | username }}</div>
        <div class="md-caption">{{ [$ctrl.user.personal.country, $ctrl.user.personal.city, ($ctrl.user.personal | ageGroup)].filter(Boolean).join(', ') }}</div>
        <div class="md-caption" style="margin-bottom: 15px">{{ $ctrl.user.personal.activity.join(', ') }}</div>
        <div>
            <span>
                <md-button ng-click="$ctrl.join($ctrl.user.connections.Athletes, 'Отправить запрос тренеру?')" ng-if="$ctrl.user.connections.Athletes.availableInteractions.btnJoinGroup" class="md-raised md-primary md-dark-theme" style="text-transform: none;">
                    Начать тренироваться
                </md-button>

                <md-menu ng-if="$ctrl.user.connections.Athletes.availableInteractions.btnCancelJoinGroup">
                    <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                    Заявка отправлена ▾
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.cancel($ctrl.user.connections.Athletes, 'Отменить заявку?')">
                                Отменить заявку
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu ng-if="$ctrl.user.connections.Athletes.availableInteractions.btnLeaveGroup">
                    <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                    Ваш тренер ▾
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.leave($ctrl.user.connections.Athletes, 'Покинуть тренера?')">
                                Перестать тренироваться
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu ng-if="$ctrl.user.connections.Athletes.btnCancelLeaveGroup">
                    <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                    Вы отправили заявку на отказ от тренера ▾
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.cancel($ctrl.user.connections.Athletes, 'Отменить заявку?')">
                                Отменить заявку
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>

            <span>
                <md-menu>
                    <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)" style="color: white; border:1px solid rgba(255, 255, 255, 0.7); background-color: rgba(0, 0, 0, 0.12);">
                        <md-icon class="material-icons" style="color: white;">person_add</md-icon> ▾
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.join($ctrl.user.connections.Followers, 'Отправить заявку на добавление в друзья?')">
                                Подписаться
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.join($ctrl.user.connections.Friends, 'Подписаться?')">
                                Добавить в друзья
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
        </div>

        <md-button ng-if="$ctrl.isMe" class="md-fab profile-fab" ui-sref="settings/user({uri: $ctrl.user.public.uri})">
            <md-icon class="material-icons" style="color: white">mode_edit</md-icon>
        </md-button>
    </md-card>

    <md-card class="profile-content md-body-1" layout-padding="8">
        <div class="md-caption">О себе</div>
        <div style="white-space: pre-wrap;">{{ $ctrl.user.personal.about || "Информация не указана" }}</div>
        <div ng-if="$ctrl.user.personal.weight || $ctrl.user.personal.height">
            <span style="margin-right:25px">Вес: {{ $ctrl.user.personal.weight || '-' }}</span>
            <span>Рост: {{ $ctrl.user.personal.height || '-' }}</span>
        </div>
        <div class="md-caption">Связи</div>
        <div>
            <md-button ng-disabled="!$ctrl.user.connections.Clubs.groupMembers.length">
                <span>Клуб: </span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{$ctrl.user.connections.Clubs.groupMembers.length || '-'}} </span>
            </md-button>
            <md-button ng-disabled="!$ctrl.user.connections.Coaches.groupMembers.length" ng-click="$ctrl.coaches()">
                <span>Тренеры: </span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{$ctrl.user.connections.Coaches.groupMembers.length || '-'}} </span>
            </md-button>
            <md-button ng-disabled="!$ctrl.user.connections.Athletes.groupMembers.length" ng-click="$ctrl.athletes()">
                <span>Спортсмены: </span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{$ctrl.user.connections.Athletes.groupMembers.length || '-'}} </span>
            </md-button>
            <md-button ng-disabled="!$ctrl.user.connections.Followers.groupMembers.length" ng-click="$ctrl.subscribers()">
                <span>Подписчики: </span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{$ctrl.user.connections.Followers.groupMembers.length || '-'}} </span>
            </md-button>
            <md-button ng-disabled="!$ctrl.user.connections.Following.groupMembers.length" ng-click="$ctrl.subscriptions()">
                <span>Подписан: </span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{$ctrl.user.connections.Following.groupMembers.length || '-'}} </span>
            </md-button>
            <md-button ng-disabled="!$ctrl.user.connections.Friends.groupMembers.length" ng-click="$ctrl.friends()">
                <span>Друзья: </span>
                <span style="color:rgba(0, 0, 0, 0.38)">{{$ctrl.user.connections.Friends.groupMembers.length || '-'}} </span>
            </md-button>
            <md-button ng-disabled="true">
                <span>Группы: </span>
                <span style="color:rgba(0, 0, 0, 0.38)">- </span>
            </md-button>
        </div>
        <div class="md-caption" ng-if="$ctrl.user.private.phone || $ctrl.user.personal.extEmail">Контакты</div>
        <div ng-if="$ctrl.user.private.phone || $ctrl.user.personal.extEmail">
            <span style="margin-right:25px">Телефон: {{ $ctrl.user.personal.phone || '-' }}</span>
            <span>Email: {{ $ctrl.user.personal.extEmail || '-' }}</span>
        </div>
    </md-card>

    <summary-statistics user="$ctrl.user"/>

</application-frame>

