<div class="tooltip" style="display: none">
    <p class="segment mb">{{'activity.split.segment' | translate}} <em class="index"></em> </p>
    <div class="plan mb">
        <p class="title">{{'activity.plan' | translate}}:</p>
        <p class="duration distance"><span class="duration"></span>&nbsp;<span>{{'km' | translate}}</span></p>
        <p class="intensivity speed"><span class="intensivity"></span>&nbsp;<span>%{{'FTP' | translate}}</span></p>
    </div>
    <div class="fact">
        <p class="title">{{'activity.actual' | translate}}:</p>
        <p class="duration distance"><span class="duration">&nbsp;<span>{{'km' | translate}}</span></span></p>
        <p class="intensivity speed"><span class="intensivity">&nbsp;<span>%{{'FTP' | translate}}</span></span></p>
    </div>
</div>
