<application-frame>
    <div class="requests">
        
        <div class="titlebar">
            <i class="material-icons icon">group</i>
            Запросы
            <md-button ng-click="$ctrl.close()" class="close">
                <i class="material-icons">close</i>
            </md-button>
        </div>
        
        <md-tabs md-stretch-tabs='always' md-dynamic-height="true">
            <md-tab label="Входящие">
                <md-tab-body>
                    <div class="title">
                        Ожидают подтверждения
                    </div>
                    <div class="request-new" ng-repeat="request in $ctrl.requests.inbox.new">
                        <a layout="row" ui-sref="/user/{{request.initiator.public.uri}}">
                            <div style="height: 24px; width: 24px; border-radius: 12px; margin-right: 10px; background: {{request.initiator | avatar}}; background-size: cover;" ui-sref="/user/{{request.initiator.public.uri}}"></div>
                            <div flex>
                                <div class="username">{{request.initiator | username}}</div>
                                <div class="type">{{request | requestType}}</div>        
                            </div>
                            <div class="time">
                                {{request.created | date:'HH:mm'}}
                            </div>
                        </a>
                        <div>
                            <md-button ng-click="$ctrl.processRequest(request, 'A')"> Принять </md-button>
                            <md-button ng-click="$ctrl.processRequest(request, 'D')"> Отклонить </md-button>
                        </div>
                    </div>
                    <div class="title">
                        История
                    </div>
                    <div class="request-old" ng-repeat="request in $ctrl.requests.inbox.old">                        
                        <a layout="row" ui-sref="/user/{{request.initiator.public.uri}}">
                            <div style="height: 24px; width: 24px; border-radius: 12px; margin-right: 10px; background: {{request.initiator | avatar}}; background-size: cover;"></div>
                            <div flex>
                                <div class="username">{{request.initiator | username}}</div>
                                <div class="type">{{request.updated | date:'HH:mm'}}</div>        
                            </div>
                            <div class="time">
                                <i class="material-icons">{{request.state == 'A'? 'check' : 'close'}}</i>
                            </div>
                        </a>
                    </div>
                </md-tab-body>
            </md-tab>
            
            <md-tab label="Исходящие">
                <md-tab-body>
                    <div class="title">
                        Ожидают подтверждения
                    </div>
                    <div class="request-new" ng-repeat="request in $ctrl.requests.inbox.new">
                        <div layout="row">
                            <div style="height: 24px; width: 24px; border-radius: 12px; margin-right: 10px; background: {{request.receiver | avatar}}; background-size: cover;" ui-sref="/user/{{request.receiver.public.uri}}"></div>
                            <div flex>
                                <div class="username">{{request.receiver | username}}</div>
                                <div class="type">{{request | requestType}}</div>        
                            </div>
                            <div class="time">
                                {{request.created | date:'HH:mm'}}
                            </div>
                        </div>
                        <div>
                            <md-button ng-click="$ctrl.processRequest(request, 'C')"> Отменить </md-button>
                        </div>
                    </div>
                    <div class="title">
                        История
                    </div>
                    <div class="request-old" ng-repeat="request in $ctrl.requests.inbox.old">
                        <div layout="row">
                            <div style="height: 24px; width: 24px; border-radius: 12px; margin-right: 10px; background: {{request.receiver | avatar}}; background-size: cover;" ui-sref="/user/{{request.receiver.public.uri}}"></div>
                            <div flex>
                                <div class="username">{{request.receiver | username}}</div>
                                <div class="type">{{request.updated | date:'HH:mm'}}</div>        
                            </div>
                            <div class="time">
                                <i class="material-icons">{{request.state == 'A'? 'check' : 'close'}}</i>
                            </div>
                        </div>
                    </div>
                </md-tab-body>    
            </md-tab>
        </md-tabs>
            
    </div>
</application-frame>

