#athlete-selector.ng-enter, #athlete-selector.ng-leave {
  transition: all ease-in 0.5s;
}

#athlete-selector {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  background: $primary-hue-3;
  z-index: 50;
  -opacity: 1;
  -transition: 0.3s ease-in all;

  .athlete {
    cursor: pointer;
    &:hover {
      background: $primary-900;
    }
  }

}
#athlete-selector.ng-enter, #athlete-selector.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0px;
}

#athlete-selector.ng-leave, #athlete-selector.ng-enter.ng-enter-active {
  opacity: 1;
  height: calc(100% - 40px);
}