<application-frame>
    <div class="profile">
        
        <div class="profile-card">
            <div class="profile-card-background">
                <div class="profile-background" style="background-image: url({{'/group/background/' + $ctrl.club.public.background | image}})"></div>
                
                <div class="profile-header">
                    <div layout="row">
                        <div class="userpic" style="background-image: url({{'/group/avatar/' + $ctrl.club.public.avatar | image}})" layout-align="center"></div>
                    </div>
                    <div class="name">
                       {{$ctrl.club.public.name}}
                    </div>
                    <div class="text">
                        Россия, г. Москва
                    </div>
                    <div class="text">
                        Триатлон, Бег, Плавание, Велоспорт
                    </div>
                    <div ng-if="$ctrl.club.availableInteractions">
                        
                        <span class="group-actions">
                            <md-button ng-click="$ctrl.join()" ng-if="$ctrl.club.availableInteractions.btnJoinGroup" class="md-raised md-primary" style="padding: 0 7px; border-radius: 2px; background-color: #ff5722; font-size: 14px; text-transform: none;">
                                Начать тренироваться
                            </md-button>
                            
                             <md-menu ng-if="$ctrl.club.availableInteractions.btnLeaveGroup || $ctrl.club.availableInteractions.btnCancelJoinGroup">
                              <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
                                Ваш клуб ▾
                              </md-button>
                              <md-menu-content>
                                <md-menu-item>
                                  <md-button ng-click="$ctrl.leave()">
                                    Покинуть клуб
                                  </md-button>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>
                        </span>
                    </div>
                </div>
                
                <div class="profile-fab">
                    <md-button class="md-fab">
                        <i class="material-icons">send</i>
                    </md-button>
                </div>
            </div>
                
            <div class="profile-card-text">
                <div class="title">О клубе</div>
                <div class="text">
                    {{$ctrl.club.public.about ||"Информация не указана"}}
                </div>
                
                <div class="title">Состав</div>
                <div class="text">
                    <span class="label">Тренеры:</span> <span class="value">12</span>
                    <span class="label">Спортсмены:</span> <span class="value">210</span>
                </div>
            </div>
        </div>
            
    </div>
</application-frame>

