.user-settings-zones-edit {

  &__table-container {
    width: 100%;
  }

  &__error-block {
    padding: 12px;
    color: red;
    //font-weight: 500;

    position: relative;
    top: 0px;
    padding: 16px !important;

  }

  &__table {
    padding: 24px 0px;
  }

  &__table.md-table:not(.md-row-select) td.md-cell:first-child,
  &__table.md-table:not(.md-row-select) th.md-column:first-child {
  //table.md-table.md-row-select td.md-cell:first-child,
  //table.md-table.md-row-select th.md-column:first-child{
    padding-left: 0px !important;
    padding-right: 20px !important;
  }

  &__table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
  &__table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding-right: 12px;
  }

  &__table.md-table td.md-cell:last-child, table.md-table th.md-column:last-child {
    padding-right: 12px;
  }

  &__table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: 40px;
  }

  &__table.md-table thead.md-head > tr.md-row {
    height: 32px;
  }

  &__table.md-table th.md-column {
    font-weight: normal;
  }


  &__table.md-table td.md-cell md-input-container {
    margin: 0px;
    padding: 2px 0px 0px 0px;

    input {
      text-align: right;
      //border-color: rgba(0,0,0,0.0);
    }

    div.md-errors-spacer {
      min-height: 0px;
    }
  }

}