<div class="application">
    <div hide-md class="margin-left"></div>
    <section class="application-body">
        <section class="application-toolbar" hide-xs hide-sm>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdMenu.open()">
                        <span class="md-caption">{{$ctrl.athletes.members.length}} атлетов</span>
                        <div ng-if="$ctrl.athletes.members.length > $ctrl.viewAthletes.length" style="display: inline-block">
                            <md-icon class="material-icons md-light md-inactive">visibility_off</md-icon>
                            <span class="md-caption">{{$ctrl.athletes.members.length-$ctrl.viewAthletes.length}}</span>
                        </div>
                    </button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="athlete in $ctrl.athletes.members"
                                      type="checkbox" ng-model="athlete.view"
                                      ng-change="$ctrl.setVisible(athlete.view,athlete.userProfile.userId)">
                            <img flex="none" profile="athlete.userProfile"></img>
                            <span flex="none">{{::athlete.userProfile | username}}</span>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
            <md-button class="md-icon-button md-primary" aria-label="Settings" style="margin: 0px"
                       ng-click="$ctrl.changeOrder(true)">
                <md-icon class="material-icons md-18" aria-label="Back">arrow_upward</md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" aria-label="Settings" style="margin: 0px"
                       ng-click="$ctrl.changeOrder(false)">
                <md-icon class="material-icons md-18" aria-label="Back">arrow_downward</md-icon>
            </md-button>
            <span class="md-caption">Неделя с {{$ctrl.toolbarDate() | date:'longDate'}}</span>
            <md-button class="md-icon-button md-primary" aria-label="Settings" style="margin: 0px"
                       ng-click="$ctrl.prev()">
                <md-icon class="material-icons md-18" aria-label="Back">navigate_before</md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" aria-label="Settings" style="margin: 0px"
                       ng-click="$ctrl.next()">
                <md-icon class="material-icons md-18" aria-label="Back">navigate_next</md-icon>
            </md-button>
        </section>
        <section id="dashboard" class="content animated zoomIn">
            <md-toolbar class="dashboard-header md-caption md-dark md-whiteframe-1dp bg-grey-300" hide show-gt-sm>
                <div class="athlete">Атлет</div>
                <div class="day" style="text-transform: capitalize" ng-repeat="day in $ctrl.weekdayNames">{{day}}</div>
                <div class="total" hide show-gt-md>Итоги</div>
            </md-toolbar>
            <section class="dashboard-grid bg-grey-200">
                <div class="dashboard-week"
                     ng-repeat="calendar in $ctrl.dashboard.calendar | filter:filter | orderBy:order track by $index"
                     ng-class="{'selected': $ctrl.selectedAthletes.indexOf(calendar.profile.userId) !== -1}">
                    <dashboard-athlete class="athlete"
                                       profile="calendar.profile"
                                       selected="$ctrl.selectedAthletes.indexOf(calendar.profile.userId) !== -1"
                                       on-select="calendar.selected = !calendar.selected">
                    </dashboard-athlete>
                    <dashboard-day class="day" ng-class="{selected: day.selected}"
                                   layout="column" layout-align="space-between start"
                                   ng-repeat="day in calendar.subItem track by $index"
                                   day="day"
                                   current-user="$ctrl.coach"
                                   owner="calendar.profile"
                                   selected="day.selected"
                                   on-update="$ctrl.update(formMode, item)"
                                   on-select="day.selected = !day.selected">
                    </dashboard-day>
                    <dashboard-total class="total" week="calendar" update="calendar.changes" hide show-gt-md>
                    </dashboard-total>
                </div>
            </section>
        </section>
    </section>
    <div hide-md class="margin-right"></div>
</div>