@import "../../sass/color";

dashboard {
  .app-layer, .application {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    //background: grey;
    z-index: 60;
  }

  section.application-toolbar {
    color: white;
    max-width: 1440px;
    margin: auto;

    md-menu-bar {
      display: inline;
      padding-left: 0px;

      span.md-caption {
        color: white;
      }

      .md-open span.md-caption {
        color: black;
      }

    }

  }

  section.content {
    max-width: 1440px;
    //position: absolute;
    //width: 100%;
    //top: 40px;
    overflow: hidden;
    //background-color: lightgray;
    height: calc(100% - 40px);
    margin: auto;
  }

  md-toolbar.dashboard-header {
    min-height: 32px;
    display: grid;
    grid-template-columns: 60px repeat(8, 11.7%);
    grid-column-gap: 2px;
    line-height: 32px;

    @media(max-width: 1279px){
      grid-template-columns: 60px repeat(7, 13.4%);
    }

    div.athlete, div.day, div.total {
      padding-left: 12px;
      padding-right: 12px;
    }

    div.day {
      text-transform: capitalize;
    }

  }

  section.dashboard-grid {
    //position: relative;
    height: calc(100% - 55px);
    scroll-behavior: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    @media(max-width: 1280px){
      height: calc(100% - 32px);
    }
    //padding: 12px;
  }

  div.dashboard-week {

    //position: relative; //todo проверит производительность
    //display:block;
    display: grid;
    grid-template-columns: 60px repeat(8, 11.7%);
    grid-column-gap: 2px;
    min-height: 40px;
    border-bottom: 1px solid $grey-300;

    @media(max-width: 1279px){
      padding: 0;
      border-bottom: none;
      grid-template-columns: 60px repeat(7, 13.4%);
    }

    //transition: none !important;
    transition: all 1s ease-in-out 0s;

    &.selected {
      background-color: $grey-100;
      max-height: 900px;

      section.post-panel {
        display: flex;
        height: 24px;
        //background-color: #00AA00;
      }
    }

  }

  div.margin-left {
    position: absolute;
    display: none;
    //background: #C7E3E4;
    @media (min-width: 1439px){
      width: 2%;
      min-width: 2%;
    }
  }

  section.application-body {
    position: absolute;
    //background: #E0D2C7;
    height: 100%;
    overflow: hidden;
    left: 0%;
    width: 100%;

    @media (min-width: 1439px){
      left: 2%;
      width: 96%;
      height: calc(100%);
    }

  }

  div.margin-right {
    position: absolute;
    display: none;
    right: 0;
    //background: #ECD5DE;
    @media (min-width: 1439px){
      width: 2%;
      min-width: 2%;
    }
  }

}