<div class="application">
    <div hide-md class="margin-left"></div>
    <section class="application-body">
        <section class="application-toolbar" hide-xs hide-sm>
            <span class="md-body-2">{{$ctrl.athletes.members.length}} атлетов</span>
            <md-button class="md-icon-button md-primary" aria-label="Settings" style="margin: 0px"
                       ng-click="$ctrl.prev()">
                <md-icon class="material-icons md-18" aria-label="Back">navigate_before</md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" aria-label="Settings" style="margin: 0px"
                       ng-click="$ctrl.next()">
                <md-icon class="material-icons md-18" aria-label="Back">navigate_next</md-icon>
            </md-button>
        </section>
        <section id="dashboard" class="content animated zoomIn">
            <md-toolbar class="dashboard-header md-caption" style="background-color: lightgrey; color: black" hide show-gt-sm>
                <div class="athlete">Атлет</div>
                <div class="day" style="text-transform: capitalize" ng-repeat="day in $ctrl.weekdayNames">{{day}}</div>
                <div class="total" hide show-gt-md>Итоги</div>
            </md-toolbar>
            <section class="dashboard-grid bg-grey-200">
                <div class="dashboard-week" ng-repeat="calendar in $ctrl.dashboard.calendar track by $index">
                    <dashboard-athlete class="athlete">
                        <userpic profile="calendar.profile"></userpic>
                        <span class="md-body-2">{{calendar.profile | username}}</span>
                    </dashboard-athlete>
                    <dashboard-day class="day" ng-repeat="day in calendar.subItem track by $index">
                        <dashboard-activity ng-repeat="item in day.data.calendarItems track by $index"
                                            ng-click="$ctrl.onOpen($event,'view',item)" style="cursor: pointer">
                            <div style="background-color: grey">
                                <md-icon md-svg-src="/assets/icon/{{::item.activityHeader.activityType.code}}.svg"
                                         style="margin-left: 4px"
                                         class="s24 light-active"></md-icon>
                                <span class="md-caption">{{'category.'+item.activityHeader.activityCategory.code | translate}}</span>
                            </div>
                        </dashboard-activity>
                    </dashboard-day>
                    <dashboard-total class="total">

                    </dashboard-total>
                </div>
            </section>
        </section>
    </section>
    <div hide-md class="margin-right"></div>
</div>