.st-application-frame {

  &__primary-toolbar {
    position: fixed;
    top: 0;
    z-index: 3;
  }

  &__secondary-toolbar {
    position: fixed;
    top: 64px;
    z-index: 2;
  }

  &__wrapper {
    width: 100vw;
    min-height: 100vh;
  }

  &__title {
    margin-left: 24px;
  }

  &__second-row {
    margin-left: 50px;
  }

  &__content {
    //position: fixed;
    width: 100vw;
    top: 64px;
    //padding-top: 8px;
  }

  &__sidenav {
    min-width: 320px !important;
    max-width: 360px;
  }

}
