<md-toolbar class="st-application-frame__primary-toolbar md-whiteframe-4dp">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Application Menu"
                   ng-click="$ctrl.sideNav('appmenu')">
            <md-icon class="material-icons md-light">menu</md-icon>
        </md-button>
        <h2 class="md-title" ng-transclude="title"></h2>
        <div flex ng-transclude="toolbar" class="icon-bar" md-colors="{background: 'primary-600'}"></div>
        <st-application-user-toolbar></st-application-user-toolbar>
    </div>
</md-toolbar>
<md-nav-bar class="st-application-frame__navbar"
        md-no-ink-bar="false"
        md-selected-nav-item="1"
        nav-bar-aria-label="navigation links">
    <div flex ng-transclude="navbar"></div>
</md-nav-bar>

<section class="st-application-frame__left-bar" ng-transclude="leftBar"></section>

<md-content ng-transclude="content"
            class="st-application-frame__content"
            ng-class="{'{{$ctrl.leftBarHideType}}': !$ctrl.leftBarShow, 'left-bar': $ctrl.leftBarHideType}"></md-content>

<section class="st-application-frame__right-bar" ng-transclude="rightBar"></section>

<md-sidenav id="appmenu" class="md-sidenav-left md-whiteframe-z2" md-component-id="appmenu"
            ng-if="$ctrl.auth.isAuthenticated()">
    <application-menu/>
</md-sidenav>

