<span class="group-actions">
    <md-button ng-click="$ctrl.joinGroup($ctrl.group)" ng-if="$ctrl.group.availableInteractions.btnJoinGroup" class="md-raised md-primary" style="padding: 0 7px; border-radius: 2px; background-color: #ff5722; font-size: 14px; text-transform: none;">
        {{$ctrl.labels[$ctrl.group.groupCode].join}}
    </md-button>
    
    <md-menu ng-if="$ctrl.group.availableInteractions.btnLeaveGroup">
      <md-button ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
        {{$ctrl.labels[$ctrl.group.groupCode].joined}} ▾
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="$ctrl.leaveGroup($ctrl.group)">
            {{$ctrl.labels[$ctrl.group.groupCode].leave}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    
</span>