.md-whiteframe-1dp, .md-whiteframe-z1 {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }

.md-whiteframe-2dp {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); }

.md-whiteframe-3dp {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12); }


.bg-circle {
  &-18{
    width: 18px;
    height: 18px;
    @include border-radius(9px);
  }
  &-32{
    width: 32px;
    height: 32px;
    @include border-radius(16px);
  }

}

#calendar {
  background-color: $grey-300;
  border-radius: 3px;
  padding-bottom: 4px;
  margin: 0px;
  -padding: 16px;

  width: 100%;
  max-width: 1400px;

  @media (max-width: 1280px){
    width: 100vw!important;
    max-width: none;
  }
}

.app-toolbar{

  color: rgba(white,0.54);

  .md-button {
    margin: 0px;
    padding: 4px 4px;

    svg {
      fill: rgba(white,0.54);
    }
  }
}

.week {
  min-height: 300px;
  -height: 100%;
  border-bottom: 1px solid $grey-400;

  @media(max-width: 959px){
    padding: 0;
    border-bottom: none;
  }
}

.day-toolbar {
  position: static;
  padding: 8px 0px;
  -line-height: 24px;
  min-height: 30px;
  background: $primary-hue-3 !important;
  -border-top-left-radius: 3px;
  -border-top-right-radius: 3px;

  div {
    -height: 100%;
    padding: 0px 4px;
    color: rgba(white,0.54);
  }
}

.day {
  -background: white;
  min-height: 100px;
  -min-width: 12%;
  padding: 0px 4px 8px;
  height: 100%;


  @media (min-width: 1279px){
    width: 12%;
    max-width: 250px;
  }

  @media (min-width: 959px) and (max-width: 1280px){
    width: 14%;
  }

  @media(max-width: 959px){
    padding: 1em;
    border-bottom: 1px solid $grey-400;
  }

  &.select {
    background: $primary-100;

  }

  &:hover{
    @extend .bg-grey-300;
  }
  transition: all 1s ease-in-out 0s;
}

calendar {
	md-toolbar {
		min-height: 32px;
		padding-left: 12px;
		padding-right: 12px;

		.weekday{
			text-transform: capitalize;
			@media (min-width: 1279px){
				width: 12%;
				max-width: 250px;
			}
			@media (min-width: 959px) and (max-width: 1280px){
				width: 14%;
			}
		}
	}
}

.summary {
  -min-height: 100px;
  border-left: 1px solid $grey-400;
}

#dayzone[dnd-list] {
  min-height: 50px;
  -padding-left: 0px;
}

#dayzone[dnd-list] .dndDraggingSource {
  display: none;
}

#dayzone[dnd-list] .dndPlaceholder {
  display: block;
  margin: 6px 6px 0px 6px;
  border-radius: 3px;
  -background-color: #ddd !important;
  @extend .bg-blue-grey-100;
  min-height: 100px;
}

#dayzone[dnd-list] {
  -background-color: #fff;
  -border: 1px solid #ddd;
  -border-top-right-radius: 4px;
  -border-top-left-radius: 4px;
  display: block;
  -padding: 10px 15px;
  -margin-bottom: -1px;
}

calendar-measurement, calendar-activity, calendar-event, calendar-competition {
  	position: relative;
  	min-height: 50px;
  	margin: 6px 6px 0px 6px;
  	cursor: pointer;
  	border-radius: 3px;

	&:focus {
		outline:0;
	}

  	@media (max-width: 1919px) and (min-width: 1280px){
    	-min-width: 10%;
    	-max-width: 175px;
  	}

  	@media (max-width: 960px){
    	border-radius: 0px;
    	margin: 0px 4px;
    	min-width: 200px;
    	padding-bottom: 0px;
  	}
}

calendar-activity {
  @include border-radius(3px);
  @extend .bg-grey-400;
  @extend .md-whiteframe-1dp;

  .header {
    @include border-radius(3px);
    padding: 10px 12px 12px 12px;

    &.complete {
		// Задание выполнено без отклонений

		color: white;
		#more {
			@extend .light-active;
		}

		@extend .bg-teal-500;
		.bg-circle-32 {
			@extend .bg-teal-800;
		}

      	&:hover, &.selected {
        	@extend .bg-teal-800;

        	.bg-circle-32 {
          		@extend .bg-teal-900;
        	}
      	}

		// Задание выполнено с отклонениями
		&.warn {
			@extend .bg-orange-500;
			.bg-circle-32 {
				@extend .bg-orange-800;
			}

			&:hover, &.selected {
				@extend .bg-orange-800;

				.bg-circle-32 {
					@extend .bg-orange-900;
				}
			}
		}

		// Задание выполнено с существенными отклонениями
		&.error {
			@extend .bg-red-500;
			.bg-circle-32 {
				@extend .bg-red-800;
			}

			&:hover, &.selected {
				@extend .bg-red-800;

				.bg-circle-32 {
					@extend .bg-red-900;
				}
			}
		}
    }

    &.dismiss {
      @extend .bg-red-500;
      color: white;

      .bg-circle-32 {
        @extend .bg-red-800;
      }

      #more {
        @extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-red-800;
        .bg-circle-32 {
          @extend .bg-red-900;
        }
      }
    }

  }


}

calendar-measurement {
  padding: 12px;
  @extend .bg-grey-200;


  &:hover {
    @extend .md-whiteframe-1dp;
  }
}

calendar-event, calendar-competition {
  padding: 10px 12px 12px 12px;
  @extend .bg-grey-400;
  @extend .md-whiteframe-1dp;

  &:hover {
    @extend .bg-grey-500;
  }

}

.activity{
  margin: 4px 0px;
  background: white;
  border-radius: 3px;
  -padding-bottom: 12px;
  cursor: pointer;

  @media (max-width: 1919px) and (min-width: 1280px){
    -min-width: 10%;
    -max-width: 175px;
  }

  @media (max-width: 960px){
    border-radius: 0px;
    margin: 0px 4px;
    min-width: 200px;
    padding-bottom: 0px;
  }



  .header {
    -height: 50px;
    padding: 12px;
    margin: 0;
    color: rgba(white,1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 500;

    @media (max-width: 960px){
      border-radius: 0px;
      height: 100%;
      margin-bottom: 0px;
    }

    &.success{
      background: $success-color;
      &:hover, &.select{
        background: $success-color-hover;
        & .activity-icon{
          background: $teal-900;
        }
      }
    }
    &.warning{
      background: $warning-color;
      &:hover, &.select{
        background: $warning-color-hover;
        & .activity-icon{
          background: $orange-900;
        }
      }
    }
    &.error{
      background: $error-color;
      &:hover, &.select {
        background: $error-color-hover;
        & .activity-icon{
          background: $red-900;
        }
      }
    }
    &.noplan{
      background: $grey-700;
      &:hover {
        background: $primary-hue-3;
        & .activity-icon{
          background: $blue-grey-900;
        }
      }
    }
  }
  .content {
    padding: 8px;
    color: rgba(black,0.8);
    background-color: #EEEEEE;

    span{
      color: rgba(black,0.54);
    }
  }
  .type {
    font-size: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -word-break: break-all;
  }
}

.new {
  border-radius: 3px;
  margin: 4px 0px;
  -background: white;
  visibility: hidden;
  cursor: pointer;

  &.show {
    visibility: visible;
  }

  &:hover {
    -background: white;
  }

}

.cg-width {
  width: 100%;

  @media (max-width: 959px) {
    width: auto;
  }
}
.today {
  border-top:solid 4px $orange-800 ;
}

.md-position-fab{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.md-position-fab.md-fab.md-primary.md-icon-button {
  background-color: $orange-900;

  &:hover {
    background-color: $orange-700;
  }
}
.status {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  content: " ";
}
.space{
  margin-left: 3px;
  margin-right: 3px;
}
.activity-icon {
  border-radius: 20px;
  padding: 3px 5px 3px 5px;
  &.success {
    background: $success-color-hover;

  }
  &.warning {
    background: $warning-color-hover;
  }
  &.error {
    background: $error-color-hover;
  }
  &.noplan {
    background: $primary-hue-3;
  }
}
.badge {
  font-size: 12px;
  padding-top: 10px;
}
.badge-icon{
 height: 12px;
 width: 12px;
 min-height: 12px;
 min-width: 12px
}
.classic{
  padding: 10px 12px 10px 12px;
}