<div layout="column" layout-align="start center" flex="100" style="height: 100%;">
    <!--    toolbar: start  -->
    <div layout="row" layout-align="start center" flex="none" class="app-toolbar">
        <md-button class="md-icon-button md-primary" aria-label="Settings"
                   ng-click="$ctrl.gotoAnchor($ctrl.scrollAdapter.topVisible.id - 1)">
            <md-icon md-svg-src="/assets/icon/navigate_before.svg" aria-label="Back"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="Settings"
                   ng-click="$ctrl.gotoAnchor($ctrl.scrollAdapter.topVisible.id + 1)">
            <md-icon md-svg-src="/assets/icon/navigate_next.svg" aria-label="Back"></md-icon>
        </md-button>
        <div class="md-body-2">2016 July</div>

        <!--<div class="md-body-1">-->
            <!--week: {{vm.weekIndex}}</div><div> startIndex: {{currentStartIndex}} endIndex: {{currentEndIndex}}</div>-->
        <md-button class="md-icon-button md-primary" aria-label="Settings"
                   ng-init="viewCompact = false"
                   ng-click="viewCompact = !viewCompact">
            <md-icon md-svg-src="/assets/icon/view_comfy.svg" aria-label="Back"></md-icon>
        </md-button>
        <div class="md-body-1">{{!viewCompact ? 'View compact' : 'View details'}}</div>

        <md-button ng-click="$ctrl.mockGetActivityList()">Get Activity List</md-button>
        <md-button ng-click="$ctrl.mockClearActivityList()">Clear Activity List</md-button>
        <span>top visible:</span> {{$ctrl.scrollAdapter.topVisible.name}}

    </div>
    <!--    toolbar: end  -->
    <div layout="row" flex="100" class="cg-width">
        <section layout="column" layout-align="start stretch" id="calendar" class="app-body animated zoomIn" style="width: 100%;">
            <md-toolbar hide-xs hide-sm class="md-primary"><div class="md-toolbar-tools"><h3>weekdays</h3></div></md-toolbar>

            <!-- Grid: start -->
            <md-content flex layout-padding class="viewport" id="viewport-serviceDatasource" ui-scroll-viewport>
                <!--<div class="item" ui-scroll="item in datasource">{{item}}</div>-->
            <div id="anchor{{::item.id}}" layout="raw" layout-xs="column" layout-sm="column" layout-align="space-between start" flex="none"
                 ui-scroll="week in $ctrl.grid"
                 adapter="$ctrl.scrollAdapter"
                 buffer-size="20"
                 start-index="0"
                 class="week" style="-height: 100%">
                <!-- При мобильном виде все в строку при наведении-->
                <!--<div layout-gt-sm="column" flex-gt-sm="none" layout="row" flex="100" layout-fill-->
                <div flex="none" layout="column" layout-fill
                     ng-repeat="day in week.week"
                     class="day"
                     ng-mouseover="showMenu=true" ng-mouseleave="showMenu=false"
                     ng-class="{select: selected}"
                     ng-init="showMenu=false">

                    <!-- current day header-->
                    <div layout="row" layout-align="space-between center" flex-gt-sm="none" flex="none" style="height: 30px">
                        <div flex="none"  class="md-body-1" style="min-width: 24px">{{::day.title}}</div>
                        <div flex="none" ng-show="showMenu || selected">
                            <md-checkbox ng-model="selected" aria-label="Checkbox 1" class="md-primary"
                                         style="margin-bottom: 0px; margin-left: 12px">
                            </md-checkbox>
                        </div>
                        <div flex="none"  ng-show="showMenu || selected">
                            <md-button class="md-icon-button" aria-label="More" style="margin: 0px; padding: 0px; width: 24px">
                                <md-icon md-svg-src="/assets/icon/more_vert.svg" class="fill-black-medium" size="s18"
                                         aria-label="Back"></md-icon>
                            </md-button>
                        </div>
                    </div>

                    <!-- Days body: start -->
                    <!--<div ng-repeat="activity in day.activity" layout-wrap-->
                         <!--flex-gt-sm="none" flex="auto" class="animated fadeIn activity md-whiteframe-1dp" draggable="true"-->
                         <!--ng-click="showActivity($event, activity)"-->
                         <!--ng-mouseover="showMenu=true" ng-mouseleave="showMenu=false" ng-init="showMenu=false">-->
                        <!--<div layout="row" layout-xs="column" layout-gt-sm="column">-->
                            <!--<div class="header {{activity.intervals[0].status}} md-caption"-->
                                 <!--ng-class="{select: selected}">-->
                                <!--<div layout="row" layout-align="space-between start">-->
                                    <!--<div flex="none" style="margin-right: 4px">-->
                                        <!--<md-icon md-svg-src="/assets/icon/{{!showMenu ? 'running.svg' : 'more_vert.svg'}}" class="fill-white-medium"-->
                                                 <!--aria-label="Back"></md-icon>-->
                                    <!--</div>-->
                                    <!--<div flex="100" class="type">{{activity.activityCategory.code | uppercase}}</div>-->
                                <!--</div>-->
                                <!--<div layout="row" layout-align="space-between start" style="margin-top: 8px">-->
                                    <!--<div flex="none" style="margin-right: 4px">-->
                                        <!--<md-icon md-svg-src="/assets/icon/heartRate.svg" class="fill-white-medium" size="s18"-->
                                                 <!--aria-label="Back"></md-icon>-->
                                    <!--</div>-->
                                    <!--<div flex="100" class="md-caption">-->
                                        <!--<span>{{activity.intervals[0].duration}}</span><span> min</span><br>-->
                                        <!--<span>{{activity.intervals[0].distance}}</span><span> km</span><br>-->
                                        <!--<span>{{activity.intervals[0].assessment}}</span><span>%</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div ng-show="!viewCompact" layout="row" layout-align="space-between start" class="content md-caption">-->
                                <!--<div flex="none" style="margin-right: 4px">-->
                                    <!--<md-icon md-svg-src="/assets/icon/paceSpeed.svg" class="fill-black-medium" size="s18"-->
                                             <!--aria-label="Back"></md-icon>-->
                                <!--</div>-->
                                <!--<div flex="100" class="type">-->
                                    <!--<div>{{activity.intervals[0].bpmAvr}}<span> bpm</span></div>-->
                                    <!--<div>{{activity.intervals[0].TSS}}<span> TL</span></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div ng-show="!viewCompact && (activity.social.userLikesCount + activity.social.userCommentsCount)>0" layout="row" layout-align="end center" class="content md-caption">-->

                                <!--<md-icon md-svg-src="/assets/icon/thumb_up.svg" class="fill-black-medium" ng-if="activity.social.userLikesCount >0"-->
                                         <!--style="width: 14px; height: 14px; margin: 0px 8px;"-->
                                         <!--aria-label="Back"></md-icon>-->
                                <!--<span ng-if="activity.social.userLikesCount >0">{{::activity.social.userLikesCount}}</span>-->
                                <!--<md-icon md-svg-src="/assets/icon/chat_bubble.svg" class="fill-black-medium" ng-if="activity.social.userCommentsCount >0"-->
                                         <!--style="width: 14px; height: 14px; margin: 0px 8px;"-->
                                         <!--aria-label="Back"></md-icon>-->
                                <!--<span ng-if="::activity.social.userCommentsCount >0">{{::activity.social.userCommentsCount}}</span>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!-- Days: end -->

                    <!-- Add new task: choise : start -->
                    <div layout="row" layout-align="center center" flex="grow" layout-fill
                         class="new" ng-class="{show: showMenu}">
                        <md-button class="md-icon-button" aria-label="More" style="margnin: 0px; padding: 0px">
                            <md-icon md-svg-src="/assets/icon/add_circle_outline.svg" class="fill-black-medium" size="s18"
                                     aria-label="Back"></md-icon>
                        </md-button>
                    </div>
                    <!-- Add new task: choise : end -->
                </div>

                <!-- Week: start -->
                <!--<div flex-order="-1" flex-order-gt-sm="10"-->
                     <!--flex-xs="100" flex-sm="100" flex-gt-sm="noshrink" hide show-gt-md flex class="md-caption summary"-->
                        <!--style="width: calc(100% - 7*12%)">-->
                    <!--<div flex-gt-sm="none" flex="none" class="md-body-1">Неделя {{startIndex+$index}}</div>-->
                <!--</div>-->
                <!-- Week: end -->
            </div>

            </md-content>
            <!--    Grid: end  -->

                <!--<md-toolbar felx="auto" hide show-gt-sm layout="raw" class="day-toolbar">
                <div flex class="md-caption">{{vm.weekDays[0] | capitalizeFirstLetter}}</div>
                <div flex class="md-caption">{{vm.weekDays[1] | capitalizeFirstLetter}}</div>
                <div flex class="md-caption">{{vm.weekDays[2] | capitalizeFirstLetter}}</div>
                <div flex class="md-caption">{{vm.weekDays[3] | capitalizeFirstLetter}}</div>
                <div flex class="md-caption">{{vm.weekDays[4] | capitalizeFirstLetter}}</div>
                <div flex class="md-caption">{{vm.weekDays[5] | capitalizeFirstLetter}}</div>
                <div flex class="md-caption">{{vm.weekDays[6] | capitalizeFirstLetter}}</div>
                <div flex hide show-gt-md class="md-caption">Итоги</div>
            </md-toolbar> -->

            <!--
            <div felx vs-repeat vs-autoresize
                 ng-init="setUpWatcher()" vs-excess="5" startIndex="5"
                 style="overflow-y: auto">
                <div ng-repeat="week in vm.calendar" class="week" layout="raw" layout-wrap>
                    <div ng-repeat="day in week"
                         layout="row" layout-gt-sm="column" flex-xs="100" flex-sm="100" flex-gt-sm="10" class="day"
                         ng-mouseover="showMenu=true" ng-mouseleave="showMenu=false"
                         ng-class="{select: selected}"
                         ng-init="showMenu=false">


                        <div layout="row" layout-align="space-between center" flex-gt-sm="none" flex="none" style="height: 30px">
                            <div flex="none" class="md-body-2" style="min-width: 24px">{{day.title}}</div>
                            <div flex="none" ng-show="showMenu || selected">
                                <md-checkbox ng-model="selected" aria-label="Checkbox 1" class="md-primary"
                                             style="margin-bottom: 0px; margin-left: 12px">
                                </md-checkbox>
                            </div>
                            <div flex="none" ng-show="showMenu || selected">
                                <md-button class="md-icon-button" aria-label="More" style="margin: 0px; padding: 0px; width: 24px">
                                    <md-icon md-svg-src="/pic/more_vert.svg" class="black" size="s18"
                                             aria-label="Back"></md-icon>
                                </md-button>
                            </div>

                        </div>


                        <div ng-repeat="activity in day.activity" layout-wrap
                             flex-gt-sm="none" flex="auto" class="activity md-whiteframe-1dp" draggable="true"
                             ng-click="showActivity($event, activity)"
                             ng-mouseover="showMenu=true" ng-mouseleave="showMenu=false" ng-init="showMenu=false">
                            <div layout="row" layout-xs="column" layout-gt-sm="column">
                                <div class="header {{activity.result.status}} md-caption"
                                     ng-class="{select: selected}">
                                    <div layout="row" layout-align="space-between start">
                                        <div flex="none" style="margin-right: 4px">
                                            <md-icon md-svg-src="/pic/{{!showMenu ? 'running.svg' : 'more_vert.svg'}}" class="white"
                                                     aria-label="Back"></md-icon>
                                        </div>
                                        <div flex="100" class="type">{{activity.subType | uppercase}}</div>
                                    </div>
                                    <div layout="row" layout-align="space-between start" style="margin-top: 8px">
                                        <div flex="none" style="margin-right: 4px">
                                            <md-icon md-svg-src="/pic/heartRate.svg" class="white" size="s18"
                                                     aria-label="Back"></md-icon>
                                        </div>
                                        <div flex="100" class="md-caption">
                                            <span>{{activity.result.duration}}</span><span> min</span><br>
                                            <span>{{activity.result.distance}}</span><span> km</span><br>
                                            <span>{{activity.result.assessment}}</span><span>%</span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="!viewCompact" layout="row" layout-align="space-between start" class="content md-caption">
                                    <div flex="none" style="margin-right: 4px">
                                        <md-icon md-svg-src="/pic/paceSpeed.svg" class="black" size="s18"
                                                 aria-label="Back"></md-icon>
                                    </div>
                                    <div flex="100" class="type">
                                        <div>{{activity.result.bpmAvr}}<span> bpm</span></div>
                                        <div>{{activity.result.TSS}}<span> TL</span></div>
                                    </div>
                                </div>
                                <div ng-show="!viewCompact && (activity.like + activity.comment)>0" layout="row" layout-align="end center" class="content md-caption">

                                    <md-icon md-svg-src="/pic/thumb_up.svg" class="black" ng-if="activity.like >0"
                                             style="width: 14px; height: 14px; margin: 0px 8px;"
                                             aria-label="Back"></md-icon>
                                    <span ng-if="activity.like >0">{{::activity.like}}</span>
                                    <md-icon md-svg-src="/pic/chat_bubble.svg" class="black" ng-if="activity.comment >0"
                                             style="width: 14px; height: 14px; margin: 0px 8px;"
                                             aria-label="Back"></md-icon>
                                    <span ng-if="::activity.comment >0">{{activity.comment}}</span>

                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" class="new" ng-class="{show: showMenu}">
                            <md-button class="md-icon-button" aria-label="More" style="margnin: 0px; padding: 0px">
                                <md-icon md-svg-src="/pic/add_circle_outline.svg" class="black" size="s18"
                                         aria-label="Back"></md-icon>
                            </md-button>

                        </div>
                    </div>
                    <div flex-order="-1" flex-order-gt-sm="10"
                         flex-xs="100" flex-sm="100" hide show-xs show-sm show-gt-md flex class="md-caption summary">
                        <div flex-gt-sm="none" flex="none">Неделя {{startIndex+$index}}</div>
                    </div>
                </div>
            </div> -->

        </section>
    </div>

    <div layout="row" flex="none" hide show-gt-sm class="footer"></div>

</div>
