<!-- common section -->
<application-frame class='{{$ctrl.view.style}}'>
    <div layout="row" layout-align="center start" class="app-layer">
        <!-- common left margin -->
        <div flex-gt-md="{{$ctrl.view.margin}}" hide-md></div>
        <div flex="{{$ctrl.view.size}}" layout="column" class="body">
            <div flex="100" layout="column" layout-align="center center" layout-fill>

                <!-- application section: start -->
                <div layout="column" layout-align="start center" flex="100" style="height: 100%; width: 100%">
                    <!--    toolbar: start  -->
                    <div hide-xs hide-sm layout="row" layout-align="start center" flex="none" class="app-toolbar">
                        <md-button class="md-icon-button md-primary" aria-label="Settings"
                                   ng-click="$ctrl.gotoAnchor($ctrl.grid.adapter.topVisible.sid - 1)">
                            <md-icon md-svg-src="/assets/icon/navigate_before.svg" class="s18" aria-label="Back"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-primary" aria-label="Settings"
                                   ng-click="$ctrl.gotoAnchor($ctrl.grid.adapter.topVisible.sid + 1)">
                            <md-icon md-svg-src="/assets/icon/navigate_next.svg" class="s18" aria-label="Back"></md-icon>
                        </md-button>
                        <div class="md-title">{{$ctrl.currentWeek.toolbarDate}}</div>

                        <md-button class="md-icon-button md-primary" aria-label="Settings"
                                   ng-init="today = 0"
                                   ng-click="$ctrl.gotoIndex(today)">
                            <md-icon md-svg-src="/assets/icon/today.svg" aria-label="Back"></md-icon>
                        </md-button>

                        <div class="md-body-1" translate class="md-caption">app.calendar.today</div>
                        <md-button class="md-icon-button md-primary" aria-label="Settings"
                                   ng-click="$ctrl.view.compact = !$ctrl.view.compact">
                            <md-icon md-svg-src="/assets/icon/view_comfy.svg" aria-label="Back"></md-icon>
                        </md-button>
                        <div class="md-body-1">{{!viewCompact ? 'View compact' : 'View details'}}</div>
                    </div>
                    <!-- toolbar: end  -->

                    <!-- calendar: start -->
                    <div layout="row" flex="100" style="width: 100%; max-width: 1400px">
                        <section layout="column" layout-align="start stretch" id="calendar" class="app-body animated zoomIn" style="width: 100%;">

                            <!-- weekdays panel: start -->
                            <md-toolbar flex="none" layout="raw" layout-align="space-between center" hide show-gt-sm
                                        class="md-primary"
                                        style="min-height: 32px;">

                                    <div ng-repeat="day in $ctrl.weekdays"
                                         flex="auto"
                                         class="md-caption weekday">{{::day}}</div>
                                    <div hide show-gt-md
                                         flex="auto"
                                         class="md-caption weekday">Итоги</div>


                            </md-toolbar>
                            <md-progress-linear ng-show="$ctrl.datasource.isLoadingUp || $ctrl.datasource.isLoadingDown" class="md-accent"
                                                md-mode="indeterminate"></md-progress-linear>
                            <!-- weekdays panel: end -->
                            
                            <!-- grid: start -->
                            <md-content flex class="calendar-grid" id="viewport-serviceDatasource" keep-scroll-position scroll-current-item>

                                <div ng-if="$ctrl.datasource.items.length" scroll-fire="$ctrl.datasource.up(3)" layout="row" layout-sm="column" layout-align="space-around">
                                    <md-button ng-if="!$ctrl.datasource.isLoadingUp" ng-click="$ctrl.datasource.up(3)" aria-label="menu"> More </md-button>
                                    <md-progress-circular ng-if="$ctrl.datasource.isLoadingUp" md-mode="indeterminate"></md-progress-circular>
                                </div>
                                
                                <!-- grid-week: start -->
                                <div id="week{{::week.sid}}"
                                     layout="raw" layout-xs="column" layout-sm="column"
                                     layout-align-gt-sm="start stretch" flex="none"
                                     ng-repeat="week in $ctrl.datasource.items track by week.sid"
                                     on-scroll-current-item="$ctrl.currentWeek = week"
                                     buffer-size="5"
                                     start-index="0"
                                     padding="1.0"
                                     class="week"
                                     ng-class="{'keep-scroll-position-pivot': week.sid == 1}">
                                    <calendar-day flex="100" flex-gt-md="12" flex-sm="14"
                                                  layout="row" layout-gt-sm="column"
                                                  ng-repeat="day in week.subItem track by day.key"
                                                  ng-mouseover="accentDay=true" ng-mouseleave="accentDay=false"
                                                  ng-init="accent=false"
                                                  ng-class="{select: day.selected}"
                                                  selected="day.selected"
                                                  accent="accentDay"
                                                  data="day.data"
                                                  on-select="day.selected = !day.selected">
                                    </calendar-day>

                                    <!-- grid-weektotals: start -->

                                    <calendar-total flex-gt-md="12" layout="column" hide show-gt-md
                                                    class="md-caption summary"
                                                    ng-mouseover="accentTotal=true" ng-mouseleave="accentTotal=false"
                                                    ng-init="accent=false"
                                                    ng-class="{select: day.selected}"
                                                    selected="week.selected"
                                                    accent="accentTotal"
                                                    update="week.changes"
                                                    week="week"
                                                    on-toggle="$ctrl.onToggleWeek(sid, value)">
                                        <div flex class="md-body-1">Неделя {{$index}}</div>
                                    </calendar-total>
                                    <!-- grid-weektotals: end -->

                                </div>
                                <!-- grid-week: end -->
  
                                <div class="keep-scroll-position-pivot"></div>
                                
                                <div scroll-fire="$ctrl.datasource.down(3)" layout="row" layout-sm="column" layout-align="space-around">
                                    <md-button ng-if="!$ctrl.datasource.isLoadingDown" ng-click="$ctrl.datasource.down(3)" aria-label="menu"> More </md-button>
                                    <md-progress-circular ng-if="$ctrl.datasource.isLoadingDown" md-mode="indeterminate"></md-progress-circular>
                                </div>
                                
                            </md-content>
                            <!-- grid-weekdays: end -->

                            <!-- Fab button -->
                            <md-button hide hide-gt-sm class="md-position-fab md-fab md-primary md-icon-button" aria-label="Add task">
                                <md-icon md-svg-src="/assets/icon/add_circle_outline.svg" class="fill-black-medium" size="s22"
                                         aria-label="Add task"></md-icon>
                            </md-button>

                         </section>
                    </div>
                    <!-- calendar: end -->

                    <div layout="row" flex="none" hide show-gt-md class="footer"></div>
                </div>
                <!-- application section: end -->
            </div>
        </div>
        <!-- common right margin -->
        <div flex-gt-md="{{$ctrl.view.margin}}" hide-md></div>
    </div>
</application-frame>
<!-- end of common section -->

