<md-toolbar flex="none" class="md-primary">
    <div class="md-toolbar-tools">
        <h2 class="">{{::'trainingPlans.form.title' | translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.onCancel()">
            <md-tooltip md-direction="left">{{::'activity.settings.close' | translate}}</md-tooltip>
            <md-icon class="material-icons md-active" aria-label="Close dialog">close</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-dialog-content flex="auto" layout="column">
    <md-tabs flex="auto" layout-fill md-stretch-tabs="always" ng-cloak class="md-primary">
        <md-tab id="general" flex="auto" layout="column">
            <md-tab-label><span translate="trainingPlans.form.tabs.general"></span></md-tab-label>
            <md-tab-body layout="column" layout-fill>
                <form flex="auto" layout="column" name="$ctrl.planForm">
                    <md-list flex="auto" class="md-dense">
                        <!--<md-subheader class="md-no-sticky">{{'analytics.settings.params' | translate}}</md-subheader>-->
                        <md-list-item>
                            <md-icon flex="none" class="material-icons md-dark dense">monetization_on</md-icon>
                            <p translate="trainingPlans.form.isPublic.label"></p>
                            <md-switch class="md-primary"
                                       name="isPublic"
                                       ng-model="$ctrl.plan.isPublic"></md-switch>
                        </md-list-item>
                        <!-- Название плана -->
                        <md-list-item>
                            <md-input-container class="md-block no-message" layout="row">
                                <label translate="trainingPlans.name.label"></label>
                                <md-icon flex="none" class="material-icons md-dark">timeline</md-icon>
                                <input flex="auto"
                                       name="name" required
                                       type="text"
                                       placeholder="{{trainingPlans.name.placeholder}}"
                                       ng-model="$ctrl.plan.name">
                                <div ng-messages="$ctrl.form.sport.$error" role="alert">
                                    <div ng-message-exp="['required']"
                                         translate="form.required">
                                    </div>
                                    <div ng-message-exp="['minlength', 'maxlength']"
                                         translate="form.rangeStr" translate-values="{min:2, max:100}">
                                    </div>
                                </div>
                            </md-input-container>
                        </md-list-item>
                        <!-- Вид -->
                        <md-list-item>
                            <md-input-container class="md-block no-message" md-no-float layout="row">
                                <label translate="trainingPlans.type.label"></label>
                                <md-icon flex="none" class="md-dark" md-svg-src="/assets/icon/{{$ctrl.plan.type}}.svg">
                                </md-icon>
                                <md-select flex name="type" class="icon" required
                                           placeholder="{{trainingPlans.name.placeholder}}"
                                           ng-model="$ctrl.plan.type"
                                           ng-change="$ctrl.changeParam()">
                                    <md-option ng-repeat="type in $ctrl.config.types track by $index"
                                               value="{{type}}">
                                        {{'plan.types.' + type | translate}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="$ctrl.planForm.type.$error" role="alert">
                                    <div ng-message-exp="['required']"
                                         translate="form.required">
                                    </div>
                                </div>
                            </md-input-container>
                        </md-list-item>
                        <!-- Тип дистанции -->
                        <md-list-item>
                            <md-input-container class="md-block no-message" md-no-float layout="row">
                                <label translate="trainingPlans.distanceType.label"></label>
                                <md-icon flex="none" class="md-dark"
                                         md-svg-src="/assets/icon/competition.svg"></md-icon>
                                <md-select flex name="distanceType" class="icon" required="{{$ctrl.plan.isPublic}}"
                                           ng-model="$ctrl.plan.distanceType"
                                           placeholder="{{trainingPlans.distanceType.placeholder}}"
                                           ng-change="$ctrl.changeParam()">
                                    <md-option
                                            ng-repeat="type in $ctrl.config.distanceTypes[$ctrl.plan.type] track by $index"
                                            value="{{type}}">
                                        {{'plan.distanceType.' + type | translate}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="$ctrl.planForm.distanceType.$error" role="alert">
                                    <div ng-message-exp="['required']"
                                         translate="form.required">
                                    </div>
                                </div>
                            </md-input-container>
                        </md-list-item>
                        <!-- Характеристики плана -->
                        <md-list-item class="tags-wrapper">
                            <md-icon flex="none" class="md-dark dense" md-svg-src="/assets/icon/tags.svg"></md-icon>
                            <div layout="column">
                                <p class="md-caption md-dark label" translate="trainingPlans.tags.label"></p>
                                <div class="tags" layout="row" layout-wrap>
                                    <md-checkbox flex="30"
                                                 ng-repeat="tag in $ctrl.config.tags track by $index"
                                                 class="md-primary" name="tag-{{tag}}"
                                                 ng-checked="$ctrl.exists(tag, $ctrl.plan.tags)"
                                                 ng-click="$ctrl.toggle(tag, $ctrl.plan.tags)">
                                        <span translate="trainingPlans.tags.{{tag}}"></span>
                                    </md-checkbox>
                                </div>
                            </div>
                        </md-list-item>
                        <!-- Описание плана -->
                        <md-list-item>
                            <md-icon flex="none" class="md-dark material-icons">subject</md-icon>
                            <md-input-container class="md-block no-message" layout="row">
                                <label translate="trainingPlans.form.description.label"></label>
                                <textarea flex="auto"
                                          name="description"
                                          type="text"
                                          rows="{{$ctrl.plan.isPublic ? 5 : 2}}"
                                          md-select-on-focus
                                          placeholder="{{trainingPlans.form.description.placeholder}}"
                                          ng-model="$ctrl.plan.description"></textarea>
                                <div ng-messages="$ctrl.form.sport.$error" role="alert">
                                    <div ng-message-exp="['required']"
                                         translate="form.required">
                                    </div>
                                    <div ng-message-exp="['minlength', 'maxlength']"
                                         translate="form.rangeStr" translate-values="{min:2, max:100}">
                                    </div>
                                </div>
                            </md-input-container>
                        </md-list-item>
                        <!-- Ключевые слова -->
                        <md-list-item class="keywords-wrapper">
                            <md-input-container class="md-block no-message" layout="row">
                                <md-icon flex="none" class="md-dark material-icons">vpn_key</md-icon>
                                <label translate="trainingPlans.form.keywords.label"></label>
                                <md-chips flex="auto"
                                          ng-model="$ctrl.plan.keywords"
                                          readonly="$ctrl.readonly"
                                          md-removable="$ctrl.removable"
                                          placeholder="{{trainingPlans.form.keywords.placeholder}}"
                                          delete-button-label="Remove Tag"
                                          delete-hint="Press delete to remove tag"
                                          secondary-placeholder="{{trainingPlans.form.keywords.secondaryPlaceholder}}"></md-chips>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item ng-if="$ctrl.plan.isPublic">
                            <md-input-container class="md-block no-message" layout="row">
                                <label translate="trainingPlans.form.regularWeek.label"></label>
                                <textarea flex="auto"
                                          name="regularWeek"
                                          type="text"
                                          rows="3"
                                          md-select-on-focus
                                          placeholder="{{trainingPlans.form.regularWeek.placeholder}}"
                                          ng-model="$ctrl.plan.regularWeek"></textarea>
                                <div ng-messages="$ctrl.form.regularWeek.$error" role="alert">
                                    <div ng-message-exp="['required']"
                                         translate="form.required">
                                    </div>
                                    <div ng-message-exp="['minlength', 'maxlength']"
                                         translate="form.rangeStr" translate-values="{min:2, max:100}">
                                    </div>
                                </div>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item ng-if="$ctrl.plan.isPublic">
                            <md-input-container class="md-block no-message" layout="row">
                                <label translate="trainingPlans.form.weekCount.label"></label>
                                <input flex="auto"
                                       name="weekCount"
                                       type="number"
                                       placeholder="{{trainingPlans.form.weekCount.placeholder}}"
                                       ng-model="$ctrl.plan.weekCount">
                                <div ng-messages="$ctrl.form.weekCount.$error" role="alert">
                                    <div ng-message-exp="['required']"
                                         translate="form.required">
                                    </div>
                                    <div ng-message-exp="['minlength', 'maxlength']"
                                         translate="form.rangeStr" translate-values="{min:2, max:100}">
                                    </div>
                                </div>
                            </md-input-container>
                        </md-list-item>
                    </md-list>
                    <md-divider></md-divider>
                    <md-list-item>
                        <p class="md-caption md-dark md-inactive">План содержит {{$ctrl.plan.calendarItems.length}}
                            записей</p>
                    </md-list-item>
                </form>
            </md-tab-body>
        </md-tab>
        <md-tab id="info" flex="auto" layout="column" ng-if="$ctrl.plan.isPublic">
            <md-tab-label><span translate="trainingPlans.form.tabs.info"></span></md-tab-label>
            <md-tab-body layout="column" layout-fill>
                <p>second</p>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-dialog-content>
<md-dialog-actions flex="none" layout="row" style="background: white">
    <span flex></span>
    <md-button ng-if="$ctrl.isViewMode"
               ng-click="$ctrl.setChangeMode()">
        <span translate="trainingPlans.form.edit"></span>
    </md-button>
    <md-button ng-if="!$ctrl.isViewMode"
               ng-class="{'md-warn': !$ctrl.planForm.$valid}"
               ng-disabled="!$ctrl.planForm.$dirty"
               ng-click="($ctrl.planForm.$valid) ? $ctrl.save() : null">
        <span translate="trainingPlans.form.post"></span>
    </md-button>
</md-dialog-actions>