<div flex layout-xs="row" layout-sm="row" layout-gt-sm="column">
    <!-- day header: start -->
    <section class="toolbar" flex-gt-sm="none" flex="none" style="height: 30px" layout="row" layout-align="space-between center"
         ng-class="{today: $ctrl.today}">
        <div flex="none">
            <!--<div show hide-gt-sm flex="none" class="md-body-1" style="min-width: 24px">
                {{::$ctrl.data.month | uppercase}}
            </div>-->
            <div flex="none" layout="raw" class="md-body-1" style="min-width: 24px" hide show-gt-sm>
                <span>{{::($ctrl.dynamicDates ? $ctrl.data.pos : $ctrl.data.title)}}</span>
                <span ng-if="$ctrl.data.title == '01' && !$ctrl.dynamicDates" style="margin-left: 0.4em;">{{::$ctrl.data.month}}</span>
            </div>
            <div hide-gt-sm class="md-title day">{{::$ctrl.data.title}}</div>
            <div hide-gt-sm class="md-caption weekday">{{::$ctrl.data.day}}</div>
        </div>

        <div hide show-gt-sm flex="none" ng-show="$ctrl.selected || $ctrl.accent">
            <md-checkbox ng-model="$ctrl.selected"
                         ng-change="$ctrl.onSelect()"
                         aria-label="Checkbox 1" class="md-primary"
                         style="margin-bottom: 0px; margin-left: 12px">
            </md-checkbox>
        </div>

        <div  hide show-gt-sm flex="none"  ng-show="$ctrl.selected || $ctrl.accent">
            <md-menu>
                <md-button class="md-icon-button " ng-click="$mdOpenMenu($event)" aria-label="More" style="margin: 0px; padding: 0px; width: 24px">
                    <md-icon class="material-icons md-18"
                             aria-label="More">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button>
                            <md-icon class="material-icons" md-menu-align-target>add_circle_outline</md-icon>
                        Добавить</md-button></md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.onSelect(); $ctrl.checked = !$ctrl.checked">
                            <md-icon class="material-icons" md-menu-align-target>{{!$ctrl.selected ? 'checkbox' : 'checkbox_outline_box'}}</md-icon>
                            {{!$ctrl.selected ? 'Выделить' : 'Снять выделение'}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.calendar.onDelete($ctrl.data.calendarItems)">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>Удалить</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="$ctrl.selected ? angular.noop() : $ctrl.onSelect(); $ctrl.calendar.onCopy()">
                        <md-icon class="material-icons" md-menu-align-target>content_copy</md-icon>
                        Скопировать</md-button></md-menu-item>
                    <md-menu-item ng-if="$ctrl.calendar.buffer.length > 0">
                        <md-button ng-click="$ctrl.calendar.onPaste($ctrl.data.date)">
                            <md-icon class="material-icons" md-menu-align-target>content_paste</md-icon>
                            Вставить ({{$ctrl.calendar.buffer.length}})</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="$ctrl.calendar.buffer.length > 0">
                        <md-button ng-click="$ctrl.calendar.onPostPlan($event)">
                            <md-icon class="material-icons" md-menu-align-target>content_paste</md-icon>
                            Создать тренировочный план ({{$ctrl.calendar.buffer.length}})</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </section>
    <!-- day header: end -->
    <!-- calendar items: start -->
    <section class="items" flex="auto" layout="column"
             dnd-list="items"
             dnd-allowed-types="['itemType']"
             dnd-drop="callback({date: $ctrl.data.date, operation: dropEffect, index: index})">
        <div flex="none" layout-wrap ng-switch on="item.calendarItemType"
             ng-repeat="item in $ctrl.data.calendarItems | orderBy:'dateStart' track by item.index">
            <calendar-measurement ng-switch-when="measurement"
                                  layout="row" flex="auto"
                                  dnd-draggable="item"
                                  dnd-type="'itemType'"
                                  dnd-effect-allowed="copyMove"
                                  dnd-dragstart="$ctrl.onDrag(event)"
                                  dnd-copied="$ctrl.onCopied(item)"
                                  dnd-moved="$ctrl.onMoved(item)"
                                  ng-click="$ctrl.onOpen($event,item.calendarItemType, item)">
                <div flex="none">
                    <md-icon class="material-icons md-18" style="margin-right: 8px">straighten</md-icon>
                </div>
                <div flex="auto" style="margin-top: 2px">
                    <div ng-repeat="(key,value) in item.measurementHeader.sizes"
                         class="md-caption secondary dark">
                        {{key | translate}}: {{value}}
                    </div>
                    <div ng-repeat="(key,value) in item.measurementHeader.generalMeasures"
                         class="md-caption secondary dark">
                        {{key | translate}}: {{value}}
                    </div>
                    <div ng-repeat="(key,value) in item.measurementHeader.sleepData"
                         class="md-caption secondary dark">
                        {{key | translate}}: {{value}}
                    </div>
                    <div ng-repeat="(key,value) in item.measurementHeader.feeling"
                         class="md-caption secondary dark" ng-switch on="key">
                        <span ng-switch-when="overallFeeling"
                              hm-read-more
                              hm-text="{{::value}}"
                              hm-limit="20"
                              hm-more-text="more"
                              hm-less-text="less"
                              hm-dots-class="read-more-dots"
                              hm-link-class="read-more-links"></span>
                        <span ng-switch-default>{{::value}}</span>
                    </div>
                </div>
            </calendar-measurement>
            <calendar-event ng-switch-when="event" class="md-whiteframe-1dp"
                            layout="column" flex="auto"
                            dnd-draggable="item"
                            dnd-type="'itemType'"
                            dnd-effect-allowed="copyMove"
                            dnd-callback="$ctrl.onDropEvent(item, operation, $index, date, index)">
                <header ng-click="$ctrl.open($event,item.calendarItemType, item)">
                    <div layout="row" layout-align="space-between center">
                        <div flex="25" hide show-gt-sm></div>
                        <section flex="none" layout="row" layout-align="center center" class="icon bg-circle-32 bg-grey-500">
                            <md-icon class="md-light" md-svg-src="/assets/icon/{{item.eventHeader.eventType}}.svg"></md-icon>
                        </section>
                        <div hide show-xs show-sm flex class="md-caption" translate>{{::'event.'+item.eventHeader.eventType}}</div>
                        <md-menu flex="none" flex-gt-sm="25">
                            <md-button class="md-icon-button" aria-label="More Event"
                                       style="margin-right: 0px"
                                       ng-click="$mdOpenMenu($event)">
                                <md-icon class="material-icons md-18">more_vert</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="$ctrl.open($event,item.calendarItemType, item)">
                                        <md-icon class="material-icons" md-menu-align-target>edit</md-icon>
                                        Изменить
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="$ctrl.calendar.onCopy([item])">
                                        <md-icon class="material-icons" md-menu-align-target>content_copy</md-icon>
                                        Скопировать
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="$ctrl.onDelete()" ng-disabled="::!$ctrl.isCreator">
                                        <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                                        Удалить
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div hide show-gt-sm flex layout="row" layout-align="center center"
                         class="md-caption dark center line-14" style="margin-top: 8px">
                        <div flex="none" translate>{{::'event.'+item.eventHeader.eventType}}</div>
                    </div>
                </header>
                <footer ng-if="::(item.eventHeader.target.length>0)" hide show-gt-md>
                    <div flex="none" class="md-caption secondary dark" style="font-size: 12px"
                         hm-read-more
                         hm-text="{{::item.eventHeader.target}}"
                         hm-limit="50"
                         hm-more-text="more"
                         hm-less-text="less"
                         hm-dots-class="read-more-dots"
                         hm-link-class="read-more-links">
                    </div>
                </footer>
            </calendar-event>
            <st-competition-compact ng-switch-when="competition"
                                    layout="column" flex="auto"
                                    ng-click="$ctrl.open($event,item.calendarItemType, item)"
                                    view="calendar"
                                    item="::item"
                                    options="$ctrl.itemOptions"
                                    dnd-draggable="item"
                                    dnd-type="'itemType'"
                                    dnd-effect-allowed="copyMove"
                                    dnd-dragstart="$ctrl._$log.info('Started to drag an item', event)"
                                    dnd-moved="$ctrl.calendar.onDeleteItem(item); $ctrl._$log.info('Item moved', event)">

            </st-competition-compact>

            <calendar-record ng-switch-when="record"
                             ng-click="$ctrl.open($event,item.calendarItemType, item)"
                             layout="row" layout-align="start center" flex="auto">
                <md-icon class="material-icons md-dark md-inactive md-18 icon"
                         md-svg-src="/assets/icon/{{item.recordHeader.type}}.svg"></md-icon>
                <div class="md-caption md-dark" translate>{{::'record.'+item.recordHeader.type}}</div>
            </calendar-record>

            <calendar-activity ng-switch-when="activity"
                               layout="column" flex="auto"
                               item="item" selected="$ctrl.selected"
                               owner="$ctrl.owner"
                               current-user="$ctrl.currentUser"
                               training-plan-mode="$ctrl.trainingPlanMode"
                               on-save="$ctrl.onSave(formMode, item)"
                               dnd-draggable="item"
                               dnd-disable-if="::!$ctrl.isSpecified(item)"
                               dnd-type="'itemType'"
                               dnd-effect-allowed="copyMove"
                               dnd-callback="$ctrl.onDropActivity(item, operation, $index, date, index)"
            </calendar-activity>
        </div>
    </section>
    <!-- calendar items: end -->

    <!-- add item: start -->
    <section class="actions" layout="row" layout-align="center center" flex="none" hide show-gt-sm>
        <md-button  class="md-icon-button" aria-label="More"
                    ng-click="$ctrl.post($event, 'activity', $ctrl.data)">
            <md-icon class="material-icon" aria-label="New">add_circle_outline</md-icon>
        </md-button>
        <md-button  class="md-icon-button" aria-label="More" ng-if="!$ctrl.trainingPlanMode"
                    ng-click="$ctrl.post($event, 'measurement', $ctrl.data)">
            <md-icon class="material-icon" aria-label="New">straighten</md-icon>
        </md-button>
        <md-button  class="md-icon-button" aria-label="More"
                    ng-click="$ctrl.post($event, 'record', $ctrl.data)">
            <md-icon class="material-icon" aria-label="New">note_add</md-icon>
        </md-button>
        <md-button  class="md-icon-button" aria-label="Competition"
                    ng-click="$ctrl.post($event, 'competition', $ctrl.data)">
            <md-icon class="material-icon" md-svg-src="/assets/icon/competition.svg" aria-label="Competition"></md-icon>
        </md-button>
    </section>
    <!-- add item: end -->
</div>




