@import "../../../sass/color";
@import "../../../sass/font";

calendar-day {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  min-height: 170px;
  padding: 0px 6px 8px 6px;
  height: 100%;
  width: 12.4%;
  vertical-align:top;

  // xs & sm size
  @media (min-width: 0px) and (max-width: 959px) {
    width: 100%;
    height:auto;
    min-height: 70px;
    padding: 12px 8px 12px 8px;
    //border-bottom: 1px solid $grey-400;
  }

  // md size
  @media (min-width: 960px) and (max-width: 1279px){
    width: 13.9%;
    padding: 0px 2px 8px 2px;
  }

  &.select {
    background: $primary-100;

  }

  &:hover{
    @extend .bg-grey-300;
    @media (min-width: 960px) {
      section.actions {visibility: visible;}
    }
  }
  transition: all 0s ease-in-out 0s;

  section.toolbar {
    .day, .weekday {
      text-align: center;
      min-width:24px;
    }

    @media (min-width: 0px) and (max-width: 959px) {
      margin-right: 8px;
    }
    
    &.today {
      border-top:solid 4px $orange-800;
      // xs & sm size
      @media (min-width: 0px) and (max-width: 959px) {
        .day, .weekday {
          color: $orange-800;
        }
        border: none;
      }
    }
  }

  section.items {
    // xs & sm size
    @media (min-width: 0px) and (max-width: 959px) {

    }
  }

  section.actions {
    border-radius: 3px;
    margin: 4px 0px;
    visibility: hidden;
    cursor: pointer;
  }
}