<div class="competition-compact" ng-switch="$ctrl.view">
    <!-- Элемент списка -->
    <section ng-switch-when="list">

    </section>
    <!-- Элемент дня календаря -->
    <section ng-switch-when="calendar" class="competition-compact__calendar md-whiteframe-1dp">
        <header>
            <div layout="row" layout-align="space-between center">
                <div flex="25" class="center">
                    <div flex="none" class="priority"
                         class="bg-circle-18 md-body-2">{{$ctrl.competition.competitionHeader.priority}}</div>
                </div>
                <div flex="none" layout="row"
                     layout-align="center center"
                     class="competition-icon bg-circle-32">
                    <md-icon class="material-icons md-light md-18" md-svg-src="/assets/icon/competition.svg"></md-icon>
                </div>

                <div flex="25">
                    <md-button class="md-icon-button" aria-label="More Event" style="margin-right: -12px">
                        <md-icon class="material-icons">more_vert</md-icon>
                    </md-button>
                </div>
            </div>
            <div flex layout="row" layout-align="center center"
                 class="md-caption secondary dark center">
                <div flex="none" class="line-14">{{$ctrl.competition.competitionHeader.name}}</div>
            </div>
            <div flex layout="row" layout-align="center center"
                 class="md-title-small dark secondary center tight-10">
                <span flex="none" ng-if="::$ctrl.competition.movingDuration">
                    {{::$ctrl.competition.movingDuration | measureCalc:$ctrl.competition.sportBasic:'movingDuration'}}
                </span>
                <span>&nbsp;&nbsp;</span>
                <div flex="none" ng-if="::$ctrl.competition.distance">
                    {{::$ctrl.competition.distance | measureCalc:$ctrl.competition.sportBasic:'distance'}}
                    {{::'distance' | measureUnit:$ctrl.competition.sportBasic | translate}}
                </div>
            </div>
        </header>

        <footer>

        </footer>
    </section>
    <!-- Элемент дня дэшборда -->
    <section ng-switch-when="dashboard">

    </section>
</div>