<div class="competition-compact" ng-switch="$ctrl.view">
    <!-- Элемент списка -->
    <section ng-switch-when="list" class="competition-compact__list" ng-click="$ctrl.open($event)">
        <header layout="row" layout-align="start center"
                class="calendar-item-competition-header {{::$ctrl.competition.status}} list-view"
                ng-class="{selected: $ctrl.selected}">
            <div flex="none" layout="row" layout-align="center center"
                 class="calendar-item-activity-icon color-{{$ctrl.competition.competitionHeader.type}} bg-circle-32"
                 ng-class="{color: !$ctrl.competition.isCompleted || !$ctrl.competition.isSpecified}">
                <md-icon class="material-icons md-light md-18"
                         md-svg-src="assets/icon/competition-{{$ctrl.competition.competitionHeader.priority}}.svg"></md-icon>
            </div>
            <div flex="auto" layout="column">
                <section flex layout="row" layout-align="start center"
                         ng-class="::{'md-dark' : ($ctrl.competition.isComing)}"
                         class="md-caption md-active center">
                    <div flex="none" class="line-14">{{$ctrl.competition.competitionHeader.name}}</div>
                </section>
                <section flex layout="row" layout-align="start center"
                         ng-class="::{'md-dark' : ($ctrl.competition.isComing)}"
                         class="md-title-small md-active center tight-10">
                    <span flex="none" ng-if="::$ctrl.competition.movingDuration">
                    {{::$ctrl.competition.movingDuration | measureCalc:$ctrl.competition.sportBasic:'movingDuration'}}
                    </span>
                    <span>&nbsp;&nbsp;</span>
                    <div flex="none" ng-if="::$ctrl.competition.distance">
                        {{::$ctrl.competition.distance | measureCalc:$ctrl.competition.sportBasic:'distance'}}
                        {{::'distance' | measureUnit:$ctrl.competition.sportBasic | translate}}
                    </div>
                </section>
            </div>
            <md-menu flex="none" ng-if="!$ctrl.isIonic">
                <md-button class="md-icon-button" aria-label="More Event" style="margin-right: -12px"
                           ng-click="$mdOpenMenu($event)">
                    <md-icon class="material-icons md-18">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.edit($event)">
                            <md-icon class="material-icons" md-menu-align-target>edit</md-icon>
                            <span translate="competition.action.edit"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.copy([$ctrl.item])" ng-disabled="true">
                            <md-icon class="material-icons" md-menu-align-target>content_copy</md-icon>
                            <span translate="competition.action.copy"></span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.delete()"
                                   ng-disabled="::!($ctrl.competition.auth.isCreator || $ctrl.competition.auth.isOwner)">
                            <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                            <span translate="competition.action.delete"></span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </header>
    </section>
    <!-- Элемент для таблицы -->
    <section ng-switch-when="table" class="competition-compact__table" ng-click="$ctrl.open($event)">
        <header class="calendar-item-competition-header {{::$ctrl.competition.status}} table-view"
                ng-class="{selected: $ctrl.selected}"
                layout="row" layout-align="start center">
            <div flex="none" layout="row"
                 layout-align="center center"
                 class="calendar-item-activity-icon color-{{$ctrl.competition.competitionHeader.type}} bg-circle-32"
                 ng-class="{color: !$ctrl.competition.isCompleted || !$ctrl.competition.isSpecified}">
                <md-icon class="material-icons md-light md-18"
                         md-svg-src="assets/icon/competition-{{$ctrl.competition.competitionHeader.priority}}.svg"></md-icon>
            </div>
            <div flex="auto" layout="column">
                <section flex layout="row" layout-align="start center"
                         ng-class="::{'md-dark' : (!$ctrl.competition.isCompleted)}"
                         class="md-caption md-active center">
                    <div flex="none" class="name line-14">{{$ctrl.competition.competitionHeader.name}}</div>
                </section>
                <section flex layout="row" layout-align="start center"
                         ng-class="::{'md-dark' : (!$ctrl.competition.isCompleted)}"
                         class="md-body-2 md-active center tight-10">
                    <span flex="none" ng-if="::$ctrl.competition.movingDuration">
                    {{::$ctrl.competition.movingDuration | measureCalc:$ctrl.competition.sportBasic:'movingDuration'}}
                    </span>
                    <span>&nbsp;&nbsp;</span>
                    <div flex="none" ng-if="::$ctrl.competition.distance">
                        {{::$ctrl.competition.distance | measureCalc:$ctrl.competition.sportBasic:'distance'}}
                        {{::'distance' | measureUnit:$ctrl.competition.sportBasic | translate}}
                    </div>
                </section>
            </div>
        </header>
    </section>
    <!-- Элемент дня календаря -->
    <section ng-switch-when="calendar" class="competition-compact__calendar"
             ng-click="$ctrl.open($event)">
        <!-- Заголовок. Окрашиваем в цвет статуса -->
        <header class="calendar-item-competition-header {{$ctrl.competition.status}}"
                ng-class="{selected: $ctrl.selected}">
            <!-- Первая строка: Процент, Иконка и Конекстное меню -->
            <section layout="row" layout-align="space-between center">
                <div flex="25" class="percent md-caption tight-07">
                    <span>{{$ctrl.competition.percent / 100 | percent: $ctrl.competition.item.calendarItemId}}</span>
                </div>
                <div flex="none" layout="row"
                     layout-align="center center"
                     class="calendar-item-activity-icon color-{{$ctrl.competition.competitionHeader.type}} bg-circle-32"
                     ng-class="{color: !$ctrl.competition.isCompleted || !$ctrl.competition.isSpecified}">
                    <md-icon class="material-icons md-light md-18"
                             md-svg-src="assets/icon/competition-{{$ctrl.competition.competitionHeader.priority}}.svg"></md-icon>
                </div>
                <md-menu flex="25">
                    <md-button class="md-icon-button" aria-label="More Event" style="margin-right: 0px"
                               ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons md-18">more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.edit($event)">
                                <md-icon class="material-icons" md-menu-align-target>edit</md-icon>
                                <span translate="competition.action.edit"></span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.copy([$ctrl.item])" ng-disabled="true">
                                <md-icon class="material-icons" md-menu-align-target>content_copy</md-icon>
                                <span translate="competition.action.copy"></span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.delete()"
                                       ng-disabled="::!($ctrl.competition.auth.isCreator || $ctrl.competition.auth.isOwner)">
                                <md-icon class="material-icons" md-menu-align-target>delete</md-icon>
                                <span translate="competition.action.delete"></span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </section>
            <!-- Вторая строка: Описание -->
            <section flex layout="row" layout-align="center center"
                     ng-class="{'md-dark' : ($ctrl.competition.isComing)}"
                     class="md-caption secondary center">
                <div flex="none" class="line-14">{{$ctrl.competition.competitionHeader.name}}</div>
            </section>
            <!-- Третья строка: Время и Расстояние -->
            <section flex layout="row" layout-align="center center"
                     ng-class="{'md-dark' : ($ctrl.competition.isComing)}"
                     class="md-title-small secondary center tight-10">
                <span flex="none" ng-if="$ctrl.competition.movingDuration">
                    {{$ctrl.competition.movingDuration | measureCalc:$ctrl.competition.sportBasic:'movingDuration'}}
                </span>
                <span>&nbsp;&nbsp;</span>
                <div flex="none" ng-if="$ctrl.competition.distance">
                    {{$ctrl.competition.distance | measureCalc:$ctrl.competition.sportBasic:'distance'}}
                    {{::'distance' | measureUnit:$ctrl.competition.sportBasic | translate}}
                </div>
            </section>
        </header>

        <footer ng-if="$ctrl.competition.competitionHeader.trainersPrescription">
            <span class="prescription md-caption md-dark"
                  ng-bind="$ctrl.competition.competitionHeader.trainersPrescription | htmlToPlainText"></span>
        </footer>
    </section>
    <!-- Элемент дня дэшборда -->
    <section ng-switch-when="dashboard" class="competition-compact__dashboard" ng-click="$ctrl.open($event)">
        <!-- Заголовок. Окрашиваем в цвет статуса -->
        <header class="calendar-item-competition-header {{$ctrl.competition.status}} dashboard-view"
                layout="row"
                ng-class="{selected: $ctrl.selected, 'md-dark': $ctrl.competition.isComing}">
            <section flex="none" class="first-column" layout="column">
                <div flex="none" layout="row" layout-align="center center"
                     class="calendar-item-activity-icon color-{{$ctrl.competition.competitionHeader.type}} bg-circle-32"
                     ng-class="{color: !$ctrl.competition.isCompleted || !$ctrl.competition.isSpecified}">
                    <md-icon class="material-icons md-light md-18"
                             md-svg-src="assets/icon/competition-{{$ctrl.competition.competitionHeader.priority}}.svg">
                    </md-icon>
                </div>
            </section>
            <section flex="auto" class="second-column" layout="column" layout-align="start start">
                <div flex="none" class="md-caption name">
                    {{$ctrl.competition.competitionHeader.name}}
                </div>
                <div flex="none" class="md-body-2 tight-02 line-14 font-medium duration "
                     ng-if="(!!$ctrl.competition.movingDuration || $ctrl.competition.distance)">
                    <span flex="none" ng-if="$ctrl.competition.movingDuration">
                        {{$ctrl.competition.movingDuration | measureCalc:$ctrl.competition.sportBasic:'movingDuration'}}
                    </span>
                    <span flex="none" ng-if="::$ctrl.competition.distance">
                        &nbsp{{$ctrl.competition.distance | measureCalc:$ctrl.competition.sportBasic:'distance'}}
                        {{'distance' | measureUnit:$ctrl.competition.sportBasic | translate}}
                    </span>
                </div>
            </section>
        </header>
        <!--Нижняя часть: данные, установка тренера или -->
        <footer ng-if="$ctrl.competition.competitionHeader.trainersPrescription">
            <span class="prescription md-caption md-dark"
                  ng-bind="$ctrl.competition.competitionHeader.trainersPrescription | htmlToPlainText"></span>
        </footer>
    </section>
</div>