<div class="competition-compact" ng-switch="$ctrl.view">
    <!-- Элемент списка -->
    <section ng-switch-when="list" class="competition-compact__list">
        <header class="competition-header {{::$ctrl.competition.status}}" ng-class="{selected: $ctrl.selected}"
                layout="row" layout-align="start center">
            <div flex="none" layout="row" layout-align="center center"
                 class="competition-icon bg-circle-32"
                 ng-class="{color: !$ctrl.competition.isCompleted || !$ctrl.competition.isSpecified}">
                <md-icon class="material-icons md-light md-18" md-svg-src="/assets/icon/competition.svg"></md-icon>
            </div>
            <div flex="auto" layout="column">
                <section flex layout="row" layout-align="start center"
                         ng-class="::{'md-dark' : (!$ctrl.competition.isCompleted)}"
                         class="md-caption md-active center">
                    <div flex="none" class="line-14">{{$ctrl.competition.competitionHeader.name}}</div>
                </section>
                <section flex layout="row" layout-align="start center"
                         ng-class="::{'md-dark' : (!$ctrl.competition.isCompleted)}"
                         class="md-title-small md-active center tight-10">
                    <span flex="none" ng-if="::$ctrl.competition.movingDuration">
                    {{::$ctrl.competition.movingDuration | measureCalc:$ctrl.competition.sportBasic:'movingDuration'}}
                    </span>
                    <span>&nbsp;&nbsp;</span>
                    <div flex="none" ng-if="::$ctrl.competition.distance">
                        {{::$ctrl.competition.distance | measureCalc:$ctrl.competition.sportBasic:'distance'}}
                        {{::'distance' | measureUnit:$ctrl.competition.sportBasic | translate}}
                    </div>
                </section>
            </div>
            <div flex="none">
                <md-button class="md-icon-button" aria-label="More Event" style="margin-right: 0px">
                    <md-icon class="material-icons md-18">more_vert</md-icon>
                </md-button>
            </div>
        </header>
    </section>
    <!-- Элемент дня календаря -->
    <section ng-switch-when="calendar" class="competition-compact__calendar md-whiteframe-1dp">
        <!-- Заголовок. Окрашиваем в цвет статуса -->
        <header class="competition-header {{::$ctrl.competition.status}}"
                ng-class="{selected: $ctrl.selected}">
            <!-- Первая строка: Процент, Иконка и Конекстное меню -->
            <section layout="row" layout-align="space-between center">
                <div flex="25" class="percent md-caption tight-07">
                    <span>{{$ctrl.competition.percent / 100 | percent}}</span>
                </div>
                <div flex="none" layout="row"
                     layout-align="center center"
                     class="competition-icon bg-circle-32"
                     ng-class="{color: !$ctrl.competition.isCompleted || !$ctrl.competition.isSpecified}">
                    <md-icon class="material-icons md-light md-18" md-svg-src="/assets/icon/competition.svg"></md-icon>
                </div>

                <div flex="25">
                    <md-button class="md-icon-button" aria-label="More Event" style="margin-right: -12px">
                        <md-icon class="material-icons md-18">more_vert</md-icon>
                    </md-button>
                </div>
            </section>
            <!-- Вторая строка: Описание -->
            <section flex layout="row" layout-align="center center"
                     ng-class="::{'md-dark' : (!$ctrl.competition.isCompleted)}"
                     class="md-caption secondary center">
                <div flex="none" class="line-14">{{$ctrl.competition.competitionHeader.name}}</div>
            </section>
            <!-- Третья строка: Время и Расстояние -->
            <section flex layout="row" layout-align="center center"
                     ng-class="::{'md-dark' : (!$ctrl.competition.isCompleted)}"
                     class="md-title-small secondary center tight-10">
                <span flex="none" ng-if="::$ctrl.competition.movingDuration">
                    {{::$ctrl.competition.movingDuration | measureCalc:$ctrl.competition.sportBasic:'movingDuration'}}
                </span>
                <span>&nbsp;&nbsp;</span>
                <div flex="none" ng-if="::$ctrl.competition.distance">
                    {{::$ctrl.competition.distance | measureCalc:$ctrl.competition.sportBasic:'distance'}}
                    {{::'distance' | measureUnit:$ctrl.competition.sportBasic | translate}}
                </div>
            </section>
        </header>

        <footer>

        </footer>
    </section>
    <!-- Элемент дня дэшборда -->
    <section ng-switch-when="dashboard">

    </section>
</div>