<!DOCTYPE html>
<html>
  <head>
    <title translate ng-cloak ng-bind="fullTitle | translate"></title>
    <base href="/index.html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Style sheets-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,900&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/libs.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- Place favicon.ico in the root directory -->

      <style type="text/css">
          /**
           * Hide when Angular is not yet loaded and initialized
           */
          [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
          }
      </style>
  </head>
  <body>
    <staminity-application screen="screen" session="session" user="currentUser" athlete="currentAthlete">
        <div style="width: 100%; height: auto; bottom: 0px; top: 0px; left: 0; position: absolute;">
            <div style="text-align: center; position: absolute; width: 100px; height: 50px; top: 50%; left: 50%;
                        margin-top: -25px; margin-left: -50px; color: whitesmoke">Loading...</div>
        </div>
    </staminity-application>
  <!-- <noscript>
      <div id="center" layout="column"  layout-align="center center" layout-padding>
          <div flex="auto" hide-xs class="logo">
              <img src="/pic/logolp.svg"/>
          </div>
          <div flex="auto" class="md-display-1">
              <p>Please enable JavaScript in your browser to enjoy staminity.com.</p>
          </div>
      </div>
  </noscript> -->

  <!--
  <div class="{{GUI.style}}" ng-controller="AppBoxCtrl as vm" ng-cloak>
      <app-background></app-background>
      <app-header></app-header>
      <app-frame>
          <div flex="100" layout="column" layout-align="start center" ng-view></div>
      </app-frame>
      <app-menu ng-if="GUI.style == 'app-page'"></app-menu>


      <div ng-controller="NotificationCtrl as vm" style="overflow: hidden; height: 100%">
          <md-sidenav class="md-sidenav-right md-whiteframe-z2" style="width: 400px !important;" md-component-id="right">
              <md-toolbar class="md-theme-light">
                  <h1 class="md-toolbar-tools">Sidenav Right</h1>
              </md-toolbar>
              <md-content style="overflow: scroll">
                  <md-list flex>
                      <md-subheader class="md-no-sticky">Не прочитанные ({{vm.notification}})</md-subheader>
                      <md-list-item class="md-3-line toast-message" layout="row" md-theme="default" layout-padding
                                    ng-repeat="item in vm.buffer | orderBy : '-time'">
                          <div>
                              <img src="/pic/01.jpg" style="width: 40px; height: 40px; border-radius: 20px"/>
                          </div>
                          <div layout="column" style="width: 100%">
                              <div layout="row" layout-align="space-between start">
                                  <a ng-href="/profile?user={{item.authorFullName}}"
                                     class="md-body-1 title" ng-bind-html="item.authorFullName"></a>
                                  <div class="md-body-1 text" style="text-align: right; padding-left: 12px">{{item.time | date:
                                      'short'}}</div>
                              </div>
                              <div>
                                  <a ng-href="/settings#syncGarmin?user={{item.authorFullName}}"
                                     class="md-body-1 text" ng-click="click(toaster)">
                                      {{item.message | limitTo: 100 }}{{item.message.length > 100 ? ' ...' : ''}}</a>
                              </div>
                          </div>
                      </md-list-item>
                      <md-subheader class="md-no-sticky">Прочитанные</md-subheader>
                  </md-list>
              </md-content>
          </md-sidenav>
      </div>

      <div class="progress-bar" ng-show="vm.progressShow" ng-class="{'show-me': vm.progressShow}">
          <md-progress-linear class="md-accent" md-mode="determinate" value="{{vm.progressStatus}}"></md-progress-linear>
      </div>

      <athlete-selector>
      </athlete-selector>

      <system-message></system-message>
      <toaster-container>
      </toaster-container> -->

      <!-- Application Scripts (gulp compilation) -->
      <script src="js/libs.js"></script>
      <script src="js/main.js"></script>
  </div>

  </body>
</html>