<st-application-frame
    class="search st-application-frame"
    template="application"
    left-bar="$ctrl.showLeftPanel()"
    nav-bar-state="$ctrl.currentState"
    ng-switch="$ctrl.currentState"
    ng-class="{'nav-bar': $ctrl.authCheck()}"
    nav-bar="true">

    <st-application-frame-title>
        <span class="md-title"
              translate="{{$ctrl.$mdMedia('gt-sm') ? 'search.fullTitle' : 'search.shortTitle'}}">
        </span>
    </st-application-frame-title>

    <st-application-frame-toolbar layout="row">
        <section class="desktop" hide show-gt-sm layout="row" layout-align="start center">
            <md-button ng-click="$ctrl.filter()" class="md-icon-button" layout="row" aria-label="Settings"
                       style="margin: 0px">
                <md-icon class="material-icons" aria-label="Filter">filter_list</md-icon>
                <span
                    translate="{{$ctrl.leftPanel ? 'search.actions.hidePanel' : 'search.actions.showPanel'}}"></span>
            </md-button>
        </section>
        <section class="mobile" hide show-xs show-sm>
            <md-button ng-click="$ctrl.filter()" class="md-icon-button" aria-label="Settings" style="margin: 0px">
                <md-icon class="material-icons" aria-label="Filter">filter_list</md-icon>
            </md-button>
        </section>
    </st-application-frame-toolbar>

    <st-application-frame-navbar layout="row">
        <md-nav-item ng-repeat="state in $ctrl.navBarStates track by $index"
                     md-nav-click="$ctrl.setState(state)" name="{{::state}}">
            <span translate="search.tabs.{{::state}}"></span>
        </md-nav-item>
    </st-application-frame-navbar>

    <!-- Поиск пользователей -->
    <st-application-frame-left-bar ng-if="$ctrl.currentState === 'user'">
        <st-search-filter
            class="search__filter"
            filter="$ctrl.usersFilter"
            view="search"
            on-change-filter="$ctrl.changeUsersFilter(filter)">
        </st-search-filter>
    </st-application-frame-left-bar>

    <st-application-frame-content ng-switch-when="user">
        <section flex="auto" class="search__content">
            <st-search-list
                search-params="$ctrl.usersFilter"
                card-view="false"
                update="$ctrl.usersFilterChange"/>
        </section>
    </st-application-frame-content>

    <!-- Поиск тренеров -->
    <st-application-frame-left-bar ng-if="$ctrl.currentState === 'coach'">
        <st-search-filter
            class="search__filter"
            filter="$ctrl.coachesFilter"
            view="search"
            on-change-filter="$ctrl.changeCoachesFilter(filter)">
        </st-search-filter>
    </st-application-frame-left-bar>

    <st-application-frame-content ng-switch-when="coach">
        <section flex="auto" class="search__content">
            <st-search-list
                search-params="$ctrl.coachesFilter"
                card-view="true"
                update="$ctrl.coachesFilterChange"/>
        </section>
    </st-application-frame-content>

    <!-- Поиск клубов -->
    <st-application-frame-left-bar ng-if="$ctrl.currentState === 'club'">
        <st-search-filter
            class="search__filter"
            filter="$ctrl.clubsFilter"
            view="search"
            on-change-filter="$ctrl.changeClubsFilter(filter)">
        </st-search-filter>
    </st-application-frame-left-bar>

    <st-application-frame-content ng-switch-when="club">
        <section flex="auto" class="search__content">
            <st-search-list
                search-params="$ctrl.clubsFilter"
                card-view="true"
                update="$ctrl.clubsFilterChange"/>
        </section>
    </st-application-frame-content>

</st-application-frame>


<!--<div class="application">
    <div hide-md class="margin-left"></div>
    <section class="application-body" layout-gt-md="row" layout="column">
        <div flex="none" class="search-filter bg-grey-200">
            <form name="$ctrl.searchForm" layout="column" layout-fill>
                <md-list class="md-dense slim-input" flex="auto">
                    <md-list-item>
                        <md-input-container class="md-block no-message" md-no-float layout="row">
                            <md-icon class="material-icons">group</md-icon>
                            <md-select name="objectType" class="icon" required
                                       ng-model="$ctrl.params.objectType" ng-change="$ctrl.changeQuery('objectType')">
                                <md-option ng-repeat="type in $ctrl.type track by $index"
                                           value="{{type}}">{{'search.' + type | translate}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </md-list-item>
                    <md-list-item>
                        <md-input-container class="md-block no-message" md-no-float layout="row">
                            <md-icon class="material-icons">search</md-icon>
                            <input type="text" name="name"
                                   ng-model="$ctrl.params.name" placeholder="Запрос..."
                                   autocomplete="off" autofocus ng-disabled="false" minlength="0"
                                   maxlength="100" ng-change="$ctrl.changeQuery('name')">
                            <div ng-messages="$ctrl.publicForm.firstName.$error" role="alert">
                                <div ng-message-exp="['minlength', 'maxlength']"
                                     translate="form.rangeStr" translate-values="{min:0, max:100}">
                                </div>
                            </div>
                        </md-input-container>
                    </md-list-item>
                </md-list>
                <md-dialog-actions flex="none" layout="row">
                    <md-button flex class="md-accent md-raised" ng-disabled="!$ctrl.searchForm.$valid" ng-click="$ctrl.onSearch($ctrl.params)" translate="search.go"></md-button>
                </md-dialog-actions>
            </form>
        </div>
        <div flex="auto" class="search-result bg-grey-200"
             ng-if="!$ctrl.result || $ctrl.result.length === 0" layout="column" layout-align="center center" layout-fill>

        </div>
        <div flex="auto" class="search-result bg-grey-200"
             ng-if="$ctrl.result && $ctrl.result.length>0" ng-switch on="$ctrl.params.objectType">
            <md-table-container ng-switch-when="user">
                <table md-table class="md-primary"
                       md-row-select="$ctrl.options.rowSelection"
                       multiple="{{$ctrl.options.multiSelect}}"
                       ng-model="$ctrl.selected">
                    <thead ng-if="!$ctrl.options.decapitate" md-head md-order="$ctrl.order">
                        <tr md-row>
                            <th md-column class="user-name" md-order-by="name"><span>Имя</span></th>
                            <th md-column class="sport"><span>Виды спорта</span></th>
                            <th md-column><span>Страна</span></th>
                            <th md-column><span>Город</span></th>
                            <th md-column><span>О себе</span></th>
                        </tr>
                    </thead>
                    <tbody md-body style="overflow: auto">
                    <tr ng-repeat="user in $ctrl.result | orderBy: $ctrl.order track by $index"
                        md-row ng-click="$ctrl.onDetails(user.public.uri)"
                        md-select="split"
                        md-on-select="change" md-on-deselect="change"
                        md-select-id="ind"
                        md-auto-select="$ctrl.options.autoSelect">
                        <td md-cell layout="row" layout-align="start center" layout-fill>
                            <userpic flex="none" class="border-light size-36" profile="user" unlink="false"></userpic>
                            <span flex="auto" class="user-name md-body-2 md-dark user-name">{{user.name}}</span></td>
                        <td md-cell>
                            <span ng-repeat-start="sport in user.private.activity" translate="sport.{{sport}}"></span>
                            <span ng-repeat-end><span ng-if="!$last">, </span></span>
                        </td>
                        <td md-cell>{{user.private.country}}</td>
                        <td md-cell>{{user.private.city}}</td>
                        <td md-cell><p class="about">{{user.private.about | htmlToPlainText}}</p></td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-grid-list ng-switch-when="coach" class="coach"
                          style=""
                          md-cols="1" md-cols-gt-xs="2" md-cols-gt-sm="3" md-cols-gt-md="3" md-cols-gt-lg="5" md-cols-gt-xl="7"
                          md-row-height-gt-md="4:3" md-row-height="4:3"
                          md-gutter="8px" md-gutter-gt-sm="8px">
                <md-grid-tile ng-repeat="user in $ctrl.result | orderBy: $ctrl.order track by $index" ng-cloak
                              md-rowspan="1"
                              md-colspan="1"
                              md-colspan-sm="1"
                              md-colspan-xs="1"
                              ng-click="$ctrl.onAnswer({response: {user: user}})"
                              style="cursor: pointer">
                    <md-card layout="column" layout-fill>
                        <md-card-header flex="none">
                            <div flex="auto">
                                <div flex="auto" class="user-name md-title">{{user | username}}</div>
                                <div class="md-caption md-dark" ng-if="user.private.country">
                                    <span>{{user.private.country}}</span>
                                    <span ng-if="user.private.city">,&nbsp{{user.private.city}}</span>
                                    <span>,&nbspАтлетов:&nbsp{{user.athleteCount}}</span>
                                </div>
                                <div class="md-caption md-dark">
                                    <span ng-repeat-start="sport in user.private.activity" translate="sport.{{sport}}"></span>
                                    <span ng-repeat-end><span ng-if="!$last">, </span></span>
                                </div>
                            </div>
                            <userpic flex="none" class="border-light size-60" profile="user" unlink="false"></userpic>
                        </md-card-header>
                        <md-card-content flex class="md-body-1 md-dark" layout="column">
                            <p flex="auto">{{user.private.about | htmlToPlainText}}</p>
                        </md-card-content>
                        <md-card-actions flex="none" layout="row" layout-align="start center">
                            <md-button class="md-primary    " ng-click="$ctrl.onDetails(user.public.uri)">Профиль</md-button>
                            <span flex></span>
                            <div ng-if="false">
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                            </div>
                        </md-card-actions>
                    </md-card>
                </md-grid-tile>
            </md-grid-list>
            <md-grid-list ng-switch-when="club" class="coach"
                          style=""
                          md-cols="1" md-cols-gt-xs="2" md-cols-gt-sm="3" md-cols-gt-md="3" md-cols-gt-lg="5" md-cols-gt-xl="7"
                          md-row-height-gt-md="4:3" md-row-height="4:3"
                          md-gutter="8px" md-gutter-gt-sm="8px">
                <md-grid-tile ng-repeat="club in $ctrl.result | orderBy:'-athleteCount' track by $index" ng-cloak
                              md-rowspan="1"
                              md-colspan="1"
                              md-colspan-sm="1"
                              md-colspan-xs="1"
                              style="cursor: pointer">
                    <md-card layout="column" layout-fill>
                        <md-card-header flex="none">
                            <div flex="auto">
                                <div flex="auto" class="user-name md-title">{{club.name ? club.name : 'Без названия'}}</div>
                                <div class="md-caption md-dark" ng-if="club.country">
                                    <span>{{club.country}}</span>
                                    <span ng-if="club.city">,&nbsp{{club.city}}</span>
                                </div>
                                <div class="md-caption md-dark">
                                    <span ng-repeat-start="sport in club.activityTypes" translate="sport.{{sport}}"></span>
                                    <span ng-repeat-end><span ng-if="!$last">, </span></span>
                                </div>
                                <div class="md-caption md-dark">
                                    <span>Атлетов: {{club.athleteCount}},</span>
                                    <span>Тренеров: {{club.coachCount}}</span>
                                </div>
                            </div>
                            <avatar-pic type="club.type"
                                        avatar="club.avatar"
                                        class="md-avatar border-light size-60"></avatar-pic>

                        </md-card-header>
                        <md-card-content flex class="md-body-1 md-dark" layout="column">
                            <p flex="auto">{{club.about | htmlToPlainText}}</p>
                        </md-card-content>
                        <md-card-actions flex="none" layout="row" layout-align="start center">
                            <md-button class="md-primary    " ng-click="$ctrl.onDetails(club.groupUri)">Профиль</md-button>
                            <span flex></span>
                            <div ng-if="false">
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                                <md-icon class="material-icons" class="md-dark md-inactive">star</md-icon>
                            </div>
                        </md-card-actions>
                    </md-card>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </section>
    <div hide-md class="margin-right">
    </div>
</div>-->
