.st-user-pic {

  display:inline-block;
  background-size: cover;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  vertical-align: middle;
  margin-right: 8px;
  margin-left: 8px;


  &.s36 {
    height: 36px;
    width: 36px;
    border-radius: 18px;
  }

  &.s60 {
    height: 60px;
    width: 60px;
    border-radius: 30px;
  }

  &__badge {

    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 12px;

  }

}