@import "../../sass/color";
@import "../../sass/base";
@import "../../sass/font";
@import "../../sass/icon";
@import "../../sass/layout";
@import "../../sass/animation";

#calendar {
  @include animate(0.5s, 0.2s, 1);
  
  svg, svg * {
    transition: any linear .4s;
  }
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }

.md-whiteframe-2dp {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); }

.md-whiteframe-3dp {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12); }

.calendar-total-chart * {
  transition: any linear .4s;
}

.bg-circle {
  &-18{
    min-width: 18px;
    height: 18px;
    @include border-radius(9px);
  }
  &-32{
    min-width: 32px;
    height: 32px;
    @include border-radius(16px);
  }
	&-56{
		min-width: 56px;
		height: 56px;
		@include border-radius(28px);
	}

}

.app-toolbar{

  color: rgba(white,0.54);

  .md-button {
    margin: 0px;
    padding: 4px 4px;

    svg {
      fill: rgba(white,0.54);
    }
  }
}

.week {
  min-height: 170px;
  -height: 100%;
  border-top: 1px solid $grey-400;

  @media(max-width: 959px){
    padding: 0;
    border-bottom: none;
  }

  transition: none !important;
  // all 1s ease-in-out 0s;

}

.day-toolbar {
  position: static;
  padding: 8px 0px;
  -line-height: 24px;
  min-height: 30px;
  background: $primary-hue-3 !important;
  -border-top-left-radius: 3px;
  -border-top-right-radius: 3px;

  div {
    -height: 100%;
    padding: 0px 4px;
    color: rgba(white,0.54);
  }
}

.calendar-grid {
  @extend .bg-grey-200;
  padding: 12px;

  // xs size
  @media (max-width: 599px) {
    padding: 0px;
  }

}

calendar-day {
  display: inline-block; 
  width: 11.5%; 
  vertical-align: top;
  min-height: 170px;
  padding: 0px 6px 8px 6px;
  height: 100%;


  //xs	'(max-width: 599px)'
  //gt-xs	'(min-width: 600px)'
  //sm	'(min-width: 600px) and (max-width: 959px)'
  //gt-sm	'(min-width: 960px)'
  //md	'(min-width: 960px) and (max-width: 1279px)'
  //gt-md	'(min-width: 1280px)'
  //lg	'(min-width: 1280px) and (max-width: 1919px)'
  //gt-lg	'(min-width: 1920px)'
  //xl	'(min-width: 1920px)'

  // xs & sm size
  @media (min-width: 0px) and (max-width: 959px) {
    padding: 12px 8px 12px 8px;
    border-bottom: 1px solid $grey-400;
  }

  @media (min-width: 1279px){
    -width: 13.9%;
    -max-width: 250px;
  }

  // md size
  @media (min-width: 960px) and (max-width: 1279px){
    width: 13.9%; 
    padding: 0px 2px 8px 2px;
  }

  &.select {
    background: $primary-100;

  }

  &:hover{
    @extend .bg-grey-300;
  }
  transition: all 0s ease-in-out 0s;
}

calendar {
	md-toolbar {
		min-height: 32px;
		padding-left: 12px;
		padding-right: 12px;

		.weekday{
			text-transform: capitalize;
			@media (min-width: 1279px){
				width: 11.5%;
				max-width: 250px;
			}
			@media (min-width: 959px) and (max-width: 1280px){
				width: 13.9%;
			}
		}
	}
}

.calendar__week--loading {
  opacity: 0.5;
}

.week.calendar__week--highlight {
  transition: none;
  background: rgba(255, 0, 0, 0.05);
  border: solid 1px rgb(255, 100, 100);
}

.calendar__week.ng-enter, .calendar__week.ng-move {
  // transition: all 0.5s linear;
  opacity: 0;
}

.calendar__week.ng-enter.ng-enter-active,
.calendar__week.ng-move.ng-move-active {
  opacity: 1;
}

.summary {
  display: inline-block; 
  width: 11.5%; 
  vertical-align: top;
  
  &:hover {
    @extend .bg-blue-grey-100;
  }

  -min-height: 170px;
  border-left: 1px solid $grey-400;
}

#dayzone[dnd-list] {
  min-height: 50px;
  -padding-left: 0px;
}

#dayzone[dnd-list] .dndDraggingSource {
  display: none;
}

#dayzone[dnd-list] .dndPlaceholder {
  display: block;
  margin: 6px 6px 0px 6px;
  border-radius: 3px;
  -background-color: #ddd !important;
  @extend .bg-blue-grey-100;
  min-height: 100px;
}

#dayzone[dnd-list] {
  -background-color: #fff;
  -border: 1px solid #ddd;
  -border-top-right-radius: 4px;
  -border-top-left-radius: 4px;
  display: block;
  -padding: 10px 15px;
  -margin-bottom: -1px;
}

/*.segment-list {
  outline: 0;
}

.segment-list.ng-enter, .segment-list.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.segment-list.ng-enter,
.segment-list.ng-leave.ng-leave-active {
  opacity:0;
  height:0;
}

.segment-list.ng-leave,
.segment-list.ng-enter.ng-enter-active {
  opacity: 1;
  height: auto;
}*/

calendar-measurement, calendar-activity, calendar-event, calendar-competition {
  	position: relative;
  	min-height: 50px;
  	margin: 6px 0px 0px 0px;
  	cursor: pointer;
	@include border-radius(3px);

    // md size
    @media (min-width: 960px) and (max-width: 1279px){
      @include border-radius(0px);
      box-shadow: none;

      .data-category {
        margin-top: 8px;
      }
    }

  	@media (max-width: 1919px) and (min-width: 1280px){
    	-min-width: 10%;
    	-max-width: 175px;
  	}

  	@media (max-width: 959px){
    	border-radius: 0px;
    	margin: 0px 4px;
    	min-width: 200px;
    	padding-bottom: 0px;
  	}
}

calendar-activity {

  @extend .bg-grey-400;
  @extend .md-whiteframe-1dp;

  .activity-header {
    @include border-radius-custom(3px, 3px, 0px, 0px);
    padding: 10px 12px 12px 12px;

    &:focus {
      outline:0;
    }

    // xs - md size
    @media (min-width: 0px) and (max-width: 1279px){
      @include border-radius(0px);
    }

    &.complete {
		// Задание выполнено без отклонений

		color: white;
		#more {
			@extend .light-active;
		}
		@extend .bg-teal-gradient-800-500;

		.bg-circle-32 {
			@extend .bg-teal-800;
		}

      	&:hover, &.selected {
        	@extend .bg-teal-gradient-900-800;

        	.bg-circle-32 {
          		@extend .bg-teal-900;
        	}
      	}

		// Задание выполнено с отклонениями
		&-warn {
			color: white;
			@extend .bg-orange-gradient-800-500;
			.bg-circle-32 {
				@extend .bg-orange-800;
			}

			&:hover, &.selected {
				@extend .bg-orange-gradient-900-800;

				.bg-circle-32 {
					@extend .bg-orange-900;
				}
			}
		}

		// Задание выполнено с существенными отклонениями
		&-error {
			color: white;
			@extend .bg-red-gradient-800-500;
			.bg-circle-32 {
				@extend .bg-red-800;
			}

			&:hover, &.selected {
				@extend .bg-red-gradient-900-800;

				.bg-circle-32 {
					@extend .bg-red-900;
				}
			}
		}
    }

    &.dismiss {
      @extend .bg-red-gradient-800-500;
      color: white;

      .bg-circle-32 {
        @extend .bg-red-800;
      }

      #more {
        @extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-red-gradient-900-800;
        .bg-circle-32 {
          @extend .bg-red-900;
        }
      }
    }

    &.not-specified {
      @extend .bg-blue-grey-gradient-600-400;
      color: white;

      .bg-circle-32 {
        @extend .bg-blue-grey-600;
      }

      #more {
        @extend .light-active;
      }

      &:hover, &.selected{
        @extend .bg-blue-grey-gradient-900-800;
        .bg-circle-32 {
          @extend .bg-blue-grey-900;
        }
      }
    }

  }

  .activity-footer {
    @include border-radius-custom(0px, 0px, 3px, 3px);
    padding: 10px 12px 12px 12px;
    border-top: solid 1px rgba($grey-500, 0.5);
    @extend .bg-grey-300;

    .bt-more {
      color: grey;
      margin-top: 8px;
      &:focus {
        outline:0;
      }
    }

  }

}

calendar-measurement {
  padding: 12px;
  @extend .bg-grey-200;


  &:hover {
    @extend .md-whiteframe-1dp;
  }
}

calendar-event, calendar-competition {
  padding: 10px 12px 12px 12px;
  @extend .bg-grey-400;
  @extend .md-whiteframe-1dp;

  &:hover {
    @extend .bg-grey-500;
  }

}

/*
.activity{
  margin: 4px 0px;
  background: white;
  border-radius: 3px;
  -padding-bottom: 12px;
  cursor: pointer;

  @media (max-width: 1919px) and (min-width: 1280px){
    -min-width: 10%;
    -max-width: 175px;
  }

  @media (max-width: 960px){
    border-radius: 0px;
    margin: 0px 4px;
    min-width: 200px;
    padding-bottom: 0px;
  }



  .header {
    -height: 50px;
    padding: 12px;
    margin: 0;
    color: rgba(white,1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 500;

    @media (max-width: 960px){
      border-radius: 0px;
      height: 100%;
      margin-bottom: 0px;
    }

    &.success{
      background: $success-color;
      &:hover, &.select{
        background: $success-color-hover;
        & .activity-icon{
          background: $teal-900;
        }
      }
    }
    &.warning{
      background: $warning-color;
      &:hover, &.select{
        background: $warning-color-hover;
        & .activity-icon{
          background: $orange-900;
        }
      }
    }
    &.error{
      background: $error-color;
      &:hover, &.select {
        background: $error-color-hover;
        & .activity-icon{
          background: $red-900;
        }
      }
    }
    &.noplan{
      background: $grey-700;
      &:hover {
        background: $primary-hue-3;
        & .activity-icon{
          background: $blue-grey-900;
        }
      }
    }
  }
  .content {
    padding: 8px;
    color: rgba(black,0.8);
    background-color: #EEEEEE;

    span{
      color: rgba(black,0.54);
    }
  }
  .type {
    font-size: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -word-break: break-all;
  }
} */

.new {
  border-radius: 3px;
  margin: 4px 0px;
  -background: white;
  visibility: hidden;
  cursor: pointer;

  &.show {
    visibility: visible;
  }

  &:hover {
    -background: white;
  }

}

.cg-width {
  width: 100%;

  @media (max-width: 959px) {
    width: auto;
  }
}

.today {
  border-top:solid 4px $orange-800 ;
}

.md-position-fab{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.md-position-fab.md-fab.md-primary.md-icon-button {
  background-color: $orange-900;

  &:hover {
    background-color: $orange-700;
  }
}
.status {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  content: " ";
}
.space{
  margin-left: 3px;
  margin-right: 3px;
}
.activity-icon {
  border-radius: 20px;
  padding: 3px 5px 3px 5px;
  &.success {
    background: $success-color-hover;

  }
  &.warning {
    background: $warning-color-hover;
  }
  &.error {
    background: $error-color-hover;
  }
  &.noplan {
    background: $primary-hue-3;
  }
}

#calendar {
  .badge {
    font-size: 12px;
    padding-top: 10px;
  }
  .badge-icon{
  height: 12px;
  width: 12px;
  min-height: 12px;
  min-width: 12px
  }
  .classic{
    padding: 10px 12px 10px 12px;
  }
}