<div flex layout-xs="row" layout-sm="row" layout-gt-sm="column">
    <!-- day header: start -->
    <div flex-gt-sm="none" flex="none" style="height: 30px" layout="row" layout-align="space-between center"
         ng-class="{today: $ctrl.today}">
        <div flex="none">
            <div hide-gt-sm flex="none" class="md-body-1" style="min-width: 24px">
                {{::$ctrl.data.month | uppercase}}
            </div>
            <div flex="none" layout="raw" class="md-body-1" style="min-width: 24px">
                {{::$ctrl.data.title}}
                <span hide-gt-sm style="margin-left: 0.6em;">{{::$ctrl.data.day}}</span>
                <span hide-xs hide-sm ng-if="$ctrl.data.title == '01'" style="margin-left: 0.4em;">{{::$ctrl.data.month}}</span>
            </div>
        </div>

        <div hide show-gt-sm flex="none" ng-show="$ctrl.selected || $ctrl.accent">
            <md-checkbox ng-model="$ctrl.selected"
                         ng-change="$ctrl.onSelect()"
                         aria-label="Checkbox 1" class="md-primary"
                         style="margin-bottom: 0px; margin-left: 12px">
            </md-checkbox>
        </div>

        <div  hide show-gt-sm flex="none"  ng-show="$ctrl.selected || $ctrl.accent">

            <md-menu>
                <md-button class="md-icon-button " ng-click="$mdOpenMenu($event)" aria-label="More" style="margin: 0px; padding: 0px; width: 24px">
                    <md-icon md-svg-src="/assets/icon/more_vert.svg" class="fill-black-medium" size="s18"
                             aria-label="More">
                    </md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button>Добавить</md-button></md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$ctrl.onSelect(); $ctrl.checked = !$ctrl.checked">
                            {{!$ctrl.selected ? 'Выделить' : 'Снять выделение'}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item><md-button ng-click="$ctrl.onDelete()">Удалить</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="$ctrl.onCopy()">Скопировать</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="$ctrl.onPaste()">Вставить</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <!-- day header: end -->
    <!-- calendar items: start -->
    <div flex layout="column">
        <div id="dayzone"
             flex="100" layout-wrap
             ng-repeat="item in $ctrl.data.calendarItems"
             ng-switch on="::item.calendarItemType"
             dnd-list="items"
             dnd-allowed-types="['itemType']"
             dnd-drop="$ctrl.calendar.onDropItem($ctrl.data.date, index, item)">

            <calendar-activity ng-switch-when="activity"
                               layout="column" flex="auto"
                               item="item"
                               selected="$ctrl.selected"
                               dnd-draggable="item"
                               dnd-type="'itemType'"
                               dnd-effect-allowed="move"
                               dnd-dragstart="$ctrl._$log.info('Started to drag an item', event)"
                               dnd-moved="$ctrl.calendar.onDeleteItem(item)">
            </calendar-activity>

            <calendar-measurement ng-switch-when="measurement"
                                  layout="row" flex="auto"
                                  dnd-draggable="item"
                                  dnd-type="'itemType'"
                                  dnd-effect-allowed="copyMove"
                                  dnd-dragstart="$ctrl._$log.info('Started to drag an item', event)"
                                  dnd-moved="$ctrl.calendar.onDeleteItem(item); $ctrl._$log.info('Item moved', event)">
                <div flex="none">
                    <md-icon md-svg-src="assets/icon/straighten.svg"
                             class="s18 dark-inactive" style="margin-right: 8px"></md-icon>
                </div>
                <div flex="auto" style="margin-top: 2px">
                    <div ng-repeat="(key,value) in item.measurementHeader.sizes"
                         class="md-caption secondary dark">
                        {{::key}}: {{::value}}
                    </div>
                </div>
            </calendar-measurement>


            <calendar-event ng-switch-when="event"
                            layout="column" flex="auto"
                            dnd-draggable="item"
                            dnd-type="'itemType'"
                            dnd-effect-allowed="copyMove"
                            dnd-dragstart="$ctrl._$log.info('Started to drag an item', event)"
                            dnd-moved="$ctrl.calendar.onDeleteItem(item); $ctrl._$log.info('Item moved', event)">
                <div layout="row" layout-align="space-between center">
                    <div flex="25"></div>

                    <div flex="none" layout="row" layout-align="center center" class="bg-circle-32 bg-blue-grey-A700">
                        <md-icon md-svg-src="assets/icon/event_seat.svg"
                                 class="s24 light-active"></md-icon>
                    </div>

                    <div flex="25">
                        <md-button class="md-icon-button" aria-label="More Event" style="margin-right: -12px">
                            <md-icon md-svg-src="assets/icon/more_vert.svg"
                                     class="s18 dark-active"></md-icon>
                        </md-button>

                    </div>
                </div>
                <div flex layout="row" layout-align="center center"
                     class="md-caption secondary dark center line-14"
                     style="margin-top: 8px">
                    <div flex="none">{{::item.eventHeader.eventType}}</div>
                </div>
            </calendar-event>

            <calendar-competition ng-switch-when="competition"
                                  layout="column" flex="auto"
                                  dnd-draggable="item"
                                  dnd-type="'itemType'"
                                  dnd-effect-allowed="copyMove"
                                  dnd-dragstart="$ctrl._$log.info('Started to drag an item', event)"
                                  dnd-moved="$ctrl.calendar.onDeleteItem(item); $ctrl._$log.info('Item moved', event)">
                <div layout="row" layout-align="space-between center">
                    <div flex="25" class="center">
                        <div flex="none"
                             class="bg-circle-18 bg-blue-grey-A700 md-body-2 line-18"
                             style="color: white">C</div>
                    </div>

                    <div flex="none" layout="row" layout-align="center center" class="bg-circle-32 bg-blue-grey-A700">
                        <md-icon md-svg-src="assets/icon/local_bar.svg"
                                 class="s24 light-active"></md-icon>
                    </div>

                    <div flex="25">
                        <md-button class="md-icon-button" aria-label="More Event" style="margin-right: -12px">
                            <md-icon md-svg-src="assets/icon/more_vert.svg"
                                     class="s18 dark-active"></md-icon>
                        </md-button>

                    </div>
                </div>
                <div flex layout="row" layout-align="center center"
                     class="md-caption secondary dark center"
                     style="margin-top: 8px;">
                    <div flex="none" class="line-14">IGNITE Puma 10k</div>
                </div>
                <div flex layout="row" layout-align="center center"
                     class="md-title small secondary dark center tight-10"
                     style="">
                    <div flex="none">39:00</div><div flex="none"><span>&nbsp;&nbsp;&nbsp</span></div><div flex="none">10км</div>
                </div>

            </calendar-competition>
        </div>
    </div>
    <!-- calendar items: end -->

    <!-- add item: start -->
    <div layout="row" layout-align="center center" flex="grow" hide show-gt-sm
         class="new" ng-class="{show: $ctrl.accent}">
        <md-button  hide show-gt-sm  class="md-icon-button" aria-label="More" style="margnin: 0px; padding: 0px">
            <md-icon md-svg-src="/assets/icon/add_circle_outline.svg" class="fill-black-medium" size="s18"
                     aria-label="Back"></md-icon>
        </md-button>
    </div>
    <!-- add item: end -->
</div>




