<div class="landing-main">
    <st-landing-toolbar solid="true"></st-landing-toolbar>
    <section class="landing-main__welcome">
        <!-- первый блок -->
        <article layout-gt-sm="row" layout="column" class="general block">
            <div class="text" flex-gt-sm="40" flex="none" layout="column" layout-align="center start">
                <h1 class="title md-display-3" flex="none" translate="landing.{{$ctrl.scenario.code}}.title"></h1>
                <p class="subtitle md-headline" flex="none" translate="landing.{{$ctrl.scenario.code}}.subtitle"></p>
                <md-button class="md-accent md-hue-2 md-raised" ng-if="$ctrl.scenario.button">
                    <span translate="landing.{{$ctrl.scenario.code}}.button.title"></span>
                </md-button>
            </div>
            <div class="picture" flex-gt-sm="60" flex="none" layout="column" layout-align="center end">
                <img ng-src="{{$ctrl.scenario.picture}}"/>
            </div>
        </article>
        <!-- отзывы -->
        <st-landing-reviews layout-gt-sm="row" layout-align-gt-sm="center start" layout="column"
                            class="reviews block landing-reviews" reviews="$ctrl.scenario.reviews['ru']">
        </st-landing-reviews>
        <!-- блоки -->
        <section class="scenario-block" layout-gt-sm="row" layout-align-gt-sm="start center"
                 ng-repeat="block in $ctrl.scenario.blocks" ng-class="{'odd': $odd}">
            <div class="block-text" flex="50" flex-order-gt-sm="{{$odd ? 2 : 1}}">
                <div class="text">
                    <h1 class="md-title" translate="landing.{{$ctrl.scenario.code}}.{{block.code}}.title"></h1>
                    <p class="" translate="landing.{{$ctrl.scenario.code}}.{{block.code}}.text"></p>
                </div>
            </div>
            <div class="block-image" flex="50" flex-order-gt-sm="{{$odd ? 1 : 2}}">
                <img ng-src="{{block.picture}}"/>
            </div>
        </section>
        <st-landing-footer></st-landing-footer>
    </section>
</div>
<st-omni-fab/>