@import "../../../../sass/color";

.activity-compact {

  position: relative;
  cursor: pointer;

  .prescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 12px;
    max-height: 48px;
  }

  header {
    padding: 10px 12px 12px 12px;
    background: $grey-300;
  }

  footer {
    background: $grey-200;
    padding: 8px 12px 8px 12px;
  }

  &__calendar {
    background-color: $grey-300;
    margin: 6px 0 0 0;
    &:focus {
      outline: none !important;
    }
  }

  &__list {
    border-radius: 0px;
    margin: 0px 4px 8px 4px;
    min-width: 200px;
    padding-bottom: 0px;
    .calendar-item-activity-icon {
      margin-right: 16px;
    }
  }

  &__dashboard {
    &:focus {
      outline: none !important;
    }
    footer, calendar-activity-chart {
      display: none;
    }

    .first-column {
      margin-right: 8px;
    }

    .second-column {
      width: calc(100% - 32px);
    }

    .category, .duration {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

    .duration {
      text-transform: lowercase;
    }


  }


}