@import "../../../../sass/color";

.activity-compact {

  position: relative;
  cursor: pointer;

  .prescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 12px;
    max-height: 48px;
  }

  header {
    padding: 10px 12px 12px 12px;
    background: $grey-300;
  }

  footer {
    background: $grey-200;
    padding: 8px 12px 8px 12px;
  }

  .dropzone {
    display: none;
  }

  header[dnd-list].dndDragover {
    .dropzone { display: block; }
    .first-row, .second-row, .third-row, .chart {  display: none; }
  }

  /**
    * An element with .dndPlaceholder class will be
    * added to the dnd-list while the user is dragging
    * over it.
    */
  header[dnd-list] .dndPlaceholder {
    min-height: 48px;
    margin: 8px 0;
    background: rgba(0,0,0,0.3);
  }

  &__calendar {
    //background-color: $grey-300;
    margin: 6px 0 0 0;
    &:focus {
      outline: none !important;
    }
  }

  &__list {
    height: 60px; // important for virtual scroll size
    //margin: 0px 4px 8px 4px;
    min-width: 200px;
    //padding-bottom: 0px;
    .calendar-item-activity-icon {
      margin-right: 16px;
    }
    .calendar-item-activity-header {
      height: 100%;
      border-radius: 3px;
      margin: 0;
    }

  }

  &__dashboard {
    &:focus {
      outline: none !important;
    }
    footer, calendar-activity-chart {
      display: none;
    }

    .first-column {
      margin-right: 8px;
    }

    .second-column {
      width: calc(100% - 32px);
    }

    .category, .duration {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }

    .duration {
      text-transform: lowercase;
    }


  }


}