@import "../../../../sass/color";

.activity-compact {

  position: relative;
  cursor: pointer;

  .prescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 12px;
    max-height: 48px;
  }

  header {
    padding: 10px 12px 12px 12px;
    background: $grey-300;
  }

  footer {
    background: $grey-200;
    padding: 8px 12px 8px 12px;
  }

  &__calendar {
    background-color: $grey-300;
    margin: 6px 0 0 0;
  }

  &__dashboard {

  }


}