<md-list flex="none" dense class="md-dense periodization-scheme-filter">
    <md-subheader><span translate="methodology.periodization.systemSchemes"></span></md-subheader>
    <md-list-item class="md-2-line"
                  ng-repeat="scheme in $ctrl.schemes | filter:{isSystem: true}"
                  ng-click="$ctrl.onSelect({scheme: scheme})">
        <div class="md-list-item-text">
            <div class="code md-body-2"
                 md-colors="{color: $ctrl.active === scheme.id ? 'primary-hue-2' : 'grey-hue-2'}">
                {{ scheme.code }}</div>
            <p class="description md-caption md-dark" ng-bind="scheme.description | htmlToPlainText"></p>
        </div>
    </md-list-item>
</md-list>
<md-list flex="none" dense class="md-dense periodization-scheme-filter">
    <md-subheader>
        <span translate="methodology.periodization.userSchemes"></span>
    </md-subheader>
    <md-list-item class="md-2-line"
                  ng-repeat="scheme in $ctrl.schemes | filter:{isSystem: false}"
                  ng-click="$ctrl.onSelect({scheme: scheme})">
        <div class="md-list-item-text">
            <div class="code md-body-2"
                 md-colors="{color: $ctrl.active === scheme.id ? 'primary-hue-2' : 'grey-hue-2'}">
                {{ scheme.code }}</div>
            <p class="description md-caption md-dark" ng-bind="scheme.description | htmlToPlainText"></p>
        </div>
        <md-menu class="md-secondary">
            <md-button class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
                <md-icon class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="$ctrl.delete(scheme)">
                        <span translate="methodology.periodization.delete"></span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.edit($event, scheme)">
                        <span translate="methodology.periodization.edit"></span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>
</md-list>
<div flex></div>
<md-dialog-actions flex="none" layout="row" class="bg-grey-050">
    <span flex></span>
    <md-button ng-click="$ctrl.post($event)">
        <span translate="methodology.periodization.postScheme"></span>
    </md-button>
</md-dialog-actions>