.requests {
    min-width: 305px;
    
    .titlebar {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        text-align: left;
        color: #ffffff;
        background-color: #37474f;   
        padding: 20px;
        
        .icon {
            vertical-align: middle;
        }
        
        .close {
            width: 40px;
            min-width: 40px;
            float: right;
        }
    }
    
    md-tabs {
        width: 100%;
        
        md-tabs-wrapper {
            background-color: #37474f;
        }
    }
    
    .title {
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        text-align: left;
        color: #455a64;
        padding: 20px;
    }
    
    .request-new {
        padding: 20px;
        padding-top: 0;
        
        .from {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            text-align: left;
            color: rgba(0, 0, 0, 0.87);
        }
        
        .type {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            text-align: left;
            color: rgba(0, 0, 0, 0.54);
        }
        
        button {
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #607d8b;
        }
        
        .time {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            text-align: right;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    
    .request-old {
        padding: 20px;
        padding-top: 0;
        
        .from {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            text-align: left;
            color: rgba(0, 0, 0, 0.87);
        }
        
        .type {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            text-align: left;
            color: rgba(0, 0, 0, 0.54);
        }
        
        button {
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #607d8b;
        }
        
        .time {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            text-align: right;
            color: rgba(0, 0, 0, 0.54);
        }
    }
}