<section class="training-season-data" ng-if="!$ctrl.cycles || !$ctrl.schemes" layout-fill layout="column" layout-align="center center">
    <md-progress-circular flex="none" class="md-accent" md-diameter="20"></md-progress-circular>
    <p flex="none" class="md-body-1 md-dark" translate="trainingSeason.loading"></p>
</section>
<section class="training-season-data" ng-if="$ctrl.cycles.grid.length > 0" layout="column">
    <section class="training-season-data__chart" flex="none">
        <md-card>
            <st-training-season-chart
                    data="$ctrl.cycles"
                    update="$ctrl.update"
                    class="training-season-chart"
                    layout="column">
            </st-training-season-chart>
        </md-card>
    </section>
    <md-card class="training-season-data__grid" flex="auto">
        <!-- Заголовок таблицы -->
        <md-toolbar class="md-table-toolbar md-default" ng-hide="$ctrl.selected.length">
            <div class="md-toolbar-tools">
                <span translate="trainingSeason.periodization"></span>
                <span>&nbsp;:&nbsp;{{$ctrl.cycles.season.dateStart}} - {{$ctrl.cycles.season.dateEnd}}</span>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="loadStuff()">
                    <md-icon>refresh</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- Заголовок таблицы: веделены строки -->
        <md-toolbar class="md-table-toolbar md-default alternate" ng-show="$ctrl.selected.length">
            <div class="md-toolbar-tools">
                <span>{{$ctrl.selected.length}} {{$ctrl.selected.length > 1 ? 'items' : 'item'}} selected</span>
            </div>
        </md-toolbar>

        <!-- Таблица периодизации -->
        <md-table-container>
            <table md-table md-row-select multiple ng-model="$ctrl.selected">
                <thead md-head>
                <tr md-row>
                    <th md-column class="period"><span translate="trainingSeason.period"></span></th>
                    <th md-column class="competition"><span translate="trainingSeason.competition"></span></th>
                    <th md-column class="mesocycle"><span translate="trainingSeason.mesocycle"></span></th>
                    <th md-column class="week"><span translate="trainingSeason.week"></span></th>
                    <th md-column class="plan" md-numeric>
                        <span translate="trainingSeason.plan"></span>
                        <span>({{'trainingSeason.durationUnit.' + $ctrl.cycles.season.durationMeasure | translate}})</span>
                    </th>
                    <th md-column class="weekPlan" md-numeric>
                        <span translate="trainingSeason.calendar.{{$ctrl.cycles.season.durationMeasure}}"></span>
                        <span>({{'trainingSeason.durationUnit.' + $ctrl.cycles.season.durationMeasure | translate}})</span>
                    </th>
                    <th md-column class="weekActual" md-numeric>
                        <span translate="trainingSeason.actual.{{$ctrl.cycles.season.durationMeasure}}"></span>
                        <span>({{'trainingSeason.durationUnit.' + $ctrl.cycles.season.durationMeasure | translate}})</span>
                    </th>
                    <th md-column class="complete" md-numeric><span translate="trainingSeason.complete"></span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="cycle"
                    ng-repeat="cycle in $ctrl.cycles.grid track by cycle._index">
                    <!-- Период -->
                    <td md-cell class="period md-body-2">
                        <div>{{cycle.title}}</div>
                    </td>
                    <!-- Перечень соревнований периода -->
                    <td md-cell class="competition">
                        <st-competition-compact ng-if="cycle._competition"
                                                layout="column" flex="none"
                                                class="competition-compact"
                                                view="'table'"
                                                item="cycle._competition"
                                                options="$ctrl.itemOptions"
                                                on-answer="$ctrl.onChangeCompetition({formMode: formMode, item: item})">
                        </st-competition-compact>
                    </td>
                    <!-- Мезоцикл -->
                    <td md-cell class="mesocycle">
                        <div ng-if="$ctrl.cycles.season.periodizationScheme"
                             class="block" ng-class="{selected: cycle.mesocycle.id}"
                             ng-style="{'background-color': $ctrl.getMesocycle(cycle.mesocycle.id).color}">
                            <md-select ng-model="cycle.mesocycle.id"
                                       ng-change="$ctrl.change(cycle)"
                                       placeholder="Не указан"
                                       class="md-no-underline">
                                <md-option ng-repeat="meso in $ctrl.getMesocycles() track by meso.id"
                                           value="{{meso.id}}">
                                    <span>{{meso | mesocycleCode:$ctrl.cycles.season.periodizationScheme}}</span>
                                </md-option>
                            </md-select>
                            <!--
                            <md-select flex="auto"
                                       ng-model="cycle.mesocycle.id"
                                       ng-change="$ctrl.change(cycle, $index)"
                                       placeholder="Не указан">
                                <md-option ng-repeat="meso in $ctrl.getMesocycles() track by meso.id"
                                           value="{{meso.id}}">
                                    <span>{{meso | mesocycleCode:$ctrl.cycles.season.periodizationScheme}}</span>
                                </md-option>
                            </md-select>-->
                        </div>
                    </td>
                    <!-- Номер недели -->
                    <td md-cell class="week">
                        <span ng-if="cycle.mesocycle.id">Week {{cycle.mesoWeekNumber}}</span>
                    </td>
                    <!-- Обьем -->
                    <td md-cell
                        ng-click="$ctrl.editDurationValue($event, cycle)"
                        ng-class="{'md-placeholder': !cycle.durationValue}">
                        {{cycle.durationValue || 'trainingSeason.durationMeasure.' + cycle.durationMeasure | translate}}
                    </td>
                    <!-- План по неделе -->
                    <td md-cell>{{cycle._data.plan | number:1}}</td>
                    <!-- Факт по неделе -->
                    <td md-cell>{{cycle._data.fact | number:1}}</td>
                    <!-- Выполнение () -->
                    <td md-cell class="complete">{{cycle.durationValue ? (cycle._data.fact / cycle.durationValue | percent) : ''}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

    </md-card>
</section>

<!--
<div class="training-season-data__post">
    <md-button id="training-season-data__fab"
               ng-click="$ctrl.post($event)"
               class="md-fab md-accent md-hue-2 animated bounce zoomIn">
        <md-icon class="material-icons md-ligth" md-svg-src="/assets/icon/competition.svg">add</md-icon>
    </md-button>
</div>-->