<div flex="auto" layout="row" layout-align="end center">
    <div flex="none" layout="row" hide-xs>
        <!--<a href="#" translate>landing.nav.link1</a>-->
        <a href="http://blog.staminity.com" translate>landing.nav.link2</a>
        <!--<a href="#" translate disabled>landing.nav.link3</a>-->
        <a href="https://help.staminity.com/ru" translate>landing.nav.link4</a>
    </div>
    <div flex="none">
        <a ng-if="!$ctrl.AuthService.isAuthenticated()" ui-sref="signin" class="button" translate>landing.nav.signIn</a>
        <a ng-if="$ctrl.AuthService.isAuthenticated()" ui-sref="calendar({uri: '{{$ctrl.user.public.uri}}'})" class="button" translate>landing.nav.signIn</a>
    </div>
    <div flex="none" ng-show="$ctrl.AuthService.isAuthenticated()">
        <a ui-sref="signout" class="button" translate>landing.nav.signOut</a>
    </div><!--
    <div flex="none">
        <md-menu md-position-mode="target-right target" md-offset="0 40">
            <md-button class="md-icon-button md-primary"
                        ng-click="$ctrl.languageClick($mdOpenMenu, $event)"
                        aria-label="User">
                <md-icon md-svg-src="/assets/icon/{{$ctrl.getLanguage()}}.svg" md-24 aria-label="Language Icon"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.changeLanguage('ru')">
                        <md-icon md-svg-src="/assets/icon/ru.svg" md-24 md-menu-align-target aria-label="Russian"></md-icon>
                        <span>Русский</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.changeLanguage('en')">
                        <md-icon md-svg-src="/assets/icon/en.svg" md-24 md-menu-align-target aria-label="English"></md-icon>
                        <span>English</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>-->
</div>
